{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% from "includes/common_macros.html" import search_box %}
{% set styles = ('home',) %}
{% set scripts = ('home',) %}
{% set hide_header_search = True %}

{% block content %}
  <div id="featured-wrap">{# Top area, includes "Need Help With FIREFOX?" #}
    <div id="featured">
      {{ search_box(settings, id='support-search', placeholder=_('What do you need help with?'), params=search_params) }}
    </div>
  </div>
  <div id="home-content">
    <div id="home-content-top">
      {% if top %}{{ top.html|safe }}{% endif %}
    </div>
    <div id="home-content-quick">
      {{ quick.html|safe }}
    </div>
    <div id="home-content-explore">
      {{ explore.html|safe }}
    </div>
  </div>
{% endblock %}

{% block side %}
  {% include 'wiki/includes/support_for_selectors.html' %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}
