{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% from 'products/includes/product_macros.html' import product_cards with context %}
{% from 'topics/includes/topic_macros.html' import hot_topics %}
{% from 'topics/includes/topic_macros.html' import help_topics with context %}
{% from 'includes/common_macros.html' import for_contributors %}
{% set title = _('Mozilla Support') %}
{% set styles = ('home-new',) %}

{% block content %}
  <div class="grid_12">
    {% if user.is_authenticated() %}
      {{ for_contributors(user, settings.WIKI_DEFAULT_LANGUAGE) }}
    {% endif %}
    <section id="help-topics">
      <h1>{{ _('Help Topics') }}</h1>
      {{ help_topics(topics[:6]) }}
    </section>
    {{ hot_topics(hot_docs) }}
    <section id="products-and-services">
      <h1>{{ _('Products and Services') }}</h1>
      {{ product_cards(products) }}
    </section>
  </div>
  {% if moz_news %}
    <section id="mozilla-news" class="grid_8">
      <h1>{{ _('Mozilla News') }}</h1>
      {{ moz_news.html|safe }}
      <span class="cf"><a href="{{ url('wiki.document', 'mozilla-news') }}">{{ _('See all news') }} &raquo;</a></span>
    </section>
  {% endif %}
  <aside class="grid_4">
    <div class="feature-box">
      <h1>{{ _('Help Other Users') }}</h1>
      <p>
        {% trans url=url('questions.questions') %}
          Participate and help other users by
          <a href="{{url}}">
            answering their questions
          </a>
        {% endtrans %}
      </p>
      <h1>{{ _('Suggestion Box') }}</h1>
      <p>
        {# TODO: Fill in the url #}
        {% trans url='#' %}
          Your input helps make Mozilla better.
          <a href="{{url}}">
            Give us your feedback
          </a>
        {% endtrans %}
      </p>
    </div>
  </aside>
{% endblock %}

{% block outer_side %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block footer_script %}
  {# Ethnio tracking - see bugs 683643 and 673544 #}
  {% if waffle.flag('ethnio-home') %}
    <script type="text/javascript" language="javascript" src="//ethn.io/remotes/24561" async="true"></script>
  {% endif %}
  {# End Ethnio #}
{% endblock %}
