{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "landings/base.html" %}
{% set classes = ('home kb') %}
{% set title = _('Mozilla Knowledge Base') %}
{% set h1_text = _('<mark>Mozilla</mark> Knowledge Base') %}
{% set hide_header_search = True %}
{% set top_link = url('home.kb') %}
{% set active_site_nav = 'kb' %}
{% set hide_site_nav = True %}

{% block extra_content %}
<script type="text/javascript" >document.write('<script src="http' + ( ("https:" == document.location.protocol) ? "s" : "") + '://www.surveygizmo.com/s3/js/943833/d06eb7e2d3fa?__ref=' + escape(document.location) + '" type="text/javascript" ></scr'  + 'ipt>');</script><noscript>This survey is powered by SurveyGizmo's <a href="http://www.surveygizmo.com">online survey software</a>. <a href="http://www.surveygizmo.com/s3/jsfallback/943833/d06eb7e2d3fa">Please take my survey now</a></noscript>
{% endblock %}
