{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "landings/base.html" %}
{% set classes = ('home marketplace') %}
{% set title = _('Marketplace Home Page') %}
{% set hide_header_search = True %}
{% set hide_plugin_check = True %}
{% set top_link = url('home.marketplace') %}
{% set active_site_nav = 'marketplace' %}
{% set h1_text = _('Need Help With <mark>Marketplace?</mark>') %}

{% block quick_links %}
  <li class="aaq">
    <a href="{{ url('questions.marketplace_aaq') }}">{{ _('Ask a Question') }}</a>
  </li>
{% endblock %}
