{% extends "kadmin/base.html" %}

{% block content %}
<section>
  <h1>Settings</h1>
  <table id="settings">
    <tbody>
      {% for setting in settings %}
        <tr>
          <th id="{{ setting.key|slugify }}">
            {{ setting.key }} <a href="#{{ setting.key|slugify }}">¶</a>
          </th>
          <td>{{ setting.value|pprint }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<section>
  <h1>Python path</h1>
  <ol>
    {% for path in pythonpath %}
      <li><code>{{ path }}</code></li>
    {% endfor %}
  </ol>
</section>

{% endblock %}
