{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% from 'products/includes/product_macros.html' import product_cards with context %}
{% from 'includes/common_macros.html' import for_contributors_sidebar %}
{% from 'topics/includes/topic_macros.html' import hot_topics, topic_sidebar %}
{% set title = _(topic.title, 'DB: topics.Topic.title') %}
{% set crumbs = [(None, title)] %}
{% set styles = ('products',) %}

{% block content %}
  {% if products %}
    <h1>{{ title }}</h1>
    <h2>{{ _('Select a product') }}</h2>
    <section id="products-and-services">
      {{ product_cards(products, topic) }}
    </section>
  {% endif %}

  {% if documents %}
    <aside class="grid_3">
      {{ for_contributors_sidebar(user, settings.WIKI_DEFAULT_LANGUAGE) }}
      {{ topic_sidebar(topics, None, topic) }}
    </aside>
    <div class="grid_9">
      <section id="document-list">
        <h1>{{ title }}</h1>
        {% for document in documents %}
          {% if loop.first %}<ul class="topic-list">{% endif %}
          <li>
            <a href="{{ document['url'] }}">
              {{ document['document_title'] }}
            </a>
          </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}

        {% if fallback_documents %}
          <h2>{{ _('In English') }}</h2>
          {% for document in fallback_documents %}
            {% if loop.first %}<ul class="topic-list">{% endif %}
            <li>
              <a href="{{ document['url'] }}">{{ document['document_title'] }}</a>
            </li>
            {% if loop.last %}</ul>{% endif %}
          {% endfor %}
        {% endif %}
      </section>
    </div>
  {% endif %}
{% endblock %}

{% block for_contributors %}{% endblock %}
