/* L10n and Contributor Dashboards */

h2.subtitle {
    font-size: 160%;
}

.dashboards table {
    border-collapse: collapse;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
    width: 100%;
}

.dashboards tr:nth-child(even) {
    background-color: #f9f9f9;
}

.dashboards td,
.dashboards th {
    padding: 7px 12px;
}

.dashboards td {
    vertical-align: middle;
}

.dashboards th {
    font-size: 90%;
    font-weight: bold;
    padding-bottom: 2px;
    vertical-align: bottom;
}

.dashboards table.overview small {
    font-size: 80%;
    color: #999;
    display: block;
    white-space: nowrap;
}

.dashboards div.percent-graph {
    background-color: #f3f3f3;
    height: 10px;
    width: 70px;
}

.dashboards div.percent-graph div {
    background-color: #dfdfdf;
    height: 10px;
}

.dashboards div.percent-graph div.bad {
    background-color: #ff6b6b;
}

.dashboards div.percent-graph div.better {
    background-color: #e8c679;
}

.dashboards div.percent-graph div.best {
    background-color: #c1e58f;
}

.dashboards div.absolute-graph {
    background-color: #e5e5e5;
    height: 12px;
}

.dashboards #overview-options,
.dashboards .table-footer {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 7px 12px;
}

.dashboards #overview-options label {
    font-weight: bold;
}

.dashboards .table-footer {
    font-size: 90%;
}

.dashboards table.documents .users {
    font-size: 90%;
    color: #999;
}

.dashboards table.overview td:nth-child(2) {
    text-align: right;
}

.dashboards table.overview td:nth-child(4) {
    width: 50%;
}

.dashboards table.documents td:nth-child(1) {
    width: 261px;
}

.dashboards table.documents td:nth-child(2) {
    padding-right: 6px;
    text-align: right;
    width: 110px;
}

.dashboards table.documents td:nth-child(3),
.dashboards table.documents th:nth-child(3) {
    padding-left: 0;
    width: 160px;
}

.dashboards table.documents td:nth-child(4),
.dashboards table.documents th:nth-child(4) {
    text-align: right;
    vertical-align: middle;
    width: 203px;
}

.dashboards table.busy {
    opacity: 0.5;
}

.dashboards ul.readout-modes {
    float: right;
}

.dashboards ul.readout-modes,
.dashboards ul.readout-modes li {
    display: inline-block;
}

.dashboards ul.readout-modes li {
    background: #cde6f5;
    border-radius: 10px;
    cursor: pointer;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    list-style: none;
    margin: 0 1px;
    padding: 3px 10px;
    vertical-align: -6px;
}

.dashboards ul.readout-modes li:hover {
    background: #e6f1fb;
}

.dashboards ul.readout-modes li.active {
    background: #3862a9;
}

.dashboards ul.readout-modes li.active:hover {
    background: #4978bc;
}

.dashboards ul.readout-modes li.active a {
    color: #fff;
}

.dashboards-detail h1 {
    display: inline-block;
}

.dashboards details summary {
    margin: 10px 0 0;
}

.dashboards summary.with-mode-selectors {
    display: inline;
}

.dashboards details table {
    display: block;  /* Makes collapse animation work */
    margin-top: 4px;
}

.dashboards details p {
    color: #666;
    padding: 9px 12px 0;
    text-align: justify;
}


/* Status badges */

.dashboards td.status .review,
.dashboards td.status .ok,
.dashboards td.status .update,
.dashboards td.status .out-of-date,
.dashboards td.status .untranslated {
    display: inline-block;  /* so width applies */
    line-height: 0;
    text-align: center;
    width: 15pt;
}

.dashboards td.status .update:after {
    content: '\25C6';
    color: #f8e687;
    font-size: 130%; /* Compromise between looking huge on Windows and tiny on the Mac. Using an explicit font-family avails not. */
}

.dashboards td.status .out-of-date:after {
    content: '\25C6';
    color: orange;
    font-size: 130%;
}

.dashboards td.status .untranslated:after {
    content: '\25B2';
    color: red;
    font-size: 120%;
}

.dashboards td.status .ok:after {
    content: '\25CF';
    color: #add575;
    font-size: 200%;
}

/* activity stream */
ol.actions li {
    border-bottom: solid 1px #ccc;
    list-style: none;
    padding: 10px 0;
}

ol.actions li:last-child {
    border-bottom: none;
}

ol.actions h2 {
    font-size: 16px;
    margin: 0 0 5px;
}

ol.actions time,
ul.announcements time {
    color: #666;
    display: block;
    font-style: italic;
    margin: 5px 0 0;
}

ol.pagination {
    border: none;
}

ul#doc-content.announcements {
    list-style: none;
    margin: 10px 0 20px;
}

ul#doc-content.announcements > li {
    background: #fffaed;
    border: 1px solid #f2d273;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    margin: 10px 0;
    padding: 10px;
}

ul#doc-content p {
    margin: 1em 0;
}

ul#doc-content p:first-child {
    margin-top: 0;
}

ul#doc-content p:last-child {
    margin-bottom: 0;
}

/* Group locale dashboard */
a.full-dash {
    display: block;
    font-size: 150%;
    text-align: center;
}
