/*
 * Media Gallery CSS
 */

/* Delete form */
div.to-delete {
    padding: 1em 0;
}

div.to-delete ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

div.to-delete ul li {
    float: left;
    margin: 0;
    padding: 0;
}

div.to-delete ul li:before {
    content: '\00B7';
    margin: 0 .25em;
}

div.to-delete ul li:first-child:before {
    content: '';
    margin: 0;
}

#media-object-delete label.clear {
    padding-top: .5em;
}

/* Edit form */
#media-object-edit div.form-actions a,
#media-object-delete div.form-actions a {
    margin-right: .5em;
}

#media-object-edit div.form-item {
    padding: 10px;
}

#media-object-edit h1 {
    padding-bottom: 20px;
}

/* media gallery grid view */
#gallery-list {
    color: #565656;
}

#locale-filter {
    margin: 25px 0 20px;
}

#locale-filter noscript {
    color: #f00;
}

#locale-filter label {
    font-weight: bold;
    padding-right: .3em;
}

#locale-filter select {
    position: relative;
    margin-right: .3em;
    top: -.2em;
}

a.btn-upload {
    float: right;
    margin-top: .4em;
}

#search-filter input[type="text"] {
    background: url("../img/icon.searchloupe.png") no-repeat scroll 7px center #FFFFFF;
    padding-left: 33px;
}

#search-filter {
    border-bottom: 1px solid #9ACCF7;
    border-top: 1px solid #9ACCF7;
    display: block;
    padding: 12px 0;
}

#media-type-filter {
    color: #929292;
    float: right;
    margin-top: .5em;
}

#media-type-filter ol {
    float: left;
    list-style-type: none;
}

#media-type-filter span {
    float: left;
}

#media-type-filter ol li {
    border-left: 2px solid #929292;
    float: left;
    padding: 0 .5em;
}

#media-type-filter ol li:first-child {
    border-left: 0;
}

#media-type-filter li span {
    color: #565656;
    font-weight: bold;
}

#media-list {
    margin: 20px 0;
}

#media-list li {
    display: inline-block;
    height: 120px;
    margin: 15px;
    text-align: center;
    width: 120px;
}

#media-list li:nth-child(5n+1) {
    margin-left: 0;
}

#media-list li:nth-child(5n) {
    margin-right: 0;
}

#gallery-search input[type="submit"] {
    height: 31px;
    position: relative;
    top: -1px;
}

#media-metainfo {
    border-bottom: 1px solid #9ACCF7;
    border-top: 1px solid #9ACCF7;
    height: 1.3em;
    margin: 10px 0 20px;
    padding: 5px 0;
}

#media-meta, #media-info {
    list-style-type: none;
}

#media-info {
    float: right;
}

#media-meta li,
#media-info li {
    float: left;
    margin-left: .5em;
}

#media-meta li:before,
#media-info li:before {
    content: '\00B7';
    margin-right: .5em;
}

#media-meta li:first-child:before,
#media-info li:first-child:before {
    content: '';
    margin-right: 0;
}

#media-view {
    margin: 5px 0;
    text-align: center;
}

#media-view div.video a {
    display: none;
}

#media-view div.video-wrap {
    display: block;
}

#media-object {
    position: relative;
}

#media-object a.btn-upload {
    position: absolute;
    right: 20px;
    top: 24px;
}

#media-object div.description {
    padding: 10px;
}

#media-actions {
    margin-top: 20px;
}


/* Upload media - modal window */
#upload-kbox {
    left: 50%;
    margin-left: -290px;
    top: 150px;
    width: 580px;
}

#gallery-upload-image, #gallery-upload-video {
    padding-top: 20px;
}

#gallery-upload-type .row-right ul {
    list-style-type: none;
}

#gallery-upload-type .row-right li {
    float: left;
}

#gallery-upload-type .row-right li:first-child {
    margin-right: 2em;
}

#gallery-upload-modal .row-left {
    float: left;
    font-weight: bold;
    width: 130px;
}

#gallery-upload-modal .row-right {
    margin: 0 0 15px 140px;
    min-height: 42px;
}

#gallery-upload-type div.row-right {
    min-height: 20px;
    margin-bottom: 0;
}

#gallery-upload-modal div.upload-action {
    border-top: 1px solid #9ACCF7;
    clear: left;
    padding-top: 10px;
}

#gallery-upload-type input {
    margin-right: 3px;
}

#gallery-upload-modal .row-right .details {
    font-size: 80%;
    margin-top: 3px;
}

#gallery-upload-modal textarea,
#gallery-upload-modal input[type="text"] {
    width: 370px;
}

#gallery-upload-modal textarea {
    height: 4em;
}

div.error {
    color: #f00;
}

#gallery-upload-modal .image-preview img {
    max-width: 120px;
    max-height: 120px;
}

#gallery-upload-video .video-preview ul {
    margin-left: 1em;
}

#gallery-upload-video li.video-preview {
    margin-bottom: .5em;
    margin-top: .5em;
}

#gallery-upload-modal form.inline {
    display: inline;
}

article.main #gallery-upload-modal input[name="cancel"] {
    display: inline;
    margin: 0;
}

.on {
    display: default;
}

.off {
    display: none !important;
}

#gallery-upload-modal .progress a {
    padding-left: 5px;
}

#gallery-upload-modal .preview img {
    max-width: 120px;
    max-height: 120px;
}
