/*
 * Groups app CSS
 */

article.main ul {
    list-style-position: inside;
    margin: 0 0 15px;
}

article.main h2 {
    font-size: 18px;
    margin: 20px 0 0;
}

/* list page */
#group-list a.add {
    float: right;
    padding: 0 0 0 13px;
    position: relative;
}

#group-list a.add:before {
    content: '+';
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    left: 0;
    position: absolute;
    top: -2px;
}

/* profile page */
#main-area {
    margin: 0 0 0 65px;
}

#avatar-area {
    float: left;
    margin-left: 0;
    text-align: center;
    width: 48px;
}

#avatar-area p {
    font-size: 12px;
    margin: 2px 0;
}

#group-profile a.edit {
    background: transparent url(../img/icons.actions.png) no-repeat left -25px;
    float: right;
    padding: 0 0 0 18px;
}

ul.users {
    list-style: none;
}

ul.users li {
    padding: 5px 0;
    vertical-align: top;
}

ul.users div.avatar {
    display: inline-block;
    margin: 0 10px 0 0;
    height: 48px;
    width: 48px;
}

ul.users div.avatar img {
    height: 48px;
    width: 48px;
}

ul.users div.info {
    display: inline-block;
    min-height: 45px;
    padding: 3px 0 0;
    vertical-align: top;
    width: 200px;
}

ul.users div.remove {
    display: inline-block;
    padding: 3px 0 0;
    vertical-align: top;
}

ul.users div.remove a {
    border-radius: 2px;
    color: #ccc;
}

ul.users div.remove a:hover {
    background: #447BC4;
    color: #fff;
    text-decoration: none;
}

input.user-autocomplete {
    width: 240px;
}

/* edit page */
div.editor {
    margin: 0 0 10px;
    padding: 0;
}

#id_information {
    height: 350px;
}

/* avatar delete */
#avatar-delete p {
    margin: 10px 0;
}

/* change avatar */
#change-avatar form {
    margin: 25px 0;
}

#change-avatar ul {
    list-style: none;
}

#change-avatar div.val-wrap {
    display: inline-block;
    line-height:35px;
    margin-right: 10px;
    width: auto;
}

#change-avatar label {
    display: inline-block;
    padding: 0 5px 0 0;
    text-align: right;
    vertical-align: top;
    width: 180px;
}

#change-avatar div.val-wrap input {
    display: block;
}

#change-avatar div.submit {
    padding: 10px 0 0 188px;
}
