/*
 * Groups app CSS
 */

article.main ul {
    list-style-position: inside;
    margin: 0 0 15px;
}

article.main h2 {
    font-size: 18px;
    margin: 20px 0 0;
}

/* list page */
#group-list a.add {
    float: right;
    padding: 0 0 0 13px;
    position: relative;
}

#group-list a.add:before {
    content: '+';
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    left: 0;
    position: absolute;
    top: -2px;
}

/* profile page */
#main-area {
    margin: 0 0 0 65px;
}

#avatar-area {
    float: left;
    margin-left: 0;
    text-align: center;
    width: 48px;
}

#avatar-area p {
    font-size: 12px;
    margin: 2px 0;
}

/* edit page */
div.editor {
    margin: 0 0 10px;
    padding: 0;
}

#id_information {
    height: 350px;
}

/* avatar delete */
#avatar-delete p {
    margin: 10px 0;
}

/* change avatar */
#change-avatar form {
    margin: 25px 0;
}

#change-avatar ul {
    list-style: none;
}

#change-avatar div.val-wrap {
    display: inline-block;
    line-height:35px;
    margin-right: 10px;
    width: auto;
}

#change-avatar label {
    display: inline-block;
    padding: 0 5px 0 0;
    text-align: right;
    vertical-align: top;
    width: 180px;
}

#change-avatar div.val-wrap input {
    display: block;
}

#change-avatar div.submit {
    padding: 10px 0 0 188px;
}
