#main,
.html-rtl #main {
    background: none;
    padding: 0;
}

#main-hdr {
    position: relative;
    z-index: 2;
}

#side {
    margin-top: -25px;
}

#featured {
    background: url("../img/nurse.small.png") no-repeat scroll 550px 100% transparent;
    height: 134px;
    overflow: hidden;
    padding: 75px 0 0 0;
    position: relative;
    top: -75px; /* the background image needs to slide under #main-hdr */
    z-index: 1;
}

.html-rtl #featured {
    background-position: 30px 100%;
    padding: 75px 0 0 0;
}

body.mobile #featured,
body.fxhome #featured {
    background: url("../img/nurse.mobile.small.png") no-repeat scroll 570px 100% transparent;
}

body.mobile.html-rtl #featured,
body.fxhome.html-rtl #featured {
    background-position: 30px 100%;
}

/* Bug 615495 - Don't send the nursecat to Japanese audiences. */
html[lang=ja] body div#featured {
    background: none;
}

#featured-wrap {
    height: 134px;
}

#featured h1 {
    font-size: 220%;
    font-style: italic;
    letter-spacing: -1px;
    margin: 0 0 .5em;
}

#featured h1 mark {
    font-family: MetaBlack, "Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}

.old-theme #support-search {
    margin: 0;
    padding: 20px 0 0 2px;
    width: auto;
    float: left;
}

.html-rtl #support-search {
    padding: 20px 2px 0 0;
    float: right;
}

#support-search input.text {
    width: 326px;
}

.html-rtl #support-search input.text {
    background-position: 335px 2px;
}

#featured p {
    font-size: 108%;
    line-height: 1.5em;
    width: 414px;
}

#main-hdr {
    height: 60px;
}

#firefox-help {
    padding-bottom: 0;
}

#home-content {
    background: transparent url(../img/home.divider.jpg) no-repeat left top;
    zoom: 1;
}

.html-rtl #home-content {
    background-position: right top;
}

#home-content:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#home-content-top,
#home-content-nav {
    font-size: 14px;
    padding: 20px 10px 0;
}

#home-content-top .for {
     /* Prevent for-wrapped warnings from flashing in then out.
      * A side effect of this is for-wrapped warnings on the top of the
      * home page will not show for users with JavaScript disabled
      * (probably one of the smaller showfor issues they will encounter).
      */
    display: none;
}

#home-content-quick,
#home-content-explore {
    float: left;
    font-size: 14px;
}

.html-rtl #home-content-quick,
.html-rtl #home-content-explore {
    float: right;
}

#home-content-quick {
    clear: left;
    width: 260px;
}

.html-rtl #home-content-quick {
    clear: right;
}

#home-content-quick h1 {
    font-size: 160%;
    margin: 10px 0 .5em;
}

#home-content h1 {
    font-size: 160%;
    font-style: italic;
}

#home-content-quick section {
    background: url("../img/home-bar.png") no-repeat scroll left bottom transparent;
    padding: 25px 0 40px 20px;
    margin: 0 20px 0 0;
}

.html-rtl #home-content-quick section {
    background-position: right bottom;
    padding: 25px 20px 40px 0;
    margin: 0 0 0 20px;
}

#home-content-quick section:last-child {
    background: none;
}

#home-content-quick ul {
    list-style-type: none;
}

#home-content-quick li {
    margin-bottom: 4px;
}

#home-content-explore {
    border-left: 2px dotted #a8c4ef;
    margin: 20px 0 0;
    padding: 0 0 0 20px;
    width: 460px;
}

.html-rtl #home-content-explore {
    border: none;
    border-right: 2px dotted #a8c4ef;
    padding: 0 20px 0 0;
}

#home-content-explore h1 {
    margin: -5px 0 0.5em;
}

#home-content-explore h2 {
    font-size: 108%;
    margin: .7em 0 .3em;
}

body.mobile #home-content-explore section,
body.desktop #home-content-explore section {
    float: left;
    padding: 0 15px 0 0;
    width: 205px;
}

body.mobile.html-rtl #home-content-explore section,
body.desktop.html-rtl #home-content-explore section {
    float: right;
    padding: 0 0 0 15px;
}

#home-content-explore section.odd {
    clear: left;
}

.html-rtl #home-content-explore section.odd {
    clear: right;
}

#home-content-explore ul {
    margin: 0 0 1em;
    padding: 0 0 0 1em;
    text-indent: -2px;
}

.html-rtl #home-content-explore ul {
    padding: 0 1em 0 0;
}

#home-content-explore ul li {
    padding: 3px 0;
}
