/* Some Extra Fonts */
@font-face {
    font-family: 'MetaBlack';
    font-weight: bold;
    src: url('../fonts/MetaWebPro-Black.eot?') format('eot'), url('../fonts/MetaWebPro-Black.woff') format('woff');
}

/*----------------------------------
    Global
----------------------------------*/
html {
    /* base color of the body should remain the same throughout the site */
    color: #282828;
}

article, header, hgroup, footer, nav, section {
    display: block;
}

body {
    border-top: 2px solid #686868;
    font: 13px/1.231 "Helvetica Neue", "Nimbus Sans L", Arial, sans-serif;
    min-width: 998px;
    text-align: center;
    word-wrap: break-word;
}

body.en-US {
    /* tabzilla is en-US only for now */
    border-top-color: #fff;
}

body.html-rtl {
    text-align: right;
}

html[lang=he] body {
    font-family: sans-serif;
}

#pg-wrap {
    background: #fff url(../global/background.png) 0 -700px repeat-x;
}

.clear {
    clear: both;
}

a:link, a:visited, a:active {
    color: #0051B9;
    text-decoration: none;
}

a:visited {
    color: #609;
}

a:hover {
    text-decoration: underline;
}

.old-theme h1,
.old-theme h2,
.old-theme h3,
.old-theme h4,
.old-theme h5,
.old-theme h6 {
    color: #282828;
    /* keep the header font Georgia, for now - and keep it normal weight */
    font-family: Georgia, serif;
    font-weight: normal;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 2em;
}

/*----------------------------------
    Header
----------------------------------*/
header.global {
    margin: 0 auto;
    position: relative;
    text-align: start;
    width: 980px;
    z-index: 2;
}

header.global a:visited {
    color: rgb(0, 81, 185);
}

#global-header-tab a {
    color: #FFFFFF;
}

#global-header-tab a {
    display: block;
    float: right;
    height: 53px;
    width: 118px;
}

.html-rtl #global-header-tab a {
    float: left;
}

.sumo-header {
    padding: 0 0 25px;
    zoom: 1;
}

.sumo-header:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#masthead {
    padding-top: 35px;
    width: 630px;
}

h1.site-title {
    color: #333333;
    font-family: Georgia, freeserif, serif;
    font-size: 32px;
    font-style: italic;
    letter-spacing: -1px;
    line-height: 40px;
    margin-bottom: 7px;
    text-align: left;
}

.html-rtl h1.site-title {
    text-align: right;
}

h1.site-title a,
h1.site-title a:visited {
    color: #333333;
}

h1.site-title a:hover {
    color: #043B84;
    text-decoration: none;
    text-shadow: 0 0 40px #FFFFFF, 0 0 20px #FFFFFF, 0 0 10px #FFFFFF;
}

h1.site-title mark {
    font-family: MetaBlack;
    font-style: normal;
    line-height: 32px;
    text-transform: uppercase;
}

.site-title img {
    float: left;
    height: 62px;
    margin-right: 10px;
    width: 54px;
}

.html-rtl .site-title img {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}

.menu-nav {
    font-size: 12px;
    margin-left: 64px;
    z-index: 50;
}

.html-rtl .menu-nav {
    margin-left: 0;
    margin-right: 64px;
}

.menu-nav.no-img {
    margin-left: 0;
}

.html-rtl .menu-nav.no-img {
    margin-right: 0;
}

.menu-nav li {
    list-style: none;
}

.menu-nav > ul > li {
    float: left;
    position: relative;
}

.html-rtl .menu-nav > ul > li {
    float: right;
}

.menu-nav > ul > li > a {
    border-color: transparent;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 1px 1px 0;
    font-weight: bold;
    position: relative;
    z-index: 60;
}

.old-theme .menu-nav > ul > li:hover > a {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #98B2C9 #98B2C9 #FFFFFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.menu-nav > ul > li:hover > ul {
    display: block;
}

.old-theme .menu-nav > ul > li:hover:after {
    background: none repeat scroll 0 0 #FFFFFF;
    content: "";
    height: 5px;
    left: 1px;
    position: absolute;
    top: 18px;
    width: 200px;
    z-index: 62;
}

.html-rtl .menu-nav > ul > li:hover:after {
    left: auto;
    right: 1px;
}

.menu-nav > ul > li > ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #98B2C9;
    border-radius: 0 3px 3px 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    display: none;
    padding: 8px;
    position: absolute;
    top: 17px;
    width: 190px;
    z-index: 59;
}

.menu-nav > ul > li > ul a {
    display: block;
    padding: 6px 8px;
    text-align: left;
    text-decoration: none;
    word-wrap: break-word;
}

.menu-nav > ul > li > ul a:hover {
    background: none repeat scroll 0 0 #EBF4FE;
}

.menu-nav > ul > li > ul.two-col {
    -moz-column-count: 2;
    -moz-column-gap: 8px;
    width: 340px;
}

.menu-nav > ul em a:hover {
    background: none repeat scroll 0 0 #E1EDFB;
}

.menu-nav hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
    border-right: 0 none;
    border-style: dotted none none;
    border-width: 1px 0 0;
    margin: 6px 8px;
}

.menu-nav em {
    background: none repeat scroll 0 0 #F4F8FC;
    display: block;
    font-weight: bold;
}

#aux-nav {
    float: right;
}

.html-rtl #aux-nav {
    float: left;
}

#aux-nav > ul {
    display: block;
}

#aux-nav > ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.old-theme #aux-nav > ul > li:not(:first-child):before {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: -moz-linear-gradient(#9FA7AF, rgba(159, 167, 175, 0));
    background-origin: padding-box;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 1px 100%;
    content: "";
    display: block;
    height: 32px;
    left: -1px;
    position: absolute;
    top: 0;
    width: 1px;
}

.html-rtl #aux-nav > ul > li:not(:first-child):before {
    left: auto;
    right: -1px;
}

#aux-nav > ul > li {
    margin-left: 1px;
}

.html-rtl #aux-nav > ul > li {
    margin-left: 0;
    margin-right: 1px;
}

#aux-nav > ul > li > a {
    border-radius: 0 0 0 0;
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 0 1em;
}

.old-theme #aux-nav > ul > li > a:after {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #666666 transparent transparent;
    border-right: 4px solid transparent;
    border-style: solid;
    border-width: 4px;
    content: " ";
    display: inline-block;
    height: 0;
    left: 4px;
    margin: 0 0 0 4px;
    top: 12px;
    vertical-align: middle;
    width: 0;
}

.html-rtl #aux-nav > ul > li > a:after {
    left: auto;
    margin: 0 4px 0 0;
    right: 4px;
}

#aux-nav > ul > li:hover {
    z-index: 63;
}

#aux-nav > ul > li:after {
    top: 32px;
}

#aux-nav > ul > li > ul {
    top: 31px;
}

#site-nav > ul > li.nomenu a,
#aux-nav > ul > li.nomenu a {
    display: inline-block;
}

#site-nav > ul > li a:after,
#aux-nav > ul > li.nomenu a:after {
    display: none;
}

#site-nav > ul > li:hover a,
#aux-nav > ul > li.nomenu:hover a {
    background: none repeat scroll 0 0 transparent;
    border-color: transparent;
    box-shadow: 0 0 inset;
}

#site-nav > ul > li:hover:after,
#aux-nav > ul > li.nomenu:hover:after {
    content: none;
}

#aux-nav > ul > li.anonymous {
    padding: 0 10px;
}

#aux-nav > ul > li.logout.anonymous a {
    display: inline;
    padding: 0;
}

#aux-nav > ul > li.logout:before {
    background: none repeat scroll 0 50% transparent;
}

#aux-nav > ul > li.logout a {
    font-weight: normal;
    padding-left: 4px;
}

.html-rtl #aux-nav > ul > li.logout a {
    padding-left: 1em;
    padding-right: 4px;
}

#aux-nav .other-apps a {
    background-image: url(../img/icons.apps.png);
    background-repeat: no-repeat;
    padding-left: 24px;
}

.html-rtl #aux-nav .other-apps a {
    padding-left: 8px;
    padding-right: 24px;
}

#aux-nav .thunderbird a {
    background-position: left -28px;
}

.html-rtl #aux-nav .thunderbird a {
    background-position: right -28px;
}

#aux-nav .seamonkey a {
    background-position: left -60px;
}

.html-rtl #aux-nav .seamonkey a {
    background-position: right -60px;
}

#aux-nav .sunbird a {
    background-position: left -92px;
}

.html-rtl #aux-nav .sunbird a {
    background-position: right -92px;
}

span.unread-message-count {
    background-color: #666666;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 78%;
    padding: 0 2px;
}

header.global #support-search {
    float: right;
    padding: 0;
    position: absolute;
    right: 0;
    top: 63px;
    width: auto;
}

.html-rtl header.global #support-search {
    float: left;
    left: 0;
    right: auto;
}

#site-nav > ul > li {
    border-right: 1px solid #9FA7AF;
    left: -9px;
    margin: 0 0 5px;
}

.html-rtl #site-nav > ul > li {
    border-left: 1px solid #9FA7AF;
    border-right: none;
    left: auto;
    right: -9px;
}

#site-nav > ul > li:last-child {
    border: 0 none;
}

#site-nav > ul > li > a {
    line-height: 12px;
    padding: 4px 8px;
    text-transform: uppercase;
}

#site-nav > ul > li > a.active {
    color: #333;
    cursor: default;
}

#site-nav > ul > li > a.active:hover {
    text-decoration: none;
}

#stage-banner {
    background: rgba(0,0,0,0.75);
    border-radius: 0 0 7px 0;
    color: orange;
    font-size: 15px;
    left: 0;
    padding: 8px 20px;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.html-rtl #stage-banner {
    border-radius: 0 0 0 7px;
    left: auto;
    right: 0;
}

#stage-banner a {
    color: #00ccff;
}

/*----------------------------------
    User messages
----------------------------------*/
ul.user-messages {
    background: #e0f2ef;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    font-size: 150%;
    font-style: italic;
    list-style: none;
    margin: 20px 0 0;
    padding: 10px 0;
    position: relative;
    text-align: center;
    top: -25px;
    width: 100%;
}

ul.user-messages li.error {
    color: #ff0000;
}

/*----------------------------------
    Breadcrumbs
----------------------------------*/

.old-theme .breadcrumbs {
    font-family: Verdana;
    margin: 0 0 15px;
    padding: 0 9px;
}

.old-theme .breadcrumbs li {
    display: inline;
    margin: 0;
    color: #4b4742;
    font-size: 83%;
}

.old-theme .breadcrumbs li:before {
    content: '/';
    padding: 0 4px;
    color: #807970;
    font-size: 110%;
}

.old-theme .breadcrumbs li:first-child:before {
    content: '';
    padding: 0;
}

.old-theme .breadcrumbs a {
    font-weight: bold;
    text-decoration: none;
}

.old-theme .breadcrumbs a:hover,
.old-theme .breadcrumbs a:active {
    text-decoration: underline;
}

.old-theme .breadcrumbs a:visited {
    color: rgb(0, 81, 185);
}

/*----------------------------------
    Content
----------------------------------*/

#content {
    clear:both;
    font-size: 92.31%;
    margin: auto;
    text-align: left;
    width: 978px;
}

.html-rtl #content {
    text-align: right;
}

#content:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#main {
    background: transparent url(../img/wiki/bkg.main.top.png) no-repeat right top;
    clear: both;
    float: left;
    padding: 16px 0 0;
    width: 754px;
}

.html-rtl #main {
    background: transparent url(../img/wiki/bkg.main.top.rtl.png) no-repeat left top;
    float: right;
}

#main article.main {
    background: transparent url(../img/wiki/bkg.article.jpg) no-repeat right top;
    font-size: 13px;
    min-height: 450px;
    padding: 14px 20px 0 0;
}

.html-rtl #main article.main {
    background: transparent url(../img/wiki/bkg.article.rtl.jpg) no-repeat left top;
    padding: 14px 0 0 20px;
}

article.main > h1 {
    margin: 0 0 15px;
}

#firefox-help {
    float: left;
    font-size: 18px;
    font-style: italic;
    padding: 10px 0;
    width: 445px;
}

.html-rtl #firefox-help {
    float: right;
}

#firefox-help a {
    background: transparent url(../img/ff-logo.png) no-repeat left center;
    color: #333;
    float: left;
    padding: 20px 0 20px 60px;
    position: relative;
    z-index: 2;
}

.html-rtl #firefox-help a {
    padding: 20px 60px 20px 0;
}

.old-theme #support-search {
    float: left;
    padding: 15px 0 0;
    width: 310px;
}

.html-rtl #support-search {
    float: right;
}

.old-theme div.support-search form {
    background: #fff;
    border: solid 1px #98b2c9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.5) inset, 0 2px 0 rgba(0, 0, 0, 0.1);
    height: 30px;
    padding: 5px 7px 9px;
}

.old-theme div.support-search input.text {
    background: #fff;
    border: solid 1px #d9d9d9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: inset 0 0 3px #d9d9d9;
    float: left;
    font-size: 16px;
    height: 26px;
    margin: 0 1px 0 0;
    padding: 2px 0 2px 8px;
    width: 215px;
}

.html-rtl div.support-search input.text {
    background-position: 225px 2px;
    float: right;
    margin: 0 0 0 1px;
    padding: 2px 8px 2px 0;
}

div.support-search input.btn-important {
    float: left;
    font-size: 13px;
    margin: 0 0 0 6px;
    padding: 5px 12px 7px 12px;
}

.html-rtl div.support-search input.btn-important {
    float: right;
    margin: 0 6px 0 0;
}

/*-----------------------------------------------
    Warnings, notifications, in-content stuff
-----------------------------------------------*/
.warning-box {
    border: 1px #f2d273 solid;
    background: #fffaed url(../img/wiki/bkg.warning.png) repeat-y left top;
    background: url(../img/wiki/bkg.warning.png) repeat-y left top, -moz-linear-gradient(top, #fffaed, #fff2cb);
    background: url(../img/wiki/bkg.warning.png) repeat-y left top, -webkit-gradient(linear, center top, center bottom, from(#fffaed), to(#fff2cb));
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 35px 20px 0 0;
    overflow: hidden;
    padding: .5em 2em .5em 2em;
}

.html-rtl .warning-box {
    margin: 35px 0 0 20px;
}

.warning-box p {
    margin: .5em 0;
    line-height: 1.5em;
    color: #444;
}


/*----------------------------------
    Sidebar
----------------------------------*/

#side {
    float: left;
    width: 222px;
}

.html-rtl #side {
    float: right;
}

.old-theme #for-contributors h1 {
    color: #333;
    font-size: 18px;
    font-style: italic;
    margin: 0 0 5px;
}

.old-theme #for-contributors li {
    list-style: none;
    padding: 3px 0;
}

#side a:visited {
    color: rgb(0, 81, 185);
}

#quick-links {
    font-size: 13px;
    margin: 25px 0 0 20px;
}

.html-rtl #quick-links {
    margin: 25px 20px 0 0;
}

#quick-links li {
    background: #cde6f5;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    list-style: none;
    margin: 0 0 6px;
}

#quick-links li:hover {
    background: #e6f1fb;
}

#quick-links li.active:hover {
    background: #4978bc;
}

#quick-links .active {
    background: #3862a9;
}

#quick-links .active a {
    color: #fff;
}

#quick-links li a {
    display: block;
    padding: 5px 0 5px 30px;
}

.html-rtl #quick-links li a {
    padding: 5px 30px 5px 0;
}

#quick-links li.edit a {
    background: transparent url(../img/icons.actions.png) no-repeat 6px -18px;
}

.html-rtl #quick-links li.email a {
    background-position: 180px -18px;
}

#quick-links li.edit a.hide {
    display: none;
}

.show-editing-tools #quick-links li.edit a.show {
    display: none;
}

.show-editing-tools #quick-links li.edit a.hide {
    display: block;
}

#quick-links li.email div {
    background: transparent url(../img/icons.actions.png) no-repeat 7px -42px;
}

.html-rtl #quick-links li.email div {
    background-position: 180px -42px;
}

#quick-links li.aaq a {
    background: transparent url(../img/wiki/icons.quicklinks.png) no-repeat 6px -44px;
}

.html-rtl #quick-links li.aaq a {
    background-position: 180px -44px;
}

#quick-links li.aaq.active a {
    background: transparent url(../img/wiki/icons.quicklinks.png) no-repeat 6px -144px;
}

.html-rtl #quick-links li.aaq.active a {
    background-position: 180px -144px;
}

#quick-links li.aaq a mark {
    background: transparent;
    display: block;
    font-weight: bold;
}

.sd-module {
    background: #cde6f5;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 13px;
    margin: 20px 0 0 20px;
    padding: 20px;
}

.html-rtl .sd-module {
    margin: 20px 20px 0 0;
}

.sd-module.promos {
    margin-top: 50px;
    padding: 0;
}

.sd-module h1 {
    font-size: 20px;
    font-style: italic;
}

.sd-module h1 mark {
    background: transparent;
    font-family: MetaBlack, "Trebuchet MS", sans-serif;
    font-style: normal;
    text-transform: uppercase;
}

.sd-module h2 {
    font-size: 13px;
    font-weight: bold;
    margin: 15px 0 0;
}

.sd-module p {
    color: rgb(40, 40, 40);
    margin: 10px 0;
}

.sd-module section {
    padding: 20px;
}

#want-to-get-involved a {
    display: block;
    margin-right: 2em;
}

.html-rtl #want-to-get-involved a {
    margin-left: 2em;
    margin-right: 0;
}

#check-your-plugins {
    background: -moz-radial-gradient(center -40%, circle, rgba(255,255,255,1), rgba(255,255,255,0) 50%);
    background: -webkit-gradient(radial, center -40%, 0, center -40%, 175, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
}

/* Side tabs -- TODO: rename doc-tabs to something more generic */
#doc-tabs {
    color: rgb(40, 40, 40);
    font-size: 13px;
    margin: 16px 0 0;
}

#doc-tabs li {
    background: #fff;
    background: -moz-linear-gradient(left, #cde4f7, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#cde4f7), to(#fff));
    border: solid 1px #9accf7;
    border-left: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-radius: 10px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    box-shadow: 2px 2px 3px #9dbbd0;
    -moz-box-shadow: 2px 2px 3px #9dbbd0;
    -webkit-box-shadow: 2px 2px 3px #9dbbd0;
    list-style: none;
    margin: 7px 0 0;
}

.html-rtl #doc-tabs li {
    border: solid 1px #9accf7;
    border-right: none;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-radius: 10px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    box-shadow: -2px 2px 3px #9dbbd0;
    -moz-box-shadow: -2px 2px 3px #9dbbd0;
    -webkit-box-shadow: -2px 2px 3px #9dbbd0;
}

#doc-tabs li.disabled, #doc-tabs li.disabled:hover {
    background: -moz-linear-gradient(left, #dedede, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#dedede), to(#fff));
    border: solid 1px #ccc;
    box-shadow: 2px 2px 3px #cecece;
    -moz-box-shadow: 2px 2px 3px #cecece;
    -webkit-box-shadow: 2px 2px 3px #cecece;
}

#doc-tabs li.disabled a {
    color: #999;
}

#doc-tabs li a,
#doc-tabs li span {
    display: block;
    padding: 7px 0 8px 50px;
}

.html-rtl #doc-tabs li a,
.html-rtl #doc-tabs li span {
    padding: 7px 50px 8px 0;
}

#doc-tabs li:hover {
    background: -moz-linear-gradient(left, #e6f1fb, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#e6f1fb), to(#fff));
}

#doc-tabs li.active {
    background: #fff;
    left: -1px;
    position: relative;
    width: 102%;
    z-index: 2;
}

.html-rtl #doc-tabs li.active {
    left: 0;
    right: -1px;
}

#doc-tabs li.active span,
#doc-tabs li.active a {
    border-left: solid 2px #fff;
    color: rgb(40, 40, 40);
    left: -2px;
    padding-left: 52px;
    position: relative;
    z-index: 0;
}

.html-rtl #doc-tabs li.active span,
.html-rtl #doc-tabs li.active a {
    border: none;
    border-right: solid 2px #fff;
    left: auto;
    padding-left: 52px;
    padding-right: 52px;
    right: -2px;
}

#doc-tabs li.edit {
    margin: 25px 0 0;
}

/* Login form */
#login-form {
    margin: 1em 0;
}

#login-form h3 {
    color: #afaba3;
    font-size: 150%;
    margin-bottom: .5em;
}

#login-form label {
    color: #807970;
    display: block;
    margin: .3em 0;
}

#login-form input {
    margin: .3em 0;
}
/* End login form */

/* Error styling */
div.invalid input,
div.invalid textarea {
    border-color: red;
    border-style: solid;
}

ul.errorlist {
    margin: 1em 3em;
    color: red;
}

ul.errorlist li {
    margin: 1em 0;
}

ul.errorlist li a {
    color: red;
}
/* End error styling */

/*----------------------------------
    Pagination styles
----------------------------------*/

ol.pagination {
    border-top: solid 1px #9ACCF7;
    font-family: Verdana;
    margin: 20px 0;
    padding: 20px 0;
}

ol.pagination li {
    float: left;
    list-style: none;
    padding: 0 2px;
}

ol.pagination li.prev {
    padding-left: 0;
}

.html-rtl ol.pagination li.prev {
    padding-left: 2px;
    padding-right: 0;
}

ol.pagination li a {
    float: left;
    padding: 3px 8px 5px;
}

ol.pagination li a:hover {
    text-decoration: underline;
}

ol.pagination li.prev a {
    padding-left: 0;
}

.html-rtl ol.pagination li.prev a {
    padding-left: 8px;
    padding-right: 0;
}

ol.pagination li.selected a {
    background: rgb(0, 81, 185);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    cursor: default;
}

ol.pagination li.selected a:hover {
    text-decoration:none;
}

/*----------------------------------
    Form element styles
----------------------------------*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea,
input[type="text"] {
    background: -moz-linear-gradient(top, #deebf4, #deebf4 2px, #fff 3px, #fff 100%);
    background: -webkit-gradient(linear, center top, center bottom, from(#deebf4), to(#fff), color-stop(5%, #deebf4), color-stop(10%, #fff));
    border: solid 1px #97cbf7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #666;
    font-size: 15px;
    padding: 5px;
    width: 325px;
}

article.main input[type="text"].error,
article.main input[type="text"].error {
    border-color: #ff0000;
}

article.main input[type="text"].autocomplete-tags {
    width: 100px;
}

article.main textarea {
    background: -webkit-gradient(linear, center top, center bottom, from(#deebf4), to(#fff), color-stop(0.5%, #deebf4), color-stop(1%, #fff));
    height: 150px;
    width: 700px;
}

article.main div.submit {
    clear: both;
    padding: 10px 0 0;
}

/* Notification watch buttons */
#doc-watch {
    margin: 20px 0 0 20px;
}

.html-rtl #doc-watch {
    margin: 20px 20px 0 0;
}

#quick-links #doc-watch {
    margin: 0;
    padding: 5px 0 5px 30px;
}

#doc-watch input {
    margin: 0 0 10px;
}

#quick-links #doc-watch input {
    margin: 0;
}

/*----------------------------------
    Markup editor styles
----------------------------------*/

div.editor {
    padding: 1em;
}

div.editor textarea {
    width: 98%;
}

div.editor-notes {
    float: left;
    padding: 1em 0 0 1em;
}

.html-rtl div.editor-notes {
    padding: 1em 1em 0 0;
}

div.editor-notes p {
    margin-top: .8em;
}

div.editor-actions {
    clear: both;
    border-top: 2px solid #fff;
    padding: 1em 2em;
    text-align: right;
}

.html-rtl div.editor-actions {
    text-align: left;
}

div.editor-tools {
    background: #daedf6;
    background: -moz-linear-gradient(top, #e7f6fd, #daedf6);
    background: -webkit-gradient(linear, center top, center bottom, from(#e7f6fd), to(#daedf6));
    height: 40px;
    line-height: 30px;
    padding: 5px 5px 0;
    width: 98%;
}

div.editor-tools span.separator {
    border-left: solid 1px #ddd;
    font-size: 24px;
    margin: 0 8px 0 6px;
    position: relative;
    top: 4px;
}

.html-rtl div.editor-tools span.separator {
    border: none;
    border-right: solid 1px #ddd;
    margin: 0 6px 0 8px;
}

div.editor-tools a.markup-toolbar-link {
    padding: 0 6px;
}

button.markup-toolbar-button {
    border: 0;
    background: url(../img/markup.png) no-repeat 0 0;
    cursor: pointer;
    height: 34px;
    margin: 0 2px;
    text-indent: -9999px;
    width: 36px;
}

div.editor-tools button:first-child {
    margin-left: 0;
}

.html-rtl div.editor-tools button:first-child {
    margin-left: 2px;
    margin-right: 0;
}

button.btn-h2 {
    background-position: -44px 0px;
}

button.btn-h3 {
    background-position: -88px 0px;
}

button.btn-bold {
    background-position: -132px 0px;
}

button.btn-italic {
    background-position: -176px 0px;
}

button.btn-media {
    background-position: -220px 0px;
}

button.btn-link {
    background-position: -264px 0px;
}

button.btn-ol {
    background-position: -308px 0px;
}

button.btn-ul {
    background-position: -352px 0px;
}

#showfor-modal,
#link-modal,
#media-modal {
    text-align: left;
    width: 480px;
}

.html-rtl #showfor-modal,
.html-rtl #link-modal,
.html-rtl #media-modal {
    text-align: right;
}

#showfor-modal h2,
#link-modal h2,
#media-modal h2 {
    font-size: 16px;
    margin: 10px 0 0;
}

#showfor-modal label {
    padding: 0 15px 0 0;
}

.html-rtl #showfor-modal label {
    padding: 0 0 0 15px;
}

#showfor-modal input[type="checkbox"] {
    margin: 0 5px 0 0;
}

.html-rtl #showfor-modal input[type="checkbox"] {
    margin: 0 0 0 5px;
}

section.marky div.submit {
    clear: both;
    padding: 20px 0 0;
}

section.marky div.submit a,
section.marky div.submit button {
    margin: 0 15px 0 0;
}

.html-rtl section.marky div.submit a,
.html-rtl section.marky div.submit button {
    margin: 0 0 0 15px;
}

#link-modal {
    width: 600px;
}

#link-modal label {
    clear: both;
    float: left;
    padding: 5px 15px 20px 0;
    text-align: right;
    width: 75px;
}

.html-rtl #link-modal label {
    float: right;
    padding: 5px 0 20px 15px;
    text-align: left;
}

#link-modal ol {
    float: left;
}

.html-rtl #link-modal ol {
    float: right;
}

#link-modal li {
    list-style: none;
    padding: 0 0 10px;
}

#link-modal li label {
    float: none;
    padding: 0;
    text-align: left;
    width: auto;
}

.html-rtl #link-modal li label {
    text-align: right;
}

#media-modal {
    height: 80%;
    left: 50%;
    margin-left: -380px;
    max-height: 510px;
    max-height: -moz-calc(100%); /* let it continue to grow in FF4 */
    min-height: 400px;
    min-height: -moz-calc(0%); /* let it continue to shrink in FF4 */
    position: fixed;
    top: 7%;
    width: 760px;
}

#media-modal div.placeholder {
    height: 65%;
    height: -moz-calc(100% - 150px);
    left: 15px;
    position: absolute;
    top: 100px;
}

.html-rtl #media-modal div.placeholder {
    left: auto;
    right: 15px;
}

#media-modal.processing div.placeholder {
    background: transparent url(../img/customercare/spinner.gif) no-repeat center center;
}

#media-modal.processing #media-list {
    visibility: hidden;
}

#media-modal #media-list {
    height: 80%;
    height: -moz-calc(100% - 50px);
    overflow: auto;
}

#media-modal #media-list li {
    border: solid 1px #fff;
    cursor: pointer;
    list-style: none;
    display: inline-block;
    height: 120px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    vertical-align: top;
    width: 120px;
}

#media-modal #media-list li:hover {
    background: #f0f0f0;
    border: solid 1px #9ACCF7;
}

#media-modal #media-list li.selected {
    background: #DAEDF6;
    border: solid 1px #9ACCF7;
}

#media-list li img {
    max-width: 120px;
    max-height: 120px;
}

#media-modal div.filter {
    border-bottom: 1px solid #9ACCF7;
    border-top: 1px solid #9ACCF7;
    display: block;
    padding: 7px 15px;
}

#media-modal div.filter input[type="text"] {
    background: url("../img/icon.searchloupe.png") no-repeat scroll 7px center #FFFFFF;
    margin: 0 7px 0 0;
    padding-left: 33px;
    width: 300px;
}

.html-rtl #media-modal div.filter input[type="text"] {
    padding-left: 5px;
    padding-right: 33px;
}

#media-modal div.type {
    color: #929292;
    float: right;
    margin-top: .5em;
}

.html-rtl #media-modal div.type {
    float: left;
}

#media-modal div.type ol {
    float: left;
    list-style-type: none;
}

.html-rtl #media-modal div.type ol {
    float: right;
}

#media-modal div.type span {
    float: left;
}

.html-rtl #media-modal div.type span {
    float: right;
}

#media-modal div.type ol li {
    border-left: 2px solid #929292;
    color: rgb(0, 81, 185);
    cursor: pointer;
    float: left;
    font-weight: bold;
    padding: 0 .5em;
}

.html-rtl #media-modal div.type ol li {
    border: none;
    border-right: 2px solid #929292;
    float: right;
}

#media-modal div.type ol li.selected {
    color: #565656;
    cursor: default;
}

#media-modal div.type ol li:first-child {
    border: none;
}

#media-modal ol.pagination {
    margin: 7px 0;
    padding: 7px 0;
}

#media-modal div.submit {
    bottom: 15px;
    left: 15px;
    position: absolute;
}

.html-rtl #media-modal div.submit {
    left: auto;
    right: 15px;
}

/* Submit or cancel switches */
div.submit-or-cancel {
    padding: 1em 0;
}

div.submit-or-cancel input[type="submit"] {
    margin: 0 1em 0 0;
}

.html-rtl div.submit-or-cancel input[type="submit"] {
    margin: 0 0 0 1em;
}

/* Image markup styling */
div.img {
    margin: 3px;
}

div.img.align-left {
    float: left;
}

div.img.align-right {
    float: right;
}

div.img.center {
    text-align: center;
}

div.img-inner {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 3px;
}

div.img img {
    margin: 0 auto;
}

div.img-inner div.caption {
    color: #333;
    padding: 7px 0 4px;
    text-align: center;
}

div#main div.img a:hover {
    text-decoration: none;
}
/* End image markup styling */

/* jQueryUI styles */
a.ui-state-hover {
    border: none !important;
}
a.ui-dialog-titlebar-close {
    position: absolute;
    right: 2px;
    top: 2px;
}
.html-rtl a.ui-dialog-titlebar-close {
    left: 2px;
    right: auto;
}
#upload-dialog {
    text-align: left;
}
.html-rtl #upload-dialog {
    text-align: right;
}
ul.ui-autocomplete {
    /* jQuery sticks the menu right in the body, where it inherits text-align: center from the body. */
    text-align: left;
}
.html-rtl ul.ui-autocomplete {
    text-align: right;
}
/* END jQueryUI styles */

.input-placeholder {
    color: #9b9b9b;
}
.input-placeholder.placeholder-focused {
    color: #333;
}

/*----------------------------------
    Common button styles
----------------------------------*/

input[type="button"],
input[type="submit"]:not(.remover),  /* Exclude tag remover button. */
section.marky button,
a.btn,
button.btn {
    border: none;
    background: #5784BF;
    background: -moz-linear-gradient(#669BE1, #5784BF) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#669BE1), to(#5784BF));
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -3px rgba(0, 0, 0, 0.1) inset;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin: 0 15px 0 0;
    overflow: visible;
    padding: 5px 12px 7px;
    text-align: center;
    width: auto;
}

.html-rtl input[type="button"],
.html-rtl input[type="submit"]:not(.remover),  /* Exclude tag remover button. */
.html-rtl section.marky button,
.html-rtl a.btn,
.html-rtl button.btn {
    margin: 0 0 0 15px;
}

input[type="button"]:hover,
input[type="submit"]:not(.remover):hover,  /* Exclude tag remover button. */
section.marky button:hover,
a.btn:hover,
button.btn:hover {
    box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -3px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -3px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.1), 0 -3px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255, 255, 255, 0.2) inset;
    text-decoration: none;
}

input[type="submit"].btn-important,
a.btn-important {
    background: #489615;
    background: -moz-linear-gradient(#84C63C, #489615) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#84C63C), to(#489615));
    box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    font-size: 16px;
    padding: 8px 16px 12px;
}

/* buttons styled to look like links */
input[type="submit"].link-btn {
    background: none;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: rgb(0, 81, 185);
    cursor: pointer;
    font-weight: normal;
    padding: 0;
    text-align: left;
    white-space: normal;
}

input[type="submit"].link-btn:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    text-decoration: underline;
}

textarea[disabled],
input[disabled]:not(.remover) {
    background: #ddd;
    color: #888;
    cursor: default;
}

button.img-submit {
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
}

/* Used when we submit a form to prevent double submission. */
form.disabled input[type="submit"],
form.disabled input[type="image"],
form.disabled button {
    opacity: 0.5; /* dim submit buttons when form is disabled */
}

/*----------------------------------
    Image modal kbox
----------------------------------*/
#image-attachment-kbox img {
    max-width: 100%;
}

#image-attachment-kbox img.loading {
    background: transparent url(../img/wait-trans.gif) no-repeat center center;
    display: block;
    height: 32px;
    margin: auto;
    width: 32px;
}

/*----------------------------------
    Vote response message box
----------------------------------*/
div.ajax-vote-box {
    background: #32559b;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
    color: #fff;
    font-family: Georgia;
    font-size: 14px;
    left: 0;
    padding: 7px 20px;
    position: absolute;
    top: 0;
}

.html-rtl div.ajax-vote-box {
    left: auto;
    right: 0;
}

div.ajax-vote-box p {
    position: relative;
    z-index: 2;
}

div.ajax-vote-box:after {
    background: #32559b;
    box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
    content: '';
    display: block;
    height: 20px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    top: 20px;
    width: 20px;
    z-index: 1;
}

/* On marketplace pages, hide the Desktop | Mobile site nav */
body.marketplace #site-nav {
    display: none;
}

/* Override footer.css from moz header/footer lib */
#footer,
#footer li li a:link,
#footer li li a:visited {
    font-family: "Helvetica Neue", "Nimbus Sans L", Arial, sans-serif;
}

/* Reminders signup page for MozCamp */
body.reminder #main {
    background: none;
}
