article.message-list ol {
    list-style: none;
}

article.message-list li {
    background-position: 1px center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #eeeeee;
    height: 48px;
    padding: 3px 3px 3px 15px;
}

article.message-list li > a {
    display: block;
    height: 42px;
    padding-top: 6px;
}

article.message-list li:first-child {
    border-top: 1px solid #eeeeee;
}

article.message-list li.unread {
    background-color: #EFF9FF;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABSSURBVChTY3z/8z8DIcCIrGjyugdw9blBCnA2E5yFrAIoiMyFKkJTAdEJFwQpwqoCWR3COjyup64iZN+iWQqRglqHVR1cEOEmNHXIXJQQx+VBADueHcvXWTPwAAAAAElFTkSuQmCC);
}

article.message-list li.replied {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABRSURBVChTY/z//z8DIcCEpqB5xQNMLSiKsKoA6mGEW4dLRW2EAtQkXCogVoMU4VcBVQQ0EL//oNbhV4dwONxeTA0oQYDLPBSTcLkMPcSxqgMA/5QdFJd/yTgAAAAASUVORK5CYII=);
}

article.message-list span.avatar,
article.message-list span.user {
    display: block;
    float: left;
}

article.message-list span.avatar {
    padding-right: 5px;
    width: 48px;
}

article.message-list span.avatar img {
    border: none;
}

article.message-list span.user {
    color: #999;
    padding-top: 6px;
    width: 100px;
}

article.message-list span.user a {
    color: #666;
}

article.message-list span.user time {
    display: block;
    font-size: 80%;
}


section.actions {
    float: right;
    padding: 20px 30px 0 0;
}

article#new-message ul {
    list-style: none;
}

article#new-message li {
    margin: 0 0 10px;
}

article#new-message label {
    float: left;
    padding: 7px 0 0;
    width: 100px;
}

article#new-message input[type="text"],
article#new-message textarea {
    width: 600px;
}

article#new-message div.submit {
    padding-left: 100px;
}

article#new-message ul.errorlist {
    margin: 0 0 5px 100px;
}
