article.message-list ol {
    list-style: none;
}

article.message-list li {
    background-position: 1px center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #eeeeee;
    height: 48px;
    padding: 3px 3px 3px 15px;
    position: relative;
}

.html-rtl article.message-list li {
    padding: 3px 15px 3px 3px;
}

article.message-list a.read {
    display: block;
    height: 48px;
    margin: 0 35px 0 189px;
    overflow: hidden;
    padding-top: 1px;
}

.html-rtl article.message-list a.read {
    margin: 0 189px 0 35px;
}

article.message-list a.delete {
    border-radius: 2px;
    color: #ccc;
    font-size: 12px;
    padding: 0 2px;
    position: absolute;
    right: 10px;
    top: 20px;
}

.html-rtl article.message-list a.delete {
    left: 10px;
    right: auto;
}

article.message-list a.delete:hover {
    background: #447BC4;
    color: #fff;
    text-decoration: none;
}

article.message-list li:first-child {
    border-top: 1px solid #eeeeee;
}

article.message-list li:before {
    content: '';
    display: inline;
    float: left;
    height: 6px;
    width: 6px;
}

.html-rtl article.message-list li:before {
    float: right;
}

article.message-list li.unread {
    background-color: #E0F0FF;
    font-weight: bold;
}

article.message-list li.unread:before {
    background: #447BC4;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    left: -8px;
    padding: 0;
    position: relative;
    top: 20px;
}

.html-rtl article.message-list li.unread:before {
    left: auto;
    right: -8px;
}

article.message-list li.replied {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABRSURBVChTY/z//z8DIcCEpqB5xQNMLSiKsKoA6mGEW4dLRW2EAtQkXCogVoMU4VcBVQQ0EL//oNbhV4dwONxeTA0oQYDLPBSTcLkMPcSxqgMA/5QdFJd/yTgAAAAASUVORK5CYII=);
}

article.message-list span.avatar,
article.message-list span.user {
    display: block;
    float: left;
}

.html-rtl article.message-list span.avatar,
.html-rtl article.message-list span.user {
    float: right;
}

article.message-list span.avatar {
    padding: 0 5px 0 0;
    width: 48px;
}

.html-rtl article.message-list span.avatar {
    padding: 0 0 0 5px;
}

article.message-list span.avatar img {
    border: none;
}

article.message-list span.user {
    color: #999;
    padding-top: 1px;
    width: 130px;
}

article.message-list span.user a {
    color: #666;
    font-weight: bold;
}

.message-list input[type="checkbox"] {
    float: left;
    margin: 20px;
}

article.message-list span.user time {
    display: block;
    font-size: 80%;
}

section.actions {
    float: right;
    padding: 20px 30px 0 0;
}

.html-rtl section.actions {
    float: left;
    padding: 20px 0 0 30px;
}

#new-message ul {
    list-style: none;
}

#new-message li {
    margin: 0 0 10px;
}

#new-message label {
    float: left;
    padding: 7px 0 0;
    width: 100px;
}

.html-rtl #new-message label {
    float: right;
}

#new-message input[type="text"],
#new-message textarea {
    width: 600px;
}

#new-message div.submit {
    padding-left: 100px;
}

.html-rtl #new-message div.submit {
    padding-left: 0;
    padding-right: 100px;
}

#new-message ul.errorlist {
    margin: 0 0 5px 100px;
}

.html-rtl #new-message ul.errorlist {
    margin: 0 100px 5px 0;
}

.message-view span.avatar {
    float: left;
    padding: 0 5px 0 0;
}

.html-rtl .message-view span.avatar {
    float: right;
    padding: 0 0 0 5px;
}

.message-view span.from {
    display: block;
}

.message-view span.from a {
    font-weight: bold;
}

.message-view time {
    color: #999;
    font-size: 80%;
    margin: 0 0 0 10px;
}

.html-rtl .message-view time {
    margin: 0 10px 0 0;
}

.message-view div.message {
    margin-left: 53px;
    margin: 0 0 0 53px;
    min-height: 50px;
    padding: 10px 0;
}

.html-rtl .message-view div.message {
    margin: 0 53px 0 0;
}

.message-view form.reply {
    margin: 0 0 0 53px;
    width: 377px;
}

.html-rtl .message-view form.reply ,
.html-rtl .message-view div.message {
    margin: 0 53px 0 0;
}

.message-view form ul {
    list-style: none;
}

.message-view label {
    display: none;
}

.message-view form.reply textarea {
    height: 1.25em;
    margin-bottom: 5px;
    width: 350px;
}

.message-view form.reply textarea.focused {
    width: 600px;
}

#preview {
    margin: 25px 0;
}

#preview h1 {
    font-size: 18px;
    margin: 10px 0;
}

div.editor {
    float: left;
    padding: 0;
}

/* wiki syntax in messages */
div.message h1,
div.message h2,
div.message h3,
div.message h4,
div.message h5,
div.message h6 {
    margin: 0.5em 0;
    padding: 0;
}

div.message h1 {
    font-size: 210%;
}

div.message h2 {
    font-size: 180%;
}

div.message h3 {
    font-size: 145%;
}

div.message h4 {
    font-size: 115%;
}

div.message h5 {
    font-size: 95%;
}

div.message h6 {
    font-size: 85%;
}

div.message p {
    margin-bottom: 1em;
}

div.message ol,
div.message ul {
    margin-left: 1.5em;
}

div.message li {
    border: none;
    margin: 1em 0;
    padding: 0;
}

div.message li:nth-child(even) {
    background: none;
}

div.message dd {
    margin-left: 3em;
}

div.message blockquote {
    background-color: #e6eaec;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    margin: 1.5em;
    padding: 1em;
}

div.message pre {
    background-color: #e6eaec;
    margin: 1em 0;
    padding: 0.5em;
    white-space: pre-wrap;
}

div.message a:hover {
    text-decoration: underline;
}

.html-rtl article.message-view form.reply input[type=submit] {
    float: left;
}
article.message-list input[type=submit] {
    margin: 0 5px 15px 0;
}

.markup-toolbar-button.btn-quote {
    background-image: url(../img/icon.quote.png);
    background-position: 0 center;
}
