/**
 * Mobile SUMO styles
 */

body {
    font-family: Georgia,freeserif,serif;
}

strong {
    font-weight: bold;
}

/************************************/
/*              HEADER              */
/************************************/
.moz-menu .tab a {
    background: url(../img/mobile/wordmark.png) no-repeat 8px 6px;
}

.listview li > a:before,
a.listview:before {
    background: url(../img/mobile/arrow.svg) no-repeat center;
}

.listview li.search {
    padding: 5px;
}

.listview #search {
    margin: 0;
}

.site-title a {
    text-transform: none;
}

.site-title a {
    font-size: 30px;
    line-height: 30px;
}

.mini-header .site-title a {
    font-size: 18px;
    line-height: 20px;
}

.site-title a span {
    display: block;
    font-size: 80%;
    font-style: italic;
}

body.desktop #home-header h1 {
    padding-top: 20px;
}

/*************************************/
/*              Content              */
/*************************************/
#content h2 {
    margin-top: 28px;
}

#content h1 {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 14px;
    margin-left: 14px;
    margin-right: 14px;
}

.listview .icon {
    height: 32px;
    width: 32px;
}

.listview .item > a {
    line-height: 32px;
}

#search input[type="search"] {
    font-size: 18px;
    padding-left: 14px;
}


article {
    margin: 14px;
}

article p {
    margin: 14px 0;
}

/*************************************/
/*  Landing Page - Common Questions  */
/*************************************/
.common-questions ul {
    font-size: 18px;
    margin: 0 14px;
}

.common-questions li {
    margin: 0 0 10px;
    padding: 0 10px;
}

/*************************************/
/*            Help With              */
/*************************************/
#support-for {
    margin: 28px 14px 14px;
}

#support-for h1 {
    font-size: 1.2em;
    font-style: italic;
    margin: 0 0 14px;
}

#support-for select {
    border-radius: 6px;
    display: block;
    height: 30px;
    margin: 4px 0 14px;
    width: 100%;
}

/*************************************/
/*          Search Results           */
/*************************************/
.search-count {
    margin: 0 14px;
}

.search-results {
    border-bottom: solid 1px #d3d3d3;
    margin: 14px 14px 21px;
    padding: 0 0 7px;
    font-size: 18px;
}

.search-results li {
    background: transparent no-repeat 0 5px;
    padding: 5px 0 15px 35px;
}

.search-results li.document {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAXCAIAAACatshHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANlJREFUeNrsVbkKhDAUTMwWGjyws/X//yaNprKwE6sgguKxA0LYwviUTekUITyGyTuSCd+2jZ2Bc273wzAopeZ5ZhQ+JKPv+6qqpJRhGEZRhPWUZoxZ15WQa9u2aZokSY5k8zwviuKUWdf1ldy+71prpJamqQ0uy+Li47xpmpxyaNY4jnEcs3vA8QFwwUCn2EM4sxNCoLSyLG0ky7J/J4vG/d4YEgHzilfulSNemE85e9W9FQt38il3JOh5FIQFdF33qFhCDoZ8Uw5GC/fkrp8MVmzHfx9fAQYAUppUTJzTg5AAAAAASUVORK5CYII=);
}

.search-results li.question {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAWCAIAAABYAbuYAAAB8ElEQVQ4y6WV55aCUAyEff9Xcu29Yu+9dz1r7/uteIBFQGTnhwevZJLMnUTb3RzO5/NgMMhkMj6f7+sBu93udDpjsVi1Wt1sNq8htrek1+u11Wp5PB6v1xsOhxOJRDKZFB7gORqN+v1+h8PB83a7/YD6eDyKwUQKhohEIi6XazgcmqX+fmC9Xi+Xy9FoVK/X0+m0Hjvd0By6GVGjXbfbLRaL+Xw+l8uVy2U0gR1xLpfLdDrlUC8BLe52OzX17XYjJ4KiHcoGg0Ge6TQUChHgdrtpmTSHw4EEnU5Hr3be+UNNKmSFkUvXqwjFyUeCXq9HyHg81ntNpkYBXAW1YALUxcu1Wo3AdrutSY0Av9R0R8tvPfCqKRdLLGZX/cTJs+pGoxGPx4XPQUFU9yq6rLU1XrHxyWSCYVTn8/n8l5qOLFMDTLlYLJQnlUrl6evT6ST8A1DjV+lrqVRi28gjY+D/t+AmKVNKI/E+qTUNZAapVArXMlOSvur1xA4y2AwGYHCYfnERMhP7/V5j83EVlPARLw5jpRCLSYjFLYFAQMkuDzrs5mtnFLGWckn0+332YrPZ1F6qKMP4GJNy57PZzMwfk3rzUY5ko0KhIPbB4LJgmbrVasU7Jv/zbEpeKNiiYr/K87slyNTZbBZePhkBy3RK/ACuNM56z5hKNwAAAABJRU5ErkJggg==);
}

.search-results li a {
    display: block;
}

.search-results p a {
    color: #6d7581;
    font-size: 14px;
    line-height: 18px;
}


/*************************************/
/*          Wiki Documents           */
/*************************************/
#wiki-doc h1 {
    border-bottom: 1px solid #ddd;
    margin-left: 0;
    padding-bottom: 3px;
}

#doc-content {
    font-size: 16px;
}

#doc-content h1,
#doc-content h2,
#doc-content h3,
#doc-content h4,
#doc-content h5,
#doc-content h6 {
    margin-top: 14px;
}
#doc-content p,
#doc-content ul,
#doc-content ol,
#doc-content dl,
#doc-content div.note,
#doc-content div.warning {
    margin-bottom: 14px;
    margin-top: 14px;
}
#doc-content ul {
    list-style: disc;
}
#doc-content ol {
    list-style: decimal;
}

#toc ul ul {
    display: none;  /* Only show one level of TOC */
}

#doc-contributors {
    border-top: 1px solid #ddd;
    color: #aaa;
    font-style: italic;
    padding-top: 14px;
    margin-top: 14px;
}
#doc-contributors a {
    color: #aaa;
}

#helpful-vote {
    margin: 28px 14px;
}

#related ul {
    margin-left: 28px;
}
#related ul li {
    padding: 7px 0;
}

#more-help #search {
    margin-bottom: 7px;
}
#more-help #search input[type=search] {
    margin: 7px 5px 0 7px;
    width: auto;
}
#more-help #search button {
    height: 30px;
    margin: 7px 7px 0;
}

#related-articles {
    margin: 28px 0 0;
}

#related-articles h1 {
    border: none;
}

#related-articles li {
    font-size: 18px;
    margin: 0 0 10px;
    padding: 0 10px;
}


/*************************************/
/*          Article Voting           */
/*************************************/
#helpful-vote {
    color: #4b473f;
    font-size: 16px;
    margin: 21px 14px;
    padding: 10px 0;
}

#helpful-vote span {
    display: block;
    font-style: italic;
    margin: 0 0 10px;
}

#helpful-vote input {
    background: #cde6f5;
    border: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #3862a9;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px 0 0;
    padding: 7px 14px;
}

#helpful-vote input[disabled] {
    background: #ddd;
    color: #888;
    cursor: default;
}

#helpful-vote input.active {
    background: #32559b;
    color: #fff;
}

#helpful-vote img.wait {
    display: none;
}

#helpful-vote form.busy img.wait {
    display: inline;
    margin: 0 0 0 15px;
    position: relative;
    top: 3px;
}

#helpful-vote .message-box {
    background: #32559b;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
    color: #fff;
    margin: 14px 0 0;
    padding: 14px 21px;
    position: relative;
}

#helpful-vote .message-box p {
    position: relative;
    z-index: 2;
}

#helpful-vote .message-box:after {
    background: #32559b;
    content: '';
    display: block;
    height: 20px;
    left: 20px;
    position: absolute;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    top: -9px;
    width: 20px;
    z-index: 1;
}

#helpful-vote .No div.message-box:after {
    left: 90px;
}
