/**
 * Mobile SUMO styles
 */

body {
    font-family: Georgia,freeserif,serif;
}

strong {
    font-weight: bold;
}

/************************************/
/*              HEADER              */
/************************************/
.moz-menu .tab a {
    background: url(../img/mobile/wordmark.png) no-repeat 8px 6px;
}

.listview li > a:before,
a.listview:before {
    background: url(../img/mobile/arrow.svg) no-repeat center;
}

.listview li.search {
    padding: 5px;
}

.listview #search {
    margin: 0;
}

.site-title a {
    text-transform: none;
}

.site-title a {
    font-size: 30px;
    line-height: 30px;
}

.mini-header .site-title a {
    font-size: 18px;
    line-height: 20px;
}

.site-title a span {
    display: block;
    font-size: 80%;
    font-style: italic;
}

body.desktop #home-header h1 {
    padding-top: 20px;
}

/*************************************/
/*         Other Products            */
/*************************************/
.listview.products li {
    padding-left: 10px;
}

.listview.products li a {
    padding-left: 45px;
}

.listview.products li a.sync-icon {
    background-position: 0 -294px;
}

/*************************************/
/*              Content              */
/*************************************/
#content h2 {
    line-height: 24px;
    margin-top: 28px;
}

#content h1 {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 14px;
    margin-left: 14px;
    margin-right: 14px;
}

#content h1.title {
    border-bottom: 1px solid #ddd;
    font-style: normal;
    font-size: 150%;
    padding: 0 0 5px;
}

.listview .icon {
    height: 32px;
    width: 32px;
}

.listview .item > a {
    line-height: 32px;
}

#search input[type="search"] {
    font-size: 18px;
    padding-left: 14px;
}


article {
    margin: 14px;
}

article p {
    margin: 14px 0;
}

/*************************************/
/*    Landing Page - Top content     */
/*************************************/
#home-content {
    margin: 21px 14px 0;
}

/*************************************/
/*  Landing Page - Common Questions  */
/*************************************/
.common-questions ul {
    font-size: 18px;
    margin: 0 14px;
}

.common-questions li {
    margin: 0 0 10px;
    padding: 0 10px;
}

/*************************************/
/*            Help With              */
/*************************************/
#support-for {
    margin: 28px 14px 14px;
}

#support-for h1 {
    font-size: 1.2em;
    font-style: italic;
    margin: 0 0 14px;
}

#support-for select {
    border-radius: 6px;
    display: block;
    height: 30px;
    margin: 4px 0 14px;
    width: 100%;
}

/*************************************/
/*          Search Results           */
/*************************************/
.search-count {
    margin: 0 14px;
}

.search-results {
    border-bottom: solid 1px #d3d3d3;
    margin: 14px 14px 21px;
    padding: 0 0 7px;
    font-size: 18px;
}

.search-results li {
    background: transparent no-repeat 0 5px;
    padding: 5px 0 15px 35px;
}

.search-results li.document {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAXCAIAAACatshHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANlJREFUeNrsVbkKhDAUTMwWGjyws/X//yaNprKwE6sgguKxA0LYwviUTekUITyGyTuSCd+2jZ2Bc273wzAopeZ5ZhQ+JKPv+6qqpJRhGEZRhPWUZoxZ15WQa9u2aZokSY5k8zwviuKUWdf1ldy+71prpJamqQ0uy+Li47xpmpxyaNY4jnEcs3vA8QFwwUCn2EM4sxNCoLSyLG0ky7J/J4vG/d4YEgHzilfulSNemE85e9W9FQt38il3JOh5FIQFdF33qFhCDoZ8Uw5GC/fkrp8MVmzHfx9fAQYAUppUTJzTg5AAAAAASUVORK5CYII=);
}

.search-results li.question {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAWCAIAAABYAbuYAAAB8ElEQVQ4y6WV55aCUAyEff9Xcu29Yu+9dz1r7/uteIBFQGTnhwevZJLMnUTb3RzO5/NgMMhkMj6f7+sBu93udDpjsVi1Wt1sNq8htrek1+u11Wp5PB6v1xsOhxOJRDKZFB7gORqN+v1+h8PB83a7/YD6eDyKwUQKhohEIi6XazgcmqX+fmC9Xi+Xy9FoVK/X0+m0Hjvd0By6GVGjXbfbLRaL+Xw+l8uVy2U0gR1xLpfLdDrlUC8BLe52OzX17XYjJ4KiHcoGg0Ge6TQUChHgdrtpmTSHw4EEnU5Hr3be+UNNKmSFkUvXqwjFyUeCXq9HyHg81ntNpkYBXAW1YALUxcu1Wo3AdrutSY0Av9R0R8tvPfCqKRdLLGZX/cTJs+pGoxGPx4XPQUFU9yq6rLU1XrHxyWSCYVTn8/n8l5qOLFMDTLlYLJQnlUrl6evT6ST8A1DjV+lrqVRi28gjY+D/t+AmKVNKI/E+qTUNZAapVArXMlOSvur1xA4y2AwGYHCYfnERMhP7/V5j83EVlPARLw5jpRCLSYjFLYFAQMkuDzrs5mtnFLGWckn0+332YrPZ1F6qKMP4GJNy57PZzMwfk3rzUY5ko0KhIPbB4LJgmbrVasU7Jv/zbEpeKNiiYr/K87slyNTZbBZePhkBy3RK/ACuNM56z5hKNwAAAABJRU5ErkJggg==);
}

.search-results li a {
    display: block;
}

.search-results p a,
.search-results p {
    color: #6d7581;
    font-size: 14px;
    line-height: 18px;
}


/*************************************/
/*          Wiki Documents           */
/*************************************/
#wiki-doc h1 {
    border-bottom: 1px solid #ddd;
    font-style: normal;
    margin-left: 0;
    padding-bottom: 3px;
}

#doc-content {
    font-size: 16px;
}

#doc-content h1,
#doc-content h2,
#doc-content h3,
#doc-content h4,
#doc-content h5,
#doc-content h6 {
    font-style: normal;
    margin-top: 14px;
}
#doc-content p,
#doc-content ul,
#doc-content ol,
#doc-content dl,
#doc-content div.note,
#doc-content div.warning {
    margin-bottom: 14px;
    margin-top: 14px;
}
#doc-content ul {
    list-style: disc;
}
#doc-content ol {
    list-style: decimal;
}

/***** Table of Contents ******/
#doc-content #toc ul ul {
    display: none;  /* Only show one level of TOC */
}
#toc,
.slidebox {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #f2f7fc;
    background-image: -moz-linear-gradient(#fff, rgba(255,255,255,0) 12px);
    border: 1px solid #98b1de;
    -moz-box-shadow: 0 -3px #d0e1f8 inset;
    -webkit-box-shadow: 0 -3px #d0e1f8 inset;
    margin: 14px 0;
}
#toc,
#toc a,
.slidebox .slide,
.slidebox a {
    color: #3c65bb;
}
#toc li {
    border-top: 1px solid #ccc;
    margin: 0;
}
#toc li a {
    padding: 14px 10px;
    font-family: Georgia, freeserif, serif;
    font-size: 1.1em;
    display: block;
    overflow: hidden;
    text-decoration: none;
    position: relative;
}
#doc-content #toc h2,
.slidebox .slide {
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    margin: 0;
    -moz-user-select: none;
}
#toc h2:before {
    content: ' ';
    display: inline-block;
    float: left;
    height: 50px;
    line-height: 50px;
    background: url("../img/markup.png") no-repeat -352px 50%;
    width: 34px;
}
#toc h2:after,
.slidebox .slide:after {
    content: '+';
    display: block;
    float: right;
    height: 50px;
    line-height: 50px;
    margin-right: 14px;
}
.js #toc h2.expand:after,
.no-js #toc h2:after,
.slidebox .slide.expand:after,
.no-js .slidebox .slide:after {
    content: '-';
}
#doc-content #toc ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.js #toc ul {
    display: none;
}
#toc .tocnumber {
    display: none;
    -moz-user-select: none;
}

#doc-contributors {
    border-top: 1px solid #ddd;
    color: #aaa;
    font-style: italic;
    padding-top: 14px;
    margin-top: 14px;
}
#doc-contributors a {
    color: #aaa;
}

#helpful-vote {
    margin: 28px 14px;
}

#related ul {
    margin-left: 28px;
}
#related ul li {
    padding: 7px 0;
}

#more-help #search {
    margin-bottom: 7px;
}
#more-help #search input[type=search] {
    margin: 7px 5px 0 7px;
    width: auto;
}
#more-help #search button {
    height: 30px;
    margin: 7px 7px 0;
}

#related-articles {
    margin: 28px 0 0;
}

#related-articles h1 {
    border: none;
}

#related-articles li {
    font-size: 18px;
    margin: 0 0 10px;
    padding: 0 10px;
}


/*************************************/
/*          Article Voting           */
/*************************************/
#helpful-vote {
    color: #4b473f;
    font-size: 16px;
    margin: 21px 14px;
    padding: 10px 0;
}

#helpful-vote span {
    display: block;
    font-style: italic;
    margin: 0 0 10px;
}

#helpful-vote input {
    background: #cde6f5;
    border: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #3862a9;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px 0 0;
    padding: 7px 14px;
}

#helpful-vote input[disabled] {
    background: #ddd;
    color: #888;
    cursor: default;
}

#helpful-vote input.active {
    background: #32559b;
    color: #fff;
}

#helpful-vote img.wait {
    display: none;
}

#helpful-vote form.busy img.wait {
    display: inline;
    margin: 0 0 0 15px;
    position: relative;
    top: 3px;
}

#helpful-vote .ajax-vote-box {
    background: #32559b;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
    color: #fff;
    margin: 14px 0 0;
    padding: 14px 21px;
    position: relative;
}

#helpful-vote .ajax-vote-box p {
    position: relative;
    z-index: 2;
}

#helpful-vote .ajax-vote-box:after {
    background: #32559b;
    content: '';
    display: block;
    height: 20px;
    left: 20px;
    position: absolute;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    top: -9px;
    width: 20px;
    z-index: 1;
}

#helpful-vote .No div.ajax-vote-box:after {
    left: 90px;
}


/**************************/
/*          AAQ           */
/**************************/
body.aaq #content h2 {
    font-style: normal;
    margin: 0 14px;
    margin-top: 14px;
}

body.aaq #content em {
    font-style: italic;
}

body.aaq #content h3 {
    margin: 0;
}

body.aaq #content p,
body.aaq #question-form h3 {
    color: #666;
    margin-top: 7px;
}

#content #question-form h2 {
    margin-left: 0;
}

#question-form ol {
    margin-top: 14px;
}

.select-one {
    border: none;
    margin: 14px;
    padding: 0 0 0 10px;
}

.select-one li {
    padding: 7px 0;
}

.select-one li a:link,
.select-one li a:visited {
    color: #457bc4;
    font-size: 18px;
}

.select-one span {
    color: #6d7581;
    display: block;
    font-size: 14px;
    margin: 3px 0 0;
}

.select-one li p {
    margin: 7px 0 0;
}

.select-one.products li {
    padding-left: 45px;
}

.selections {
    border-top: solid 1px #ddd;
    margin: 14px;
    padding: 14px 10px;
}

.selected {
    margin: 0 0 14px;
}

.selected {
    margin: 0 0 14px;
    position: relative;
}

.selected label {
    color: #555;
    display: block;
    font-size: 18px;
    line-height: 20px;
    padding: 0 0 3px;
}

.selected span {
    color: #6d7581;
    display: block;
    font-size: 16px;
    padding: 0 75px 0 0;
}

.selected a:link,
.selected a:visited {
    color: #457bc4;
    font-style: italic;
    position: absolute;
    right: 10px;
    top: 15px;
}

.selected span {
    color: #666;
}

.selected a {
    float: right;
    font-style: italic;
    margin-right: 14px;
}

form.aaq {
    margin: 14px;
}

body.aaq #content .selections form.aaq {
    margin: 0;
    padding: 0;
}

#content #ask-search-form input[type="submit"] {
    margin: 14px 0;
}

body.aaq #content input[type="submit"] {
    background-image: -moz-linear-gradient(#83c53c, #4f9c19);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#83c53c), to(#4f9c19));
    border: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 -3px rgba(0,0,0,.1) inset;
    -moz-box-shadow: 0 -3px rgba(0,0,0,.1) inset;
    color: #fff;
    font-size: 150%;
    font-family: Georgia, freeserif, serif;
    min-height: 54px;
    height: auto;
    margin: 7px 0;
    padding: 10px 0;
    vertical-align: middle;
    width: 100%;
    white-space: normal;  /* Some buttons are too long for one line */
}

body.aaq #content form li {
    padding: 7px 0;
}

body.aaq #content form label {
    color: #666;
    display: block;
    margin-bottom: 7px;
}

body.aaq #content form textarea,
body.aaq #content form input[type="text"],
body.aaq #content form input[type="email"],
body.aaq #content form input[type="password"] {
    border: 1px solid #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    padding: 2px;
    width: 99%;
}
body.aaq #content form input[type="text"],
body.aaq #content form input[type="email"],
body.aaq #content form input[type="password"] {
    height: 28px;
}

body.aaq.logreg #content h3 {
    font-size: 20px;
    margin: 0;
    padding-left: 14px;
}

body.aaq #content .slide.expand {
    border-bottom: 1px solid #ccc;
}

body.aaq #content form {
    padding: 7px 14px 0;
}

/* Login/register styling */
body.aaq #content #register_form div.submit input {
    margin-bottom: 14px;
}
.slidebox {
    margin: 14px auto;
    width: 290px;
}
.js .slidebox form,
.js .slidebox .errorlist,
.js .slidebox #login-help {
    display: none;
}

.slidebox.errors form,
.slidebox.errors .errorlist,
.slidebox.errors #login-help, {
    display: block;
}

#login-help {
    margin: 7px 14px 14px;
}

/* Errorlist on mobile login/registration */
body.aaq ul.errorlist {
    color: #f00;
    list-style: disc;
    margin: 20px;
}
body.aaq ul.errorlist a {
    color: #f00;
    text-decoration: underline;
}
body.aaq ul.errorlist li {
    margin: 7px;
}

/* Confirm email styling */
body.confirm-email #content strong {
    display: block;
    text-align: center;
}

/*************************************/
/*          Product Icons            */
/*************************************/
.desktop-icon,
.beta-icon,
.mobile-icon {
    background: transparent url(../img/logos.sprite.png) no-repeat 0 6px;
}

.home-icon {
    background: transparent url(../img/logos.sprite.png) no-repeat 0 -142px;
}

.sync-icon {
    background: transparent url(../img/logos.sprite.png) no-repeat 0 -298px;
}

.other-icon {
    background: transparent url(../img/logos.sprite.png) no-repeat 0 -442px;
}
