div.thread-meta {
    margin-right: 140px;
    padding: 10px 15px;
}

div.thread-meta span {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0 10px;
}

div.thread-meta span:first-child {
    padding-left: 0;
}

div.thread-meta span.solved {
    color: #00cc1a;
    font-weight: bold;
}

div.thread-meta span.locked{
    font-weight: bold;
}

div.thread-meta span.contributed {
    color: #ff0000;
    font-weight: bold;
}

div.thread-meta ul.tag-list {
    display: inline;
    line-height: 17px;
    padding: 0 10px;
}

div.thread-meta ul.tag-list a {
    color: inherit;
}

.thread-meta span:last-child {
    border-right: none;
}
