.result .title {
    background: transparent url(../img/search/icons.png) no-repeat left -45px;
    display: block;
    font-size: 130%;
    padding: 0 0 5px 50px;
}

.result p {
    padding: 0 0 0 50px;
}

.result p a {
    color: #000;
    display: block;
    line-height: 140%;
}

.result {
    margin-bottom: 15px;
}

.result:hover a {
    text-decoration: underline;
}

.result:hover p a {
    text-decoration: none;
}

.document .title {
    background-position: 5px -97px;
}

.document:hover .title {
    background-position: 5px -397px;
}

.question .title {
    background-position: 5px 3px;
}

.question:hover .title {
    background-position: 5px -297px;
}

.thread .title {
    background-position: 5px -197px;
}

.thread:hover .title {
    background-position: 5px -497px;
}

.search-query {
    border: 1px solid #E16601;
    width: 270px;
    margin-right: 5px;
}
.btn-large {
    text-transform: none;
}

div.num-results {
    clear: left;
}

div.search-count {
    font-size: 120%;
    padding: 0.2em 0 1em;
}

/* Bug 527859 - Add search form to top and bottom of results */
div.search-refine {
    margin: .5em 0;
}

input.search-refine-query {
    padding: 4px 2px 2px;
}

input.search-refine-submit {
    text-transform: none;
    padding: 2px 4px;
}
input.search-refine-submit:hover {
    background-color: #f90;
}
/* END Bug 527859 */
