.result .title {
    background: transparent url(../img/search/icons.png) no-repeat left -45px;
    display: block;
    font-size: 130%;
    padding: 0 0 5px 50px;
}

.html-rtl .result .title {
    background-position: right -45px;
    padding: 0 50px 5px 0;
}

.result p {
    padding: 0 0 0 50px;
}

.html-rtl .result p {
    padding: 0 50px 0 0;
}

.result p a {
    color: #000;
    display: block;
    line-height: 140%;
}

.result {
    margin-bottom: 15px;
}

.result:hover a {
    text-decoration: underline;
}

.result:hover p a {
    text-decoration: none;
}

.document .title {
    background-position: 5px -97px;
}

.html-rtl .document .title {
    background-position: right -97px;
}

.document:hover .title {
    background-position: 5px -397px;
}

.html-rtl .document:hover .title {
    background-position: right -397px;
}

.question .title {
    background-position: 5px 3px;
}

.html-rtl .question .title {
    background-position: right 3px;
}

.question:hover .title {
    background-position: 5px -297px;
}

.html-rtl .question:hover .title {
    background-position: right -297px;
}

.thread .title {
    background-position: 5px -197px;
}

.html-rtl .thread .title {
    background-position: right -197px;
}

.thread:hover .title {
    background-position: 5px -497px;
}

.html-rtl .thread:hover .title {
    background-position: right -497px;
}

.search-query {
    border: 1px solid #E16601;
    width: 270px;
    margin: 0 5px 0 0;
}

.html-rtl .search-query {
    margin: 0 0 0 5px;
}

.btn-large {
    text-transform: none;
}

div.num-results {
    clear: left;
}

.html-rtl div.num-results {
    clear: right;
}

div.search-count {
    font-size: 120%;
    padding: 0.2em 0 1em;
}

/* Bug 527859 - Add search form to top and bottom of results */
div.search-refine {
    margin: .5em 0;
}

input.search-refine-query {
    padding: 4px 2px 2px;
}

input.search-refine-submit {
    text-transform: none;
    padding: 2px 4px;
}
input.search-refine-submit:hover {
    background-color: #f90;
}
/* END Bug 527859 */

/* High-specificity selector to fix question meta padding. */
article#search-results div.thread-meta {
    padding-left: 50px;
}
