/*
 * (Editable) user list styles
 */

ul.users {
    list-style: none;
}

ul.users li {
    padding: 5px 0;
    vertical-align: top;
}

ul.users div.avatar {
    display: inline-block;
    margin: 0 10px 0 0;
    height: 48px;
    width: 48px;
}

.html-rtl {
    margin: 0 0 0 10px;
}

ul.users div.avatar img {
    height: 48px;
    width: 48px;
}

ul.users div.info {
    display: inline-block;
    min-height: 45px;
    padding: 3px 0 0;
    vertical-align: top;
    min-width: 220px;
}

ul.users p.pm {
    font-size: 11px;
    margin: 5px 0 0;
}

ul.users div.remove {
    padding: 3px 0 0;
    vertical-align: top;
}

.edit-on ul.users div.remove {
    display: inline-block;
}

ul.users div.remove a {
    border-radius: 2px;
    color: #ccc;
}

ul.users div.remove a:hover {
    background: #447BC4;
    color: #fff;
    text-decoration: none;
}

input.user-autocomplete {
    width: 240px;
}

.editable .edit-mode {
    display: none;
}

.edit-on .edit-mode {
    display: block;
}

.editable a.edit {
    background: transparent url(../img/icons.actions.png) no-repeat left -25px;
    float: right;
    padding: 0 0 0 18px;
}

.html-rtl .editable a.edit {
    float: left;
    padding: 0 18px 0 0;
}
