/*
 * Users app CSS
 */

/* common form styles for users app */
article.main ul.questions {
    margin-left: 20px;
}

.html-rtl article.main ul.questions {
    margin-left: 0;
    margin-right: 20px;
}

article.main ul.questions li {
    margin: .3em 0;
}

article.main form {
    margin: 25px 0;
}

article.main p.instruct {
    margin: 0 0 15px;
}

article.main form li {
    list-style: none;
    padding: 8px 0;
}

article.main form label {
    display: inline-block;
    padding: 0 5px 0 0;
    text-align: right;
    vertical-align: top;
    width: 180px;
}

.html-rtl article.main form label {
    padding: 0 0 0 5px;
    text-align: left;
}

article.main form li input {
    margin-top: -8px;
    width: 200px;
}

article.main form li input[type="checkbox"] {
    width: auto;
}

article.main form li img {
    max-width: 100%;
}

article.main form div.val-wrap {
    display: inline-block;
    width: 350px;
}

article.main form div.val-wrap input {
    display: block;
}

article.main form textarea {
    margin-top: -8px;
    width: 325px;
}

article.main form li ul.errorlist {
    margin: 0;
    padding: 0 0 0 140px;
}

.html-rtl article.main form li ul.errorlist {
    padding: 0 140px 0 0;
}

article.main form li ul.errorlist li {
    margin: 0;
    padding: 0 0 2px;
}

article.main div.submit {
    padding: 10px 0 0 188px;
}

.html-rtl article.main div.submit {
    padding: 10px 188px 0 0;
}

/* login page help */
#login-help li {
    list-style: none;
    padding: 2px 0;
}

/* edit profile view */
#edit-profile-avatar a {
    padding: 0 0 0 .5em;
}

.html-rtl #edit-profile-avatar a {
    padding: 0 .5em 0 0;
}

#edit-profile-avatar ul {
    display: inline-block;
    margin: 0 0 0 .5em;
}

.html-rtl #edit-profile-avatar ul {
    margin: 0 .5em 0 0;
}

/* edit avatar view */
#id_avatar,
#change-avatar div.val-wrap {
    margin-right: 10px;
    width: auto;
    line-height: 35px;
}

.html-rtl #id_avatar,
.html-rtl #change-avatar div.val-wrap {
    margin-left: 10px;
    margin-right: 0;
}

/* profile view */
#profile h2 {
    color: #808080;
    font-size: 16px;
}

#profile h1 em {
    color: #999;
    font-style: normal;
}

#main-area {
    margin: 0 0 0 65px;
}

.html-rtl #main-area {
    margin: 0 65px 0 0;
}

section#avatar-area {
    float: left;
    text-align: center;
    width: 48px;
}

.html-rtl section#avatar-area {
    float: right;
}

#contributions-box ul {
    padding-left: 25px;
}

#contact-box {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #D9EEF9;
    margin: 1em 0 1.5em;
    padding: 1em;
}

#contact-box ul {
    list-style-type: none;
}

#contact-box label {
    display: inline-block;
    width: 7em;
}

#main-area h2 {
    min-height: 20px;
    width: 100%;
}

#bio {
    float: left;
    width: 60%;
}

.html-rtl #bio {
    float: right;
}

#groups {
    float: left;
    margin: 0 0 0 5%;
    width: 35%;
}

.html-rtl #groups {
    float: right;
    margin: 0 5% 0 0;
}

#groups ul {
    list-style: none;
}

#admin-actions a.edit {
    background: transparent url(../img/icons.actions.png) no-repeat left -25px;
    float: right;
    padding: 0 0 0 18px;
}

.html-rtl #admin-actions a.edit {
    background-position: right -25px;
    float: left;
    padding: 0 18px 0 0;
}

body.register p,
#profile p,
#groups ul {
    margin: 0.25em 0 1em;
}

#flag {
    float: right;
}

.html-rtl #flag {
    float: left;
}

#flag form {
    margin: 0px;
}

/* delete avatar */
#avatar-delete .form-actions {
    margin: 1em 0;
}

#avatar-delete .form-actions input {
    margin-left: 1em;
}

.html-rtl #avatar-delete .form-actions input {
    margin-right: 1em;
}

#avatar-delete h1 {
    margin-bottom: 1em;
}

#avatar-preview {
    text-align: center;
}

#edit-settings form label {
    clear: left;
    float: left;
    margin-bottom: 14px;
    width: 300px;
}

.html-rtl #edit-settings form label {
    clear: right;
    float: right;
}

#edit-settings form input[type=checkbox] {
    display: block;
    float: left;
}

.html-rtl #edit-settings form input[type=checkbox] {
    float: right;
}

#pw-reset .warning {
    background: #fef0a7 url(../img/wiki/bkg.warning.png) repeat-y left top;
    color: #666458;
    margin: 1em 0;
    padding: .5em 1em .5em 2em;
    overflow: hidden;
}
