/* User autocomplete styles */
.autocomplete-w1 {
    left: 0px;
    margin: 8px 0 0 6px;
    position: absolute;
    top: 0px;
}

.autocomplete {
    background: #fff;
    border: 1px solid #bbb;
    box-shadow: 2px 2px 4px rgba(0,0,0,.25), inset -1px -1px 1px rgba(0,0,0,.125), inset 1px 0 1px rgba(255,255,255,.25);
    -moz-box-shadow: 2px 2px 4px rgba(0,0,0,.25), inset -1px -1px 1px rgba(0,0,0,.125), inset 1px 0 1px rgba(255,255,255,.25);
    -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.25), inset -1px -1px 1px rgba(0,0,0,.125), inset 1px 0 1px rgba(255,255,255,.25);
    cursor: default;
    font-size: 15px;
    margin: -6px 6px 6px -6px;
    max-height: 350px;
    overflow: auto;
    text-align:left;
}

.autocomplete .selected {
    background: #f0f0f0;
}

.autocomplete div {
    padding: 2px 5px;
    white-space: nowrap;
}

.autocomplete strong {
    color: #3399ff;
    font-weight: normal;
}
