/*
 * Knowledge Base CSS
 */

#doc-tabs {
    display: none;
}

.show-editing-tools #doc-tabs {
    display: block;
}

/* Document view */
#wiki-doc > h1 {
    margin-bottom: 5px;
}

#redirected-from {
    margin-bottom: 10px;
}

#related-articles {
    background-color: #fff;
    float: right;
    font-size: 13px;
    padding: 0 1px 0 0;
    width: 249px;
}

.html-rtl #related-articles {
    float: left;
}

#toc {
    font-size: 13px;
    margin: 0 0 25px -50px;
}

.html-rtl #toc {
    margin: 0 -50px 25px 0;
}

#related-articles h1,
article #toc h1,
article #toc h2 {
    color: #333;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 0;
    padding: 0 0 5px 50px;
}

.html-rtl #related-articles h1,
.html-rtl article #toc h1,
.html-rtl article #toc h2 {
    padding: 0 50px 5px 0;
}

#related-articles li {
    background: transparent url(../img/wiki/list.divider.png) no-repeat left bottom;
    list-style: none;
    padding: 10px 0 10px 50px;
}

.html-rtl #related-articles li {
    background-position: right bottom;
    padding: 10px 50px 10px 0;
}

#related-articles li:last-child {
    background: none;
}

html.no-js .hide-if-no-js {
    display: none;
}

article #toc ol li {
    list-style-type: none;
}

article #toc ol li,
article #toc ul li {
    background: transparent url(../img/wiki/list.divider.png) no-repeat left bottom;
    list-style-position: inside;
    padding: 5px 0 5px 50px;
}

.html-rtl article #toc ol li,
.html-rtl article #toc ul li {
    background-position: right bottom;
    padding: 5px 50px 5px 0;
}

article #toc ol li:first-child,
article #toc ul li:first-child {
    padding-top: 0;
}

#wiki-doc #toc ol,
#wiki-doc #toc ul {
    margin: 0;
}

article #toc ul li {
    list-style: none;
    margin: 0;
}

#wiki-doc #toc li ol,
#wiki-doc #toc li ul {
    margin: 0 0 0 20px;
}

.html-rtl #wiki-doc #toc li ol,
.html-rtl #wiki-doc #toc li ul {
    margin: 0 20px 0 0;
}

#toc ol ol li,
#toc ul ul li {
    background: none;
    padding: 0;
}

#more-help {
    background: transparent url(../img/wiki/morehelp.nurse.png) no-repeat left top;
    min-height: 220px;
    padding: 25px 0 0 175px;
}

.html-rtl #more-help {
    background-position: right top;
    padding: 25px 175px 0 0;
}

html[lang="ja"] #more-help {
    background: none;
    padding: 25px 0 0 25px;
}

html[lang="ja"] .html-rtl #more-help {
    padding: 25px 25px 0 0;
}

#more-help div.wrap {
    background: #deeff8;
    background: -moz-linear-gradient(top, #deeff8, #ebf8ff);
    background: -webkit-gradient(linear, left top, left bottom, from(#deeff8), to(#ebf8ff));
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 12px;
    min-height: 110px;
    padding: 25px 20px;
    position: relative;
}

#more-help h2 {
    font-size: 20px;
    font-style: italic;
    padding: 0 0 15px;
}

#more-help ul {
    border-right: dotted 2px #6292cf;
    width: 275px;
}

.html-rtl #more-help ul {
    border: none;
    border-left: dotted 2px #6292cf;
}

html[lang="ja"] #more-help ul {
    width: 350px;
}

#more-help ul ul {
    border: none;
    width: auto;
}

#more-help li {
    list-style: none;
    padding: 0 0 10px;
}

#more-help li li {
    list-style: disc;
    list-style-position: inside;
    padding: 2px 0 2px 10px;
}

.html-rtl #more-help li li {
    padding: 2px 10px 2px 0;
}

#more-help div.support-search {
    left: 325px;
    position: absolute;
    top: 65px;
    width: 240px;
}

.html-rtl #more-help div.support-search {
    left: auto;
    right: 325px;
}

html[lang="ja"] #more-help div.support-search {
    left: 400px;
    width: 305px;
}

html[lang="ja"] .html-rtl #more-help div.support-search {
    left: auto;
    right: 400px;
}

#more-help div.support-search form {
    margin: 15px 0 0;
}

#more-help div.support-search input.text {
    width: 144px;
}

html[lang="ja"] #more-help div.support-search input.text {
    width: 209px;
}

#doc-contributors {
    color: #aaa;
    margin: 0 0 25px;
}

#doc-contributors a {
    color: #aaa;
}

#doc-contributors a:hover {
    color: #447BC4;
    text-decoration: underline;
}

/* Wiki Document content */
#doc-content {
    margin: 0 0 35px;
    padding: 0 20px 0 0;
}

.html-rtl #doc-content {
    padding: 0 0 0 20px;
}

/* document vote form */
.document-vote {
    color: #444;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 30px;
    padding: 10px 0;
    vertical-align: top;
}

#side .document-vote {
    margin: 15px 0 0 20px;
}

.document-vote p {
    display: inline-block;
}

.document-vote span {
    display: inline-block;
    margin: 0 0 6px;
}

.document-vote input[type="submit"] {
    background: #CDE6F5;
    border: none;
    border-radius: 10px;
    color: #3862A9;
    cursor: pointer;
    font-size: 14px;
    margin: 0 0 0 10px;
    padding: 3px 10px;
}

.html-rtl .document-vote input {
    margin: 0 10px 0 0;
}

.document-vote input[disabled] {
    background: #ddd;
    color: #888;
    cursor: default;
}

.document-vote input.active {
    background: #32559b;
    color: #fff;
}

.document-vote img.wait {
    display: none;
}

.document-vote form.busy img.wait {
    display: inline;
    margin: 0 0 0 15px;
    position: relative;
    top: 3px;
}

.html-rtl .document-vote form.busy img.wait {
    margin: 0 15px 0 0;
}

/* Unhelpful vote survey */
#unhelpful-survey {
    background: #32559B;
    border-radius: 0 10px 10px 10px;
    display: inline-block;
    margin: 15px 0 0 20px;
    padding: 10px 5px;
    width: 230px;
}

#side #unhelpful-survey {
    margin: 30px 0 30px 20px;
}

#unhelpful-survey p {
    color: white;
    font-size: 16px;
    font-style: italic;
    margin: 8px 12px;
}

#unhelpful-survey ul {
    list-style: none;
}

#unhelpful-survey li {
    color: #fff;
    cursor: pointer;
    padding: 2px 0 2px 12px;
    position: relative;
}

#unhelpful-survey li input {
    margin: 0 6px 3px 0;
}

#unhelpful-survey textarea {
    font-size: 12px;
    height: 40px;
    margin: 6px 0 2px 12px;
    resize: vertical;
    width: 193px;
}

#unhelpful-survey input[type="submit"] {
    margin: 6px 14px;
    float: left;
}

#unhelpful-survey .character-counter {
    font-size: 10px;
}

#unhelpful-survey .disabled-reason {
    font-size: 12px;
    padding-top: 5px;
}

/* New / Edit / Translate Document */
#document-form form {
    padding: 0 0 20px;
}

#document-form form > ul {
    vertical-align: top;
}

#revision-form form > ul > li,
#document-form form > ul > li {
    clear: both;
    list-style: none;
    padding: 15px 0;
}

#document-form form li.comment {
    padding-top: 0;
}

#document-form form > ul > li li {
    display: inline-block;
    padding: 0 10px 0 0;
}

.html-rtl #document-form form > ul > li li {
    padding: 0 0 0 10px;
}

#document-form div.tags li {
    /* Keep the padding between the tag widgets less than that between the fields. */
    padding: 0;
}

article.form-page form > ul > li label {
    color: #333;
    display: block;
    font-family: Verdana;
    font-size: 13px;
    margin: 0 0 5px;
}

#document-form > ul > li li label {
    color: #666;
    display: inline;
}

#document-form label[for="id_is_localizable"],
#document-form label[for="id_is_archived"],
#document-form label[for="id_allow_discussion"],
#localize-document label[for="id_allow_discussion"],
#document-form label[for="id_needs_change"] {
    display: inline;
}

#document-form li > input[type="checkbox"],
#localize-document li > input[type="checkbox"] {
    margin: 0 .5em;
}

#document-form li ul.errorlist,
ul.description li ul.errorlist {
    display: block;
    padding: 2px 0;
    margin: 0;
    width: auto;
}

#document-form li ul.errorlist li,
ul.description li ul.errorlist li {
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
}

article.main textarea[name="content"] {
    height: 500px;
}

article.main .editor {
    float: left;
    padding: 0;
    width: 711px;
}

.html-rtl article.main .editor {
    float: right;
}

article.main div.tags input.adder {
    /* Make the Add button look subordinate to the form's larger Save button. */
    font-size: 80%;
    padding: 2px 18px 3px;
    margin: 0 0 0 5px;
}

.html-rtl article.main div.tags input.adder {
    margin: 0 5px 0 0;
}

#preview {
    margin: 20px 0 0;
    position: relative;
}

#preview #support-for,
#review-revision #support-for {
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 4px 10px #999;
    -moz-box-shadow: 0 4px 10px #999;
    -webkit-box-shadow: 0 4px 10px #999;
    margin: -90px 0 0;
    padding: 15px;
    position: fixed;
    right: 100px;
    top: 50%;
    width: 165px;
    z-index: 10;
}

#preview-bottom {
    display: none;
}

.html-rtl #preview #support-for,
.html-rtl #review-revision #support-for {
    left: 100px;
    right: auto;
}

#review-revision #support-for {
    display: none;
}

#review-revision .open #support-for {
    display: block;
}

/* Translate specific */
ul.description li {
    list-style: none;
    padding: 15px 0;
}

ul.description li.tag {
    padding: 0;
}

ul.description li:first-child {
    border: none;
}

div.approved,
div.localized {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

div.approved p,
div.localized p {
    min-height: 35px;
}

ul.description h3,
#content-fields h3 {
    color: #333;
    font-family: Verdana;
    font-size: 13px;
    margin: 0 0 5px;
}

ul.description div.val {
    color: #666;
}

ul.description input[type="text"] {
    width: 330px;
}

ul.description textarea {
    height: 100px;
    padding: 2px;
    width: 330px;
}

#content-fields {
    padding: 15px 0;
}

#content-fields div.val {
    border: solid 1px #999;
    height: 500px;
    overflow: auto;
    padding: 2px;
    width: 400px;
}

#content-fields textarea {
    height: 500px;
    padding: 2px;
    width: 340px;
}

#content-fields div.approved textarea {
    margin: 96px 0 0;
}

#content-fields .editor {
    margin: 10px 0 0;
    padding: 0;
    width: 345px;
}

div.localized div.editor-tools {
    height: 80px;
}

body.translate div.significance {
    padding: 15px 0;
}

#change-locale li {
    display: inline-block;
    list-style: none;
    width: 60px;
}

details.h2[open] {
    margin-bottom: 21px;
}

/* Headings aren't valid in <summary>s, and it makes me sad. */
details.h2 > summary {
    color: #333;
    font-size: 24px;
    margin: 21px 0 8px;
}

/* Document list pages */
#document-list ul.documents {
    margin: 10px 0;
}

#document-list ul.documents li {
    font-size: 14px;
    list-style: none;
    padding: 5px 0;
}

/* Revision history */
#revision-history {
    color: #666;
}

.choice-list {
    margin: 2em 0;
}

.choice-list ul {
    display: inline;
}

.choice-list li {
    display: inline-block;
    list-style: none;
    padding: 0 8px;
    font-weight: bold;
}

.choice-list li a {
    font-weight: normal;
}

#helpful-chart {
    display: none;
    height: 400px;
    width: 100%;
}

#helpful-chart-tall {
    display: none;
    height: 600px;
    width: 100%;
}

#chart-footnote {
    color: #ABABAB;
    font-size: 10px;
    text-align: right;
}

.html-rtl #chart-footnote {
    text-align: left;
}

#revision-list form {
    margin: 10px 0;
}

#revision-list ul {
    clear: both;
    margin: 5px 0;
    text-align: left;
}

.html-rtl #revision-list ul {
    text-align: right;
}

#revision-list li {
    list-style: none;
    padding: 4px 0;
}

#revision-list li:nth-child(odd) {
    background: #f2f2f2;
}

#revision-list li.current {
    background: #daedf6;
    border-bottom: solid 2px #a3b1b8;
    border-top: solid 2px #a3b1b8;
}

#revision-list li.current div.status {
    color: #223d61;
    font-weight: bold;
}

#revision-list li.graph-hover {
    background: #f6f6ad;
}

#revision-list li.rejected *,
#revision-list li.rejected div.creator {
    color: #999;
}

#revision-list li.header * {
    color: #666 !important;
    font-weight: bold;
}

#revision-list div.radio,
#revision-list div.radio-head {
    display: inline-block;
    text-align: center;
    width: 15px;
}

#revision-list div.date,
#revision-list div.date-head {
    display: inline-block;
    padding: 0 0 0 10px;
    width: 115px;
}

.html-rtl #revision-list div.date,
.html-rtl #revision-list div.date-head {
    padding: 0 10px 0 0;
}

#revision-list div.status,
#revision-list div.status-head {
    display: inline-block;
    width: 90px;
}

#revision-list div.status a {
    font-weight: bold;
}

#revision-list div.significance,
#revision-list div.significance-head {
    display: inline-block;
    width: 35px;
}

#revision-list div.creator,
#revision-list div.creator-head {
    color: #333;
    display: inline-block;
    width: 105px;
}

#revision-list div.comment,
#revision-list div.comment-head {
    display: inline-block;
    width: 240px;
}

#revision-list div.l10n,
#revision-list div.edit,
#revision-list div.delete,
#revision-list div.l10n-head,
#revision-list div.edit-head,
#revision-list div.delete-head {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 25px;
}

#revision-list div.edit a {
    background: url("../img/icons.actions.png") no-repeat scroll left -25px transparent;
    display: inline-block;
    height: 12px;
    text-decoration: none;
    width: 12px;
}

#revision-list div.delete a {
    background: url("../img/icons.actions.png") no-repeat scroll left 0px transparent;
    display: inline-block;
    height: 12px;
    width: 12px;
}

#revision-list div.l10n a.yes {
    background: url("/media/img/wiki/icon-yes.gif") no-repeat scroll left top transparent;
    display: inline-block;
    height: 12px;
    width: 12px;
}

#revision-list div.l10n a.markasready,
#revision-list div.l10n a.no {
    background: url("/media/img/wiki/icon-no.gif") no-repeat scroll left top transparent;
    display: inline-block;
    height: 12px;
    width: 12px;
}

#revision-list div.l10n a.markasready:hover {
    background: url("/media/img/wiki/icon-yes.gif") no-repeat scroll left top transparent;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    width: 12px;
}

#revision-list div.compare {
    height: 20px;
    padding: 0 0 0 50px;
    text-align: left;
}

#revision-list div.compare.top {
    background: transparent url(../img/wiki/compare.arrows.png) no-repeat 4px 5px;
    padding-bottom: 5px;
}

#revision-list div.compare.bottom {
    background: transparent url(../img/wiki/compare.arrows.png) no-repeat 4px -40px;
    padding-top: 10px;
}

#contributors {
    margin: 30px 0;
}
#contributors h1 {
    font-size: 18px;
}

#delete-doc {
    margin: 50px 0 0;
    padding: 0 10px 0 0;
    text-align: right;
}

.html-rtl #delete-doc {
    padding: 0 0 0 10px;
    text-align: left;
}

#show-chart {
    color: #447BC4;
    cursor: pointer;
    float: right;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-size: 13px;
    margin: 1px 0 10px;
}

/* Revision page */
div.revision-info li {
    list-style-position: inside;
}

#doc-source textarea {
    height: 400px;
}

/* Review revision */
#review-revision > h3 {
    font-weight: bold;
    margin: 20px 0 0;
}

#revision-content,
#revision-html {
    margin: 10px 0;
}

#revision-content pre {
    white-space: pre-wrap;
}

body.review #actions {
    margin: 20px 0;
}

body.review #content-fields textarea {
    height: 250px;
}

body.review #content-fields textarea {
    margin: 5px 0 0;
}

#approve-modal p {
    margin: 0 0 10px;
}

#approve-modal p.warning {
    background: #FFF9DB url(../img/wiki/bkg.warning.png) repeat-y left top;
    padding: .5em 1em .5em 2em;
}

.html-rtl #approve-modal p.warning {
    padding: .5em 2em .5em 1em;
}

#approve-modal li {
    list-style: none;
    padding: 5px;
    position: relative;
}

#approve-modal div.message,
#approve-modal div.ready-for-l10n,
#approve-modal div.needs-change,
#reject-modal div.message {
    margin: 10px 0;
}

#approve-modal textarea,
#reject-modal textarea {
    height: 100px;
    width: 350px;
}

#approve-modal li div.help-text {
    background: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,.25), inset -1px -1px 1px rgba(0,0,0,.125), inset 1px 0 1px rgba(255,255,255,.25);
    color: #000;
    display: none;
    left: 23px;
    padding: 10px 15px;
    position: absolute;
    top: 20px;
    z-index: 999;
}

.html-rtl #approve-modal li div.help-text {
    left: auto;
    right: 23px;
}

#approve-modal li:hover {
    border-radius: 10px 10px 0 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.25), inset -1px -1px 1px rgba(0,0,0,.125), inset 1px 0 1px rgba(255,255,255,.25);
}

#approve-modal li:hover label {
    position: relative;
    z-index: 1000;
}

#approve-modal li:hover div.help-text {
    display: block;
}

div.needs-change .comment {
    margin: 0 0 0 17px;
}

div.needs-change .comment label {
    display: block;
}


/* Revision diffs */
div.revision-diff header {
    margin: 20px 0 0;
}

div.revision-diff div {
    display: inline-block;
    vertical-align: top;
    width: 364px;
}

div.revision-diff h3 {
    font-weight: bold;
}

div.revision-diff h4 {
    font-weight: bold;
    margin: 10px 0 0;
}

div.revision-diff div.picker {
    display: block;
    padding: 0 10px 0 0;
    text-align: right;
    width: auto;
}

.html-rtl div.revision-diff div.picker {
    text-align: left;
}

#diff-picker-kbox {
    width: 770px;
}

a.toggle-diff {
    float: right;
    margin: 0 10px 0 0;
}

.html-rtl a.toggle-diff {
    float: left;
    margin: 0 0 0 10px;
}

table.diff {
    background: #fff;
    border: solid 1px #ccc;
    clear: both;
    font-family: Courier;
    margin: 5px 0 15px;
    text-align: left;
    width: 98%;
}

.html-rtl table.diff {
    text-align: right;
}

table.diff.full {
    box-shadow: 0 2px 10px rgba(0,0,0,.25), inset -1px -1px 1px rgba(0,0,0,.125), inset 1px 0 1px rgba(255,255,255,.25);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25), inset -1px -1px 1px rgba(0,0,0,.125), inset 1px 0 1px rgba(255,255,255,.25);
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25), inset -1px -1px 1px rgba(0,0,0,.125), inset 1px 0 1px rgba(255,255,255,.25);
    left: 1%;
    position: absolute;
}

table.diff.full td.text {
    display: table-cell;
    width: auto;
}

table.diff colgroup {
    border: none;
}

table.diff tbody {
    border: none;
}

table.diff tr:nth-child(odd) {
    background: #f0f0f0;
}

td.diff_next {
    background: #ccc;
    padding: 0 1px;
}

td.diff_header {
    color: #999;
    padding: 0 5px 0 1px;
    text-align: right;
}

.html-rtl td.diff_header {
    padding: 0 1px 0 5px;
    text-align: left;
}

td.text {
    display: inline-block;
    padding: 1px 5px;
    width: 300px;
}

.diff_add {
    background: #aaffaa;
}

.diff_chg {
    background: #ffff77;
}

.diff_sub {
    background: #ffaaaa;
}

/* Delete Document/Revision */
#delete-document h2 {
    font-size: 20px;
}

#delete-document label,
#delete-revision label {
    display: block;
    font-size: 16px;
    margin: 15px 0 0;
}

#delete-document form,
#delete-revision form {
    margin: 20px 0 0;
}

#delete-document pre,
#delete-revision pre {
    white-space: pre-wrap;
}

/* Submit commit message modal */
#submit-modal div.comment,
#submit-modal div.notifications {
    margin: 10px 0;
}

#submit-modal label {
    display: block;
}

#submit-modal input[type="text"] {
    width: 400px;
}

/* Select locale for l10n page */
#select-locale ul.locales {
    font-size: 14px;
    margin: 15px;
}


/* Graceful fallback for <details> tags */
/* from http://mathiasbynens.be/notes/html5-details-jquery */

details, summary {
    display: block;
}

details {
    margin: 25px 0 0;
}

/* The .no-details styles will get applied only if JavaScript is enabled and <details> is not natively supported. */

/* Add focus styles (for keyboard accessibility) */
.no-details summary:focus {
    outline: dotted 1px;
}

.no-details summary:hover {
    background-color: #e6f1fb;
}

/* The following styles are not really needed, since the jQuery script takes care of hiding/displaying the elements. */
/* However, we're still gonna use CSS as well to prevent FOUC in browsers that understand these selectors. */
/* Remember: by default (and probably most of the time), the contents of the <details> element are hidden. */

/* Hide all direct descendants of every <details> element */
/* Note that IE6 doesn't support the child selector; we'll work around that using jQuery later */
.no-details details > * {
    display: none;
}

/* Make sure summary remains visible, and apply a pointer cursor upon hover to indicate it's a clickable element */
.no-details details summary {
    background: transparent url(../img/wiki/bkg.collapsibles.png) no-repeat 5px 5px;
    border-bottom: solid 1px #cadaeb;
    cursor: pointer;
    display: block;
    margin: 10px 0 30px;
    padding: 0 0 0 30px;
}

.html-rtl .no-details details summary {
    padding: 0 30px 0 0;
}

.no-details details.open summary {
    background-position: 5px -45px;
}

/* Style video modal */
div.video .kbox-container {
    width: 680px;
    height: 550px;
    text-align: left;
}

.html-rtl div.video .kbox-container {
    text-align: right;
}

/************************************/
/* Army of Awesome Referral Banner  */
/************************************/
#banner {
    background: #c3e4f8;
    background: -moz-linear-gradient(-90deg, #c3e4f8, #a6d7f5);
    border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,.25), inset -1px -1px 1px rgba(0,0,0,.125), inset 1px 0 1px rgba(255,255,255,.25);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25), inset -1px -1px 1px rgba(0,0,0,.125), inset 1px 0 1px rgba(255,255,255,.25);
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25), inset -1px -1px 1px rgba(0,0,0,.125), inset 1px 0 1px rgba(255,255,255,.25);
    color: #425662;
    display: none;
    font-size: 14px;
    left: 0;
    margin: 0 auto;
    max-width: 900px;
    min-width: 700px;
    padding: 25px 30px 15px;
    position: absolute;
    right: 0;
    top: -10px;
    width: 90%;
    z-index: 100;
}

#banner .inner {
    position: relative;
}

#banner a {
    color: #1c1b18;
    text-decoration: none;
}

#banner a:hover {
    text-decoration: underline;
}

#banner .mascot {
    background: url(../img/wiki/aoa.banner.nurse.png) no-repeat left bottom;
    bottom: -15px;
    height: 75px;
    left: -5px;
    position: absolute;
    width: 67px;
}

#banner .what {
    line-height: 1.3em;
    padding-left: 71px;
}

#banner .what h1 {
    color: #4B4742;
    font-size: 18px;
    font-style: italic;
    margin-bottom: .3em;
}

#banner .who {
    bottom: 0;
    font: 11px Helvetica, Arial, sans-serif;
    position: absolute;
    right: 0;
    text-align: right;
}

#banner .bye {
    position: absolute;
    right: 0;
    top: -5px;
}

#banner .bye a {
    color: #447BC4;
    font-size: 21px;
    font-family: Helvetica, Arial, sans-serif;
}
