/* Wiki Document content */
#doc-content {
    color: #666;
    font-size: 14px;
    line-height: 1.5em;
}

#doc-pending-fallback {
    margin: -1em 0 2em;
}

/* Blocks in the content that need margins. */
#doc-content p,
#doc-content pre,
#doc-content .warning,
#doc-content .note {
    margin: 1em 0;
}

/* NOTE:
`#doc-content h1-6` -> These inherit color from `h1-6` in wiki.css
*/

#doc-content h1 {
    font-size: 22px;
    margin: 21px 0 8px;
}

#doc-content h2 {
    font-size: 19px;
    margin: 21px 0 8px;
}

#doc-content h3 {
    font-size: 16px;
    margin: 21px 0 8px;
}

#doc-content h4,
#doc-content h5,
#doc-content h6 {
    font-size: 14px;
    margin: 21px 0 8px;
}

#doc-content video,
#doc-content img {
    max-width: 100%;
}

#doc-content ol,
#doc-content ul,
#doc-content dd {
    margin: 1em 0 1em 21px;
}

#doc-content li {
    margin: 0.2em 0;
}

#doc-content li p {
    margin: 0;
}

#doc-content li ol,
#doc-content li ul {
    margin: 0 0 0 21px;
}

#doc-content .code {
}

#doc-content .filepath {
    font-style: italic;
    white-space: nowrap;
}

#doc-content .key,
#doc-content .button {
    background: #f0f0f0;
    background: -moz-linear-gradient(top, #f0f0f0, #fcfcfc);
    background: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#fcfcfc));
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #303030;
    border: 1px solid #e0e0e0;
    border-bottom-width: 2px;
    white-space: nowrap;
}

#doc-content .key {
    font-family: monospace;
    padding: 1px 6px;
}

#doc-content .button {
    padding: 1px 10px;
}

#doc-content .menu {
    background: #e8e8e8;
    color: #303030;
    padding: 2px 4px;
}

#doc-content .note {
   background: #F5F5FF;
   color: #626266;
   padding: .5em 1em;
}

#doc-content .warning {
   background: #FFF9DB url(../img/wiki/bkg.warning.png) repeat-y left top;
   color: #666458;
   padding: .5em 1em;
   padding-left: 2em;
}

#doc-content .pref {
    border: solid 1px #ddd;
    color: #303030;
    padding: 0 3px;
}
