{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% set scripts = ('wiki',) %}
{% set styles = ('wiki',) %}

{% block content %}
  <article id="{{ dashboard_id }}" class="main dashboards">
    <h1>{{ title }}</h1>
    {% block dashboard_content %}

    {% endblock %}
  </article>
{% endblock %}

{% block side_top %}
  <nav id="doc-tabs">
    <ul>{# If form is set, we're editing #}
      <li class="{{ review_classes }}">
        <a href="{{ url('dashboards.review') }}">{{ title }}</a>
      </li>
      <li class="{{ forum_classes }}"><a href="#TODO">Forum</a></li>
      <li class="{{ locale_classes }}"><a href="{{ url('dashboards.localization') }}">My locale</a></li>
      <li><a href="{{ profile_url(user) }}">Profile</a></li>
    </ul>
  </nav>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}
