{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% from "includes/common_macros.html" import for_contributors_sidebar %}
{% from "dashboards/includes/macros.html" import print_readout, overview_section, print_subscription_menu with context %}
{% set title = _('Localization Dashboard') %}
{% set scripts = ('wiki',) %}
{% set styles = ('kbdashboards',) %}
{% set crumbs = [(None, title)] %}
{# TODO: Move required dashboard scripts out of wiki.js into their own or refactor up? #}

{% block content %}
  <div class="grid_9">
    <article id="localize" class="dashboards">
      <h1>{{ title }}</h1>

      
      <div class="choice-list">
        <label>{{ _('Show information for:') }}</label>
        <ul>
          <li>
            <a href="{{ url('dashboards.contributors') }}">{{ default_locale_name }}</a>
          </li>
          <li>
            {{ current_locale_name }}
          </li>
        </ul>
      </div>

      {% if not user.is_anonymous() %}
        {{ print_subscription_menu(default_locale_name,
                                   current_locale_name,
                                   on_default_locale,
                                   is_watching_default_locale,
                                   is_watching_other_locale,
                                   is_watching_default_approved,
                                   is_watching_other_approved,
                                   settings.WIKI_DEFAULT_LANGUAGE) }}
      {% endif %}

      {% set rows = overview_rows() %}
      {{ overview_section(readouts, ((rows['most-visited'], True),
                                     (rows['templates'], True),
                                     (rows['navigation'], True),
                                     (rows['all'], False))) }}

      {% for readout in readouts.itervalues() %}
        {{ print_readout(readout, max_rows=20 if readout.slug == 'most-visited-translations' else 10) }}
      {% endfor %}
    </article>
  </div>
{% endblock %}

{% block side_top %}
  {{ for_contributors_sidebar(user, settings.WIKI_DEFAULT_LANGUAGE, active='kbdashboard') }}
{% endblock %}
