{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "dashboards/base.html" %}
{% from "forums/includes/forum_macros.html" import thread_list with context %}
{% set title = _('Contributor Forums Dashboard') %}
{% set dashboard_id = 'forums-dashboard' %}
{% set active_tab  = 'review' %}
{% set styles = ('wiki', 'forums') %}
{% set crumbs = [(None, title)] %}

{% block dashboard_content %}
  {% include 'dashboards/includes/announcement_list.html' %}
  {% if threads.object_list %}
    <ol class="threads-columns">
      <li class="type">{{ _('Type') }}</li>
      <li class="title">{{ _('Title') }}</li>
      <li class="author">{{ _('Author') }}</li>
      <li class="replies">{{ _('Replies') }}</li>
      <li class="last-post">{{ _('Last Post') }}</li>
    </ol>
    {{ thread_list(threads) }}
  {% else %}
    <p>{{ _("You haven't participated in any contributor forum threads yet.") }}</p>
  {% endif %}
{% endblock %}
