{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "dashboards/base.html" %}
{% set title = _('Hello') %}
{% set dashboard_id = 'welcome-dashboard' %}
{% set active_tab  = 'welcome' %}

{% block dashboard_content %}
  <div id="doc-content">
    {% trans %}
      <p>
        We've got this nifty dashboard to help volunteers keep track of
        contributions such as questions answered, forum discussions and
        article edits. In order to enable it, just click
        <span class="button">Join!</span> below.
      </p>
      <p>
        This will add you to our contributor group and subscribe you to
        announcements from the Firefox Help team. 
      </p>
      <p>
        Joining isn't required in order to help other users or to get
        help for yourself.
      </p>
    {% endtrans %}
  </div>
  <form action="{{ url('groups.join_contributors')|urlparams(next=url('dashboards.default')) }}" method="post">
    {{ csrf() }}
    <input type="submit" value="{{ _('Join!') }}" />
  </form>
{% endblock %}
