{% extends "messages/base.html" %}
{% from "messages/includes/macros.html" import avatar_link, name_link %}
{% set title = _('Sent Messages') %}
{% set crumbs = [(url('messages.inbox'), _('Messages')),
                 (None, title)] %}
{% set active_tab = 'outbox' %}

{% block content %}
  <div class="sumo-page-section">
    <article id="outbox" class="main">
      <h1 class="sumo-page-heading">{{ title }}</h1>
        <div class="actions sumo-button-wrap">
          <a class="sumo-button primary-button" href="{{ url('messages.new') }}">{{ _('New Message') }}</a>
        </div>
      {% if msgs %}
        <form action="{{ url('messages.outbox_bulk_action') }}" method="POST">
        <ol class="outbox-table">
            <li class="email-row header">
                <div class="email-cell sent">{{ _('Sent On') }}</div>
                <div class="email-cell to">{{ _('To Users') }}</div>
                {% if in_staff_group(request.user) %}
                    <div class="email-cell to-groups">{{ _('To Groups') }}</div>
                {% endif %}
                <div class="email-cell excerpt">{{ _('Excerpt') }}</div>
                <div class="email-cell delete">{{ _('Delete?') }}</div>
            </li>
            <!-- Repeat the following div for each email message -->
            {% for message in msgs.object_list %}
            <li class="email-row">
                <div class="email-cell sent">{{ datetimeformat(message.created) }}</div>
                <div class="email-cell to">
                {% for user in message.to.all()[:1] -%}
                    <a rel="nofollow" href="{{ profile_url(user) }}">
                        {{ user.profile.display_name }}
                    </a>
                    {%- if message.recipients_count > 1 -%}, ...{% endif %}
                {%- endfor %}
                </div>
                {% if in_staff_group(request.user) %}
                    <div class="email-cell to-groups">
                    {%- for group in message.to_groups[:1] -%}
                        {%- for profile in group.profile.all() -%}
                        {% set group_slug = profile.slug %}
                        <a href="{{ url('groups.profile', group_slug) }}">{{ group }}</a>
                        {%- endfor -%}
                        {% if message.to_groups_count>1 %}, ...{% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
                <div class="email-cell excerpt">
                    <a class="read message text-body-sm" href="{{ url('messages.read_outbox', message.id) }}">
                        {{ message.content_parsed|striptags|truncate(length=160) }}
                    </a>
                </div>
                <div class="email-cell delete">
                  <a class="delete" href="{{ url('messages.delete_outbox', message.id) }}" title="{{ _('Delete message') }}">&#x2716;</a>
                </div>
            </li>
            {% endfor %}
            <!-- Additional rows go here -->
        </ol>
          {% csrf_token %}
        </form>
        {{ msgs|paginator }}
      {% else %}
        <p>{{ _('There are no messages here.') }}</p>
      {% endif %}
    </article>
  </div>
{% endblock %}
