{% extends "kadmin/base.html" %}
{% load waffle_tags %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" media="screen,projection,tv" href="{{ STATIC_URL }}css/users.autocomplete.css" />
{% endblock %}

{% block content %}
  {% switch 'karma' %}
  {% else %}
    <p>Karma is currently disabled. Activate waffle switch 'karma' to enable.</p>
  {% endswitch %}
  <section>
    <h1>Top Contributors - All Time</h1>
    <ol>
      {% for user in top_alltime %}
        <li>
          <a href="#">{{ user.user.username }}</a>:
          Points: {{ user.points }} |
          Answers: {{ user.answers }} |
          First Answers: {{ user.first_answers }} |
          Solutions: {{ user.solutions }} |
          Helpful Votes: {{ user.helpful_votes }} |
          Not Helpful Votes: {{ user.nothelpful_votes }}
        </li>
      {% endfor %}
    </ol>
  </section>
  <section>
    <h1>Top Contributors - Last 7 Days</h1>
    <ol>
      {% for user in top_week %}
        <li>
          <a href="#">{{ user.user.username }}</a>:
          Points: {{ user.points }} |
          Answers: {{ user.answers }} |
          First Answers: {{ user.first_answers }} |
          Solutions: {{ user.solutions }} |
          Helpful Votes: {{ user.helpful_votes }} |
          Not Helpful Votes: {{ user.nothelpful_votes }}
        </li>
      {% endfor %}
    </ol>
  </section>
  <section>
    <form action="" method="POST">
      {% csrf_token %}
      <input type="hidden" name="update-top" value="1" />
      <input type="submit" value="Update Top Contributors" />
    </form>
  </section>
  <section>
    <h1>User Karma{% if username %}: {{ username }}{% endif %}</h1>
    <form action="" method="GET">
      <input type="text" placeholder="username" class="user-autocomplete single"  name="username" />
      <input type="submit" value="Show Karma Data" />
    </form>
    {% if user_karma %}
      <table class="redis-info">
        <tbody>
          {% for row in user_karma %}
            <tr>
              <th>{{ row.key }}</th>
              <td>{{ row.value }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      {% if username %}
        <p>User or karma data not found.</p>
      {% endif %}
    {% endif %}
  </section>
  <section>
    <h1>Initialize Karma</h1>
    <p>Warning: This will launch a task to delete all existing karma data from redis and recalculate from the database.</p>
    <form action="" method="POST">
      {% csrf_token %}
      <input type="hidden" name="init" value="1" />
      <input type="submit" value="Init Karma" />
    </form>
  </section>
  <section>
    <h1>Recalculate Karma Points</h1>
    <form action="" method="POST">
      {% csrf_token %}
      <input type="hidden" name="recalculate" value="1" />
      <input type="submit" value="Recalculate Points" />
    </form>
  </section>
{% endblock %}

{% block footer %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.migrate.js"></script>
  <script type="text/javascript">
    // Not happy about this... but it works!
    $('body').data('usernames-api', '/en-US/users/api/usernames');
  </script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/i18n.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.tokeninput.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/users.autocomplete.js"></script>
{% endblock %}
