#for-contributors,
#hot-topics {
  ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;

    li {
      margin: 0 12px 0 0;
      padding: 4px 0 4px 12px;

      &:after {
        content: '\00BB';
        margin: 0 0 0 6px;
      }

      &:before {
        content: '\2022';
        margin: 0 8px 0 -12px;
      }

      a,
      a:visited {
        color: @textGrey;
      }

      a:hover {
        color: @textDarkBlue;
      }

      &.fallback {
        border: none;
        font-size: 16px;
        margin: 10px 0 0;
        padding: 0;

        &:after {
          content: none;
        }

        &:before {
          content: none;
        }
      }
    }
  }
}

#for-contributors {
  ul {
    li {
      float: left;
      width: 268px;
    }
  }
}

#hot-topics {
  ul {
    li {
      border-bottom: 1px dotted @borderLightGrey;
      margin: 0;
      padding: 8px 0 8px 12px;
      position: relative;

      &:last-of-type {
        border: 0;
      }

      &.question,
      &.document {
        list-style: none;

        &:before {
          background: url('../img/search-icons-sprite.png') 0 0 no-repeat;
          content: '';
          height: 18px;
          width: 18px;
          display: inline-block;
          background-size: 45px;
          position: relative;
          top: 6px;
          left: 2px
        }
      }

      &.document:before {
        background-position:-14px -15px;
      }

      &.question:before {
        background-position:-14px -60px;
      }
    }
  }
}
