.topic-list {
  border-bottom: 1px dotted @borderLightGrey;
  clear: both;
  list-style: none;
  margin: 0 0 24px 0;
  padding: 0 0 20px 0;

  &:last-of-type {
    border: 0;
    margin: 0;
    padding: 0;
  }

  > li {
    margin: 0 0 20px 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    > a {
      display: block;
      font-size: 18px;
    }
  }
}