<div class="author">
  <a href="{{ profile_url(post.author) }}">
    <img src="{{ profile_avatar(post.author) }}" height="45" width="45" alt=""/>
  </a>
  <a class="author-name" href="{{ profile_url(post.author) }}">{{ post.author }}</a>
  {% if waffle.flag('private-messaging') %}
    <p class="pm"><a href="{{ url('messages.new')|urlparams(to=post.author.username) }}">{{ _('Private message') }}</a>
  {% endif %}
  {# L10n: {0} is the number of posts. #}
  <span class="posts">{{ ngettext('1 post', '{0} posts', post.author_post_count)|f(post.author_post_count) }}</span>
  <div class="post-actions">
  {% if post.id and not thread.is_locked and
         has_perm_or_owns('forums_forum.post_edit_forum', post, forum, 'author') %}
    <a href="{{ url('forums.edit_post', forum.slug, thread.id, post.id) }}"><img src="{{ MEDIA_URL }}img/forums/edit.png" alt="{{ _('Edit') }}" title="{{ _('Edit') }}"/></a>
  {% endif %}
  {% if post.id and has_perm('forums_forum.post_delete_forum', forum) %}
    <a href="{{ url('forums.delete_post', forum.slug, thread.id, post.id) }}">
      <img src="{{ MEDIA_URL }}img/forums/delete.png" alt="{{ _('Delete') }}" title="{{ _('Delete') }}">
    </a>
  {% endif %}
  </div>
</div>
<div class="content">
  {{ post.content_parsed }}
</div>
<div class="content-raw">{{ post.content }}</div>
<div class="info">
  {{ datetimeformat(post.created, format='longdatetime') }}
  <a href="#post-{{ post.id }}" class="permalink" title="{{ _('Link to this post.') }}">#</a>
  {% if post.id and user.is_authenticated() and not thread.is_locked and forum.allows_posting_by(user) %}
    <span class="post-action">
      <a class="reply" data-post="{{ post.id }}" href="#thread-reply">{{ _('Reply') }}</a>
    </span>
  {% endif %}
  {% if post.created != post.updated %}
    <span class="post-modified">
      {{ _('Modified by {name} on {datetime}')|fe(name=post.updated_by.username, datetime=datetimeformat(post.updated, format='longdatetime')) }}
    </span>
  {% endif %}
</div>
