{% extends "base.html" %}
{% block content %}
  <section class="awards_list">
    {% if badge %}
      <h2>Awards for {{ badge }}</h2>
    {% else %}
      <h2>Recent Awards</h2>
    {% endif %}

    <ul>
      {% for award in award_list %}
        {% if award.image %}
          {% set award_image = award.image.url %}
        {% elif award.badge.image %}
          {% set award_image = award.badge.image.url %}
        {% else %}
          {% set award_image = STATIC_URL + 'kbadge/img/default-badge.png' %}
        {% endif %}
        <li>
          <a href="{{ award.get_absolute_url() }}"><img src="{{ award_image }}"
             alt="{{ award.badge.title }}" width="128" height="128" /></a>

          <a href="{{ award.get_absolute_url() }}">
            {# TODO: This is bad l10n, but it's a mockup. #}
            <span class="badge_title">{{ award.badge.title }}</span>
            <span class="relation">awarded to</span>
            <span class="user">{{ award.user }}</span>
            {% if award.description %}
              <span class="award_description">{{ award.description }}</span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
    {# TODO: pagination here #}
  </section>
{% endblock %}
