*.pyc
*.pyo
kitsune/settings_local.py
kitsune/sumo/static/sumo/js/templates
pip-log.txt
.coverage
coverage.xml
kitsune/build.py
**/*-all.css
**/*-min.css
**/*-all.js
**/*-min.js
media/uploads
node_modules
bower_components
tmp
locale
docs/_build
/static
*.less.css
.DS_Store
james.ini
build.py
.vagrant/
venv/
.cache
.tox
.env
.config
.node-gyp
.npm
k8s/regions/*/kubeconfig
k8s/regions/*/kubectl
k8s/regions/*/*-secrets.yaml
*.db
*.sqlite3
.vscode/
.bash_history
.yarnrc
.docker-build*
postatus.txt
.ipython
js_assets/
.sass-cache/
styleguide/build/

npm-debug.log
.babel.json
