*.pyc
*.pyo
kitsune/settings_local.py
pip-log.txt
.coverage
coverage.xml
kitsune/build.py
**-all.css
**-min.css
**-all.js
**-min.js
media/uploads
node_modules
tmp
locale
docs/_build
/static
*.less.css
.DS_Store
james.ini
.vagrant
