{
  "extends": "stylelint-config-recommended-scss",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "indentation": 2,
    "no-descending-specificity": null,
    "font-family-no-duplicate-names": null,
    "font-family-no-missing-generic-family-keyword": null,
    "order/order": [
      "dollar-variables",
      "custom-properties",
      "declarations"
    ],
    "order/properties-order": [
      "appearance",
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "z-index",
      "display",
      "box-sizing",
      "float",
      "order",
      "flex",
      "flex-direction",
      "flex-flow",
      "justify-content",
      "align-content",
      "align-items",
      "align-self",
      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",
      "width",
      "min-width",
      "max-width",
      "height",
      "min-height",
      "max-height",
      "box-shadow",
      "border",
      "border-top",
      "border-right",
      "border-bottom",
      "border-left",
      "border-color",
      "border-image",
      "border-radius",
      "border-width",
      "background",
      "background-image",
      "background-color",
      "background-position",
      "background-repeat",
      "background-size",
      "background-attachment",
      "mask",
      "mask-image",
      "mask-position",
      "mask-repeat",
      "mask-size",
      "font",
      "font-family",
      "font-size",
      "font-style",
      "font-weight",
      "line-height",
      "text-align",
      "text-decoration",
      "text-overflow",
      "text-transform",
      "white-space",
      "vertical-align",
      "color",
      "overflow",
      "clip",
      "content"
    ]
  }
}
