sudo: false
language: python
python: 2.7
addons:
  firefox: "latest"
node: '0.10'
env:
  globals:
  - DJANGO_LIVE_TEST_SERVER_ADDRESS="localhost:9900-9999"
  - PIP_DOWNLOAD_CACHE="pip_cache"
  matrix:
  - TEST_SUITE=lint
  - TEST_SUITE=ui
  - TEST_SUITE=ui MARK_EXPRESSION=smoke
  - TEST_SUITE=django
matrix:
  fast_finish: true
  allow_failures:
   - env: TEST_SUITE=ui
language: python
cache: pip
cache:
  directories:
  - ~/.cache/bower/
  - $HOME/kitsune/node_modules
install: scripts/travis/install.sh
before_script: scripts/travis/setup.sh
script: scripts/travis/dispatch.sh $TEST_SUITE
notifications:
  email: false
  irc:
    channels:
    - irc.mozilla.org#sumodev
    on_success: always
    on_failure: always
