// Button Wrap element
//
// The `.mzp-c-button-wrap` class can be applied to a wrapper around a group of
// buttons or inline fields. It applies a flexbox context with `justify-content: flex-start;`,
// so the default layout is to justify buttons to the left. Modifier classes
// can be added to change various layout properties.
//
// In addition to the modifier classes that can be added to the `.mzp-c-button-wrap`
// element, `.push-right`, `.push-left`, and `.last-on-mobile` classes can be
// added to buttons to break items away from the defaults.
//
// *In most cases*, the preferred combination is `.mzp-c-button-wrap.align-full`, with
// the primary action ("Save" or "Submit", for example) being listed first so
// it appears on the left, with the optional secondary action ("Cancel") appearing
// on the right. There are exceptions to this rule, so the utility classes below
// can be used to create various combinations.
//
// .align-end     - Align buttons to the right
// .align-full  - Justify buttons to the left and right
// .align-center - Justify buttons to the center
// .reverse-on-desktop.align-full - This is useful when a primary action is first on mobile, and on the right on desktop.
// .full-width-on-mobile - make buttons stretch to fill the container on mobile
//
// Markup: ../../../styleguide-examples/button-wrap.njk
//
// Weight: 2
//
// Style guide: buttons.button-wrap

@use '../../config' as c;
@use '../../protocol' as p;

.sumo-button-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -#{p.$spacing-sm};
  padding: p.$spacing-sm 0;
  width: 100%;

  &.align-end {
    justify-content: flex-end;
  }

  &.align-full {
    justify-content: space-between;
  }

  &.align-center {
    justify-content: center;
  }

  .sumo-button {
    margin: 0 p.$spacing-sm p.$spacing-sm 0;
  }

  &.full-width-on-mobile {
    .sumo-button {
      margin-right: 0;
      width: 100%;
    }

    @media #{p.$mq-md} {
      .sumo-button {
        margin-right: p.$spacing-sm;
        width: auto;
      }
    }
  }

  .push-right {
    margin-left: auto;
  }

  .push-left {
    margin-right: auto;
  }

  .last-on-mobile {
    order: 100;
  }



  @media #{p.$mq-md} {
    &.reverse-on-desktop {
      flex-direction: row-reverse;
      justify-content: flex-end;

      &.align-full {
        justify-content: space-between;
      }

      &.align-center {
        justify-content: center;
      }

      &.align-end {
        justify-content: flex-start;
      }
    }

    .last-on-mobile {
      order: unset;
    }
  }
}
