@use '../../config' as c;
@use 'protocol/css/includes/lib' as p;

.simple-search-form {
  position: relative;
  margin: 0;

  .searchbox {
    @include p.bidi((
      (padding-right, 40px, 8px),
      (padding-left, 8px, 40px),
    ));

    // remove x button from Edge and Safari
    &::-ms-clear { display:none; }
    &::-webkit-search-cancel-button { display:none; }
  }

  .search-button {
    position: absolute;
    top: p.$spacing-xs;
    @include p.bidi((
      (right, 6px, auto),
      (left, auto, 6px),
    ));
  }

  + .page-heading--intro-text {
    &, & + .search-results-heading {
      margin: p.$spacing-xl 0;

      @media #{p.$mq-md} {
        margin-bottom: 0;
      }
    }
  }
}

.search-button {
  appearance: none;
  @include p.bidi((
    (margin, 0 0 0 8px, 0 8px 0 0),
  ));
  width: p.$spacing-xl;
  height: p.$spacing-xl;
  border: none;
  border-radius: p.$border-radius-sm;
  background-image: url('protocol/img/icons/search.svg');
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  font: 0/0 a;
  color: transparent;

  &:hover,
  &:active,
  &:focus,
  &.mzp-is-active  {
    background-color: var(--color-link-active-bg);
  }
}

.popular-searches {
  display: none;

  @media #{p.$mq-lg} {
    display: block;
    margin-top: p.$spacing-xl;
    margin-bottom: 0;
    text-align: center;

    a, span {
      display: inline-block;
      padding-right: p.$spacing-sm;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.search-results-heading {
  margin-top: p.$spacing-xl;
}
