@use '../../config' as c;
@use '../../protocol' as p;

.simple-search-form {
  position: relative;
  margin: 0;

  .search-button {
    position: absolute;
    top: 4px;
    @include p.bidi((
      (right, 6px, auto),
      (left, auto, 6px),
    ));
  }
}

.search-button {
  appearance: none;
  margin-left: 10px;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 4px;
  background-image: url('#{p.$image-path}/icons/search.svg');
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  font: 0/0 a;
  color: transparent;

  &:hover,
  &:active,
  &:focus,
  &.mzp-is-active  {
    background-color: var(--color-link-active-bg);
  }
}

.popular-searches {
  display: none;

  @media #{p.$mq-lg} {
    display: block;
    margin-top: 32px;
    margin-bottom: 0;
    text-align: center;

    a, span {
      display: inline-block;
      padding-right: 8px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.search-results-heading {
  margin-top: 32px;
}
