{% macro product_list(products, topic=None) -%}
  <ul id="product-cards" class="card-grid cf">
    {% for product in products %}
      <li>
        {% if topic %}
          {% set prod_url = url('products.documents', product_slug=product.slug, topic_slug=topic.slug) %}
        {% else %}
          {% set prod_url = url('products.product', slug=product.slug) %}
        {% endif %}
        <a class="cf" href="{{ prod_url }}">
          <img src="{{ MEDIA_URL }}img/blank.png" class="logo-sprite logo-{{ product.slug }}" alt="" />
          <span class="title">{{ product.title }}</span>
          <span class="description">{{ product.description }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro %}
