{% macro product_cards(products, topic=None) -%}
  <ul id="product-cards" class="card-grid cf">
    {% for product in products %}
      <li>
        {% if topic %}
          {% set prod_url = url('products.documents', product_slug=product.slug, topic_slug=topic.slug) %}
        {% else %}
          {% set prod_url = url('products.product', slug=product.slug) %}
        {% endif %}
        <a class="cf" href="{{ prod_url }}">
          <img src="{{ MEDIA_URL }}img/blank.png" class="logo-sprite" style="background-image: url('{{ product.image_url }}');" alt="" />
          <span class="title">{{ _(product.title) }}</span>
          <span class="description">{{ _(product.description) }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro %}

{% macro product_sidebar(products, selected_product=None) -%}
  <ul class="sidebar-nav products">
    <li>
      <a href="{{ url('products') }}">{{ _('Products &amp; Services') }}</a>
      <ul class="sidebar-nav">
        {% for product in products %}
          <li{% if selected_product == product %} class="selected"{% endif %}>
            <a href="{{ url('products.product', slug=product.slug) }}">
              {{ _(product.title) }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
{%- endmacro %}
