{% macro product_list(products, topic=None) -%}
  <ul>
    {% for product in products %}
      <li>
        {% if topic %}
          {% set prod_url = url('products.documents', product_slug=product.slug, topic_slug=topic.slug) %}
        {% else %}
          {% set prod_url = url('products.product', slug=product.slug) %}
        {% endif %}
        <a href="{{ prod_url }}">
          <img src="{{ product.image_url }}" alt="" />
          <span class="title">{{ product.title }}</span>
          <span class="description">{{ product.description }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro %}
