{% macro awards_list(awards) -%}
  <ul class="cf">
    {% for award in awards %}
      {% if award.image %}
        {% set award_image = award.image.url %}
      {% elif award.badge.image %}
        {% set award_image = award.badge.image.url %}
      {% else %}
        {% set award_image = STATIC_URL + 'kbadge/img/default-badge.png' %}
      {% endif %}
      <li>
        <a href="{{ award.get_absolute_url() }}" title="{{ pgettext('DB: badger.Badge.title', award.badge.title) }}">
          <img src="{{ award_image }}" alt="{{ pgettext('DB: badger.Badge.title', award.badge.title) }}" />
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro %}
