{% extends 'mobile/base.html' %}

{% set title = _('Translate help articles') %}
{% set headline = title %}

{% set styles = ('mobile-landings-get-involved',) %}

{% block content %}
  <div class="padded">
    <h3>{{ _('Translate help articles!') }}</h3>
    <div class="centered">
      <img class="smart-width" src="{{ STATIC_URL }}sumo/img/gi-hero-l10n.png" alt="">
    </div>
    <h3>{{ _("Let's make Mozilla Support speak your language!") }}</h3>
    <p>
      {% trans %}
        Help articles are not available in your language yet? You want to
        join the amazing team translating them? You will help millions of
        users in your language. Pretty heroic, right?
      {% endtrans %}
    </p>

    <div class="centered">
      <img class="smart-width" src="{{ STATIC_URL }}sumo/img/gi-visual-l10n.png" alt="">
      <p>
        {{ _("Translating 1 article can help 1,000's of users in your language") }}
      </p>
    </div>

    <h4>{{ _('How it works') }}</h4>
    <ol>
      <li>
        {% set user_is_contributor = is_contributor(user) %}
        {% set message =  _('Sign up as a volunteer') %}
        {% if not user_is_contributor %}
          <a href="#" data-trigger="click" data-trigger-target="#sign-up-contributor">{{ message }}</a>
        {% else %}
          {{ message }}
        {% endif %}
      </li>
      <li>
        <a href="{{ url('wiki.document', 'localize-firefox-help') }}">
          {{ _('Check our documentation') }}
        </a>
      </li>
      <li>{{ _('Just edit articles in your language!') }}</li>
    </ol>

    <h4>{{ _('Pick a way to get involved') }}</h4>
  </div>
  <ul class="gi-links">
    <li>
      <a href="{{ url('landings.get_involved_aoa') }}">
        {{ _('Army of Awesome: help users on Twitter') }}
      </a>
    </li>
    <li>
      <a href="{{ url('landings.get_involved_questions') }}">
        {{ _('Answer questions in the support forum') }}
      </a>
    </li>
    <li>
      <a href="{{ url('landings.get_involved_kb') }}">
        {{ _('Write help articles') }}
      </a>
    </li>
  </ul>

  {% set user_is_contributor = is_contributor(user) %}
  {% set signup_headline = _('Translate help articles to your language') %}
  {% include 'landings/mobile/includes/register_contributor.html' %}

{% endblock %}
