{% extends 'mobile/base.html' %}

{% set title = _('Help other users') %}
{% set headline = title %}

{% set styles = ('mobile/landings/get-involved',) %}

{% block content %}
  <div class="padded">
    <h3>{{ _('Save the world from the comfort of your couch') }}</h3>

    <div class="centered">
      <img class="smart-width" src="{{ STATIC_URL }}img/gi-hero-butler.png" alt="">
    </div>

    <h4>{{ _('We need your help!') }}</h4>
    <p>
      {% trans %}
        Used by more than 400 million people, Firefox support is fully powered by
        volunteers, and it’s more important than ever. This is where you come in.
      {% endtrans %}
    </p>

    <h4>{{ _('Why should I help?') }}</h4>
    <p>
      {% trans %}
        Help millions of Firefox users get the most out of their favourite
        browser. Your contributions will reach millions of users worldwide, and
        you can do it from the comfort of your couch!
      {% endtrans %}
    </p>

    <div class="centered">
      <img class="smart-width" src="{{ STATIC_URL }}img/moz-heroes.jpg" alt="">
    </div>

    <h4>{{ _('About Us') }}</h4>
    <p>
      {% trans %}
        Mozilla Support is a community of enthusiastic volunteers and employees
        trying to support our users around the globe. Join us for an incredible
        adventure!
      {% endtrans %}
    </p>

    <h4>{{ _('Pick a way to get involved') }}</h4>
  </div>
  <ul class="gi-links">
    <li>
      <a href="{{ url('landings.get_involved_aoa') }}">
        {{ _('Army of Awesome: help users on Twitter') }}
      </a>
    </li>
    <li>
      <a href="{{ url('landings.get_involved_questions') }}">
        {{ _('Answer questions in the support forum') }}
      </a>
    </li>
    <li>
      <a href="{{ url('landings.get_involved_kb') }}">
        {{ _('Write help articles') }}
      </a>
    </li>
    <li>
      <a href="{{ url('landings.get_involved_l10n') }}">
        {{ _('Translate help to your languages') }}
      </a>
    </li>
  </ul>
  {% if not user.is_authenticated() or not user.groups.filter(name='Registered as contributor') %}
    <div class="sign-up">
      <h3>{{ _('Sign up as a volunteer') }}</h3>
      {% if user.is_authenticated() %}
        <form method="post" action="{{ url('users.make_contributor') }}">
          <input type="hidden" name="return_to" value="{{ url('landings.get_involved') }}">
          {{ csrf() }}
          <button class="btn btn-submit">{{ _('Sign me up') }}</button>
        </form>
      {% else %}
        <a class="btn btn-submit" href="{{ url('users.auth_contributor') }}">
          {{ _('Sign me up') }}
        </a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
