{% macro avatar_link(user=None) -%}
  {% if user %}
    <a href="{{ profile_url(user) }}"><img src="{{ profile_avatar(user) }}" height="48" width="48" alt="{{ display_name(user) }}"></a>
  {% else %}
    <img src="{{ profile_avatar(user) }}" height="48" width="48" alt="{{ _('System') }}" />
  {% endif %}
{%- endmacro %}

{% macro name_link(user=None, name=None) -%}
  {% if user -%}
    <a href="{{ profile_url(user) }}">{% if name %}{{ name }}{% else %}{{ display_name(user) }}{% endif %}</a>
  {%- else -%}
    {{ name if name else _('System') }}
  {%- endif %}
{%- endmacro %}

{% macro message_tabs(active_tab) -%}
  <nav id="doc-tabs">
    <ul>
      <li{% if active_tab == 'inbox' %} class="active"{% endif %}>
        <a href="{{ url('messages.inbox') }}">{{ _('Messages') }}</a>
      </li>
      <li{% if active_tab == 'outbox' %} class="active"{% endif %}>
        <a href="{{ url('messages.outbox') }}">{{ _('Sent Messages') }}</a>
      </li>
      <li{% if active_tab == 'new' %} class="active"{% endif %}>
        <a href="{{ url('messages.new') }}">{{ _('New Message') }}</a>
      </li>
    </ul>
  </nav>
{%- endmacro %}
