@import '../variables.less';

.topic-icon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 72px;
  width: 72px;
}

#help-topics {
  > ul:not(.card-grid) {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;

    > li {
      color: @textBlue;
      font-family: @OpenSansLight;
      font-size: 18px;
      margin: 0 0 8px 0;

      &:after {
        content: '\00BB';
        margin: 0 0 0 6px;
      }
    }
  }

  .card-grid {
    position: relative;

    > li {
      &:after {
        background: url('../img/icons-sprite.png') -50px -514px no-repeat;
        bottom: 8px;
        content: '';
        height: 16px;
        position: absolute;
        right: 8px;
        width: 16px;
      }

      > a,
      > a:visited {
        color: @textGrey;
        display: block;

        .title {
          display: block;
          font-family: @OpenSansLight;
          font-size: 16px;
          margin-left: 86px;
        }

        .topic-icon {
          float: left;
        }
      }
    }
  }
}

.grid_9 {
  #help-topics {
    .card-grid {
      > li {
        > a,
        > a:visited {
          .title {
            font-family: @OpenSans;
            font-size: 14px;
            line-height: 1.25;
            margin-left: 81px;
          }
        }
      }
    }
  }
}