{# vim: set ts=2 et sts=2 sw=2: #}
{% from "users/includes/macros-new.html" import login_form, register_form %}

{% macro aaq_progress(step=0) -%}
  {% set percent = step * 20 %}
  {% set steps = (_('Pick a product'), _('Pick a topic and try some solutions'),
                  _('Register or Sign In'), _('Fill in details'),
                  _('Confirm registration'), _('DONE')) %}
  <div id="aaq_progress" class="cf">
    <div class="progress-bar{% if percent == 100 %} complete{% endif %}">
      <div style="width: {{ percent }}%;"></div>
      <ul class="legend">
        {% for step_name in steps %}
          <li {% if steps.index(step_name) == step %}class="current"{% endif %}>{{ step_name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{%- endmacro  %}

{% macro select_product(products) -%}
  {{ aaq_progress() }}
  <h2>{{ _('Which product would you like to post a question about?') }}</h2>
  <ul id="product-picker" class="card-grid cf">
    {% for key, product in products.iteritems() %}
      <li>
        <a class="cf" href="{{ url('questions.aaq_step2', product_key=key) }}">
          <img src="{{ MEDIA_URL }}img/blank.png" alt="" class="logo-sprite logo-{{ key }}">
          <span class="title">{{ product.name }}</span>
          <span class="description">{{ product.subtitle }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro %}

{% macro selected_product(product, can_change, step=1) -%}
  {% if step >= 0 %}
    {{ aaq_progress(step=step) }}
  {% endif %}

  <div id="selected-product">
    <label>{{ _('Product') }}:</label>
    <span>{{ product.name }}</span>
    {% if can_change %}
      <a href="{{ url('questions.aaq_step1') }}">{{ _('change product') }}</a>
    {% endif %}
  </div>
{%- endmacro %}

{% macro select_category(product) -%}
  <div class="highlight-box">
    <h2>{{ _('Which category best describes your problem?') }}</h2>
    <ul class="select-one">
      {% for key, category in product.categories.iteritems() %}
        <li>
          <a href="{{ url('questions.aaq_step3', product_key=product.key, category_key=key) }}">{{ category.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{%- endmacro %}

{% macro selected_category(category, product, can_change) -%}
  <div id="selected-category">
    <label>{{ _('Category') }}:</label>
    <span>{{ category.name }}</span>
    {% if can_change %}
      <a href="{{ url('questions.aaq_step2', product_key=product.key) }}">{{ _('change category') }}</a>
    {% endif %}
  </div>
{%- endmacro %}

{% macro current_articles_and_message(articles, category, html=None) -%}
  <div class="highlight-box">
    {% if html %}
      <h2>{{ html|safe }}</h2>
    {% else %}
      <h2>{{ _('Try some solutions') }}</h2>
    {% endif %}
    {% if articles %}
      <ul class="articles select-one">
        {% for article in articles %}
          <li>
            <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{%- endmacro %}

{% macro aaq_search_form(product, category, settings, host, request) -%}
  <form id="ask-search-form" class="cf" action="{% if settings.SESSION_COOKIE_SECURE %}https://{{ host }}{{ url('questions.aaq_step4', product_key=product.key, category_key=category.key) }}{% endif %}#summarize-question" method="get">
    <input type="text" class="searchbox" name="search" value="{{ request.GET.search }}" required="required" maxlength="160" placeholder="{{ _('Summarize your question in a sentence') }}" />
    <span data-type="submit" class="btn btn-important big">{{ _('Ask this') }}</span>
  </form>
{%- endmacro %}

{% macro show_results(search_results, product, category, request) -%}
  {% if search_results %}
    <div class="highlight-box">
      <ul class="select-one search-results">
        {% for result in search_results %}
          <li>
            <a href="{{ result['url'] }}">{{ result['title'] }}</a>
            <p>
              {{ result['excerpt_html']|safe }}
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% set button_text = _('None of these solve my problem') %}
  {% else %}
    <h2 class="no-results">{{ _('This question has not been asked before.') }}</h2>
    {% set button_text = _('Provide more details') %}
  {% endif %}

  <form action="{{ url('questions.aaq_step5', product_key=product.key, category_key=category.key) }}" method="get">
    <input type="hidden" name="search" value="{{ request.GET.search }}" />
    <input type="submit" id="show-form-btn" class="btn" value="{{ button_text }}" />
  </form>
{%- endmacro %}

{% macro register_login_forms(register, login, csrf) -%}
  {{ aaq_progress(step=2) }}
  <h2>{{ _('Before you continue, please create a support account') }}</h2>
  <p>{{ _('A support account lets us alert you when people respond to your question.') }}</p>
  <div id="register-form" class="grid_6 alpha">
{# TODO: these may have regressed the layout, h2 -> h3. Check! #}
    <div class="highlight-box">
      <h2>{{ _('Create a support account') }}</h3>
      {{ register_form(register, csrf=csrf, action='', show_checkbox=False) }}
    </div>
  </div>

  <div id="login-form" class="grid_6 omega">
    <div class="highlight-box">
      <h2>{{ _('I already have an account') }}</h3>
      {{ login_form(login, csrf=csrf, action='', only_pwreset=True) }}
    </div>
  </div>
{%- endmacro %}

{% macro marketplace_category(category_slug, form, error_message) -%}
  {% if category_slug == 'payments' %}
    <h2>
      {% trans %}
        Please visit the
        <a href="https://www.paypal.com/cgi-bin/helpweb?cmd=_help">
        Paypal Help Center</a>.
      {% endtrans %}
    </h2>
  {% elif category_slug == 'applications' %}
    <h2>
      {% trans %}
        Please visit the Marketplace page for the application. There
        you can find the developers' contact information and contact them
        directly.
      {% endtrans %}
    </h2>
  {% elif category_slug == 'account' %}
    {% if error_message %}
      <ul class="errorlist">
        <li>{{ error_message }}</li>
      </ul>
    {% endif %}
    <form id="question-form" action="" method="post">
      {{ csrf() }}
      <ol>
        {{ form.as_ul() }}
        <li class="submit">
          <input type="submit" class="btn btn-important" value="{{ _('Submit Issue') }}" />
        </li>
      </ol>
    </form>
  {% endif %}
{%- endmacro %}

