{# vim: set ts=2 et sts=2 sw=2: #}
{% macro select_product(products) -%}
  <h2>{{ _('Which Firefox product would you like to post a question about?') }}</h2>
  <ul class="select-one">
    {% for key, product in products.iteritems() %}
      <li>
        <a href="{{ url('questions.new_question')|urlparams(product=key) }}">
          {{ product.name }}
          <span>{{ product.subtitle }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro %}

{% macro selected_product(product, can_change) -%}
  <div class="selected">
    <label>{{ _('Product') }}:</label>
    <span>{{ product.name }}</span>
    {% if can_change %}
      <a href="{{ url('questions.new_question') }}">{{ _('change') }}</a>
    {% endif %}
  </div>
{%- endmacro %}

{% macro select_category(product) -%}
  <h2>{{ _('Which of these categories best describes your problem?') }}</h2>
  <ul class="select-one">
    {% for key, category in product.categories.iteritems() %}
      <li>
        <a href="{{ url('questions.new_question')|urlparams(product=product.key, category=key) }}">{{ category.name }}</a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro %}

{% macro selected_category(category, product, can_change) -%}
  <div class="selected">
    <label>{{ _('Category') }}:</label>
    <span>{{ category.name }}</span>
    {% if can_change %}
      <a href="{{ url('questions.new_question')|urlparams(product=product.key) }}">{{ _('change') }}</a>
    {% endif %}
  </div>
{%- endmacro %}

{% macro current_articles_and_html(articles, html, category) -%}
  {% if html %}
    <h2>{{ html|safe }}</h2>
  {% else %}
    <h2>{{ _('We have lots of helpful articles on <mark>{category}</mark> and hundreds of questions in our database. Try one of the following:')|fe(category=category.name) }}</h2>
  {% endif %}
  {% if articles %}
    <ul class="articles select-one">
      {% for article in articles %}
        <li>
          <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{%- endmacro %}

{% macro aaq_search_form(product, category, settings, request) -%}
  <form id="ask-search-form" class="aaq search" action="{% if settings.SESSION_COOKIE_SECURE %}https://{{ host }}{{ request.get_full_path() }}{% endif %}" method="get">
    <input type="hidden" name="product" value="{{ product.key }}" />
    <input type="hidden" name="category" value="{{ category.key }}" />
    <input type="text" class="question" name="search" value="{{ request.GET.search }}" />
    <input type="submit" class="btn btn-important" value="{{ _('Ask this') }}" />
  </form>
{%- endmacro %}

{% macro show_results(search_results, product, category, request) -%}
  {% if search_results %}
    <h2>{{ _("We've found some articles and previously answered questions that may solve your issue:") }}</h2>
    <ul class="select-one search-results">
      {% for result in search_results %}
        <li>
          <a href="{{ result['url'] }}">{{ result['title'] }}</a>
          <p>
            {{ result['excerpt_html']|safe }}
          </p>
        </li>
      {% endfor %}
    </ul>
    {% set button_text = _('None of these solve my problem') %}
  {% else %}
    <h2 class="no-results">{{ _('This question has not been asked before.') }}</h2>
    {% set button_text = _('Provide more details') %}
  {% endif %}

  <form action="" method="get">
    <input type="hidden" name="product" value="{{ product.key }}" />
    <input type="hidden" name="category" value="{{ category.key }}" />
    <input type="hidden" name="search" value="{{ request.GET.search }}" />
    <input type="hidden" name="showform" value="1" />
    <input type="submit" id="show-form-btn" class="btn" value="{{ button_text }}" />
  </form>
{%- endmacro %}
