{% extends "base.html" %}
{% from 'includes/common_macros.html' import for_contributors_sidebar %}
{% from 'topics/includes/topic_macros.html' import hot_topics, topic_sidebar %}
{% set crumbs = [(url('products'), _('Products')),
                 (url('products.product', slug=product.slug), _(product.title, 'DB: products.Product.title')),
                 (None, _(topic.title, 'DB: topics.Topic.title'))] %}
{% set styles = ('products',) %}

{% block title %}{{ _(topic.title, 'DB: topics.Topic.title') }} | {{ _('{product} Help')|f(product=_(product.title, 'DB: products.Product.title')) }}{% endblock %}

{% block content %}
  <div class="grid_12">
    <h1 class="product-title cf">
      {% set prod_url = url('products.product', slug=product.slug) %}
      <img src="{{ STATIC_URL }}img/blank.png" alt="" class="logo-sprite" style="background-image: url('{{ product.image_url }}');" />
      <a href="{{ prod_url }}">{{ _(product.title, 'DB: products.Product.title') }}</a>
    </h1>
  </div>
  <aside class="grid_3">
    {{ for_contributors_sidebar(user, settings.WIKI_DEFAULT_LANGUAGE) }}
    {{ topic_sidebar(topics[:10], product, topic) }}
  </aside>
  <div class="grid_9">
    <article id="document-list">
      {% if topic.image %}<img src="{{ STATIC_URL }}img/blank.png" alt="" class="logo-sprite" style="background-image: url('{{ topic.image_url }}');" />{% endif %}
      <h1 class="topic-title cf">{{ _(topic.title, 'DB: topics.Topic.title') }}</h1>

      {% if subtopics or topic.parent %}
        <div id="focus-and-refine" class="feature-box" data-ui-type="folding-section">
          <header>
            <h2 class="nomargin">{{ _('Related Topics') }}</h2>
          </header>
          <section class="cf">
            {% if topic.parent %}
              <p>
                <a href="{{ url('products.documents', product_slug=product.slug, topic_slug=topic.parent.slug) }}">
                  {{ _('Go back to {topic}')|f(topic=_(topic.parent.title, 'DB: topics.Topic.title'))}}
                </a>
              </p>
            {% endif %}
            <ul class="subtopics cf">
              {% for topic_ in subtopics %}
                <li>
                  <a href="{{ url('products.documents', product_slug=product.slug, topic_slug=topic_.slug) }}">
                    {{ _(topic_.title, 'DB: topics.Topic.title') }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </section>
        </div>
      {% endif %}

      {% for document in documents %}
        {% if loop.first %}<ul class="topic-list">{% endif %}
        <li>
          <a href="{{ document['url'] }}">{{ document['document_title'] }}</a>
        </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}

      {% if fallback_documents %}
        <h2>{{ _('In English') }}</h2>
        {% for document in fallback_documents %}
          {% if loop.first %}<ul class="topic-list">{% endif %}
          <li>
            <a href="{{ document['url']|replace('/'+ settings.WIKI_DEFAULT_LANGUAGE +'/', '/' + request.LANGUAGE_CODE + '/') }}">{{ document['document_title'] }}</a>
          </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
      {% endif %}
    </article>
  </div>
{% endblock %}

{% block for_contributors %}{% endblock %}
