{% extends "base.html" %}
{% from 'includes/common_macros.html' import for_contributors_sidebar %}
{% if waffle.flag('new-topics') %}
  {% from 'products/includes/topic_macros.html' import topic_sidebar %}
{% else %}
  {% from 'topics/includes/topic_macros.html' import topic_sidebar %}
{% endif %}
{% from 'topics/includes/topic_macros.html' import hot_topics %}
{% set crumbs = [(url('products.product', slug=product.slug), _(product.title, 'DB: products.Product.title'))] %}
{% if subtopic %}
  {% set crumbs = crumbs + [(url('products.documents', product_slug=product.slug, topic_slug=topic.slug), _(topic.title, 'DB: products.Topic.title')), (None, _(subtopic.title, 'DB: products.Topic.title'))] %}
{% else %}
  {% set crumbs = crumbs + [(None, _(topic.title, 'DB: products.Topic.title'))] %}
{% endif %}
{% set styles = ('products',) %}

{% block title %}{{ _(topic.title, 'DB: products.Topic.title') }} | {{ _('{product} Help')|f(product=_(product.title, 'DB: products.Product.title')) }}{% endblock %}

{% block content %}
  <div class="grid_12">
    <h1 class="product-title cf">
      {% set prod_url = url('products.product', slug=product.slug) %}
      <img src="{{ STATIC_URL }}img/blank.png" alt="" class="logo-sprite" style="background-image: url('{{ product.image_url }}');" />
      <a href="{{ prod_url }}">{{ _(product.title, 'DB: products.Product.title') }}</a>
    </h1>
  </div>
  <aside class="grid_3">
    {{ for_contributors_sidebar(user, settings.WIKI_DEFAULT_LANGUAGE) }}
    {% if waffle.flag('new-topics') %}
      {{ topic_sidebar(topics[:10], subtopics, product, topic, subtopic) }}
    {% else %}
      {{ topic_sidebar(topics[:10], product, topic) }}
    {% endif %}
  </aside>
  <div class="grid_9">
    <article id="document-list">
      {% if topic.image %}<img src="{{ STATIC_URL }}img/blank.png" alt="" class="logo-sprite" style="background-image: url('{{ topic.image_url }}');" />{% endif %}
      <h1 class="topic-title {% if topic.image %}has-image{% endif %} {% if not subtopic %}cf{% endif %}">
        {% if subtopic %}
          <a href="{{ url('products.documents', product_slug=product.slug, topic_slug=topic.slug) }}">
        {% endif %}
        {{ _(topic.title, 'DB: products.Topic.title') }}
        {% if subtopic %}
          </a>
        {% endif %}
      </h1>

      {% if subtopic %}
        <h1 class="topic-title {% if topic.image %}has-image{% endif %} cf">
          {{ _(subtopic.title, 'DB: products.Topic.title') }}
        </h1>
      {% endif %}

      {% if not waffle.flag('new-topics') %}
        {% if subtopics or topic.parent %}
          <div id="focus-and-refine" class="feature-box" data-ui-type="folding-section">
            <header>
              <h2 class="nomargin">{{ _('Related Topics') }}</h2>
            </header>
            <section class="cf">
              {% if subtopic %}
                <p>
                  <a href="{{ url('products.documents', product_slug=product.slug, topic_slug=topic.slug) }}">
                    {{ _('Go back to {topic}')|f(topic=_(topic.title, 'DB: products.Topic.title'))}}
                  </a>
                </p>
              {% else %}
                <ul class="subtopics cf">
                  {% for subtopic in subtopics %}
                    <li>
                      <a href="{{ url('products.subtopics', product_slug=product.slug, topic_slug=topic.slug, subtopic_slug=subtopic.slug) }}">
                        {{ _(subtopic.title, 'DB: products.Topic.title') }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </section>
          </div>
        {% endif %}
      {% endif %}

      <ul class="topic-list">
        {% if not subtopic and subtopics and waffle.flag('new-topics') %}
          {# only show subtopics on the parent topic page #}
          {% for subtopic in subtopics %}
            <li>
              <a href="{{ url('products.subtopics', product_slug=product.slug, topic_slug=topic.slug, subtopic_slug=subtopic.slug) }}">
                {{ _(subtopic.title, 'DB: products.Topic.title') }}
              </a>
            </li>
          {% endfor %}
        {% endif %}
        {% for document in documents %}
          <li>
            <a href="{{ document['url'] }}">{{ document['document_title'] }}</a>
            {% if waffle.flag('new-topics') %}
              {{ document['document_summary'] }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      {% if fallback_documents %}
        <h2>{{ _('In English') }}</h2>
        {% for document in fallback_documents %}
          {% if loop.first %}<ul class="topic-list">{% endif %}
          <li>
            <a href="{{ document['url']|replace('/'+ settings.WIKI_DEFAULT_LANGUAGE +'/', '/' + request.LANGUAGE_CODE + '/') }}">{{ document['document_title'] }}</a>
          </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
      {% endif %}
    </article>
  </div>
{% endblock %}

{% block for_contributors %}{% endblock %}
