{% extends "base.html" %}
{% from 'includes/common_macros.html' import for_contributors_sidebar %}
{% from 'topics/includes/topic_macros.html' import hot_section, help_topics with context %}
{% set crumbs = [(None, _(product.title, 'DB: products.Product.title'))] %}
{% set styles = ('products',) %}

{% block title %}{{ _('{product} Help')|f(product=_(product.title, 'DB: products.Product.title')) }}{% endblock %}

{% block content %}
  <div class="grid_12">
    <h1 class="product-title cf">
      <img src="{{ STATIC_URL }}img/blank.png" alt="" class="logo-sprite"
        style="background-image: url('{{ product.image_url }}');" />
      {{ _(product.title, 'DB: products.Product.title') }}
    </h1>

    {% if product.slug == 'firefox' %}
      <div class="download-firefox">
        <a href="http://www.mozilla.org/firefox/new/#download-fx" class="download-button"
         data-ga-click="_trackEvent | Download Click | {{ product.slug }}">

          <span class="download-content">
            <span class="download-title">{{ _('Firefox') }}</span>
            {{ _('Free Download') }}
          </span>
        </a>
        <ul class="info">
          <li><a href="http://www.mozilla.org/firefox/all/">Systems and Languages</a></li>
          <li><a href="http://www.mozilla.org/en-US/firefox/notes">What's New</a></li>
          <li><a href="http://www.mozilla.org/legal/privacy/firefox">Privacy</a></li>
        </ul>
      </div>
    {% endif %}
  </div>

  <div class="grid_12">
    {{ hot_section(hot_docs, fallback_hot_docs, hot_questions) }}
    <section id="help-topics">
      <h1>{{ _('Help Topics') }}</h1>
      {{ help_topics(topics, show_community_support=True) }}
    </section>
    <section id="get-involved-button">
      <a class="btn btn-submit" href="{{ url('landings.get_involved') }}">{{ _('Get Involved - Help Other Users') }}</a>
    </section>
  </div>
{% endblock %}

{% block for_contributors %}{% endblock %}

{% block outer_side %}
{% endblock %}
