{% extends "base.html" %}
{% from 'includes/common_macros.html' import for_contributors_sidebar %}
{% from 'products/includes/topic_macros.html' import help_topics with context %}
{% set crumbs = [(None, _(product.title, 'DB: products.Product.title'))] %}
{% set styles = ('products',) %}
{% set scripts = ('products',) %}
{% set classes = 'product-landing' %}
{% set extra_body_attrs = {'data-product-slug': product.slug} %}

{% block title %}{{ _('{product} Help')|f(product=_(product.title, 'DB: products.Product.title')) }}{% endblock %}

{% block content %}
  <div class="grid_12">
    <h1 class="product-title cf">
      <img src="{{ STATIC_URL }}img/blank.png" alt="" class="logo-sprite"
        style="background-image: url('{{ product.image_url }}');" />
      {{ _(product.title, 'DB: products.Product.title') }}
    </h1>

    {% if product.slug == 'firefox' %}
      <div class="download-firefox">
        <a href="http://www.mozilla.org/firefox/new/#download-fx" class="download-button"
         data-ga-click="_trackEvent | Download Click | {{ product.slug }}"
         data-latest-version="{{ latest_version }}">
          <span class="download-content">
            <span class="download-title">{{ _('Firefox') }}</span>
            {{ _('Free Download') }}
          </span>
        </a>
        <div class="help-bubble">
          <strong>{{ _('You are already using the latest version of Firefox.') }}</strong>
          <ul>
            <li>
              <a href="{{ url('wiki.document', 'reset-firefox-easily-fix-most-problems') }}">{{ _('Reset your browser for a fresh start') }}</a>
            </li>
            <li>
              <a href="http://www.mozilla.org/firefox/new/#download-fx"
                 data-ga-click="_trackEvent | Download Click | {{ product.slug }}">
                {{ _('Continue with download') }}
              </a>
            </li>
          </ul>
        </div>
        <ul class="info">
          <li><a href="http://www.mozilla.org/firefox/all/">{{ _('Systems and Languages') }}</a></li>
          <li><a href="http://www.mozilla.org/en-US/firefox/notes">{{ _("What's New") }}</a></li>
          <li><a href="http://www.mozilla.org/legal/privacy/firefox">{{ _('Privacy') }}</a></li>
        </ul>
      </div>
    {% endif %}
  </div>

  <div class="grid_12">
    <section id="help-topics">
      <h1>{{ _('Help Topics') }}</h1>
      {{ help_topics(topics, show_community_support=True) }}
    </section>
    <section id="get-involved-button">
      <a class="btn btn-submit" href="{{ url('landings.get_involved') }}">{{ _('Get Involved - Help Other Users') }}</a>
    </section>
  </div>
{% endblock %}

{% block for_contributors %}{% endblock %}

{% block outer_side %}
{% endblock %}
