{% extends "base.html" %}
{% from "users/includes/macros.html" import login_form with context %}
{% set title = _('Access denied') %}
{% set styles = ('users',) %}

{% block content %}
<article id="error-page">
  <h1>{{ title }}</h1>

  {% if no_cookies %}
    <p>{{ _('You must have cookies enabled to login or register.') }}</p>
    <p><a href="{{ url('wiki.document', 'websites-say-cookies-are-blocked-unblock-them') }}">How to unblock cookies</a></p>
  {% else %}
    <p>{{ _('You do not have permission to access this page.') }}</p>
  {% endif %}

  {% if not user.is_authenticated() %}
    <h2>{{ _('Log in') }}</h2>
    {{ login_form(form) }}
  {% endif %}
</article>
{% endblock %}
