{% if request.MOBILE %}
  {% extends 'mobile/base.html' %}
{% else %}
  {% extends 'base.html' %}
{% endif %}
{% set title = _('Page Not Found') %}
{% set hide_header_search = True %}

{% block content %}
<article id="error-page" class="page-not-found">
  <h1>{{ title }}</h1>

  <p>{% trans %}Sorry, we couldn't find the page you were looking for. Please,
  try searching our site using the form below.{% endtrans %}</p>

  {% import "search/basic-form.html" as form with context %}

  {{ form.form() }}
</article>
<div class="footnote">
  <a rel="license" href="https://creativecommons.org/licenses/by-sa/2.0/"
     target="_blank"><img src="{{ STATIC_URL }}sumo/img/cc-sa.png"
     alt="Creative Commons Attribution-Share Alike 2.0 Generic License"
     title="Creative Commons Attribution-Share Alike 2.0 Generic License"></a>
  by <a href="https://www.flickr.com/people/nukeador/" target="_blank">Nukeador</a>
</div>
{% endblock %}
