{% extends 'base.html' %}

{% set title = _('Page Not Found') %}
{% set hide_header_search = True %}

{% block breadcrumbs %}{% endblock %}

{% block masthead %}
<section id="error-page" class="home-search-section sumo-page-section--lg shade-bg page-not-found">
  <div class="mzp-l-content narrow">
    <div class="home-search-section--content">
      <h1 class="text-display-xl">{{ title }}</h1>
      <p class="text-body-lg">{% trans %}Sorry, we couldn't find the page you were looking for. Please,
      try searching our site using the form below.{% endtrans %}</p>

      {% import "search/basic-form.html" as form with context %}
      {{ form.form() }}
    </div>
  </div>
</section>
<section class="mzp-l-content sumo-page-section" id="main-content">
</section>
{% endblock %}
