{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "karma/dashboards/base.html" %}
{% set classes = ('karma-dashboard questions') %}
{% set title = _('Support Forum Karma Dashboard') %}

{% block content %}
  <h1>{{ title }}</h1>

  <article id="karma-dash" data-userlist-url="{{ url('karma.api.users') }}"></article>

  <!-- View Templates -->
  <script type="text/template" id="userlist-template">
    <table>
      <thead>
        <tr>
          <th class="select-user"></th>
          <th class="username">
            {{ _('Username') }}
          </th>
          <th class="points sortable <% if (sort==='points') { %>sort<% } %>">
            {{ _('Total Points') }}
          </th>
          <th class="answer sortable <% if (sort==='answer') { %>sort<% } %>">
            {{ _('Answers') }}
          </th>
          <th class="first-answer sortable <% if (sort==='first-answer') { %>sort<% } %>">
            {{ _('First Answers') }}
          </th>
          <th class="solution sortable <% if (sort==='solution') { %>sort<% } %>">
            {{ _('Solutions') }}
          </th>
          <th class="helpful-answer sortable <% if (sort==='helpful-answer') { %>sort<% } %>">
            {{ _('Helpful Votes') }}
          </th>
          <th class="nothelpful-answer sortable <% if (sort==='nothelpful-answer') { %>sort<% } %>">
            {{ _('Unhelpful Votes') }}
          </th>
      </thead>
      <tbody></tbody>
    </table>
  </script>

  <script type="text/template" id="user-template">
    <td class="select-user">
      <input type="checkbox" name="selected" value="<%= id %>" <% if(selected) { %>checked="checked"<% } %>/>
    </td>
    <td class="username">
      <%= username %>
    </td>
    <td class="points">
      <%= points %>
    </td>
    <td class="answer">
      <%= answer %>
    </td>
    <td class="first-answer">
      <%= firstanswer %>
    </td>
    <td class="solution">
      <%= solution %>
    </td>
    <td class="helpful-answer">
      <%= helpfulanswer %>
    </td>
    <td class="nothelpful-answer">
      <%= nothelpfulanswer %>
    </td>
  </script>
{% endblock %}
