{% from 'flagit/includes/macros.html' import date_by_user with context %}
<div class="flagged-content">
  <h3 class="flagged-content__heading">{{ _('Subject:') }}</h3>
  <p class="flagged-content__title">{{ object.content_object.subject }}</p>

  <h3 class="flagged-content__subheading">{{ _('Description:') }}</h3>
  <div class="flagged-content__text">{{ object.content_object.description }}</div>

  <p class="compact-info"><strong>{{ _('Email:') }}</strong> {{ object.content_object.email }}</p>
  <p class="compact-info"><strong>{{ _('Product:') }}</strong> {{ object.content_object.product }}</p>
  <p class="compact-info"><strong>{{ _('Category:') }}</strong> {{ object.content_object.category }}</p>
  <p class="compact-info"><strong>{{ _('Status:') }}</strong> {{ object.content_object.get_status_display() }}</p>

  <h3 class="flagged-content__subheading">{{ _('Created:') }}</h3>
  {% if object.content_object.user %}
    <p>{{ date_by_user(object.content_object.created, object.content_object.user) }}</p>
  {% else %}
    <p>{{ datetimeformat(object.content_object.created, format='longdatetime') }}</p>
  {% endif %}

  <h3 class="flagged-content__subheading">{{ _('Flagged:') }}</h3>
  <p>{{ date_by_user(object.created, object.creator) }}</p>

  {% if object.reason == 'content_moderation' and user.has_perm('customercare.change_supportticket')  %}
    <h3 class="flagged-content__subheading">{{ _('Take Action:') }}</h3>
    <div class="flagged-content__topic-update">
      <label> {{ _('Current topic:') }} </label>
      <p id="current-topic-{{ object.content_object.id }}" class="current-topic">{{ object.content_object.topic }}</p>

      <form id="topic-update-form-{{ object.content_object.id }}" method="POST">
        {% csrf_token %}
        <div class="dropdown-wrapper">
          <label for="topic-dropdown-{{ object.content_object.id }}">{{ _('Change Topic:') }}</label>
          <select id="topic-dropdown-{{ object.content_object.id }}" class="topic-dropdown" name="topic" data-ticket-id="{{ object.content_object.id }}">
            {% for topic in object.available_topics %}
              <option value="{{ topic.id }}" {% if object.content_object.topic and topic.id == object.content_object.topic.id %}selected{% endif %}>
                {{ topic.title|safe}}
              </option>
            {% endfor %}
          </select>
        </div>
      </form>
    </div>
  {% endif %}
</div>

{% if user.is_staff and user.has_perm('customercare.change_supportticket') %}
  <a class="sumo-button button-sm" href="{{ url('admin:customercare_supportticket_change', object.content_object.id) }}">{{ _('View in Admin') }}</a>
{% endif %}
