{% from 'flagit/includes/macros.html' import date_by_user with context %}
<h3 class="sumo-page-intro">{{ _('Content:') }}</h3>
<div class="content">{{ object.content_object.content_parsed }}</div>
<h3 class="sumo-page-intro">{{ _('Created:') }}</h3>
<p class="created">
  {{ date_by_user(object.content_object.created, object.content_object.creator) }}
</p>
{% if object.content_object.updated_by %}
  <h3 class="sumo-page-intro">{{ _('Updated:') }}</h3>
  <p class="updated">
    {{ date_by_user(object.content_object.updated, object.content_object.updated_by) }}
  </p>
{% endif %}
<h3 class="sumo-page-intro">{{ _('Flagged:') }}</h3>
<p class="flagged">
  {{ date_by_user(object.created, object.creator) }}
</p>
<h3 class="sumo-page-intro">{{ _('Take Action:') }}</h3>
<div class="actions sumo-button-wrap">
  <a class="sumo-button button-sm" href="{{ object.content_object.get_absolute_url() }}">View</a>
  {% if user.has_perm('questions.change_answer') %}
    <a class="sumo-button button-sm edit" href="{{ url('questions.edit_answer', object.content_object.question.id, object.content_object.id) }}">{{ _('Edit') }}</a>
  {% endif %}
  {% if user.has_perm('questions.delete_question') %}
    <a class="sumo-button button-sm delete" href="{{ url('questions.delete_answer', object.content_object.question.id, object.content_object.id) }}">{{ _('Delete') }}</a>
  {% endif %}
</div>
