{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "users/base.html" %}
{% set title = _('{user} | Profile')|f(user=profile.user.username) %}
{% set classes = 'profile' %}
{% set canonical_url = unlocalized_url('users.profile', profile.user.pk) %}
{% set active = 'my-profile' %}

{% block content %}
  <article id="profile" class="main">
    <section id="avatar-area">
      <img src="{{ profile_avatar(profile.user) }}" alt="">
    </section>
    <section id="main-area">
      {% if user.is_staff and user.has_perm('users.change_profile') %}
        <div id="admin-actions">
          <a class="edit" href="{{ url('admin:users_profile_change', profile.user.id) }}">{{ _('Edit user profile') }}</a>
        </div>
      {% endif %}
      {% if request.user.is_authenticated and request.user != profile.user %}
        <section class="marky" id="flag">
          <form action="{{ url('users.flag', object_id=profile.pk) }}" method="POST">
            <input type="hidden" name="next" value="{{ request.get_full_path() }}" />
            <button name="reason" type="submit" value="abuse">{{ _('Report Abuse') }}</button>
            {{ csrf() }}
          </form>
        </section>
      {% endif %}
      <h1>{{ display_name(profile.user) }}
          {% if profile.name %}
            <em>({{ profile.user.username }})</em>
          {% endif %}
      </h1>
      <h2>
        {% if profile.city and profile.country %}
          {{ _('{city}, {country}')|f(city=profile.city,
                                      country=profile.country) }}
        {% elif profile.city %}
          {{ profile.city }}
        {% elif profile.country %}
          {{ profile.country }}
        {% endif %}
      </h2>
      {% if profile.user == user %}
        <a href="{{ url('users.logout') }}">{{ _('Sign Out') }}</a>
      {% else %}
        {{ private_message(profile.user) }}
      {% endif %}
      {% if num_answers or num_questions or num_solutions %}
        <div id="contributions-box">
        <h2>Contributions</h2>
          <ul>
            {% if num_questions %}
              <li>
                <a href="{{ url('search')|urlparams(aksed_by=profile.user.username, sortby=1, a=1, w=2) }}">
                  {{ num_questions }} questions
                </a>
              </li>
            {% endif %}
            {% if num_answers %}
              <li>
                <a href="{{ url('search')|urlparams(answered_by=profile.user.username, sortby=1, a=1, w=2) }}">
                  {{ num_answers }} answers
                </a>
              </li>
            {% endif %}
            {% if num_solutions %}
              <li>{{ num_solutions }} solutions</li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
      {% if profile.public_email or profile.website or profile.twitter or
            profile.facebook or profile.irc_handle or
            (profile.livechat_id and
             profile.livechat_id|lower != profile.user.username|lower) %}
        <div id="contact-box">
          <ul>
            {% if profile.public_email and request.user.is_authenticated() %}
              <li>
                <label>{{ _('Email:') }}</label>
                {{ profile.user.email|public_email }}
              </li>
            {% endif %}
            {% if profile.website %}
              <li>
                <label>{{ _('Website:') }}</label>
                <a rel="nofollow" href="{{ profile.website }}">{{ profile.website }}</a>
              </li>
            {% endif %}
            {% if profile.twitter %}
              <li>
                <label>{{ _('Twitter:') }}</label>
                <a rel="nofollow" href="{{ profile.twitter }}">{{ profile.twitter }}</a>
              </li>
            {% endif %}
            {% if profile.facebook %}
              <li>
                <label>{{ _('Facebook:') }}</label>
                <a rel="nofollow" href="{{ profile.facebook }}">{{ profile.facebook }}</a>
              </li>
            {% endif %}
            {% if profile.irc_handle %}
              <li>
                <label>{{ _('IRC:') }}</label>
                {{ profile.irc_handle }}
              </li>
            {% endif %}
            {% if profile.livechat_id and
                  profile.livechat_id|lower != profile.user.username|lower %}
              <li>{{ _('Livechat ID: {livechat_id}')|f(livechat_id=profile.livechat_id) }}</li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
      {% if profile.bio %}
        <div id="bio">
          <h2>{{ _('About {user}')|f(user=display_name(profile.user)) }}</h2>
          {{ profile.bio|wiki_to_html(nofollow=True) }}
        </div>
      {% endif %}
      {% if groups %}
        <div id="groups">
          <h2>{{ _("{user}'s Groups")|f(user=display_name(profile.user)) }}</h2>
          <ul>
            {% for g in groups %}
              <li>{{ group_link(g) }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </section>
  </article>
{% endblock %}
