{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "users/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% from "users/includes/macros.html" import register_form %}
{% set title = _('Register') %}
{% set classes = 'register' %}

{% block content %}
  <article id="register" class="main">
    <h1>{{ _('Register') }}</h1>
    {% set action = url('users.register_contributor') if contributor else url('users.register') %}
    {{ register_form(form, csrf=csrf(), action=action, contributor=contributor) }}
  </article>
{% endblock %}
