{# vim: set ts=2 et sts=2 sw=2: #}
<!DOCTYPE html>
<html lang="{{ request.locale }}" {% if dir %}dir="{{ dir }}"{% endif %}>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ title }} | {{ _('Firefox Help', 'site_title') }}</title>
    {# TODO #}
  </head>
  <body class="{{ classes }}"
        data-readonly="{{ settings.READ_ONLY|json }}"
        data-for-os="{{ for_os|json }}"
        data-for-version="{{ for_version|json }}">
    {% block content %}{% endblock %}
    {# TODO #}
  </body>
</html>
