{# vim: set ts=2 et sts=2 sw=2: #}
{% from "includes/common_macros.html" import list_view_item %}
{% from "wiki/includes/document_macros.html" import show_for with context %}
{% from "search/basic-form.html" import mobile_form with context %}
{% if not site_title %}
  {% set site_title = _('Firefox Help <span>for Mobile</span>')|safe %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ request.locale }}" {% if dir %}dir="{{ dir }}"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | {{ _('Firefox Help', 'site_title') }}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}img/favicon.ico">
    <link rel="search" type="application/opensearchdescription+xml" title="{{ _('Firefox Help') }}" href="{{ url('search.plugin') }}"/>

    {{ css('mobile') }}
    {% for style in styles %}
      {{ css(style) }}
    {% endfor %}
    {% if meta %}
      {% for tag in meta %}
        <meta name="{{ tag[0] }}" content="{{ tag[1] }}"/>
      {% endfor %}
    {% endif %}
    {% if canonical_url %}
      <link rel="canonical" href="{{ canonical_url }}" />
    {% endif %}
  </head>
  <body class="no-js {{ classes }}"
        data-readonly="{{ settings.READ_ONLY|json }}"
        data-for-os="{{ for_os|json }}"
        data-for-version="{{ for_version|json }}">
    <header{{ '' if full_width_header else ' class="mini-header"'|safe }}{% if header_id %} id="{{ header_id }}"{% endif %}>
      {% include "global/mobile/header.html" %}
      <hgroup>
        <h1 class="site-title">
          <a href="{{ url('home') }}"
            title="{{ _('Return to Firefox Support homepage') }}">
            <img alt="" src="{{ MEDIA_URL }}img/firefox.png">
            {{ site_title }}
          </a>
        </h1>
      </hgroup>
      {% if not hide_home_link %}
        <a href="{{ url('home') }}" id="home">
          <svg width="18" height="16"><polygon fill="#447BC4" points="9,0 18,9 15,9 15,16 11,16 11,11 7,11 7,18 3,16 3,9 0,9"/></svg>
          {{ _('Firefox Help Home') }}
        </a>
      {% endif %}
      {% if show_search == 'top' %}
        {{ mobile_form(q, search_params) }}
      {% endif %}
    </header>

    <section id="content">
      {% block content %}{% endblock %}
      {% if not hide_extra_content %}
        {% if not aaq_url %}
          {% set aaq_url = url('wiki.document', 'ask') %}
        {% endif %}
        {% if show_search == 'bottom' %}
          <h2>{{ _("Couldn't find what you were looking for?") }}</h2>
          <ul class="listview">
            <li class="search">{{ mobile_form(q, search_params) }}</li>
            {{ list_view_item(aaq_url, _('Ask a Question')) }}
          </ul>
        {% else %}
          <h2>{{ _('Need More Personal Help?') }}</h2>
          <ul class="listview">
            {{ list_view_item(aaq_url, _('Ask a Question')) }}
          </ul>
        {% endif %}

        <h2>{{ _('Other Products') }}</h2>
        <ul class="listview products">
          {% if not is_desktop_page %}
            {{ list_view_item(url('home'), _('Firefox for Desktop'), 'desktop-icon') }}
          {% endif %}
          {% if not is_mobile_page %}
            {{ list_view_item(url('home.mobile'), _('Firefox for Mobile'), 'mobile-icon') }}
          {% endif %}
          {% if not is_fxhome_page %}
            {{ list_view_item(url('home.fxhome'), _('Firefox Home'), 'home-icon') }}
          {% endif %}
          {% if not is_sync_page %}
            {{ list_view_item(url('home.sync'), _('Firefox Sync'), 'sync-icon') }}
          {% endif %}
        </ul>

        {% if include_showfor %}
          {{ show_for() }}
        {% endif %}
      {% endif %}
    </section>

    <footer>
      {% include "includes/lang_form.html" %}
      {% block footer %}
        {# TODO: make this work without JS #}
        <a class="desktop-link" href="{{ request.build_absolute_uri()|urlparams(desktop=1) }}">{{ _('View full site') }}</a>
        <p id="footer-links">
          <a href="http://mozilla.com/privacy-policy.html">{{ _('Privacy Policy') }}</a> &nbsp;|&nbsp;
          <a href="http://mozilla.com/about/legal.html">{{ _('Legal Notices') }}</a>
        </p>
      {% endblock footer %}
    </footer>

    <script src="{{ url('jsi18n') }}/build:{{ BUILD_ID_JS }}"></script>
    {{ js('mobile') }}
    {% for script in scripts %}
      {{ js(script) }}
    {% endfor %}

    {# Webtrends Stats Tracking #}
    <script defer src="{{ MEDIA_URL }}js/webtrends.js" defer></script>
    <noscript>
      <div><img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="//statse.webtrendslive.com/dcsz45fp6vz5bdvu89oegdwp8_7u8z/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.4.0&amp;dcssip=www.support.mozilla.org"/></div>
    </noscript>
    {# End Webtrends #}

{# iDevice survey - Bug 787356 #}
{% if request.locale == settings.WIKI_DEFAULT_LANGUAGE and is_idevice(request) %}
<script type="text/javascript">var sg_div = document.createElement("div");sg_div.innerHTML = "<h1>You have been selected for a survey</h1><p>We appreciate your feedback!</p><p><a href=\"http://www.surveygizmo.com/s3/popup/1015402/bf95889b21eb\">Please click here start it now.</a> </p> <a href=\"#\" onclick=\"document.getElementById('sg-popup').style.display = 'none';return false;\">No, thank you.</a> ";sg_div.id = "sg-popup";sg_div.style.position = "absolute";sg_div.style.width = "500px";sg_div.style.top = "100px";sg_div.style.left = "400px";sg_div.style.backgroundColor = "#ffffff";sg_div.style.borderColor = "#000000";sg_div.style.borderStyle = "solid";sg_div.style.padding = "20px";sg_div.style.fontSize = "16px";document.body.appendChild(sg_div);</script>
{% endif %}

  </body>
</html>
