{% extends 'mobile/base.html' %}

{% from 'users/mobile/includes/macros.html' import login_form %}

{% set styles = ('mobile/users',) %}
{% set classes = 'login' %}
{% set title = _('Sign in') %}
{% set headline = title %}
{% set return_url = next_url %}

{% block content %}
  {% if waffle.flag('browserid') %}
    <p>{{ _('You must be signed in to continue') }}</p>
    <p><a class="btn btn-submit browserid-login" data-next="{{ next_url }}" href="#" >{{ _('Sign in with email') }}</a></p>
  {% else %}
    {{ login_form(form, csrf=csrf(), next_url=next_url) }}
  {% endif %}
{% endblock %}
