{% extends "base.html" %}

{% set title = _('Contributor Metrics') %}
{% set crumbs = [(url('community.home'), _('Community Hub')),
                 (None, title)] %}

{% set styles = ('kpi.dashboard', 'rickshaw',) %}
{% set scripts = ('rickshaw', 'kpi.dashboard',) %}

{% block content %}
  <article id="kpi-dash">
    <h1>{{ _('Contributor Metrics') }}</h1>
      <section id="kpi-cohort-analysis" data-url="/api/2/cohort">
      <h2>{{ _('Retention') }}</h2>
      <div id="retention-chart" class="graph" data-chart-type="d3" data-slug="retention">
        <div class="inline-controls">
          <div>
            <select id="toggle-cohort-type">
              <option value="contributor">{{ _('Contributors') }}</option>
              <option value="contributor:kb:en-US">{{ _('en-US') }}</option>
              <option value="contributor:kb:l10n">{{ _('L10N') }}</option>
              <option value="contributor:supportforum:helper">{{ _('Support Forum Help') }}</option>
              <option value="contributor:aoa">{{ _('Army of Awesome') }}</option>
            </select>
          </div>
        </div>
      </div>
    </section>
  </article>
{% endblock %}
