{% extends "community/base.html" %}

{% block title %}{{ _('Contributor Search Results - Mozilla Support Community') }}{% endblock %}

{% block content %}
  <h1 class="main-heading">{{ _('Community Hub') }}</h1>

  <article class="community-results">

    <section class="community-results-header">
      {% if q %}
        <h1>{{ _('Results for: {query}')|f(query=q) }}</h1>
      {% else %}
        <h1>{{ _('Find your fellow contributors') }}</h1>
      {% endif %}
      <form name="find-contributor" id="find-contributor" action="" method="get">

        {# COMMENT THIS OUT FOR NOW
        <input type="hidden" value="" id="ts-value" name="findby" />

        <div class="selector" data-emulate-select="true">
          <button type="button" class="ts-select-trigger">
            <!-- arrow icon using icon font -->
            <span aria-hidden="true" data-icon-arrow="&#xe800;" class="selector-arrow">
                <span class='current-selected'>{{ _('Find By') }}</span>
            </span>
          </button>
          <div class="select-options ts-modal" aria-expanded="false">
            <ul class="ts-options" tabindex="-1">
              <li><a href="#username" class="selected" aria-checked="true">{{ _('Username') }}</a></li>
              <li><a href="#displayname">{{ _('Display Name') }}</a></li>
            </ul>
          </div>
        </div>
        ENDCOMMENT #}

        <fieldset>
          <input type="text" name="q" id="search" class="query" value="{{ q }}" placeholder="{{ _('Username, Display Name or Twitter Handle') }}" />
          <input type="submit" value="{{ _('Search') }}" class="search" />
        </fieldset>
      </form>
    </section>

    {% if search_errored %}
      <p>{{ _('Sorry! Search is currently unavailable. Please try again soon.') }}</p>
    {% endif %}

    {% if q and not results %}
      <p>{{ _('No users were found for your search query.') }}</p>
    {% endif %}

    {% for result in results %}
      <section class="results-user">
        <img src="{{ result['avatar'] }}" width="120" height="120" alt="" class="user-img-results" />
        <div class="user-details">
          <h2>{{ result['display_name'] }}</h2>
          <ul class="results-user-details">
            <li>{{ result['username'] }}</li>
            <li>
              {{ _('Twitter Handles:') }}
              {% for handle in result['twitter_usernames'] %}
                {{ handle }}
              {% endfor %}
            </li>
            <li><a href="{{ url('users.profile', result['id']) }}">{{ _('View Profile') }}</a></li>
            <li><a href="{{ url('messages.new')|urlparams(to=result['username']) }}">{{ _('Private Message') }}</a></li>
          </ul>
        </div>
      </section>
    {% endfor %}

  </article>
{% endblock %}
