{% extends "community/base.html" %}

{% block title %}{{ _('All Contrbutor - Mozilla Support Community') }}{% endblock %}

{% block content %}
  <h1 class="main-heading">Community Hub</h1>

  <article class="community-results">

    <section class="community-results-header">
      <h1>{{ _('Top Forum Contributors') }} (LANG)</h1>
      <form name="find-contributor" id="find-contributor" action="community/contributor_results" method="post">
        {{ csrf() }}
        <input type="hidden" value="" id="ts-value" name="findby" />

        <div class="selector" data-emulate-select="true">
          <button type="button" class="ts-select-trigger">
            <!-- arrow icon using icon font -->
            <span aria-hidden="true" data-icon-arrow="&#xe800;" class="selector-arrow">
                <span class='current-selected'>{{ _('Find User By') }}</span>
            </span>
          </button>
          <div class="select-options ts-modal" aria-expanded="false">
            <ul class="ts-options" tabindex="-1">
               <li><a href="#username" class="selected" aria-checked="true">{{ _('Username') }}</a></li>
              <li><a href="#displayname">{{ _('Display Name') }}</a></li>
            </ul>
          </div>
        </div>

        <fieldset>
          <input type="text" name="q" id="search" class="query" />
          <input type="submit" value="{{ _('Search') }}" class="search" />
        </fieldset>
      </form>
    </section>

    <section class="results-user">
      <img src="{{ STATIC_URL }}img/user.gif" width="120" height="120" alt="contributor photo" class="user-img-results" />
      <div class="user-details">
        <h2>Display Name</h2>
        <ul class="results-user-details">
          <li>{{ _('Last Activity') }}: 9 days ago</li>
          <li>Answers: 12</li>
          <li>Solutions:12</li>
          <li><a href="profile">profile</a></li>
        </ul>
      </div>
    </section>

    <section class="results-user">
      <img src="{{ STATIC_URL }}img/user.gif" width="120" height="120" alt="contributor photo" class="user-img-results" />
      <div class="user-details">
        <h2>Display Name</h2>
        <ul class="results-user-details">
          <li>{{ _('Last Activity') }}: 9 days ago</li>
          <li>Answers: 12</li>
          <li>Solutions:12</li>
          <li><a href="profile">profile</a></li>
        </ul>
      </div>
    </section>

    <section class="results-user">
      <img src="{{ STATIC_URL }}img/user.gif" width="120" height="120" alt="contributor photo" class="user-img-results" />
      <div class="user-details">
        <h2>Display Name</h2>
        <ul class="results-user-details">
          <li>{{ _('Last Activity') }}: 9 days ago</li>
          <li>Answers: 12</li>
          <li>Solutions:12</li>
          <li><a href="profile">profile</a></li>
        </ul>
      </div>
    </section>

    <section class="results-user">
      <img src="{{ STATIC_URL }}img/user.gif" width="120" height="120" alt="contributor photo" class="user-img-results" />
      <div class="user-details">
        <h2>Display Name</h2>
        <ul class="results-user-details">
          <li>{{ _('Last Activity') }}: 9 days ago</li>
          <li>Answers: 12</li>
          <li>Solutions:12</li>
          <li><a href="profile">profile</a></li>
        </ul>
      </div>
    </section>

    <section class="results-user">
      <img src="{{ STATIC_URL }}img/user.gif" width="120" height="120" alt="contributor photo" class="user-img-results" />
      <div class="user-details">
        <h2>Display Name</h2>
        <ul class="results-user-details">
          <li>{{ _('Last Activity') }}: 9 days ago</li>
          <li>Answers: 12</li>
          <li>Solutions:12</li>
          <li><a href="profile">profile</a></li>
        </ul>
      </div>
    </section>

    <section class="results-user">
      <img src="{{ STATIC_URL }}img/user.gif" width="120" height="120" alt="contributor photo" class="user-img-results" />
      <div class="user-details">
        <h2>Display Name</h2>
        <ul class="results-user-details">
          <li>{{ _('Last Activity') }}: 9 days ago</li>
          <li>Answers: 12</li>
          <li>Solutions:12</li>
          <li><a href="profile">profile</a></li>
        </ul>
      </div>
    </section>

    <section class="results-user">
      <img src="{{ STATIC_URL }}img/user.gif" width="120" height="120" alt="contributor photo" class="user-img-results" />
      <div class="user-details">
        <h2>Display Name</h2>
        <ul class="results-user-details">
          <li>{{ _('Last Activity') }}: 9 days ago</li>
          <li>Answers: 12</li>
          <li>Solutions:12</li>
          <li><a href="profile">profile</a></li>
        </ul>
      </div>
    </section>

    <section class="results-user">
      <img src="{{ STATIC_URL }}img/user.gif" width="120" height="120" alt="contributor photo" class="user-img-results" />
      <div class="user-details">
        <h2>Display Name</h2>
        <ul class="results-user-details">
          <li>{{ _('Last Activity') }}: 9 days ago</li>
          <li>Answers: 12</li>
          <li>Solutions:12</li>
          <li><a href="profile">profile</a></li>
        </ul>
      </div>
    </section>

    <section class="results-user">
      <img src="{{ STATIC_URL }}img/user.gif" width="120" height="120" alt="contributor photo" class="user-img-results" />
      <div class="user-details">
        <h2>Display Name</h2>
        <ul class="results-user-details">
          <li>{{ _('Last Activity') }}: 9 days ago</li>
          <li>Answers: 12</li>
          <li>Solutions:12</li>
          <li><a href="profile">profile</a></li>
        </ul>
      </div>
    </section>

    <section class="results-user">
      <img src="{{ STATIC_URL }}img/user.gif" width="120" height="120" alt="contributor photo" class="user-img-results" />
      <div class="user-details">
        <h2>Display Name</h2>
        <ul class="results-user-details">
          <li>{{ _('Last Activity') }}: 9 days ago</li>
          <li>Answers: 12</li>
          <li>Solutions:12</li>
          <li><a href="profile">profile</a></li>
        </ul>
      </div>
    </section>

    <section class="results-user">
      <img src="{{ STATIC_URL }}img/user.gif" width="120" height="120" alt="contributor photo" class="user-img-results" />
      <div class="user-details">
        <h2>Display Name</h2>
        <ul class="results-user-details">
          <li>{{ _('Last Activity') }}: 9 days ago</li>
          <li>Answers: 12</li>
          <li>Solutions:12</li>
          <li><a href="profile">profile</a></li>
        </ul>
      </div>
    </section>

  </article>
{% endblock %}
