{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% set title = _('Remove leader') %}
{% set crumbs = [(url('wiki.locales'), _('Locales')),
                 (locale.get_absolute_url(), locale.locale),
                 (None, title)] %}

{% block content %}
  <article id="remove-leader" class="main">
    <h1>{{ _('Are you sure you want to remove {user} from {locale} leaders?')|f(user=display_name(leader), locale=locale.locale) }}</h1>
    <form action="" method="post">
      {{ csrf() }}
      <div class="form-actions">
        <input type="submit" class="btn" value="{{ _('Remove leader') }}" />
        <a href="{{ locale.get_absolute_url() }}">{{ _('Cancel') }}</a>
      </div>
    </form>
  </article>
{% endblock %}
