{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "wiki/base.html" %}
{% from "wiki/includes/sidebar_modules.html" import document_tabs %}
{% set title = _('Revision History | {document}')|fe(document=document.title) %}
{% set crumbs = [(url('wiki.category', document.category), document.get_category_display()),
                 (document.get_absolute_url(), document.title),
                 (None, _('History'))] %}

{% block content %}
  <article id="revision-history" class="main">
    <h1 class="title">{{ _('History of {title}')|fe(title=document.title) }}</h1>
    <div class="choice-list">
      <label>{{ _('Revision history for:') }}</label>
      <ul>
        {% if document.parent %}
          <li>
            <a href="{{ url('wiki.document_revisions', document.parent.slug, locale=document.parent.locale) }}">{{ document.parent.language }}</a>
          </li>
        {% endif %}
        <li>
          <span>{{ document.language }}</span>
        </li>
      </ul>
    </div>
    {% include 'wiki/includes/revision_list.html' %}
    {% if document.allows_deleting_by(user) %}
      <div id="delete-doc">
        <a href="{{ url('wiki.document_delete', document.slug) }}">Delete this document</a>
      </div>
    {% endif %}
  </article>
{% endblock %}

{% block side_top %}
  {{ document_tabs(document, document.parent, user, 'history', settings) }}
{% endblock %}
