{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "kbforums/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% from "includes/common_macros.html" import content_editor %}
{% from "kbforums/includes/macros.html" import kbforums_warning with context %}
{# L10n: {d} is the name of the document. #}
{% set title = _('Create a new thread | {d} | Knowledge Base')|f(d=document.title) %}
{% set crumbs = [(document.get_absolute_url(), document.title),
                 (url('wiki.discuss.threads', document.slug), _('Discuss')),
                 (None, _('Create a new thread'))] %}

{% block content %}
<div class="grid_9">
<article id="new-thread" class="main">
  {{ kbforums_warning(document, user) }}
  <h1>{{ _('Create a new thread') }}</h1>

  <form action="{{ url('wiki.discuss.new_thread', document.slug) }}" method="post" class="new-thread">
    {{ csrf() }}
    {{ errorlist(form) }}

    {% for field in form %}
      <div class="form-widget{% if field.errors %} invalid{% endif %}">
        {{ field.label_tag()|safe }}
        {% if field.name == 'content' %}
          {{ content_editor(field) }}
        {% else %}
          {{ field|safe }}
        {% endif %}
      </div>
    {% endfor %}

    <div class="form-widget submit">
      <input type="submit" class="btn-important" value="{{ _('Post') }}" />
      <input type="submit" id="preview" name="preview" value="{{ _('Preview') }}"
          data-preview-url="{{ url('wiki.discuss.post_preview_async', document.slug) }}"
          data-preview-container-id="post-preview"
          data-preview-content-id="id_content" />
      <a href="{{ url('wiki.discuss.threads', document.slug) }}">{{ _('Cancel') }}</a>
    </div>

    <div id="post-preview">
      {% if post_preview %}
        {% include "kbforums/includes/post_preview.html" %}
      {% endif %}
    </div>
  </form>
</article>
</div>
{% endblock %}
