{% extends 'email/base.html' %}

{% block content %}
  <p>{{ _('Hi {username}')|f(username=display_name(contributor)) }}</p>

  <p>
    {% trans %}
      Thanks so much for your interest in helping users of Mozilla
      technologies!
    {% endtrans %}
  </p>

  <p>
    {% trans %}
      We would love to find a good place for you to help users,
      so please send us an email with your username and the area
      you would like to get involved. Please feel free to add all
      your skills, we will try to find the right use for them :)
    {% endtrans %}
  </p>

  <p>
    <a href="{{ add_utm('https://support.mozilla.org/en-US/kb/contributor-news-resources', 'get-involved', source='new-contributor') }}">
      {{ _('Click here to find out where to help.') }}
    </a>
  </p>

  <p>{{ _('There are several ways in which you can get involved:') }}</p>

  <ul>
    <li>
      {% trans url=add_utm('https://support.mozilla.org/en-US/questions?sort=requested&filter=no-replies', 'get-involved', source='new-contributor')%}
        <a href="{{ url }}">Forum Contributor</a>
        - Answer user support questions that are
        most-requested but have no replies.
      {% endtrans %}
      </a>
    </li>
    <li>
      {% trans url=add_utm('http://goo.gl/pKis5g', 'essentials for new contributors here', source='new-training')%}
        As you’re getting started, you might be worried about facing situations that can scare away any new contributor: “What if I encounter an angry user who doesn’t want to cooperate?”, “What if I don’t know the answer?”) Don’t worry, we’ve all been there! That’s why we've put together this guide to help you navigate tough situations and keep the forum a positive place for both you and the people you help. Learn the <a href="{{ url }}">essentials for new contributors here</a>.
      {% endtrans %}
    </li>
    <li>
      {% trans url=add_utm('https://support.mozilla.org/army-of-awesome', 'get-involved', source='new-contributor') %}
        <a href="{{ url }}">Twitter Contributor</a>
        - Respond to tweets about Firefox.
      {% endtrans %}
    </li>
    <li>
      {% trans url=add_utm('https://support.mozilla.org/contributors/need-changes', 'get-involved', source='new-contributor') %}
        <a href="{{ url }}">KB Editor</a>
        - Help to update knowledge base articles that
        need changes or write new articles.
      {% endtrans %}
    </li>
    <li>
      {% trans url=add_utm('https://support.mozilla.org/en-US/kb/localize-firefox-help', 'get-involved', source='new-contributor') %}
        <a href="{{ url }}">L10N Contributor</a>
        - Help to translate Firefox Help content
        to your language.
      {% endtrans %}
    </li>
  </ul>

  <p>
    {% trans %}
      Let us know which of the above you would be interested in
      and we’ll help you get started. It’s great to have you onboard!
    {% endtrans %}
  </p>

  <p>
    {% trans %}
      You can also apply to our Buddy Program and get guidance from our more
      experienced contributors. Just introduce yourself in the forum for New
      Contributors by starting a new thread. Put your name on the thread title and
      tell us a bit about yourself:
    {% endtrans %}
    <br /><a href="http://mzl.la/1CGbET4">http://mzl.la/1CGbET4</a>
  </p>

  <p>{{ _('Welcome to SUMO!') }}</p>

  <p>Madalina</p>

  <p>
    mana@mozilla.com
    <br />SUMO Community Manager
  </p>
{% endblock %}

{% block footer %}{% endblock %}
