{% extends 'email/base.html' %}

{% block content %}
  <p>{{ _('Hi {username},')|f(username=display_name(contributor)) }}</p>

  <p>
    {% trans %}
      I'm {{ name }}, your SUMO Community Manager. On behalf of the Customer Experience team, I'd love to thank you for registering as a contributor at SUMO a.k.a. SUpport.MOzilla.org. We're so excited you've joined us! Mozilla wouldn't be what it is today without the passionate contributions from people like you.
    {% endtrans %}
  </p>

  <p>
    {% trans %}
      To help you get started, here are a few essentials:
    {% endtrans %}
  </p>

  <p><strong>{{ _('Know the basics') }}</strong></p>
  <p>
    {% trans cpg_url=add_utm('https://www.mozilla.org/en-US/about/governance/policies/participation/', 'contribute', source='new-contributor'), course_url=add_utm('https://mozilla.teachable.com/', 'contribute', source='new-contributor')%}
      Before diving in, please take a moment to read our <a href="{{ cpg_url }}">Community Participation Guidelines (CPG)</a>. This helps us maintain a safe and positive community experience for all. You can also take <a href="{{ course_url }}">this short course</a> to learn more.
    {% endtrans %}
  </p>

  <p><strong>{{ _("Choose how you'd like to contribute") }}</strong></p>
  <p>
    {% trans %}
      There are 3 ways you can contribute to Mozilla through SUMO:
    {% endtrans %}
  </p>

  <ul>
    <li>
      {% trans url=add_utm('https://support.mozilla.org/en-US/contribute/forum', 'contribute', source='new-forum-contributor')%}
        <a href="{{ url }}">By answering questions in the Community Forums</a>
      {% endtrans %}
    </li>
    <li>
      {% trans url=add_utm('https://support.mozilla.org/en-US/contribute/kb', 'contribute', source='new-kb-contributor')%}
        <a href="{{ url }}">By improving our help articles in English</a>
      {% endtrans %}
    </li>
    <li>
      {% trans url=add_utm('https://support.mozilla.org/en-US/contribute/l10n', 'contribute', source='new-l10n-contributor') %}
          <a href="{{ url }}">By localizing our help articles into your local language</a>
      {% endtrans %}
    </li>
  </ul>

  <p><strong>{{ _('Stay connected and ask for help') }}</strong></p>
  <p>
    {% trans %}
      Running into a blocker or just want to connect with the others? Don't worry! Here are a few ways to connect with the community and get support:
    {% endtrans %}
  </p>

  <ul>
    <li>
      {% trans url=add_utm('https://chat.mozilla.org/#/room/#SUMO:mozilla.org', 'contribute', source='new-contributor')%}
        <strong><a href="{{ url }}">SUMO Matrix room</a></strong>: Join our community chat space to ask quick questions or connect with fellow contributors in real time.
      {% endtrans %}
    </li>
    <li>
      {% trans url=add_utm('https://support.mozilla.org/en-US/forums/contributors/', 'contribute', source='new-training')%}
        <strong><a href="{{ url }}">Community Discussions</a></strong>: Participate in ongoing discussion threads or start your own. You can also follow the forum to stay updated on Firefox releases and community announcements.
      {% endtrans %}
    </li>
    <li>
      {% trans url=add_utm('https://wiki.mozilla.org/Support:Community_Calls', 'contribute', source='new-contributor') %}
          <strong><a href="{{ url }}">Community Call</a></strong>: Join us for our regular call at 5 PM UTC on Wednesdays (typically during release weeks) to catch up on updates and chat with the team.
      {% endtrans %}
    </li>
  </ul>

  <p>
    {% trans pm_url=pm_link %}
      If you ever need help or just want to say hi, feel free to <a href="{{ pm_url }}">message me directly on SUMO</a>. I'd love to hear from you!
    {% endtrans %}
  </p>

  <p>
    {% trans %}
      Thanks again for being here, and let's keep rocking the helpful web together! 🚀
    {% endtrans %}
  </p>

  <p>
    {% trans %}
      Kind Regards,<br>
      {{ name }} from Mozilla Support
    {% endtrans %}
  </p>
{% endblock %}

{% block footer %}{% endblock %}