{% extends 'email/base.html' %}

{% block content %}
  <p>{{ _('Hi {username}')|f(username=display_name(contributor)) }}</p>

  <p>
    {% trans %}
      Welcome to SUMO a.k.a SUpport.Mozilla.Org! Thank you so much for your interest in helping Mozilla users.
      We are happy to have you here and very excited to share some fundamental resources and information to get you started.
    {% endtrans %}
  </p>

  <p>
    {% trans url=add_utm('https://www.mozilla.org/en-US/about/governance/policies/participation/', 'contribute', source='new-contributor')%}
      First and foremost, you need to know about our <a href="{{ url }}">Community Participation Guidelines</a> (CPG). 
      Everyone within Mozilla is required to adhere to Mozilla’s CPG to help us create a safe and positive community experience for all. 
      If you’re just starting out, we highly encourage you to enroll in the following course to learn more about it.
    {% endtrans %}
  </p>

  <p>
    <a href="{{ add_utm('https://mozilla.teachable.com/', 'contribute', source='new-contributor') }}">
      {{ _('(Contributor) Community Particiation Guidelines (CPG) Enforcement.') }}
    </a>
  </p>

  <p>
    {{ _('Now you might be wondering: <bold>“Ok, I understand the CPG now. How can I help and get involved in the community?”</bold>') }}
  </p>

  <p>{{ _('There are many ways you can contribute to SUMO') }}</p>

  <ul>
    <li>
      {% trans url=add_utm('https://support.mozilla.org/en-US/contribute/forum', 'contribute', source='new-forum-contributor')%}
        <a href="{{ url }}">Answer questions in the support forum</a>
      {% endtrans %}
    </li>
    <li>
      {% trans url=add_utm('https://support.mozilla.org/en-US/contribute/kb', 'contribute', source='new-kb-contributor')%}
        <a href="{{ url }}">Improve our help articles</a>
      {% endtrans %}
    </li>
    <li>
      {% trans url=add_utm('https://support.mozilla.org/en-US/contribute/l10n', 'contribute', source='new-l10n-contributor') %}
          <a href="{{ url }}">Localize help articles to your local language</a>
      {% endtrans %}
    </li>
    <li>
      {% trans url=add_utm('https://support.mozilla.org/en-US/contribute/social', 'contribute', source='new-social-contributor') %}
          <a href="{{ url }}">Help users on social media</a>
      {% endtrans %}
    </li>
    <li>
      {% trans url=add_utm('https://support.mozilla.org/en-US/contribute/store', 'contribute', source='new-mobile-contributor') %}
          <a href="{{ url }}">Respond to mobile store reviews</a>
      {% endtrans %}
    </li>
  </ul>

  <p>{{ _('<bold>Great! Now, how can I connect to other contributors?</bold>') }}</p>


  <p>
    {% trans %}
      We have a few channels you can use to reach out, introduce yourself, or discuss anything related to SUMO: 
    {% endtrans %}
  </p>

  <ul>
    <li>
      {% trans url=add_utm('https://chat.mozilla.org/#/room/#SUMO:mozilla.org', 'contribute', source='new-contributor')%}
        <a href="{{ url }}">SUMO Matrix room</a>
        : You can chat with other community members in our Matrix room
      {% endtrans %}
    </li>
    <li>
      {% trans url=add_utm('https://support.mozilla.org/en-US/forums/contributors/', 'contribute', source='new-training')%}
        <a href="{{ url }}">Contributors Forum</a>
        : Follow contributor’s discussion to get updated on releases and community updates
      {% endtrans %}
    </li>
    <li>
      {% trans url=add_utm('https://discourse.mozilla.org/c/sumo/22', 'contribute', source='new-contributor') %}
          <a href="{{ url }}">Discourse Forum</a>
          : Get updated on what’s going on in other parts of Mozilla community
      {% endtrans %}
    </li>

  <p>
    {% trans url="https://wiki.mozilla.org/Support:Community_Calls" %}
      Contributors also meet monthly at 5 pm UTC on Wednesday (usually a week before the Firefox train-release) to discuss product releases, community updates, or general Mozilla updates. 
      Here is <a href="{{ url }}">the agenda</a> of past and upcoming meetings.
    {% endtrans %}
  </p>

  <p>{{ _('Last but not least, let’s keep rocking the helpful web together!') }}</p>

  <p>
  {% trans %}
    Thanks,
    <br />SUMO Community Managers
  {% endtrans %}
  </p>
{% endblock %}

{% block footer %}{% endblock %}
