{% extends "users/base.html" %}
{% from "users/includes/macros.html" import login_form as render_login,
        register_form as render_register %}
{% from "layout/errorlist.html" import errorlist %}
{% from "users/includes/macros.html" import register_form as render_register %}

{% set title = _('Log In / Register') %}
{% set classes = 'login register' %}

{% block content %}
  {% if waffle.flag('browserid') %}
    <div class="grid_12">
      <article>
        <h1>{{ _('You must be signed in to continue') }}</h1>
        <a class="btn btn-submit browserid-login" data-next="{{ next_url }}" href="#">{{ _('Sign in with email') }}</a>
      </article>
    </div>
  {% else %}
    <div class="{% if contributor %}grid_6{% else %}grid_12{% endif %}">
      <article id="login" class="main">
        <h1>{{ _('Sign In') }}</h1>
        {{ render_login(login_form, csrf=csrf(), next_url=next_url) }}
      </article>
    </div>
    {% if contributor %}
    {# Only show registration form to users coming from the Get Involved pages. #}
      <div class="grid_6">
        <article id="register" class="main">
          <h1>{{ _('Register to be a Contributor') }}</h1>
          <span>{{ _('You don\'t need to register to <a href="{url}">ask a question</a>.')|fe(url=url('questions.aaq_step1')) }}</span>
          {% set action = url('users.registercontributor') if contributor else url('users.register') %}
          {{ render_register(register_form, csrf=csrf(), action=action, contributor=contributor) }}
        </article>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
