{% extends "base.html" %}
{% from 'users/includes/macros.html' import personal_tabs %}
{% set styles = ('users',) %}
{% set scripts = ('users',) %}

{% block side_top %}
  {% if not profile and user.is_authenticated() %}
    {% set profile = get_profile(user) %}
  {% endif %}
  {% if profile %}
    {% if request.user == profile.user %}
      {{ personal_tabs(request.user, active) }}
    {% else %}
      {# If we are viewing another user's profile, don't show the personal tabs #}
      <ul class="sidebar-nav">
        <li class="selected">
          <a href="{{ profile_url(profile.user) }}">
            {{ display_name(profile.user) }}
          </a>
        </li>
      </ul>
    {% endif %}
  {% endif %}
{% endblock %}
