{% extends "base.html" %}
{% from 'includes/common_macros.html' import for_contributors_sidebar %}
{% set styles = ('users',) %}
{% set scripts = ('users',) %}

{% block side_top %}
  {% if not profile and user.is_authenticated() %}
    {% set profile = user.get_profile() %}
  {% endif %}
  {% if profile %}
    {% if request.user == profile.user %}
      {% include 'dashboards/includes/personal_tabs.html' %}
    {% else %}
      {# If we are viewing another user's profile, don't show the personal tabs #}
      <ul class="sidebar-nav">
        <li class="active">
          <a href="{{ profile_url(profile.user) }}">
            {{ display_name(profile.user) }}
          </a>
        </li>
      </ul>
    {% endif %}
  {% endif %}
  {{ for_contributors_sidebar(user, settings.WIKI_DEFAULT_LANGUAGE) }}
{% endblock %}
