{% extends 'base.html' %}

{% set styles = ('users',) %}
{% set classes = 'browserid-signup' %}
{% set title  = _('Select a username') %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
  <article>
    <h1>{{ _("You're almost there!") }}</h1>
    <p>
      {% trans %}
        Please select a username and click continue to proceed with sign up.
      {% endtrans %}
    </p>

    <form method="post" action="{{ url('users.browserid_signup') }}">
      <input type="hidden" name="next" value="{{ next }}">
      {% if contributor %}
        <input type="hidden" name="contributor" value="1">
      {% endif %}
      {{ form }}
      {{ csrf() }}
      <div class="submit">
        <button type="submit" class="btn btn-submit">{{ _('Continue') }}</button>
      </p>
    </form>
  </article>
{% endblock %}
