{% extends "users/base.html" %}
{% set title = _('Edit Profile') %}
{% set classes = 'profile' %}
{% set active = 'edit-profile' %}
{% set crumbs = [(profile_url(profile.user), profile.user.username),
                 (None, title)] %}

{% block content %}
  {% if waffle.flag('browserid') %}
    <form id="browserid-form" action="{{ url('users.browserid_verify') }}" method="post">
      {{ browserid_form }}
    </form>
  {% endif %}
  <div class="grid_9">
    <article id="edit-profile" class="main">
      <h1>{{ title }}</h1>
      <form method="post" action="">
        {{ csrf() }}
        <ul>
          <li id="edit-profile-avatar">
            <label>{{ _('Avatar:') }}</label>
            <img src="{{ profile_avatar(profile.user) }}">
            <ul>
              <li>
                <a href="{{ url('users.edit_avatar') }}">{{ _('Change', 'avatar') }}</a>
              </li>
              {% if profile.avatar %}
                <li>
                  <a href="{{ url('users.delete_avatar') }}">{{ _('Delete', 'avatar') }}</a>
                </li>
              {% endif %}
            </ul>
          </li>
          {% if not waffle.flag('browserid') %}
            <li>
              <label>{{ _('Password:') }}</label>
              <a href="{{ url('users.pw_change') }}">{{ _('Change') }}</a>
            </li>
          {% endif %}
          <li>
            <label>{{ _('Email:') }}</label>
            {{ user.email }}
            {% if waffle.flag('browserid') %}
              <a href="#" id="change-email" class="browserid-login" data-next="{{ request.get_full_path() }}">{{ _('Change with Persona') }}</a>
            {% else %}
              <a href="{{ url('users.change_email') }}">{{ _('Change') }}</a>
            {% endif %}
          </li>
          {{ form.as_ul()|safe }}
        </ul>
        <div class="submit">
          <input type="submit" value="{{ _('Update') }}" />
        </div>
      </form>
    </article>
  </div>
{% endblock %}
