.kss-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: var(--kss-navbar-height);
  background: var(--kss-navbar-bg);
  z-index: 1000;
}

.kss-toggle-nav {
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;

  .hamburger,
  .close {
    color: var(--kss-card-bg);
  }

  .hamburger {
    display: block;
    width: 20px;

    @at-root .nav-is-open & {
      display: none;
    }
  }

  .close {
    display: none;
    width: 16px;

    @at-root .nav-is-open & {
      display: block;
    }
  }
}

.kss-navbar-title {
  color: var(--kss-card-bg);
}
