@import '../variables.less';

#products {
  font-family: @OpenSans;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    > a,
    > a:visited,
    > a:hover {
      border-bottom: 1px solid @borderLightGrey;
      color: #000;
      display: block;
      padding: 10px 12px 10px 16px;
      text-decoration: none;

      img {
        float: right;
        margin-left: 40px;
      }

      .title {
        display: block;
        font-size: 18px;
      }
    }
  }
}