@import '../variables.less';
@import '../vendors.less';

.documents {
  h2 {
    background: @borderLightGrey;
    font-size: 20px;
    margin: 0;
    padding: 10px 16px;
  }

  .document-list {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      > a,
      > a:visited,
      > a:hover {
        border-bottom: 1px solid @borderLightGrey;
        color: #000;
        display: block;
        font-size: 20px;
        padding: 10px 16px;
        text-decoration: none;
      }
    }
  }

  #page {
    > header {
      h1 {
        font-weight: bold;
        font-size: 15px;
        line-height: normal;
        margin-top: 5px;
        white-space: normal;
      }
    }
  }

  .filter-bar {
    background: @mobileSubheaderBackground;
    color: #fff;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    padding: 10px 16px;

    > span {
      float: left;
    }

    .select-box {
      margin: 0 10px;
      width: 180px;
    }
  }
}

#hot-topics {
  background: @mobileNavBackground url("../../img/grain.png");

  h2 {
    .linear-gradient-top(#253132, #2c393b, 0, #253132, 100%, url('../../img/grain.png'));
    color: #fff;
    font-family: @Moz;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 10px 16px;

    &:after {
      background: url('../../img/mobile/icons-sprite.png') -52px -552px no-repeat;
      content: '';
      float: right;
      height: 12px;
      margin-top: 5px;
      width: 20px;
    }
  }

  &.expanded {
    h2 {
      &:after {
        background-position: -52px -427px;
      }
    }
  }

  ul {
    color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      border-bottom: 1px solid #929E9E;

      &:last-of-type {
        border-bottom: 0;
      }

      &.fallback {
        padding: 10px 16px;
      }

      a {
        color:  #fff;
        display: block;
        padding: 10px 16px;
      }
    }
  }
}

#products,
#topics {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    > a,
    > a:visited,
    > a:hover {
      border-bottom: 1px solid @borderLightGrey;
      color: #000;
      display: block;
      padding: 10px 12px 10px 16px;
      text-decoration: none;

      img {
        float: right;
        margin-left: 40px;
      }

      .title {
        display: block;
        font-size: 18px;
      }
    }
  }
}

#topics {
  font-size: 18px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  #hot-topics {
    h2 {
      &:after {
        background-image: url('../../img/mobile/icons-sprite-2x.png');
        .background-size(124px 620px);
      }
    }
  }
}