@import '../variables.less';
@import '../vendors.less';

.documents {
  h2 {
    background: @borderLightGrey;
    font-size: 20px;
    margin: 0;
    padding: 10px 16px;
  }

  .document-list {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      > a,
      > a:visited,
      > a:hover {
        border-bottom: 1px solid @borderLightGrey;
        color: #000;
        display: block;
        font-size: 20px;
        padding: 10px 16px;
        text-decoration: none;
      }
    }
  }

  #filter-overlay {
    ul {
      font-size: 24px;
      list-style: none;
      margin: 0 24px;
      padding: 0;

      > li {
        > a,
        > a:visited,
        > a:hover {
          border-bottom: 1px solid #000;
          border-top: 1px solid rgba(255, 255, 255, 0.25);
          color: #fff;
          display: block;
          padding: 16px 28px 16px 6px;
          position: relative;
          text-decoration: none;
        }

        &.selected {
          > a,
          > a:visited,
          > a:hover {
            color: #00a5c5;

            &:before {
              content: '\2713';
              position: absolute;
              right: 0;
            }
          }
        }

        &:first-of-type {
          > a {
            border-top: 0;
          }
        }

        &:last-of-type {
          > a {
            border-bottom: 0;
          }
        }
      }
    }
  }

  #page {
    > header {
      h1 {
        font-weight: bold;
        font-size: 15px;
        line-height: normal;
        margin-top: 5px;
      }
    }
  }

  .filter-bar {
    background: #2c393b;
    color: #fff;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    padding: 10px 16px;

    > span {
      float: left;
    }

    .filter {
      background: #e7e7e7;
      border: 1px solid rgba(0, 0, 0, 0.35);
      .border-radius(2px);
      color: #333;
      cursor: pointer;
      float: left;
      height: 38px;
      line-height: 38px;
      margin: 0 10px;
      overflow: hidden;
      padding: 0 14px;
      position: relative;
      text-decoration: none;
      width: 180px;

      &:after {
        border-color: transparent #333 transparent transparent;
        border-style: solid;
        border-width: 10px 10px 0 0;
        bottom: 3px;
        content: '';
        position: absolute;
        right: 3px;
      }
    }
  }
}

#products,
#topics {
  font-family: @OpenSans;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    > a,
    > a:visited,
    > a:hover {
      border-bottom: 1px solid @borderLightGrey;
      color: #000;
      display: block;
      padding: 10px 12px 10px 16px;
      text-decoration: none;

      img {
        float: right;
        margin-left: 40px;
      }

      .title {
        display: block;
        font-size: 18px;
      }
    }
  }
}

#topics {
  font-size: 18px;
}
