.login,
.register {
  fieldset {
    label {
      display: block;
      padding: 0 6px;
      text-transform: uppercase;
    }
  }

  .login-help {
    list-style: none;
    margin: 14px 0;
    padding: 0;

    li {
      margin: 10px 0;
    }
  }

  .top-section {
    background: #fff;
    padding: 14px;

    h2 {
      font-size: 18px;
      margin: 0;
    }

    p {
      margin: 6px 0 0 0;
    }
  }

  #page {
    background: #f1f1f1;

    form {
      padding: 14px;
    }
  }
}
