{% extends 'mobile/base.html' %}

{% set headline = _('Sent Message') %}
{% set title = headline %}

{% set styles = ('mobile-messages',) %}
{% set classes = 'read-message' %}

{% set return_url = url('messages.outbox') %}

{% block content %}
  <div class="meta-bar">
    {{ _('To:') }}
    <a class="name-tag" href="{{ profile_url(message.recipient) }}">{{ display_name(message.recipient) }}</a>
  </div>
  <div class="message-content">
    {{ message.content_parsed }}
  </div>
{% endblock %}

{% block after_main %}
  <div class="footer-overlay">
    <a class="trash-button icon-sprite" href="{{ url('messages.delete', message.id) }}">{{ _('Delete message') }}</a>
  </div>
{% endblock %}
