{% extends 'email/base.html' %}

{% block content %}
  <p>
    {% trans %}
      We've just received a request to send the username linked
      to this email address.
    {% endtrans %}
  </p>

  <p>{{ _('Your username is:') }} <strong>{{ username }}</strong></p>

  <p>{{ _('You may log in at https://{domain}{login_url}')|f(domain=domain, login_url=login_url) }}</p>

  <p>
    {% trans %}
      If you did not request this email, there is no need for
      further action.
    {% endtrans %}
  </p>

  <p>
    {{ _('Thanks,') }}
    <br />{{ _('The {sitename} team')|f(sitename=site_name) }}
  </p>
{% endblock %}

{% block footer %}{% endblock %}
