{% extends "base.html" %}
{% from 'products/includes/topic_macros.html' import topic_sidebar, topic_tabs %}
{% from 'includes/common_macros.html' import download_firefox %}
{% set crumbs = [(url('products.product', slug=product.slug), pgettext('DB: products.Product.title', product.title))] %}
{% if subtopic %}
  {% set crumbs = crumbs + [(url('products.documents', product_slug=product.slug, topic_slug=topic.slug), pgettext('DB: products.Topic.title', topic.title)), (None, pgettext('DB: products.Topic.title', subtopic.title))] %}
  {% set canonical_url = canonicalize(model_url=subtopic.get_absolute_url()) %}
{% else %}
  {% set crumbs = crumbs + [(None, pgettext('DB: products.Topic.title', topic.title))] %}
  {% set canonical_url = canonicalize(model_url=topic.get_absolute_url()) %}
{% endif %}
{% set styles = ('products',) %}
{% set search_params = {'product': product.slug} %}

{% block title %}{{ pgettext('DB: products.Topic.title', topic.title) }} | {{ _('{product} Help')|f(product=pgettext('DB: products.Product.title', product.title)) }}{% endblock %}

{% block above_main %}
{% endblock %}

{% block side %}
<div class="search-form-sidebar large-only">
  {{ search_box(settings, id='support-search-sidebar', params=search_params) }}
</div>

{{ topic_sidebar(topics[:10], subtopics, product, topic, subtopic) }}
{% endblock %}


{% block content %}
    <article id="document-list">
      <header class="sumo-article-header">
        <div class="sumo-article-header--text">
          <div class="documents-product-title">
            {% set prod_url = url('products.product', slug=product.slug) %}
            <a href="{{ prod_url }}"><img src="{{ product.image_alternate_url }}" height="48" width="48" alt="" /></a>
          </div>

          {% if subtopic %}
          <h2 class="sumo-card-heading is-subtopic">
            <a href="{{ url('products.documents', product_slug=product.slug, topic_slug=topic.slug) }}">
              {{ pgettext('DB: products.Topic.title', topic.title) }}
            </a>
          </h2>
          <h1 class="topic-title is-subtopic sumo-page-heading">
            {{ pgettext('DB: products.Topic.title', subtopic.title) }}
          </h1>
          {% else %}
          <h1 class="topic-title sumo-page-heading">
            {{ pgettext('DB: products.Topic.title', topic.title) }}
          </h1>
          {% endif %}

        {# Show the description if it is different than the title. Otherwise, don't bother. #}
        {% if (subtopic and subtopic.title != subtopic.description) or (not subtopic and topic.title != topic.description) %}
          <p class="topic-description sumo-page-intro mb-0">
            {% if subtopic %}
               {{ pgettext('DB: products.Topic.description', subtopic.description) }}
            {% else %}
              {{ pgettext('DB: products.Topic.description', topic.description) }}
            {% endif %}
          </p>
        {% endif %}
        </div>
        {% if product.slug == 'firefox' %}
        <div class="sumo-article-header--meta">
          {{ download_firefox() }}
        </div>
        {% endif %}
      </header>

      {{ topic_tabs(topics[:10], subtopics, product, topic, subtopic) }}



      <section class="topic-list">
        {% for document in documents %}
          <article class="topic-article">
            <div class="topic-article--icon-wrap">
              <img class="topic-article--icon" src="{{STATIC_URL}}protocol/img/icons/reader-mode.svg" alt="" />
            </div>
            <div class="topic-article--text">
              <h2 class="sumo-card-heading">
                <a href="{{ document['url'] }}" data-event-category="link click" data-event-action="document"
                  data-event-label="{{ document['document_title'] }}">
                  {{ document['document_title'] }}
                </a>
              </h2>
              <p>{{ document['document_summary'] }}</p>
            </div>
          </article>
        {% endfor %}
      </section>

      {% if fallback_documents %}
        <h2 class="sumo-page-subheading">{{ _('In English') }}</h2>
        <section class="topic-list">
        {% for document in fallback_documents %}
          <article>
            <h3 class="sumo-card-heading">
              <a href="{{ document['url']|replace('/'+ settings.WIKI_DEFAULT_LANGUAGE +'/', '/' + request.LANGUAGE_CODE + '/') }}">
                {{ document['document_title'] }}
              </a>
            </h3>
          </article>
        {% endfor %}
        </section>
      {% endif %}
    </article>

    <section id="get-involved-button" class="sumo-page-section document-get-involved">
      {% include "landings/includes/volunteer-callout.html" %}
    </section>

    {# <section class="sumo-page-section">
      {{ ff_alert(text=_('Unlock more from every Firefox product. Get a Firefox account.'), modifier_class="has-abs-close-button", id="ff_alert_doc_page") }}
    </section> #}

{% endblock %}

{% block below_main %}
{% endblock %}

{% block for_contributors %}{% endblock %}
