{% extends "base.html" %}
{% from 'products/includes/topic_macros.html' import topic_sidebar %}
{% set crumbs = [(url('products.product', slug=product.slug), pgettext('DB: products.Product.title', product.title))] %}
{% if subtopic %}
  {% set crumbs = crumbs + [(url('products.documents', product_slug=product.slug, topic_slug=topic.slug), pgettext('DB: products.Topic.title', topic.title)), (None, pgettext('DB: products.Topic.title', subtopic.title))] %}
{% else %}
  {% set crumbs = crumbs + [(None, pgettext('DB: products.Topic.title', topic.title))] %}
{% endif %}
{% set styles = ('products',) %}
{% set search_params = {'product': product.slug} %}

{% block title %}{{ pgettext('DB: products.Topic.title', topic.title) }} | {{ _('{product} Help')|f(product=pgettext('DB: products.Product.title', product.title)) }}{% endblock %}

{% block content %}
  <div class="grid_12">
    <h1 class="product-title cf">
      {% set prod_url = url('products.product', slug=product.slug) %}
      <img src="{{ STATIC_URL }}sumo/img/blank.png" alt="" class="logo-sprite" style="background-image: url('{{ product.image_url }}');" />
      <a href="{{ prod_url }}">{{ pgettext('DB: products.Product.title', product.title) }}</a>
    </h1>
  </div>
  <aside class="grid_3">
    {{ topic_sidebar(topics[:10], subtopics, product, topic, subtopic) }}
  </aside>
  <div class="grid_9">
    <article id="document-list">
      {% if topic.image %}<img src="{{ STATIC_URL }}sumo/img/blank.png" alt="" class="logo-sprite" style="background-image: url('{{ topic.image_url }}');" />{% endif %}
      <h1 class="topic-title {% if topic.image %}has-image{% endif %} {% if not subtopic %}cf{% endif %}">
        {% if subtopic %}
          <a href="{{ url('products.documents', product_slug=product.slug, topic_slug=topic.slug) }}">
        {% endif %}
        {{ pgettext('DB: products.Topic.title', topic.title) }}
        {% if subtopic %}
          </a>
        {% endif %}
      </h1>

      {% if subtopic %}
        <h1 class="topic-title {% if topic.image %}has-image{% endif %} cf">
          {{ pgettext('DB: products.Topic.title', subtopic.title) }}
        </h1>
      {% endif %}

      {# Show the description if it is different than the title. Otherwise, don't bother. #}
      {% if (subtopic and subtopic.title != subtopic.description) or (not subtopic and topic.title != topic.description) %}
        <h2 class="topic-description cf">
          {% if subtopic %}
             {{ pgettext('DB: products.Topic.description', subtopic.description) }}
          {% else %}
            {{ pgettext('DB: products.Topic.description', topic.description) }}
          {% endif %}
        </h2>
      {% endif %}

      <ul class="topic-list">
        {% if not subtopic and subtopics %}
          {# only show subtopics on the parent topic page #}
          {% for subtopic in subtopics %}
            <li class="subtopic">
              <a href="{{ url('products.subtopics', product_slug=product.slug, topic_slug=topic.slug, subtopic_slug=subtopic.slug) }}">
                {{ pgettext('DB: products.Topic.title', subtopic.title) }}
              </a>
              {% if subtopic.title != subtopic.description %}
                {{ pgettext('DB: products.Topic.description', subtopic.description) }}
              {% endif %}
            </li>
          {% endfor %}
        {% endif %}
        {% for document in documents %}
          <li>
            <a href="{{ document['url'] }}">{{ document['document_title'] }}</a>
            {{ document['document_summary'] }}
          </li>
        {% endfor %}
      </ul>

      {% if fallback_documents %}
        <h2>{{ _('In English') }}</h2>
        {% for document in fallback_documents %}
          {% if loop.first %}<ul class="topic-list">{% endif %}
          <li>
            <a href="{{ document['url']|replace('/'+ settings.WIKI_DEFAULT_LANGUAGE +'/', '/' + request.LANGUAGE_CODE + '/') }}">{{ document['document_title'] }}</a>
          </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
      {% endif %}
    </article>
  </div>
{% endblock %}

{% block for_contributors %}{% endblock %}
