{% extends "base.html" %}
{% from 'products/includes/product_macros.html' import product_cards with context %}

{% set crumbs = [(None, title)] %}
{% set canonical_url = canonicalize(viewname='products') %}
{% set ga_content_group = "list-products" %}

{% block hidden_search_masthead %}{% endblock %}

{% block masthead %}
<section class="home-search-section sumo-page-section shade-bg" id="products-and-services" >
  <div class="mzp-l-content">
    {% block breadcrumbs %}
      {{ breadcrumbs(crumbs, id='main-breadcrumbs') }}
    {% endblock %}
  </div>
  <div class="mzp-l-content narrow">
    <div class="home-search-section--content">
      <h1 class="sumo-page-heading-xl">{{ page.title }}</h1>
      {{ search_box(settings, id='support-search-masthead', params=search_params) }}
    </div>
  </div>
</section>
{% endblock %}


{% block contentwrap %}
  <section class="mzp-l-content sumo-page-section" id="main-content">
    <div class="sumo-card-grid is-product-wrap">
      <div class="scroll-wrap">
        {% for block in page.body %}
            {{ block.render() }}
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
