{% extends "base.html" %}
{% from 'products/includes/product_macros.html' import product_cards with context %}
{% set title = _('Products') %}
{% set crumbs = [(None, title)] %}
{% set styles = ('products',) %}

{% set canonical_url = canonicalize(viewname='products') %}

{% block contentwrap %}
  <section class="home-search-section sumo-page-section shade-bg" id="products-and-services" >
    <div class="mzp-l-content">
      {% block breadcrumbs %}
        {{ breadcrumbs(crumbs, id='main-breadcrumbs') }}
      {% endblock %}
    </div>
    <div class="mzp-l-content narrow">
      <div class="home-search-section--content">
        <h1 class="sumo-page-heading-xl">{{ title }}</h1>
        {{ search_box(settings, id='support-search-masthead', params=search_params) }}
      </div>
    </div>
  </section>

  <section class="mzp-l-content sumo-page-section" id="main-content">
    {{ product_cards(products) }}
  </section>
{% endblock %}
