{% extends "base.html" %}
{% from 'includes/common_macros.html' import for_contributors_sidebar, download_firefox %}
{% from 'products/includes/topic_macros.html' import help_topics with context %}
{% set crumbs = [(None, pgettext('DB: products.Product.title', product.title))] %}
{% set styles = ('products',) %}
{% set scripts = ('products',) %}
{% set classes = 'product-landing' %}
{% set search_params = {'product': product.slug} %}

{% set extra_body_attrs = {'data-product-slug': product.slug} %}

{% set canonical_url = canonicalize(model_url=product.get_absolute_url()) %}

{% block title %}{{ _('{product} Help')|f(product=pgettext('DB: products.Product.title', product.title)) }}{% endblock %}

{% block base_container_classes %}container_wide{% endblock %}

{% block hidden_search_masthead %}{% endblock %}

{% block contentwrap %}
<section class="home-search-section sumo-page-section shade-bg">
  <div class="mzp-l-content">
    {% block breadcrumbs %}
      {{ breadcrumbs(crumbs, id='main-breadcrumbs') }}
    {% endblock %}
  </div>
  <div class="mzp-l-content narrow">
    <div class="home-search-section--content">
      <h1 class="text-display-xl">
        <img class="page-heading--logo" src="{{ product.image_alternate_url }}" alt="Photo of {{ product.title }}" />
        <span class="product-title-text">{{ pgettext('DB: products.Product.title', product.title) }} {{ _('Support') }}</span>
      </h1>
      {{ search_box(settings, id='support-search-masthead', params=search_params) }}
      <p class="popular-searches">
        <span>Popular Searches:</span>
        <a href="#popular_search_1" data-featured-search>Firefox Accounts</a>
        <a href="#popular_search_2" data-featured-search>Log In</a>
        <a href="#popular_search_3" data-featured-search>Installation</a>
        <a href="#popular_search_4" data-featured-search>Sample</a>
        <a href="#popular_search_5" data-featured-search>Item 5</a>
      </p>
    </div>
  </div>
</section>

<section class="mzp-l-content sumo-page-section" id="main-content">
  <div class="sumo-page-subheader">
    <div class="sumo-page-subheader--text">
      <h2 class="text-display-xs">{{ _('Frequent Topics') }}</h2>
      <p>{{ _('Explore the knowledge base.') }}</p>
    </div>
    {% if product.slug == 'firefox' %}
    {{ download_firefox() }}
    {% endif %}

    {% if product.slug == 'thunderbird' %}
    <div class="download-buttons">
      <div class="download-thunderbird">
        <a href="https://www.thunderbird.net/" class="download-button"
        data-event-category="Download Button"
        data-event-action="Download Thunderbird">
          <span class="download-content">
            <strong class="download-title">{{ _('Download Thunderbird') }}</strong>
          </span>
        </a>
        <ul class="info">
          <li><a href="https://www.thunderbird.net/thunderbird/all/">{{ _('Systems and Languages') }}</a></li>
          <li><a href="https://www.thunderbird.net/thunderbird/releases/">{{ _('Release Notes') }}</a></li>
          <li><a href="https://www.mozilla.org/privacy/thunderbird/">{{ _('Privacy') }}</a></li>
        </ul>
      </div>
    </div>
    {% endif %}
  </div>

  {{ help_topics(topics, show_community_support=product.questions_enabled(request.LANGUAGE_CODE)) }}

  <div class="sumo-page-section">
    <h2 class="text-display-xs">{{ _('Featured Articles & Threads') }}</h2>
    {% include "landings/includes/featured_articles.html" %}
    <p class="text-right"><strong><a href="#TODO">View More</a></strong></p>
  </div>

  <div class="sumo-page-section">
    {% include "landings/includes/join-our-community-callout.html" %}
  </div>

</section>





{% endblock %}

{% block for_contributors %}{% endblock %}

{% block outer_side %}
{% endblock %}

{% block footer_script %}
{% endblock %}
