{% extends "base.html" %}
{% from 'products/includes/product_macros.html' import product_sidebar %}
{% from 'includes/common_macros.html' import download_firefox %}
{% set title = _("All topics") %}

{% set crumbs = [(url('products.topics'), title)] %}

{% block title %}{{ title }} {% endblock %}

{% block above_main %}
{% endblock %}

{% block side %}
<div class="search-form-sidebar large-only">
  {{ search_box(settings, id='support-search-sidebar') }}
</div>

{{ product_sidebar(products, selected_product) }}

{% endblock %}

{% block product_announcement %}
{% endblock %}

{% block content %}
    <article id="document-list">
      <header class="sumo-article-header">
        <div class="sumo-article-header--text">
          <div class="documents-product-title">
            {{ download_firefox() }}
          </div>
        </div>
      </header>

      <section class="topic-list">
      <h2 class="sumo-page-subheading">{{ _("Explore by topic") }}</h2>
        {% for topic in topics %}
          <article class="topic-article">
            <div class="topic-article--icon-wrap">
              <img class="topic-article--icon" src="{{ webpack_static('protocol/img/icons/reader-mode.svg') }}" alt="" />
            </div>
            <div class="topic-article--text">
              <h2 class="sumo-card-heading">
{# TODO - fix the link #}
                <a href="#"
                  data-event-name="link_click"
                  data-event-parameters='{"link_name": "kb-article"}'>
                  {{ topic.title }}
                </a>
              </h2>
              <p>{{ topic.description }}</p>
            </div>
          </article>
        {% endfor %}
      </section>

    </article>

    <section id="get-involved-button" class="sumo-page-section document-get-involved">
      {% include "landings/includes/volunteer-callout.html" %}
    </section>

{% endblock %}

{% block below_main %}
{% endblock %}

{% block for_contributors %}{% endblock %}
