{% macro product_cards(products, topic=None) -%}
  <ul id="product-cards" class="card-grid cf">
    {% for product in products %}
      <li>
        {% if topic %}
          {% set prod_url = url('products.documents', product_slug=product.slug, topic_slug=topic.slug) %}
        {% else %}
          {% set prod_url = url('products.product', slug=product.slug) %}
        {% endif %}
        <a class="cf" href="{{ prod_url }}">
          <img src="{{ STATIC_URL }}sumo/img/blank.png" class="logo-sprite" style="{% if product.image and product.image_offset %}background-image: url({{ product.sprite_url() }}); background-position: -100px -{{ 100 + (product.image_offset * 296) }}px;{% else %}background-image: url({{ product.image_url }}){% endif %}" alt="" />
          <span class="title">{{ pgettext('DB: products.Product.title', product.title) }}</span>
          <span class="description">{{ pgettext('DB: products.Product.description', product.description) }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro %}
