{% macro product_cards(products, topic=None, show_thunderbird=False) -%}
  <ul id="product-cards" class="card-grid cf">
    {% for product in products %}
      <li>
        {% if topic %}
          {% set prod_url = url('products.documents', product_slug=product.slug, topic_slug=topic.slug) %}
        {% else %}
          {% set prod_url = url('products.product', slug=product.slug) %}
        {% endif %}
        <a class="cf" href="{{ prod_url }}">
          <img src="{{ STATIC_URL }}img/blank.png" class="logo-sprite" style="background-image: url('{{ product.image_url }}');" alt="" />
          <span class="title">{{ _(product.title, 'DB: products.Product.title') }}</span>
          <span class="description">{{ _(product.description, 'DB: products.Product.description') }}</span>
        </a>
      </li>
    {% endfor %}
    {% if show_thunderbird %}
      <li class="thunderbird">
        <a class="cf" href="https://support.mozillamessaging.com">
          <img src="{{ STATIC_URL }}img/blank.png" class="logo-sprite" alt="" />
          <span class="title">{{ 'Thunderbird' }}</span>
          <span class="description">{{ _('Email software for Windows, Mac and Linux') }}</span>
        </a>
      </li>
    {% endif %}
  </ul>
{%- endmacro %}
