{% extends "questions/includes/question_editing_frame.html" %}
{% set title = _('Edit a Question') %}
{% set crumbs = [(url('questions.home'), _('Support Forum')),
                 (url('questions.details', question.id), question.title),
                 (None, _('Edit the question'))] %}

{% set classes = 'edit-question' %}

{% block headline %}{{ _('Edit a Question') }}{% endblock %}

{% block major_detail_instructions %}
  <h2>{{ _('Edit the question.') }}</h2>
{% endblock %}

{% block attachments_form %}
  {{ attachments_form('questions.Question', question.pk, images, settings, user) }}
{% endblock %}

{% block submit_button_value %}{{ _('Save Question') }}{% endblock %}

{% block more_submit_buttons %}
  <a href="{{ url('questions.details', question.id) }}" class="cancel">{{ _('Cancel') }}</a>
{% endblock %}
