{% extends "questions/base.html" %}
{% set title = _('Issue submitted successfully') %}
{% set classes = 'new-question marketplace' %}

{% block content %}
  <article class="main">
    <div id="ask-question">
      <h1>{{ title }}</h1>
      <div class="inner-wrap">
        <p>
          {% trans %}
            Your issue has been submitted successfully. You should receive
            a confirmation email and hear back from us shortly.
          {% endtrans %}
        </p>
      </div>
    </div>
  </article>
{% endblock %}

{% block side %}
{% endblock %}
