{% extends "questions/base.html" %}
{% from "questions/includes/aaq_macros.html" import marketplace_category with context %}
{% set title = _('Ask a Question about Marketplace') %}
{% set classes = 'new-question marketplace' %}

{% block content %}
  <article class="main">
    <div id="ask-question">
      <h1>{{ title }}</h1>
      <div class="inner-wrap">
        <div class="selected">
          <label>{{ _('Category:') }}</label>
          <span>{{ category }}</span>
          <a href="{{ url('questions.marketplace_aaq') }}">{{ _('change') }}</a>
        </div>
        {{ marketplace_category(category_slug, form, error_message) }}
      </div>
    </div>
  </article>
{% endblock %}

{% block side %}
{% endblock %}
