{% extends "questions/base.html" %}
{% set title = _('Ask a Question about Marketplace') %}
{% set classes = 'new-question marketplace' %}

{% block content %}
  <article class="main">
    <div id="ask-question">
      <h1>{{ title }}</h1>
      <div class="inner-wrap">
        <h2>{{ _('Which category best describes your problem?') }}</h2>
        <ul class="select-one">
          {% for slug, name in categories.items() %}
            <li>
               <a href="{{ url('questions.marketplace_aaq_category', slug) }}">{{ name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>
{% endblock %}

{% block side %}
{% endblock %}
