{% extends "questions/includes/question_editing_frame.html" %}
{% from "questions/includes/aaq_macros.html" import explore_solutions with context %}
{% from "questions/includes/aaq_macros.html" import select_product %}
{% set announcement_product = current_product|default(None) %}
{% set title = _('Get Support') %}
{% set no_headline = True %}
{% set hide_locale_switcher = True %}
{% set meta = [('robots', 'noindex')] %}

{% set classes = 'new-question' %}
{% if current_support_type != SUPPORT_TYPE_ZENDESK %}
  {% set category_field_attrs = {"hx-get": "", "hx-swap": "none"}%}
{% endif %}

{% block breadcrumbs %}{% endblock %}

{% block formwrap %}
  {% if current_step == 1 %}
    {{ select_product(products) }}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block contentwrap %}
  {% if current_step == 2 %}
    {{ explore_solutions(current_product, search_box, featured, topics, is_ticketed_support=current_support_type == SUPPORT_TYPE_ZENDESK) }}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block major_detail_instructions %}
  <h2 class="sumo-page-heading">
    {% if current_support_type == SUPPORT_TYPE_ZENDESK %}
      {{ _('Contact Support') }}
    {% else %}
      {{ _('Ask your question') }}
    {% endif %}
  </h2>
  {% if can_switch %}
    <div class="sumo-banner sumo-banner-no-close">
      <div class="content">
        {% if current_support_type == SUPPORT_TYPE_ZENDESK %}
          <span class="heading">{{ _('You\'re contacting Mozilla Support directly.') }}</span>
          <a class="sumo-button sumo-button-wide primary-button button-lg" href="{{ url('questions.aaq_step3', product_slug=current_product.slug) }}?support_type={{ SUPPORT_TYPE_FORUM }}">
            {{ _('Ask the community instead') }}
          </a>
        {% else %}
          <span class="heading">{{ _('You\'re posting to the community forum.') }}</span>
          <a class="sumo-button sumo-button-wide primary-button button-lg" href="{{ url('questions.aaq_step3', product_slug=current_product.slug) }}?support_type={{ SUPPORT_TYPE_ZENDESK }}">
            {{ _('Contact Mozilla Support instead') }}
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block submit_button_value %}
  {{ _('Submit') }}
{% endblock %}
{% block submit_button_attrs %}data-event-name="question_submit" data-event-parameters='{{ submit_event_parameters }}'{% endblock %}
