{% extends "questions/includes/question_editing_frame.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% from "questions/includes/aaq_macros.html" import register_login_forms, aaq_progress with context %}
{% set title = _('Ask a Question') %}
{% set no_headline = True %}
{% set classes = 'new-question' %}
{% set meta = [('robots', 'noindex')] %}

{% block breadcrumbs %}{% endblock %}

{% block articles_and_search_results %}
  {{ register_login_forms(register_form, login_form) }}
{% endblock %}

{% block submit_button_value %}{{ _('Post Question') }}{% endblock %}
{% block submit_button_attrs %}data-ga-click="_trackEvent | Ask A Question Flow | step 3 link"{% endblock %}
