{% extends "base.html" %}

{% set styles = ('common', 'questions', 'questions.aaq.react',) %}
{% set scripts = ('questions.aaq.react',) %}

{% set title = _('Ask a Question') %}
{% block breadcrumbs %}{% endblock %}

{% set hide_aaq_link = True %}
{% set hide_aux_nav = True %}

{% block content %}
  {% csrf_token %}{# CSRF token for AJAX actions. #}
  <script type="application/json" class="data" name="products">{{ products_json|safe }}</script>
  <script type="application/json" class="data" name="topics">{{ topics_json|safe }}</script>
  <script type="application/json" class="data" name="images">{{ images_json|safe }}</script>
  <div class="apptarget"></div>
{% endblock %}
