{% extends "questions/base.html" %}

{% set classes = 'questions' %}

{% set title = _('Support Forum') %}

{% set crumbs = [(None, _('Support Forum'))] %}

{% set meta = (('robots', 'noindex'),) %}

{% set canonical_url = canonicalize(viewname='questions.home') %}

{% block contentwrap %}
<section id="main-content" class="sumo-page-section mzp-l-content">
  <div class="home-search-section--content">
    <h1 class="text-display-lg">{{ title }}</h1>

    <div class="product-list sumo-card-grid" style="--cg-count: {{ products|length + 1}};">
      <div class="scroll-wrap">
        {% for product in products %}
        <div class="card card--product zoom-on-hover product">
          <img class="card--icon" src="{{ product.image_url }}" alt="{{ pgettext('DB: products.Product.title', product.title) }}">
          <div class="card--details">
            <h3 class="card--title">
              <a class="expand-this-link title" href="{{ url('questions.list', product.slug) }}" data-event-category="link click" data-event-action="product" data-event-label="Firefox">
                {{ _('<strong>{product}</strong> Support Forum')|fe(product=pgettext('DB: products.Product.title', product.title)) }}
              </a>
            </h3>
            <p class="card--desc description">{{ pgettext('DB: products.Product.description', product.description) }}</p>
          </div>
        </div>
        {% endfor %}

        <div class="card card--product zoom-on-hover product">
          <div class="card--details">
            <h3 class="card--title">
              <a class="expand-this-link title" href="{{ url('questions.list', 'all') }}" data-event-category="link click" data-event-action="product" data-event-label="Firefox">
                {{ _('<strong>{product}</strong> Support Forum')|fe(product=_('All Products')) }}
              </a>
            </h3>
            <p class="card--desc description">{{ _('Browse the questions for all the products together in one list.') }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
