{% extends "questions/base.html" %}

{% set classes = 'questions' %}

{% set title = _('Support Forum') %}

{% set crumbs = [(None, _('Support Forum'))] %}

{% set meta = (('robots', 'noindex'),) %}

{% set canonical_url = canonicalize(viewname='questions.home') %}

{% block content %}
  <div class="grid_12">
    <h1>{{ title }}</h1>

    <article class="product-list">
    {% for product in products %}
      <div class="product grid_5">
        <a class="cf" href="{{ url('questions.list', product.slug) }}">
          <img src="{{ product.image_alternate_url }}" class="logo-sprite" alt="{{ pgettext('DB: products.Product.title', product.title) }}" />
          <div class="title-description-wrapper">
            <span class="title">{{ _('<strong>{product}</strong> Support Forum')|fe(product=pgettext('DB: products.Product.title', product.title)) }}</span>
            <span class="description">{{ pgettext('DB: products.Product.description', product.description) }}</span>
          </div>
        </a>
      </div>
    {% endfor %}
      <div class="product grid_5">
        <a class="no-image cf" href="{{ url('questions.list', 'all') }}">
          <span class="title">{{ _('<strong>{product}</strong> Support Forum')|fe(product=_('All Products')) }}</span>
          <span class="description">{{ _('Browse the questions for all the products together in one list.') }}</span>
        </a>
      </div>
    </article>
  </div>
{% endblock %}
