{% extends "questions/base.html" %}
{% from "dashboards/includes/macros.html" import topic_selector, sort_questions %}
{% from 'includes/common_macros.html' import scam_banner %}
{% from "sumo/includes/question_entry.html" import question_entry %}

{% set classes = 'questions' %}
{% set _user_is_contributor = is_contributor(request.user) %}

{% if all_products %}
  {% set page_title = _('All Products') %}
{% elif multiple_products %}
  {% set page_title = _('Multiple Products') %}
{% else %}
  {% set page_title = pgettext('DB: products.Product.title', products[0].title) %}
  {% set logo = pgettext('DB: products.Product.image_alternate_url', products[0].image_alternate_url) %}
{% endif %}
{# L10n: {title} will normally be the Product title, but sometimes can be 'All Products' or 'Multiple Products' #}
{% set title = _('{title} Community Forum')|f(title=page_title) %}

{% set crumbs = [(url('questions.home'), _('Community Forums')), (None, page_title)] %}

{% if topics %}
  {% set canonical_url = canonicalize(viewname='questions.list_by_topic', topic_slug=topics[0].slug)|urlparams(None, request.GET) %}
{% else %}
  {% set canonical_url = canonicalize(viewname='questions.list', product_slug=product_slug)|urlparams(None, request.GET) %}
{% endif %}
{% if questions.number > 1 %}
  {% set canonical_url = canonical_url|urlparams(page=questions.number) %}
{% endif %}

{% set meta = (('robots', 'noindex'),) %}
{% set ga_content_group = "support-forum-home" %}

{# This takes kwargs, even though it doesn't say so, because it uses them.
   It's a Jinja Magic thing. #}
{% macro questions_url() %}
  {% if topic_navigation %}
    {{ url('questions.list_by_topic', topic_slug)|urlparams(None, request.GET, **kwargs) }}
  {% else %}
    {{ url('questions.list', product_slug)|urlparams(None, request.GET, **kwargs) }}
  {% endif %}
{% endmacro %}

{% block breadcrumbs %}{% endblock %}

{% block masthead %}
<section class="sumo-page-section hide-when-search-is-active shade-bg">
  <div class="mzp-l-content">
    <div class="sumo-l-two-col sidebar-on-right align-center cols-on-medium">
      <div class="sumo-l-two-col--main">
        {{ breadcrumbs(crumbs, id='main-breadcrumbs') }}
      </div>
      <div class="sumo-l-two-col--sidebar hide-on-mobile">
        {{ search_box(settings, id='support-search-sidebar', params=search_params, placeholder=_('Search Support')) }}
      </div>
    </div>
  </div>
  <div class="mzp-l-content">
    {{ scam_banner() }}
    {% if logo %}
    <img class="page-heading--logo" src="{{ logo }}" alt="{{ title }} logo" />
    {% endif %}
    <div class="sumo-l-two-col sidebar-on-right align-center cols-on-medium">
      <div class="sumo-l-two-col--main">
        <h1 class="sumo-page-heading {% if not logo %}no-logo{% endif %}">
          <span class="product-title-text">{{ title }}</span>
        </h1>
        {% if not topic_navigation %}
          <div id="recent-stats">
            <div class="no-reply forum--masthead-text">
              <p class="page-heading--intro-text">
                {% if recent_unanswered_count > 0 %}
                  {% if request.user.is_authenticated %}
                    {% trans recent_unanswered_count, url=questions_url(filter='recently-unanswered', show='all') %}
                      {{recent_unanswered_count}} question in the last 24 hours has no reply.
                      <a href="{{url}}">Help solve it!</a>
                      {% pluralize recent_unanswered_count %}
                      {{recent_unanswered_count}} questions in the last 24 hours have no reply.
                      <a href="{{url}}">Help solve them!</a>
                    {% endtrans %}
                  {% else %}
                  {% trans recent_unanswered_count, url=questions_url(filter='recently-unanswered', show='all') %}
                    {{recent_unanswered_count}} question in the last 24 hours has no reply.
                    <a href="/contribute/forum">Learn how to help solve it!</a>
                    {% pluralize recent_unanswered_count %}
                    {{recent_unanswered_count}} questions in the last 24 hours have no reply.
                    <a href="/contribute/forum">Learn how to help solve them!</a>
                  {% endtrans %}
                  {% endif %}
                {% else %}
                  {% if request.user.is_authenticated %}
                    {% trans %}
                      0 questions in the last 24 hours have no reply. Good job!
                    {% endtrans %}
                  {% else %}
                    {% trans %}
                      0 questions in the last 24 hours have no reply. <a href="/contribute/forum">Learn how to help!</a>
                    {% endtrans %}
                  {% endif %}
                {% endif %}
              </p>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="sumo-l-two-col--sidebar forum--masthead-cta">
      {% if product_slug and has_support_config %}
        {% set aaq_url = url('questions.aaq_step2', product_slug=product_slug) %}
      {% else %}
        {% set aaq_url = url('questions.aaq_step1') %}
      {% endif %}
        <a
          class="sumo-button primary-button button-lg feature-box"
          href="{{ aaq_url }}">
          {{ _('Ask the Community') }}
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<div id="tagged">
  {% if tags %}
  <div class="tag-notification">
    {{ _('Showing questions tagged:') }}
    <ul class="tag-list">
      {% for tag in tags -%}
      <li><a class="tag" href="{{ questions_url(tagged=tags_to_text (tags|remove(tag))) }}">{{ tag.name }}</a></li>
      {%- endfor %}
    </ul>
    <a class="tag-notification--clear"
       href="{{ questions_url(tagged=None) }}"
       hx-get="{{ questions_url(tagged=None) }}"
       hx-target="#questions-list"
       hx-select="#questions-list"
       hx-select-oob="#tagged,#owner-tabs"
       hx-swap="outerHTML"
       hx-push-url="true"
       title="{{ _('Clear all tag filters') }}" aria-label="{{ _('Clear all tag filters') }}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2.5" stroke-linecap="round"
           aria-hidden="true">
        <line x1="18" y1="6" x2="6" y2="18"/>
        <line x1="6" y1="6" x2="18" y2="18"/>
      </svg>
    </a>
  </div>
  {% endif %}
</div>

<nav id="owner-tabs" class="tabs">
    <ul class="tabs--list subtopics">
      <li class="tabs--item">
        <a href="{{ questions_url(show='all', filter=None, page=None, tagged=tagged or None) }}" {{ show|class_selected('all') }}>
          <span>{{ _('All') }}</span>
        </a>
      </li>
      <li class="tabs--item">
        <a href="{{ questions_url(show='needs-attention', filter=None, page=None, tagged=tagged or None) }}" {{ show|class_selected('needs-attention') }}>
          <span>{{ _('Attention needed') }}</span>
        </a>
      </li>
      <li class="tabs--item">
        <a href="{{ questions_url(show='responded', filter=None, page=None, tagged=tagged or None) }}" {{ show|class_selected('responded') }}>
          <span>{{ _('Responded') }}</span>
        </a>
      </li>
      <li class="tabs--item">
        <a href="{{ questions_url(show='done', filter=None, page=None, tagged=tagged or None) }}" {{ show|class_selected('done') }}>
          <span>{{ _('Done') }}</span>
        </a>
      </li>
      {% if request.user.has_perm("flagit.can_moderate") %}
      <li class="tabs--item">
        <a href="{{ questions_url(show='spam', filter=None, page=None, owner=None, topic=None, order=None) }}" {{ show|class_selected('spam') }}>
          <span>{{ _('Spam') }}</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>

  {% if show != "spam" %}
  <select data-sort-questions class="forum--mobile-sort hide-on-large">
    {% for o, details in orders.items() %}
      <option
        value="{{ questions_url(order=o, sort=None if order != o else 'desc' if sort == 'asc' else 'asc', page=None) }}"
        {% if order == o %}selected{% endif %}>
        {{ details[1] }}
      </option>
    {% endfor %}
  </select>
  {% endif %}

  <div id="filter-section"></div>

      <div id="questions-list">
        {% if questions.object_list %}
        <section class="forum--question-list questions">
          {% for question in questions.object_list %}
            <article id="question-{{ question.id }}" class="question-entry">
              {{ question_entry(question, request=request, user_is_contributor=_user_is_contributor, tag_info={"base_url": tag_base_url, "tagged": tagged or '', "tagged_set": tagged_set}) }}
            </article>
          {% endfor %}
        </section>

        {{ questions|quick_paginator }}

      {% else %}
        <p>{{ _('There are no questions that match the current filter settings.') }}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}


{% block side %}
{% if show != "spam" %}
<div class="forum--sidebar-sort large-only">
  <select data-sort-questions>
    {% for o, details in orders.items() %}
      <option
        value="{{ questions_url(order=o, sort=None if order != o else 'desc' if sort == 'asc' else 'asc', page=None) }}"
        {% if order == o %}selected{% endif %}>
        {{ details[1] }}
      </option>
    {% endfor %}
  </select>
</div>
{% endif %}

{% if request.user.is_authenticated %}
<div class="questions-sidebar">
  <nav class="sidebar-nav">
    <span class="details-heading"></span>
    <ul class="sidebar-nav--list">
      {% if filters and _user_is_contributor %}
        <li class="sidebar-subheading sidebar-nav--heading-item">{{ _('Filter by') }}</li>
        <li class="{{ 'selected' if filter == None else '' }}"><a href="{{ questions_url(filter=None, page=None) }}">{{ _('All') }}</a></li>
        {% for f, desc in filters.items() %}
          <li {{ filter|class_selected(f) }}><a href="{{ questions_url(filter=f, page=None) }}">{{ desc }}</a></li>
        {% endfor %}
      {% endif %}
      {% if topic_list and show != "spam" %}
        <li class="sidebar-subheading sidebar-nav--heading-item">{{ _('Topic') }}</li>
        <li>
          <select id="products-topics-dropdown">
            <option value="{% if topic_navigation %}{{ url('questions.list', product_slug='all') }}{% else %}{{ questions_url(topic=None) }}{% endif %}" {% if selected_topic_slug is none %}selected{% endif %}>
              {{ _('All Topics') }}
            </option>
            {% for topic in topic_list %}
              {% if topic_navigation %}
              <option value="{{ url('questions.list_by_topic', topic_slug=topic.slug) }}"
              {% else %}
              <option value="{{ questions_url(topic=topic.slug) }}"
              {% endif %}
                {% if selected_topic_slug == topic.slug %}selected{% endif %}>
                {{ pgettext('DB: products.Topic.title', topic.title) }}
              </option>
            {% endfor %}
          </select>
        </li>
      {% endif %}

      {% if show != "spam" %}
        <li>
          <div id="sidebar-tag-filter"
               class="sidebar-tags"
               hx-get="{{ tags_url }}"
               hx-trigger="load"
               hx-swap="innerHTML">
          </div>
        </li>
      {% endif %}

      {% if show != "spam" and _user_is_contributor %}
      <li class="sidebar-subheading sidebar-nav--heading-item">{{ _('Show me') }}</li>
      <li {{ owner|class_selected(None) }}><a href="{{ questions_url(owner='all', page=None) }}">{{ _('Posts from everyone') }}</a></li>
      <li {{ owner|class_selected('mine') }}><a href="{{ questions_url(owner='mine', page=None) }}">{{ _('My contributions') }}</a></li>
      {% endif %}
    </ul>
  </nav>

  <div class="toggler">
    <span class="expand" data-toggle="collapsed" data-toggle-target="#questions-list" data-toggle-sticky="sticky"></span>
    <span class="collapse" data-toggle="collapsed" data-toggle-target="#questions-list" data-toggle-sticky="sticky"></span>
  </div>
</div>
{% endif %}

{% endblock %}
