{% extends 'email/base.html' %}

{% block content %}
  <p><strong>{{ _('Please confirm your Firefox Help question') }}</strong></p>

  <p>{{ _('Hi {username},')|f(username=username) }}</p>
  <p>
    {% trans %}
      Before your Firefox Help question ({{ email_data }})
      can be seen by our support community, you need to confirm the
      account you just created by clicking on the link below:
    {% endtrans %}
  </p>
  <p>
    <a href="https://{{ domain }}{{ activate_url }}?reg=aaq">https://{{ domain }}{{ activate_url }}?reg=aaq</a>
  </p>
  <p>
    {% trans %}
      If you did not ask a question or changed your mind, simply delete
      or ignore this email; you will not receive any more email from
      us.
    {% endtrans %}
  </p>
  <p>
    {% trans %}
      Thanks again for asking the question -- we're sorry you're having
      trouble with Firefox, but our community of volunteers is looking
      forward to helping you get it resolved as quickly as possible.
    {% endtrans %}
  </p>
  <p>
    {% trans %}
      As you may know, Firefox Support (like all of Mozilla) is
      community powered -- help is provided by users like you!  Want to
      take part?
      <a href="https://{{ domain }}/questions?filter=unsolved">Browse other
      users' questions</a> -- you might just make someone's day!
    {% endtrans %}
  </p>
{% endblock %}
