{% extends 'email/base.html' %}

{% block content %}
  <p>{{ _('Hi {username},')|f(username=username) }}</p>

  <p>{{ _('{answerer} has posted an answer to your question on {host}:')|f(answerer=answerer, host=host) }}</p>

  <p><a href="https://{{ host }}{{ answer_url }}">{{ question_title }}</a></p>

  <p>{{ _('{answerer} wrote:')|f(answerer=answerer) }}</p>

  {{ answer_html }}

  <p><a href="https://{{ host }}{{ answer_url }}">{{ _('See the answer.') }}</a></p>

  <p>
    {% trans %}
      If this answer solves your problem, please
      <a href="https://{{ host }}{{ solution_url }}">mark it as "solved"</a>.
    {% endtrans %}
  </p>

  <p>{{ _('This will help other Firefox users find good answers to their questions!') }}</p>

  <p><a href="https://{{ host }}/questions?filter=unsolved">{{ _('Help other Firefox users by browsing for unsolved questions on {host}.')|f(host=host) }}</a></p>

  <p>{{ _("You might just make someone's day!") }}</p>
{% endblock %}
