{% extends "groups/base.html" %}
{% set title = _('Delete {group} group avatar')|f(group=profile.group.name) %}

{% block content %}
  <article id="avatar-delete" class="main">
    <h1>{{ _('Are you sure you want to delete the {group} group avatar?')|f(group=profile.group.name) }}</h1>
    <div id="avatar-preview">
      <img src="{{ group_avatar(profile) }}" alt="">
    </div>

    <form action="" method="post">
      {% csrf_token %}
      <p>
        {% trans %}
          You are about to permanently delete the avatar.
          <strong>This cannot be undone!</strong>
          You can always upload another avatar to replace the current one.
        {% endtrans %}
      </p>
      <div class="form-actions">
        <input type="submit" class="btn" value="{{ _('Delete avatar') }}" />
        <a href="{{ url('groups.profile', profile.slug) }}">{{ _('Cancel') }}</a>
      </div>
    </form>
  </article>
{% endblock %}
