{% extends "groups/base.html" %}
{% set title = _('Remove leader')|f(group=profile.group.name) %}

{% block content %}
  <article id="remove-leader" class="main">
    <h1>{{ _('Are you sure you want to remove {user} from {group} leaders?')|f(user=display_name(leader), group=profile.group.name) }}</h1>
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-actions">
        <input type="submit" class="btn" value="{{ _('Remove leader') }}" />
        <a href="{{ url('groups.profile', profile.slug) }}">{{ _('Cancel') }}</a>
      </div>
    </form>
  </article>
{% endblock %}
