{% extends "groups/base.html" %}
{% set title = _('Change {group} group avatar')|f(group=profile.group.name) %}

{% block content %}
  <article id="change-avatar" class="main">
    <h1>{{ title }}</h1>
    <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <ul>
        {{ form.as_ul()|safe }}
      </ul>
      <div class="submit">
        <input type="submit" value="{{ pgettext('avatar', 'Upload') }}" />
        <a href="{{ url('groups.profile', profile.slug) }}">{{ _('Cancel') }}</a>
      </div>
    </form>
  </article>
{% endblock %}
