{% extends "groups/base.html" %}
{% set title = _('Groups') %}

{% block content %}
  <article id="group-list" class="main sumo-page-section">
    {% if user.is_staff and user.has_perm('groups.add_groupprofile') %}
    <div class="sumo-button-wrap">
      <a class="sumo-button primary-button add" href="{{ url('admin:groups_groupprofile_add') }}">{{ _('Add group profile') }}</a>
    </div>
    {% endif %}

    <h1 class="sumo-page-heading">{{ title }}</h1>

    <ul class="group-tree">
      {% for profile in groups %}
        <li class="group-tree--item"
            data-depth="{{ profile.depth }}"
            data-node-id="{{ profile.id }}"
            {% if profile.parent_id %}data-parent-id="{{ profile.parent_id }}"{% endif %}>

          {% if profile.has_children %}
            <span class="group-tree--toggle" data-node-id="{{ profile.id }}">▶</span>
          {% else %}
            <span class="group-tree--leaf">●</span>
          {% endif %}

          <a href="{{ profile.get_absolute_url() }}">{{ profile.group.name }}</a>
          {% if profile.numchild > 0 %}
            <span class="muted">({{ profile.numchild }} {% if profile.numchild == 1 %}{{ _('subgroup') }}{% else %}{{ _('subgroups') }}{% endif %})</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </article>
{% endblock %}
