{% extends "groups/base.html" %}
{% set title = _('{group} Tickets | Groups')|f(group=profile.group.name) %}

{% set crumbs = [(url('groups.list'), _('Groups'))] %}
{% set ancestors = profile.get_ancestors() %}
{% for ancestor in ancestors %}
  {% do crumbs.append((url('groups.profile', ancestor.slug), ancestor.group.name)) %}
{% endfor %}
{% do crumbs.append((url('groups.profile', profile.slug), profile.group.name)) %}
{% do crumbs.append((None, _('Tickets'))) %}

{% block outer_side %}{% endblock %}

{% block content %}
  <article id="group-tickets">
    <header class="group-header">
      <div class="group-header--primary">
        <h1 class="sumo-page-heading">{{ profile.group.name }}</h1>
        <div class="group-header--meta">
          <span class="badge badge--visibility">{{ profile.get_visibility_display() }}</span>
        </div>
      </div>
    </header>

    <nav class="tabs">
      <ul class="tabs--list">
        <li class="tabs--item">
          <a href="{{ url('groups.profile', profile.slug) }}"><span>{{ _('Group') }}</span></a>
        </li>
        <li class="tabs--item">
          <a class="selected" href="{{ url('groups.tickets', profile.slug) }}"><span>{{ _('Tickets') }}</span></a>
        </li>
      </ul>
    </nav>

    {% include "groups/includes/_tickets_content.html" %}
  </article>
{% endblock %}
