{% extends 'mobile/base.html' %}

{% set title = _('Support Forum') %}
{% set headline = title %}

{% set styles = ('mobile-products',) %}

{% block content %}
  <ul id="products">
    {% for product in products %}
      <li>
          <a class="cf" href="{{ url('questions.list', product.slug) }}">
              <img src="{{ product.image_url }}" class="logo-sprite">
          <span class="title">{{ _('<strong>{product}</strong> Support Forum')|fe(product=pgettext('DB: products.Product.title', product.title)) }}</span>
          {{ pgettext('DB: products.Product.description', product.description) }}
        </a>
      </li>
    {% endfor %}
    <li>
      <a class="cf" href="{{ url('questions.list', 'all') }}">
        <span class="title">{{ _('<strong>{product}</strong> Support Forum')|fe(product=_('All Products')) }}</span>
        {{ _('Browse the questions for all the products together in one list.') }}
      </a>
    </li>
  </ul>
{% endblock %}
