{% extends "base.html" %}
{% from "dashboards/includes/macros.html" import localization_sidebar_nav %}
{% from "dashboards/includes/macros.html" import product_choice_list with context %}
{% set title = _('[{locale}] Locale Metrics')|f(locale=current_locale) %}
{% set scripts = ('wiki', 'wiki.dashboard',) %}
{% set crumbs = [(None, title)] %}
{% set classes = 'locale-metrics' %}

{% block content %}
<article id="localize" class="dashboards sumo-page-section">
      <h1 class="sumo-page-heading">{{ title }}</h1>

      {{ product_choice_list(products, product, url('dashboards.locale_metrics', locale_code=current_locale)) }}

      {% if current_locale != settings.WIKI_DEFAULT_LANGUAGE %}
        <section class="sumo-page-section" id="localization-metrics" data-url="{{ url('dashboards.wiki_metrics_data')|urlparams(locale=current_locale, product=(product.slug if product else None)) }}">
          <h2 class="sumo-page-subheading">{{ _('Localization Percentage') }}</h2>
        </section>
      {% endif %}

      <section class="sumo-page-section" id="active-contributors" data-url="{{ url('dashboards.wiki_metrics_data')|urlparams(locale=current_locale, product=(product.slug if product else None)) }}">
        <h2 class="sumo-page-subheading">{{ _('Active Contributors') }}</h2>
      </section>

      {# The kb-votes KPI endpoint uses the literal string "null" as its "all products" sentinel. #}
      <section class="sumo-page-section" id="kpi-vote" data-url="{{ url('api.kpi.kb-votes')|urlparams(locale=current_locale, product=(product.slug if product else 'null')) }}">
        <h2 class="sumo-page-subheading">{{ _('Helpful Votes') }}</h2>
      </section>
</article>
{% endblock %}

{% block side_top %}
  {{ localization_sidebar_nav(current_locale, 'metrics', current_locale==settings.WIKI_DEFAULT_LANGUAGE) }}
{% endblock %}
