{% extends "base.html" %}
{% from "dashboards/includes/macros.html" import print_readout_body, overview_section, product_choice_list, print_subscription_menu with context %}
{% from "dashboards/includes/macros.html" import localization_sidebar_nav %}
{% set title = _('[{locale}][{product}] Localization Dashboard')|fe(locale=current_locale, product=pgettext('DB: products.Product.title', product.title) if product else _('All Products')) %}
{% set scripts = ('wiki', 'wiki.dashboard') %}
{% set crumbs = [(None, title)] %}
{% set classes = 'localization-dashboard' %}
{# TODO: Move required dashboard scripts out of wiki.js into their own or refactor up? #}

{% block content %}
  <div class="grid_9">
    <article id="localize" class="dashboards">
      <h1>{{ title }}</h1>
      <h2>{{ _('Locale:') }} {{ current_locale_name }}</h2>

      {% if user.is_anonymous %}
        <section id="get-involved-box">
          <a class="button" href="{{ url('landings.contribute') }}">
            {{ _('Volunteer for Mozilla Support') }}
          </a>
        </section>
      {% endif %}

      {% if announcements %}
        <ul class="announcements">
          {% for a in announcements %}
            <li>
              {{ a.content|wiki_to_html }}
              <p>
                {{ datetimeformat(a.show_after, 'date') }}
                {% if user_can_announce %}
                  <a href="{{ url('announcements.delete', a.id) }}" class="delete">
                    {{ _('Delete') }}
                  </a>
                {% endif %}
              </p>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if user_can_announce %}
        <div id="create-announcement">
          <button class="btn">
            <img src="{{ webpack_static('sumo/img/blank.png') }}" />
            {{ _('Create announcement') }}
          </button>
          <span class="success">{{ _('Created successfully') }}</span>
          <div class="kbox" data-target="#create-announcement > .btn" data-position="none" data-close-on-out-click="true">
            <form action="{{ url('announcements.create_for_locale') }}" method="POST">
              {% csrf_token %}
              <ul>
                {{ announce_form.as_ul() }}
                <li>
                  <button type="submit" class="btn btn-submit" value="Submit">
                    {{ _('Create') }}
                  </button>
                  <img src="{{ webpack_static('sumo/img/wait-trans.gif') }}" class="spinner" />
                </li>
              </ul>
            </form>
          </div>
        </div>
      {% endif %}

      {{ product_choice_list(products, product, url('dashboards.localization')) }}

      {% if not user.is_anonymous %}
        {{ print_subscription_menu(default_locale_name,
                                   current_locale_name,
                                   on_default_locale,
                                   is_watching_default_locale,
                                   is_watching_other_locale,
                                   is_watching_default_approved,
                                   is_watching_other_approved,
                                   settings.WIKI_DEFAULT_LANGUAGE,
                                   product=product) }}
      {% endif %}

      {{ overview_section(readouts, ((overview_rows['top-100'], True),
                                     (overview_rows['top-50'], True),
                                     (overview_rows['top-20'], True),
                                     (overview_rows['all'], True),
                                     (overview_rows['templates'], True))) }}

      <nav class="localization tabs">
        <ul class="tabs--list">
          {% for readout in readouts.values() %}
          <li class="tabs--item">
            <button class="tabs--link{% if readout.slug == 'most-visited-translations' %} is-active{% endif %}" data-tab-content-id="{{ readout.slug }}" id="{{ readout.slug }}">
              <span>{{ readout.title }}</span>
            </button>
          </li>
          {% endfor %}
        </ul>
      </nav>

      {% for readout in readouts.values() %}
      <section class="localization tabs--content{% if readout.slug == 'most-visited-translations' %} is-active{% endif %}" id="tab-{{ readout.slug }}">
        {{ print_readout_body(readout, max_rows=20 if readout.slug == 'most-visited-translations' else 10, product=product) }}
      </section>
      {% endfor %}

    </article>
  </div>
{% endblock %}

{% block side_top %}
  {{ localization_sidebar_nav(current_locale, 'dashboard') }}
{% endblock %}
