{# vim: set ts=2 et sts=2 sw=2: #}
{% macro search_box(settings, id=False, prefix=None, target=None,
                    placeholder=None, params=None) %}
  {% if placeholder is none %}
    {# L10n: If your language is particularly verbose, just localize this as 'Search'. #}
    {% set placeholder = _('Search Firefox Help') %}
  {% endif %}
  <div class="support-search"{% if id %} id="{{ id }}"{% endif %} role="search">
    {% if prefix %}
      {{ prefix }}
    {% endif %}
    <form action="{{ url('search') }}" method="get" {% if target %} target="{{ target }}"{% endif %}>
      {% if params %}
        {% for k, v in params.items() %}
          <input type="hidden" name="{{ k }}" value="{{ v }}" />
        {% endfor %}
      {% endif %}
      <input type="text" class="text" name="q" placeholder="{{ placeholder }}" required="required" />
      <button type="submit" class="img-submit" title="{{ _('Search') }}">
        <img src="{{ settings.MEDIA_URL }}img/btn.search.png" alt="{{ _('Search') }}" />
      </button>
    </form>
  </div>
{% endmacro %}

{% macro greeting(user) %}
  {% if not settings.READ_ONLY %}
    {% if user.is_authenticated() %}
      <li class="account">
        <a class="user" href="{{ profile_url(user) }}">{{ user }}</a>
        <ul>
          <li><a href="{{ profile_url(user) }}">{{ _('View Profile') }}</a></li>
          <li><a href="{{ profile_url(user, edit=True) }}">{{ _('Edit Profile') }}</a></li>
          <li><a href="{{ url('dashboards.default') }}">{{ _('Dashboard') }}</a></li>
        </ul>
      </li>
      <li class="nomenu logout">
        <a href="{{ url('users.logout') }}">{{ _('Sign Out') }}</a>
      </li>
      {% if waffle.flag('private-messaging') %}
        <li class="nomenu">
          <a href="{{ url('messages.inbox') }}">
            {{ _('Inbox') }}
            {% if unread_message_count > 0 %}
              <span class="unread-message-count">{{ unread_message_count }}</span>
            {% endif %}
          </a>
        </li>
      {% endif %}
    {#
      {{ _('Welcome, <span class="user">{user}</span>.')|fe(user=user) }}
      <nav>
        {% if waffle.flag('private-messaging') %}
          <a href="{{ url('messages.inbox') }}">{{ _('Inbox') }}</a>
          {% if unread_message_count > 0 %}
            <span class="unread-message-count">{{ unread_message_count }}</span>
          {% endif %}
          |
        {% endif %}
        <a href="{{ url('dashboards.default') }}">{{ _('Dashboard') }}</a>
        |
       <a href="{{ url('users.logout') }}">{{ _('Sign Out') }}</a>
      </nav>
    #}
    {% else %}
      <li class="account anonymous nomenu logout">
        {% trans login_url=url('users.login'), register_url=url('users.register') %}
          Want to contribute?
          <a href="{{ login_url }}">Sign In</a> or <a href="{{ register_url }}">Register</a>
        {% endtrans %}
      </li>
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro content_editor(field) %}
  <div class="editor{% if field.errors %} invalid{% endif %}" data-media-search-url="{{ url('gallery.async') }}" data-media-gallery-url="{{ url('gallery.home') }}">
    <div class="editor-tools"></div>
    <div>{{ field|safe }}</div>
  </div>
{% endmacro %}

{% macro list_view_item(url, label, class=None, icon_url=None) %}
<li>
  <a href="{{ url }}"{% if class %} class="{{ class }}"{% endif %}>
    {% if icon_url %}
      <img class="icon" src="{{ icon_url }}" />
    {% endif %}
    {{ label }}
  </a>
</li>
{% endmacro %}
