{# vim: set ts=2 et sts=2 sw=2: #}

{% macro search_box(settings, id=False, prefix=None, target=None,
                    params=None) %}
  {% if waffle.flag('new-theme') %}
    <form {% if id %}id="{{ id }}"{% endif %} action="{{ url('search') }}" method="get" {% if target %} target="{{ target }}"{% endif %}>
      {% if params %}
        {% for k, v in params.items() %}
          <input type="hidden" name="{{ k }}" value="{{ v }}" />
        {% endfor %}
      {% endif %}
      <input type="text" name="q" required="required" placeholder="{{ _('Search Mozilla Support') }}" />
      <button type="submit" title="{{ _('Search') }}">{{ _('Search') }}</button>
    </form>
  {% else %}
    <div class="support-search"{% if id %} id="{{ id }}"{% endif %} role="search">
      {% if prefix %}
        {{ prefix }}
      {% endif %}
      <form action="{{ url('search') }}" method="get" {% if target %} target="{{ target }}"{% endif %}>
        {% if params %}
          {% for k, v in params.items() %}
            <input type="hidden" name="{{ k }}" value="{{ v }}" />
          {% endfor %}
        {% endif %}
        <input type="text" class="text" name="q" required="required" />
        <input type="submit" class="btn-important" title="{{ _('Search') }}" value="{{ _('Search Mozilla Support') }}" />
      </form>
    </div>
  {% endif %}
{% endmacro %}

{% macro aux_nav(user) %}
  {% if not settings.READ_ONLY %}
    {% if waffle.flag('new-theme') %}
      {% if request.locale == settings.WIKI_DEFAULT_LANGUAGE %}
        {% set ask_url = url('questions.aaq_step1') %}
      {% else %}
        {% set ask_url = url('wiki.document', 'ask') %}
      {% endif %}
      <li><a href="{{ ask_url }}">{{ _('Ask a question') }}</a></li>
      {% if user.is_authenticated() %}
        <li><a href="{{ url('users.') }}">{{ user.username }}</a></li>
        <li><a href="{{ 'd' }}">{{ _('Inbox') }}</a></li>
      {% else %}
        <li>
          {% trans login_url=url('users.login'), register_url=url('users.register') %}
            <a href="{{ login_url }}">Sign In</a> / <a href="{{ register_url }}">Register</a>
          {% endtrans %}
        </li>
      {% endif %}
    {% else %}
      {% if user.is_authenticated() %}
        <li class="account">
          <a class="user" href="{{ profile_url(user) }}">{{ user }}</a>
          <ul>
            <li><a href="{{ profile_url(user) }}">{{ _('View Profile') }}</a></li>
            <li><a href="{{ profile_url(user, edit=True) }}">{{ _('Edit Profile') }}</a></li>
            <li><a href="{{ url('dashboards.default') }}">{{ _('Dashboard') }}</a></li>
            <li><a href="{{ url('users.edit_settings') }}">{{ _('Settings') }}</a></li>
            <li><a href="{{ url('users.logout') }}">{{ _('Sign Out') }}</a></li>
          </ul>
        </li>
        <li class="nomenu">
          <a href="{{ url('messages.inbox') }}">
            {{ _('Inbox') }}
            {% if unread_message_count > 0 %}
              <span class="unread-message-count">{{ unread_message_count }}</span>
            {% endif %}
          </a>
        </li>
      {% else %}
        <li class="account anonymous nomenu logout">
          {% trans login_url=url('users.login'), register_url=url('users.register') %}
            Want to contribute?
            <a href="{{ login_url }}">Sign In</a> or <a href="{{ register_url }}">Register</a>
          {% endtrans %}
        </li>
      {% endif %}
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro content_editor(field) %}
  <div class="editor{% if field.errors %} invalid{% endif %}" data-media-search-url="{{ url('gallery.async') }}" data-media-gallery-url="{{ url('gallery.home') }}">
    <div class="editor-tools"></div>
    <div>{{ field|safe }}</div>
  </div>
{% endmacro %}

{% macro list_view_item(url, label, class=None, icon_url=None) %}
<li>
  <a href="{{ url }}"{% if class %} class="{{ class }}"{% endif %}>
    {% if icon_url %}
      <img class="icon" src="{{ icon_url }}" />
    {% endif %}
    {{ label }}
  </a>
</li>
{% endmacro %}
