@import 'variables.less';

@import 'includes/help-topics.less';

#get-involved-box {
  text-align: center;

  .btn {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 8px 40px;
  }
}

#main-content {
  margin-top: 10px;
}

#products-and-services {
  padding: 10px 0 0;
}

.search-form-large {
  margin: 0;

  h1 {
    font-weight: bold;
    margin: 40px 0 0 0;
    text-align: center;
  }

  .simple-search-form {
    margin-top: 8px;
  }

  #support-search-home {
    margin: 8px auto 30px;

    .searchbox {
      width: 100%;
      box-sizing: border-box;
    }

    .submit-button {
      right: 10px;
    }
  }
}

.html-rtl {
  .help-articles-title {
    text-align: right;
  }

  .search-form-large #support-search-home .submit-button {
    left: 16px;
    right: auto;
  }
}
