@import 'variables.less';
@import 'includes/search-result.less';

#advanced-search {
  #advanced-search-tabs {
    margin: 25px 0;

    > li {
      width: 33.33%;
    }
  }

  #tab-wrapper {
    > form {
      > .container {
        margin-bottom: 20px;

        > label {
          float: left;
          margin-right: 20px;
          text-align: right;
          width: 110px;

          + div,
          + input,
          + select {
            float: left;
          }

          + div {
            width: 510px;
          }

          + input {
            width: 500px;
          }
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          > li {
            margin-bottom: 5px;
          }
        }
      }

      .category,
      .product,
      .radios,
      .thread-type,
      .topics {
        li {
          float: left;
          padding-left: 24px;
          padding-right: 10px;
          position: relative;

          input {
            left: 0;
            position: absolute;
            top: 3px;
          }
        }
      }

      .category,
      .product,
      .radios {
        li {
          width: 136px;
        }
      }

      .thread-type,
      .topics {
        li {
          width: 221px;

          &:nth-of-type(2n - 1) {
            clear: left;
          }
        }
      }
    }
  }

  .search-tips-small {
    color: @textLightGrey;
    float: left;
    font-size: 12px;
    margin: 6px 0 0 130px;
    width: 510px;
  }

  .showhide-input {
    select {
      + input {
        margin-left: 10px;
      }
    }
  }

  .submit-search {
    float: right;

    .btn {
      float: left;
      margin-left: 20px;

      + .btn {
        margin-top: 12px;
      }
    }
  }
}

#search-results {
  h2 {
    font-weight: bold;
    margin-top: 0;
    padding-left: 75px;
  }

  .content-box {
    margin-bottom: 20px;
    padding-left: 78px;
  }
}

.search-filter.sidebar-nav {
  background-color: #fff;
  font-size: 14px;
  margin: 0 0 10px;

  > li {
    background-color: #fff;

    &.selected {
      > a,
      > a:visited {
        background: #f3f3f3;
        border: none;
        border-left: 4px solid #000;
        color: #000;
        font-weight: bold;

        &:before {
          content: none;
        }

        &:hover {
          color: #000;
        }
      }
    }

    > a,
    > a:visited, {
      color: #000;
      background: #fff;
      border: none;
      border-left: 4px solid #e7e7e7;
      text-transform: none;

      &:before {
        content: none;
      }

      &:hover {
        color: @textDarkBlue;
      }
    }

    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-transform: none;

      > li {
        > a,
        > a:visited {
          background: #f3f3f3;
          border-left: none;
          color: #000;
          display: block;
          padding: 12px 20px;
          text-decoration: none;

          &:hover {
            color: @textDarkBlue;
          }
        }

        &.selected {
          > a,
          > a:visited {
            border-left: 4px solid #000;
            font-weight: bold;

            &:hover {
              color: #000;
            }
          }
        }
      }
    }
  }
}

#doctype-filter.search-filter {
  background-color: #fff;
  font-size: 14px;
  list-style: none;
  margin-top: 35px;
  padding-left: 78px;

  > li {
    background-color: #fff;
    border-bottom: 4px solid #e7e7e7;
    float: left;
    opacity: 0.5;
    padding-bottom: 10px;
    padding-right: 40px;

    > a,
    > a:link,
    > a:visited {
      color: #000;
      text-decoration: none;

      &:hover {
        color: #000;
        text-decoration: none;
      }

      > img {
        display: block;
        padding-bottom: 10px;
        height: 24px;

        &.show-everything {
          width: 24px;
        }

        &.help-article {
          width: 20px;
        }

        &.community-discussion {
          width: 24px;
        }
      }
    }

    &.selected {
      border-bottom: 4px solid #000;
      opacity: 1;

      > a,
      > a:link,
      > a:visited {
        font-weight: bold;
      }
    }
  }
}
