@import 'variables.less';

#doc-content {
  line-height: 200%;

  h1 {
    border-top: 1px dotted @borderLightGrey;
    font-size: 26px;
    margin-top: 36px;
    padding-top: 36px;
  }

  #toc + h1 { /* h1 right after TOC: no border and less padding */
    border: none;
    padding-top: 5px;
  }

  h2 {
    font-size: 19px;
    margin: 21px 0 8px;
  }

  h3 {
    font-size: 16px;
    margin: 21px 0 8px;
  }

  h4,
  h5,
  h6 {
    font-size: 14px;
    margin: 21px 0 8px;
  }

  video,
  img {
    margin: 0;
    max-width: 100%;
  }

  ul,
  ol,
  dl {
    margin: 0 0 1em 40px;
    padding: 0;

    li {
      margin: 6px 0;
      padding: 0;

      p {
        margin: 0;
      }

      ol,
      ul,
      dl {
        margin: 0 0 0 6px;
      }
    }
  }

  .code {
  }

  .filepath {
    font-style: italic;
    white-space: nowrap;
  }

  .wiki-section {
    > header,
    > section {
      padding: 0;
    }

    > h1 {
      cursor: pointer;
      position: relative;

      &:after {
        background: @iconsSprite -50px -396px no-repeat;
        content: '';
        height: 16px;
        left: auto;
        margin: 10px 0 0 0;
        position: absolute;
        right: 0;
        top: 50%;
        width: 16px;
      }
    }

    &.collapsed {
      > h1 {
        &:after {
          background-position: -50px -282px;
        }
      }

      > section {
        display: none;
      }
    }
  }

  .key,
  .button {
    background: #f0f0f0;
    background: linear-gradient(to bottom, #f0f0f0, #fcfcfc);
    border-radius: 3px;
    color: #303030;
    border: 1px solid #e0e0e0;
    border-bottom-width: 2px;
    white-space: nowrap;
  }

  .key {
    font-family: monospace;
    padding: 1px 6px;
  }

  .button {
    padding: 1px 10px;
  }

  .menu {
    background: #e8e8e8;
    color: #303030;
    padding: 2px 4px;
  }

  .note,
  #toc {
    background: #eef2f5;
    border: 1px solid #e4ebee;
    margin: 20px 0;
    padding: 20px 30px;

    h2 {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  #toc .tocnumber {
    display: none;
  }

  .warning,
  .warning-box {
    background: url('../img/warning-stripes.png') top left repeat-x #ffe;
    border: 1px solid #fffbe7;
    margin: 20px 0 20px 0;
    padding: 20px 30px 20px 30px;
  }

  .pref {
    border: solid 1px #ddd;
    color: #303030;
    padding: 0 3px;
  }

  table {
    border-spacing: 0;
    width: 100%;
  }

  tr:nth-child(odd) {
    background: #eee;
  }

  th {
    font-weight: bold;
    border-bottom: solid 2px #bbb;
  }

  th,
  td {
    padding: 5px 10px;
  }

  .wiki-image {
    padding: 5px 0;
    vertical-align: middle;
  }

}

.html-rtl {
  #doc-content {
    ol,
    ul,
    dl {
      li {
        padding: 0 20px 0 0;

        ol,
        ul,
        dl {
          margin: 0 6px 0 0;
        }
      }
    }
  }
}
