.community-results {
    min-height: 550px;

    h1, h2 {
        text-align: center;
    }
}

.SelectTable {
    table.top-contributors {
        width: 100%;

        thead {
            tr {
                th {
                    padding-bottom: 5px;
                }
            }
        }

        tbody {
            tr {
                height: 40px;

                td {
                    background: #fff;
                    border-bottom: 2px solid #EAEFF2;
                    min-width: 25px;
                }
            }
        }

        [data-column="select"] {
            text-align: center;
        }

        [data-column="actions"] {
            padding-right: 10px;
            text-align: center;
            width: 0; // As small as possible.

            .fa {
                cursor: pointer;
            }
        }
    }

    &__actionBox {
        background: rgba(0, 0, 0, 0.8);
        bottom: 0;
        color: #fff;
        display: flex;
        left: 50%;
        padding: 15px;
        position: fixed;
        transform: translate(-50%, 0);

        &__count {
            min-width: 200px;
        }

        &__actions {
            span {
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }

                .fa {
                    margin-right: 5px;
                }
            }
        }
    }
}

.user-chip {
    img {
        height: 25px;
        margin: -9px 5px 0 0;
        position: relative;
        top: 7px;
        width: 25px;
    }
}

.Filters {
    position: relative;

    &__item,
    &__item--button {
        display: inline-block;
        margin-right: 5px;
    }

    &__item--button {
        background: #eee;
        border: 1px solid #aaa;
        border-radius: 4px;
        padding: 3px 5px;
        cursor: pointer;
    }

    &__window {
        background: #fff;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
        padding: 3px;
        position: absolute;
        left: 0px;
        top: 36px;
        z-index: 2;

        &::before {
            background: #fff;
            box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1);
            content: "";
            height: 16px;
            position: absolute;
            left: 268px;
            top: -8px;
            transform: rotate(45deg);
            width: 16px;
            z-index: -1;
        }
    }
}

.date-range-picker {
    display: inline-block;

    .summary-button {
        .summary {
            padding: 0 5px;
        }
    }

    .Filters__window {
        display: flex;
        flex-direction: column;
        left: 124px;

        .row {
            display: flex;
            flex-direction: row;
        }

        .calendar {
            flex-grow: 0;
            margin: 3px;

            input {
                display: none;
            }
        }

        .input-label-group {
            display: inline-block;
            margin: 3px;

            label {
                display: inline;
                font-weight: bold;
                margin-right: 3px;

                &:after {
                    content: ":";
                }
            }

            input {
                display: inline;
                width: 100px;
            }
        }

        .errors {
            color: #e00;
            padding: 5px;
        }

        .actions {
            flex-grow: 1;
            text-align: right;
        }

        .preset-picker {
            flex-grow: 1;
            list-style: none;
            padding: 0;
            margin: 3px;
            width: 150px;

            .preset {
                background: #f0f0f0;
                border-radius: 5px;
                color: #0089CA;
                cursor: pointer;
                margin-bottom: 5px;
                padding: 2px 6px;

                &.selected {
                    background: #0089ca;
                    color: #f0f0f0;
                    cursor: default;
                }
            }
        }
    }
}

.Pager {
    display: flex;
    margin-top: 20px;

    &__selectors {
        margin: 0;
        flex-grow: 1;
    }

    &__pageSize {
        flex-grow: 0;

        label {
            font-weight: bold;
            font-size: 0.9em;
            margin-right: 6px;
        }
    }
}


.AdvancedFilters {
    display: inline-block;
    float: right;

    &__summary {
        position: relative;

        &__number {
            background: #33AFFE;
            border-radius: 2px;
            color: #fff;
            font-weight: bold;
            font-size: 10px;
            height: 14px;
            position: absolute;
            right: -7px;
            text-align: center;
            top: -5px;
            width: 14px;
        }
    }

    &__detail {
        left: auto;
        min-height: 100px;
        min-width: 400px;
        right: 0;

        &::before {
            left: auto;
            right: 12px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &__actions {
            padding: 5px;
            text-align: right;
        }
    }
}
