@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.eot?#iefix2013') format('embedded-opentype'),
         url('../fonts/icons.woff?2013') format('woff'),
         url('../fonts/icons.ttf?2013') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.selector {
    display: inline-block;
    position: relative;
    text-align: left;
}
.selector.block {
    display: block;
    position: relative;
    width: 200px;
}
.ts-select-trigger {
    background-color: #e0e0e0;
    border: 1px solid #999;
    border-radius: .2rem;
    cursor: hand;
    font-size: .8rem;
    height: 2rem;
    margin-bottom: .2rem;
    min-width: 120px;
    padding: .6rem;
    text-align: left;
    width: 200px;
}
.selector-arrow {
    padding-right: 1.5rem;
}
[data-icon-arrow]:before {
    display: block;
    position: absolute;
    top: 25%;
    right: 10px;
    font-family: icons;
    content: attr(data-icon-arrow);
    speak: none;
}
.ts-options .selected:before {
    position: absolute;
    margin: 0  0 -15px -25px;
    font-family: icons;
    content: "\e804";
    speak: none;
}
.select-options {
    display: none;
    position: absolute;
    left: 0;
}
.ts-modal {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    min-width: 120%;
    max-height: 800%;
    overflow: scroll;
    z-index: 10;
}
/* visibility of the filter field is configurable
   and handled by JavaScript using the data-visible
   attribute */
.options-filter {
    display: none;
    padding: .8rem;
}
.options-filter input[type="text"] {
    padding: 5px 2%;
    border: 1px solid #b2b2b2;
    width: 100%;
    font-size: .8rem;
    border-radius: .2rem;
    box-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.options-filter input[type="text"]:focus {
    border: 1px solid #42a4e0;
    box-shadow: 0 0 0 2px rgba(73, 173, 227, 0.4);
}
ul.ts-options {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ts-options a {
    display: block;
    background-color: white;
    color: black;
    padding: .6rem .6rem .6rem 2rem;
    text-decoration: none;
}
.ts-options a:hover {
    background-color: #005CB8;
    color: #fff;
}
.ts-options li {
    border-top: 1px solid #e0e0e0;
    margin-bottom: 0;
}
.ts-options li:first-child {
    border-top: none;
    margin-bottom: 0;
}
.ts-options li:last-child a {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.ts-options li:first-child a {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
