{# vim: set ts=2 et sts=2 sw=2: #}
{% extends 'base.html' %}
{% set title = _('Live Chat') %}
{% set scripts = ('chat',) %}
{% set styles = ('chat',) %}
{% set crumbs = [(None, _('Chat'))] %}

{% block content %}
  <article id="chat" class="main">
    <hgroup>
      <h1>{{ _('Live Chat') }}</h1>
    </hgroup>
    <div id="chatbox" style="height: 20em; overflow:auto; border: 1px solid black"></div>
    <form id="chatform">
      <input type="hidden" name="nonce" value="{{ nonce }}">
      <input type="text" />
      <input type="submit" value="Send" />
    </form>
  </article>
  <script type="text/javascript">
WEB_SOCKET_SWF_LOCATION = '/media/';
</script>
{% endblock %}
