{% extends "mobile/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% set title = _('Ask a Question about Marketplace') %}
{% set classes = 'aaq' %}
{% set hide_extra_content = True %}


{% block content %}
  <h1 class="title">{{ title }}</h1>
  <h2>{{ _('Which category best describes your problem?') }}</h2>
  <ul class="select-one">
    {% for slug, name in categories.items() %}
      <li>
         <a href="{{ url('questions.marketplace_aaq_category', slug) }}">{{ name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
