{% extends "mobile/base.html" %}
{% from "questions/includes/aaq_macros.html" import marketplace_category with context %}
{% from "layout/errorlist.html" import errorlist %}
{% set title = _('Ask a Question about Marketplace') %}
{% set headline = title %}
{% set classes = 'aaq' %}
{% set hide_extra_content = True %}
{% set styles = ('mobile-aaq',) %}


{% block content %}
  {{ marketplace_category(category_slug, form, error_message) }}
  <div class="selections">
    <div class="selected">
      <label>{{ _('Category:') }}</label>
      <span>{{ category }}</span>
      <a href="{{ url('questions.marketplace_aaq') }}">{{ _('change') }}</a>
    </div>
  </div>
{% endblock %}
