{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% from 'includes/common_macros.html' import for_contributors_sidebar %}
{% from 'topics/includes/topic_macros.html' import hot_topics, topic_sidebar %}
{% set crumbs = [(url('products'), _('Products and Services')),
                 (url('products.product', slug=product.slug), _(product.title, 'DB: products.Product.title')),
                 (None, _(topic.title, 'DB: topics.Topic.title'))] %}
{% set styles = ('products',) %}

{% block title %}{{ _(topic.title, 'DB: topics.Topic.title') }} | {{ _('{product} Help')|f(product=_(product.title, 'DB: products.Product.title')) }}{% endblock %}

{% block top_of_head %}
  {# Temporary A/B test for bug 830753
     Only for /products/firefox/fix-problems.
  #}
  {% if product.slug == 'firefox' and topic.slug == 'fix-problems' %}
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='65912487-16',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
  {% endif %}
{% endblock %}

{% block content %}
  <div class="grid_12">
    <h1 class="product-title cf"><img src="{{ MEDIA_URL }}img/blank.png" alt="" class="logo-sprite" style="background-image: url('{{ product.image_url }}');" />{{ _(product.title, 'DB: products.Product.title') }}</h1>
  </div>
  <aside class="grid_3">
    {{ for_contributors_sidebar(user, settings.WIKI_DEFAULT_LANGUAGE) }}
    {{ topic_sidebar(topics[:10], product, topic) }}
  </aside>
  <div class="grid_9">
    <article id="document-list">
      {% if topic.image %}<img src="{{ MEDIA_URL }}img/blank.png" alt="" class="logo-sprite" style="background-image: url('{{ topic.image_url }}');" />{% endif %}
      <h1 class="topic-title cf">{{ _(topic.title, 'DB: topics.Topic.title') }}</h1>

      {# Temporary A/B test for bug 830753
         If we are on /products/firefox/fix-problems and
         ?b is passed in the query string,
         we show the Focus and Refine section expanded.
      #}
      <div id="focus-and-refine" class="feature-box{% if not refine and (product.slug != 'firefox' or topic.slug != 'fix-problems' or not 'b' in request.GET) %} collapsed{% endif %}" data-ui-type="folding-section">
        <header>
          <h2 class="nomargin">{{ _('Refine and Focus') }}</h2>
        </header>
        <section class="cf">
          <ul>
            <li {{ refine|class_selected(None) }}><a href="{{ request.path }}">{{ _('All') }}</a></li>
            {% for topic_ in refine_topics if topic_ != topic %}
              <li {{ refine|class_selected(topic_) }}><a href="?refine={{ _(topic_.slug) }}">{{ _(topic_.title, 'DB: topics.Topic.title') }} ({{ topic_.num_docs }})</a></li>
            {% endfor %}
          </ul>
        </section>
      </div>

      {% for document in documents %}
        {% if loop.first %}<ul class="topic-list">{% endif %}
        <li>
          <a href="{{ document['url'] }}">{{ document['document_title'] }}</a>
        </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}

      {% if fallback_documents %}
        <h2>{{ _('In English') }}</h2>
        {% for document in fallback_documents %}
          {% if loop.first %}<ul class="topic-list">{% endif %}
          <li>
            <a href="{{ document['url']|replace('/'+ settings.WIKI_DEFAULT_LANGUAGE +'/', '/' + request.locale + '/') }}">{{ document['document_title'] }}</a>
          </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
      {% endif %}
    </article>
  </div>
{% endblock %}

{% block for_contributors %}{% endblock %}
