{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% from 'includes/common_macros.html' import for_contributors_sidebar %}
{% from 'topics/includes/topic_macros.html' import hot_topics, topic_sidebar %}
{% set crumbs = [(url('products'), _('Products and Services')),
                 (url('products.product', slug=product.slug), _(product.title, 'DB: products.Product.title')),
                 (None, _(topic.title, 'DB: topics.Topic.title'))] %}
{% set styles = ('products',) %}

{% block title %}{{ _(topic.title, 'DB: topics.Topic.title') }} | {{ _('{product} Help')|f(product=_(product.title, 'DB: products.Product.title')) }}{% endblock %}

{% block content %}
  <div class="grid_12">
    <h1 class="product-title cf"><img src="{{ MEDIA_URL }}img/blank.png" alt="" class="logo-sprite" style="background-image: url('{{ product.image_url }}');" />{{ _(product.title, 'DB: products.Product.title') }}</h1>
  </div>
  <aside class="grid_3">
    {{ for_contributors_sidebar(user, settings.WIKI_DEFAULT_LANGUAGE) }}
    {{ topic_sidebar(topics[:10], product, topic) }}
  </aside>
  <div class="grid_9">
    <article id="document-list">
      {% if topic.image %}<img src="{{ MEDIA_URL }}img/blank.png" alt="" class="logo-sprite" style="background-image: url('{{ topic.image_url }}');" />{% endif %}
      <h1 class="topic-title cf">{{ _(topic.title, 'DB: topics.Topic.title') }}</h1>

      <div id="focus-and-refine" class="feature-box{% if not refine %} collapsed{% endif %}" data-ui-type="folding-section">
        <header>
          <h2 class="nomargin">{{ _('Refine and Focus') }}</h2>
        </header>
        <section class="cf">
          <ul>
            <li {{ refine|class_selected(None) }}><a href="{{ request.path }}">{{ _('All') }}</a></li>
            {% for topic_ in refine_topics if topic_ != topic %}
              <li {{ refine|class_selected(topic_) }}><a href="?refine={{ _(topic_.slug) }}">{{ _(topic_.title, 'DB: topics.Topic.title') }} ({{ topic_.num_docs }})</a></li>
            {% endfor %}
          </ul>
        </section>
      </div>

      {% for document in documents %}
        {% if loop.first %}<ul class="topic-list">{% endif %}
        <li>
          <a href="{{ document['url'] }}">{{ document['document_title'] }}</a>
        </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}

      {% if fallback_documents %}
        <h2>{{ _('In English') }}</h2>
        {% for document in fallback_documents %}
          {% if loop.first %}<ul class="topic-list">{% endif %}
          <li>
            <a href="{{ document['url']|replace('/'+ settings.WIKI_DEFAULT_LANGUAGE +'/', '/' + request.locale + '/') }}">{{ document['document_title'] }}</a>
          </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}
      {% endif %}
    </article>
  </div>
{% endblock %}

{% block for_contributors %}{% endblock %}
