{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% from 'includes/common_macros.html' import for_contributors_sidebar %}
{% from 'products/includes/product_macros.html' import product_sidebar %}
{% from 'topics/includes/topic_macros.html' import hot_topics %}
{% from 'topics/includes/topic_macros.html' import help_topics with context %}
{% set crumbs = [(url('products'), _('Products and Services')), (None, title)] %}
{% set styles = ('products',) %}

{% block title %}{{ _('{product} Help')|f(product=_(product.title, 'DB: products.Product.title')) }}{% endblock %}

{% block content %}
  <div class="grid_12">
    <h1 class="product-title cf"><img src="{{ MEDIA_URL }}img/blank.png" alt="" class="logo-sprite" style="background-image: url('{{ product.image_url }}');" />{{ title }}</h1>
  </div>
  <aside class="grid_3">
    {{ for_contributors_sidebar(user, settings.WIKI_DEFAULT_LANGUAGE) }}
    {{ product_sidebar(products, product) }}
  </aside>
  <div class="grid_9">
    {{ hot_topics(hot_docs, fallback_hot_docs) }}
    <section id="help-topics">
      <h1>{{ _('Help Topics') }}</h1>
      {{ help_topics(topics[:6]) }}
      {% for topic in topics[6:] %}
        {% if loop.first %}<ul>{% endif %}
        <li>
          <a href="{{ url('products.documents', product_slug=product.slug, topic_slug=topic.slug) }}">{{ _(topic.title, 'DB: topics.Topic.title') }}</a>
        </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    </section>
  </div>
{% endblock %}

{% block for_contributors %}{% endblock %}

{% block outer_side %}
{% endblock %}
