{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "base.html" %}
{% from 'products/includes/product_macros.html' import product_cards with context %}
{% set title = _('Products and Services') %}
{% set crumbs = [(None, title)] %}
{% set styles = ('products',) %}

{% block top_of_head %}
  {# Temporary A/B test for bug 846756 #}
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='65912487-18',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{% endblock %}

{% block content %}
  <section id="products-and-services" class="grid_12">
    <h1>{{ title }}</h1>
    {{ product_cards(products, show_thunderbird=True) }}
  </section>
{% endblock %}
