.fonts(@fontpath:'../fonts') {
  @font-face {
    font-family: 'MetaBold';
    src: url('@{fontpath}/MetaWebPro-Bold.eot'); /* IE9 Compat Modes */
    src: url('@{fontpath}/MetaWebPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('@{fontpath}/MetaWebPro-Bold.woff') format('woff'), /* Modern Browsers */
    url('@{fontpath}/MetaWebPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('@{fontpath}/MetaWebPro-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'MetaMedium';
    src: url('@{fontpath}/MetaWebPro-Medium.eot'); /* IE9 Compat Modes */
    src: url('@{fontpath}/MetaWebPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('@{fontpath}/MetaWebPro-Medium.woff') format('woff'), /* Modern Browsers */
    url('@{fontpath}/MetaWebPro-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('@{fontpath}/MetaWebPro-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'Moz';
    src: url('@{fontpath}/Moz-Regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('@{fontpath}/Moz-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('@{fontpath}/Moz-Regular-webfont.woff') format('woff'), /* Modern Browsers */
    url('@{fontpath}/Moz-Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('@{fontpath}/Moz-Regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'Moz';
    font-weight: bold;
    src: url('@{fontpath}/Moz-Medium-webfont.eot'); /* IE9 Compat Modes */
    src: url('@{fontpath}/Moz-Medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('@{fontpath}/Moz-Medium-webfont.woff') format('woff'), /* Modern Browsers */
    url('@{fontpath}/Moz-Medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('@{fontpath}/Moz-Medium-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
}

@font-face {
  font-family: 'OpenSans';
  src: url('//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.woff') format('woff'), /* Modern Browsers */
  url('//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('//www.mozilla.org/img/fonts/OpenSans-Regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 600;
  src: url('//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.eot'); /* IE9 Compat Modes */
  src: url('//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.woff') format('woff'), /* Modern Browsers */
  url('//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('//www.mozilla.org/img/fonts/OpenSans-Semibold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSans';
  font-weight: bold;
  src: url('//www.mozilla.org/img/fonts/OpenSans-Bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('//www.mozilla.org/img/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//www.mozilla.org/img/fonts/OpenSans-Bold-webfont.woff') format('woff'), /* Modern Browsers */
  url('//www.mozilla.org/img/fonts/OpenSans-Bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('//www.mozilla.org/img/fonts/OpenSans-Bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('//www.mozilla.org/img/fonts/OpenSans-Light-webfont.eot'); /* IE9 Compat Modes */
  src: url('//www.mozilla.org/img/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//www.mozilla.org/img/fonts/OpenSans-Light-webfont.woff') format('woff'), /* Modern Browsers */
  url('//www.mozilla.org/img/fonts/OpenSans-Light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('//www.mozilla.org/img/fonts/OpenSans-Light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}