@import 'colors.less';
@import 'vendors.less';

@import 'includes/for-contributors-hot-topics.less';

#mozilla-news {
  > span {
    > a {
      float: right;
      font-size: 13px;
    }
  }

  > ul {
    font-family: 'OpenSansLight', Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;

    > li {
      border-bottom: 1px dotted @borderLightGrey;
      color: @textBlue;
      margin: 0 0 20px 0;
      padding: 0 0 20px 0;

      &:after {
        content: '\00BB';
        margin: 0 0 0 10px;
      }
    }
  }
}