@import 'variables.less';
@import 'vendors.less';
@import 'grid.less';
@import 'fonts.less';

@import 'ui.less';
@import 'includes/kbox.less';

a,
a:link,
a:visited {
  color: @textBlue;
  text-decoration: none;
}

a:hover {
  color: @textDarkBlue;
  text-decoration: underline;
}

body {
  border-top: 2px solid #686868;
  color: @textGrey;
  font-family: @OpenSans;
  font-size: 14px;
  text-align: left;
  min-width: 1000px;

  &.en-US {
    border-top-color: #fff;
  }

  &.html-rtl {
    margin: 0;
    padding: 0;
    text-align: right;
  }

  > header {
    .linear-gradient-top(#dee7ee, #cae1f4, 0%, #dee7ee, 65%, #d4dce4, 100%, url('../img/grain.png'));
    border-bottom: 1px solid #b3b8bc;
    margin-bottom: 20px;
    padding-bottom: 20px;

    .logo {
      float: left;
      margin-top: 20px;
    }

    .mozilla-tab {
      display: block;
      float: right;
      position: relative;
      z-index: 999;
    }
  }

  .html-rtl {
    header {
      .logo {
        float: right;
      }

      .mozilla-tab {
        float: left;
      }
    }
  }
}

body,
html {
  background: @background url('../img/grain.png') 0 0 repeat;
}

footer {
  background: #fff;
  margin: 100px 0 0 0;
  padding: 45px 0 110px 0;
  text-align: left;

  ul {
    font-size: 13px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 8px;
    }
  }

  .fineprint {
    color: #bbb;
    font-size: 12px;
    line-height: 160%;
  }
}

.html-rtl {
  footer {
    text-align: right;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: @OpenSansLight;
  font-weight: normal;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

ul.errorlist {
  color: red;
  margin: 1em 3em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea {
  background: #fafafa;
  border: 2px solid #f7f7f7;
  .border-radius(5px);
  .box-shadow(0 0 0 1px #efefef);
  font-family: @OpenSans;
}

/* buttons styled to look like links */
button[type="submit"],
input[type="submit"]{
  &.link-btn {
    background: none;
    border: none;
    .border-radius(0);
    .box-shadow(none);
    color: @textBlue;
    cursor: pointer;
    font-weight: normal;
    padding: 0;
    text-align: left;
    white-space: normal;

    &:hover {
      .box-shadow(none);
      text-decoration: underline;
    }
  }
}

.breadcrumbs {
  background: #e5eaed url('../img/grain.png');
  border-color: #dbe0e3 #dbe0e3 #f5f7f9 #dbe0e3;
  border-style: solid;
  border-width: 1px;
  margin: -20px 0 20px 0;
  padding: 4px 4px 5px 4px;
  position: relative;
  z-index: 1;

  &:after {
    background: #dbe0e3;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    border: 2px solid rgba(0, 0, 0, 0.01);
    bottom: 1px;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  #breadcrumbs {
    color: @textGrey;
    font-size: 11px;
    list-style: none;
    padding: 0;
    text-transform: uppercase;

    > li {
      float: left;
      margin: 0 6px 0 0;

      &:before {
        content: ' \003E ';
        margin: 0 6px 0 0;
      }

      &:first-of-type {
        &:before {
          content: '';
          margin: 0;
        }
      }
    }
  }
}

.rgba {
  .breadcrumbs {
    @dark: rgba(0, 0, 0, 0.03);
    @light: rgba(255, 255, 255, 0.5);
    border-color: @dark @dark @light @dark;

    &:after {
      background: @dark;
    }
  }
}

input[type=submit],
input[type=button],
.btn,
.btn:link,
.btn:visited,
.btn:hover {
  background: #fff;
  border: 0;
  border-bottom: 2px solid #e8e8e8;
  .border-radius(6px);
  .box-shadow(~"inset 0 0 12px rgba(230, 230, 230, 0.2), 0 0 0 1px #d0d0d0");
  color: @textDarkGrey;
  cursor: pointer;
  display: -moz-inline-stack; /* FF2 */
  display: inline-block;
  font-family: @OpenSans;
  font-size: 14px;
  font-weight: bold;
  margin: 0 2px;
  padding: 1px 10px 4px 10px;
  position: relative;
  text-decoration: none;
  z-index: 1;
  zoom: 1;
  *display: inline; /* Fix for IE6-7 */

  &.big {
    font-family: @OpenSansLight;
    font-size: 24px;
    font-weight: normal;
    padding: 3px 20px 7px 20px;
  }

  &.btn-important,
  &.btn-submit {
    border: 0;
    border-bottom: 2px solid #bec0c2;
    .box-shadow(none);
    color: #fff;
    font-family: @OpenSansLight;
    font-weight: normal;
    padding: 3px 16px 6px 16px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

    &:before {
      bottom: 0;
      .border-radius(5px);
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    &.big {
      font-size: 17px;
      padding: 12px 28px;
    }
  }

  &.btn-important {
    &:before {
      .gradient(#81bc2e, #81bc2e, #629827);
      border-bottom: 2px solid #548322;
    }
  }

  &.btn-submit {
    &:before {
      .gradient(#3c88cc, #3c88cc, #3173ae);
      border-bottom: 2px solid #2b659a;
    }
  }
}

.btn {
  &:disabled {
    opacity: 0.5;
  }
}

.btn-page,
.btn-page:link,
.btn-page:visited,
.btn-page:hover {
  background: url('../img/page-button-bg.png') top left repeat-x;
  color: #fff;
  cursor: pointer;
  display: -moz-inline-stack; /* FF2 */
  display: inline-block;
  font-weight: bold;
  height: 32px;
  line-height: 27px;
  margin: 0 7px;
  padding: 0 9px;
  position: relative;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  zoom: 1;
  *display: inline; /* Fix for IE6-7 */

  &:after {
    background: url('../img/page-button-ends.png') -26px 0 no-repeat;
    content: '';
    height: 32px;
    position: absolute;
    right: -7px;
    top: 0;
    width: 7px;
  }

  &:before {
    background: url('../img/page-button-ends.png') -34px 0 no-repeat;
    content: '';
    height: 32px;
    left: -7px;
    position: absolute;
    top: 0;
    width: 7px;
  }

  &.btn-page-next {
    margin: 0 25px 0 7px;
    padding: 0 20px 0 4px;

    &:after {
      background-position: -42px 0;
      right: -25px;
      width: 25px;
    }
  }

  &.btn-page-prev {
    margin: 0 7px 0 25px;
    padding: 0 4px 0 20px;

    &:before {
      background-position: 0 0;
      left: -25px;
      width: 25px;
    }
  }
}

.card-grid {
  list-style: none;
  margin: 0 -10px 20px -10px;
  padding: 0;

  > li {
    .gradient(#ccc, #ddd, #bbb);
    .border-radius(6px);
    .box-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
    float: left;
    margin: 0 10px 20px 10px;
    padding: 1px;
    position: relative;
    width: 298px;
    z-index: 1;

    &:before {
      background: #fff;
      .border-radius(5px);
      bottom: 1px;
      content: '';
      left: 1px;
      position: absolute;
      right: 1px;
      top: 1px;
      z-index: -1;
    }

    > a {
      display: block;
      padding: 20px;
    }
  }
}

.grid_9 {
  .card-grid {
    > li {
      width: 218px;

      > a {
        padding: 20px 15px;
      }
    }
  }
}

.no-generatedcontent {
  .card-grid {
    > li {
      background: #ccc;
      border: 1px solid #ccc;
      padding: 0;
    }
  }
}

.content-box {
  background: #fff;
  padding: 40px 30px;
}

.feature-box {
  background: #e5eaed url('../img/grain.png');
  border-color: #dbe0e3 #dbe0e3 #f9f9f9 #dbe0e3;
  border-style: solid;
  border-width: 1px;
  margin: 0 0 20px 0;
  padding: 20px 30px 21px 30px;
  position: relative;
  z-index: 1;

  &:after {
    background: #dbe0e3;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    border: 2px solid rgba(0, 0, 0, 0.01);
    bottom: 1px;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  h1 {
    font-size: 22px;
    margin: 0 0 10px 0;

    &:not(:first-of-type) {
      border-top: 1px dotted @borderLightGrey;
      margin-top: 20px;
      padding: 10px 0 0 0;
    }
  }

  p {
    margin: 10px 0;
  }
}

.rgba {
  .feature-box {
    @dark: rgba(0, 0, 0, 0.03);
    @light: rgba(255, 255, 255, 0.7);
    border-color: @dark @dark @light @dark;

    &:after {
      background: @dark;
    }
  }
}

.folding-section,
[data-ui-type="folding-section"] {
  > header {
    cursor: pointer;
    position: relative;

    &:after {
      background: url('../img/icons-sprite.png') -50px -282px no-repeat;
      content: '';
      height: 16px;
      left: auto;
      margin: -8px 0 0 0;
      position: absolute;
      right: 0;
      top: 50%;
      width: 16px;
    }
  }

  &.collapsed {
    > header {
      &:after {
        background-position: -50px -396px;
        margin-top: -10px;
        top: 50%;
      }
    }

    > section {
      display: none;
    }
  }
}

.folding-section {
  background: #fff;

  > header {
    padding: 16px 20px;
    text-transform: uppercase;

    &:after {
      left: auto;
      margin: 0;
      right: 16px;
      top: 18px;
    }
  }

  > section {
    padding:0 20px 16px 20px;
  }

  &.collapsed {
    > header {
      &:after {
        margin: 0;
        top: 16px;
      }
    }
  }
}

.highlight-box {
  background: #fff;
  margin: 40px 0;
  padding: 30px;
}

.logo-sprite {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 80px;
  width: 84px;
}

.nomargin {
  margin: 0 !important;
}

.nopadding {
  padding: 0 !important;
}

.progress-bar {
  background: #e5eaed url('../img/grain.png');
  border: 1px solid #dbe0e3;
  .border-radius(12px);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  position: relative;
  text-align: right;
  z-index: 1;

  &:after {
    border-bottom: 1px solid #f9f9f9;
    .border-radius(13px);
    bottom: -2px;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &:before {
    border: 2px solid rgba(0, 0, 0, 0.01);
    .border-radius(12px);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  > div {
    .gradient(#ff9500, #ff9500, #ed7000);
    .border-radius(12px);
    height: 24px;
    position: relative;
    z-index: 5;

    > span {
      margin-right: 10px;
    }
  }
}

.rgba {
  .progress-bar {
    @dark: rgba(0, 0, 0, 0.03);
    border-color: @dark;
  }
}

.search-form {
  background: url('../img/grain.png') #eff2f4;
  border: 1px solid #b9c9d1;
  .border-radius(6px);
  display: block;
  padding: 12px;
}

.sidebar-nav {
  font-family: @OpenSansLight;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  > li {
    position: relative;

    > span,
    > a,
    > a:visited {
      background: @sidebarBackground url('../img/grain.png');
      color: @textGrey;
      cursor: pointer;
      display: block;
      padding: 16px 20px;
      text-decoration: none;
    }

    > span:hover,
    > a:hover {
      background-color: @sidebarBackgroundHover;
      color: @textDarkBlue;
      text-decoration: none;
    }

    &.selected {
      border-bottom: 1px solid #f8f8f8;

      > span,
      > a,
      > a:visited,
      > a:hover {
        background: @sidebarBackgroundSelected;
        border-color: #e7e7e7;
        border-style: solid;
        border-width: 1px 0;
        color: @textGrey;
        font-family: @OpenSans;
        font-weight: bold;
      }

      &:after,
      &:before {
        content: '';
        height: 30px;
        left: 0;
        margin-top: -15px;
        position: absolute;
        top: 50%;
        width: 15px;

      }

      &:after {
        background: url('../img/sidebar-arrow.gif') 0 3px no-repeat;
        z-index: 2;
      }

      &:before {
        background: url('../img/icons-sprite.png') -50px -623px no-repeat;
        z-index: 1;
      }
    }
  }

  &.sidebar-folding {
    > li {
      border-bottom: 1px dotted @borderLightGrey;
      position: relative;

      &:after {
        background: url('../img/icons-sprite.png') -50px -282px no-repeat;
        content: '';
        height: 16px;
        left: auto;
        margin: 0;
        position: absolute;
        top: 18px;
        right: 16px;
        width: 16px;
      }

      &:before {
        display: none;
      }

      &.selected {
        &:after {
          background-position: -50px -396px;
          top: 16px;
        }

        > span,
        > a,
        > a:visited {
          background: @sidebarBackground url('../img/grain.png');
        }

        > span:hover,
        > a:hover {
          background-color: @sidebarBackgroundHover;
        }

        > .sidebar-nav {
          display: block;
        }
      }

      &:last-of-type {
        border: 0;
      }
    }

    .sidebar-nav {
      display: none;
    }

    + .products,
    + .topics {
      margin: 20px 0 0;
    }
  }

  &.tight {
    > li {
      span,
      a,
      a:visited {
        font-size: 12px;
        padding: 12px 20px;
      }
    }
  }

  .sidebar-nav {
    span,
    a,
    a:visited {
      font-size: 12px;
      padding: 10px 20px 10px 40px;
    }

    span:hover,
    a:hover {
      background: #fff;
    }

    .selected {
      a:hover {
        background-color: @sidebarBackgroundSelected;
      }
    }
  }
}

.sidebox {
  background: @sidebarBackground url('../img/grain.png');
  color: @textGrey;
  padding: 16px 20px;

  &.tight {
    font-size: 12px;
    padding: 12px 20px;
  }

  .title {
    display: block;
    margin-bottom: 12px;
    text-transform: uppercase;
  }
}

.tab-strip {
  background: #fafafa;
  border: 1px solid #efefef;
  .box-shadow(inset 0 0 0 2px #f7f7f7);
  list-style: none;
  margin: 0;
  padding: 4px 2px;

  > li {
    float: left;
    text-align: center;

    > a {
      border-right: 1px dotted @borderLightGrey;
      display: block;
      outline: none;
      padding: 6px 12px;
    }

    &:last-of-type {
      > a {
        border-right: 0;
      }
    }

    &.ui-tabs-selected {
      > a {
        color: @textGrey;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

.quick-paginator {
  list-style: none;
  margin: 0;
  padding: 0;

  .prev {
    float: left;
  }

  .next {
    float: right;
  }
}

#aux-nav {
  float: right;
  font-size: 11px;
  position: relative;
  text-transform: uppercase;
  z-index: 10;

  > ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      color: @textGrey;
      float: left;
      margin: 0 8px 0 0;
      position: relative;

      &.dropdown {
        > a:after {
          -moz-border-bottom-colors: none;
          -moz-border-image: none;
          -moz-border-left-colors: none;
          -moz-border-right-colors: none;
          -moz-border-top-colors: none;
          border-color: #666666 transparent transparent;
          border-right: 4px solid transparent;
          border-style: solid;
          border-width: 4px;
          content: " ";
          display: inline-block;
          height: 0;
          left: 4px;
          margin: 0 0 0 4px;
          top: 12px;
          vertical-align: middle;
          width: 0;
        }
      }

      > a,
      > a:visited {
        color: @textGrey;
        display: block;
        font-weight: normal;
        height: 42px;
        line-height: 40px;
        padding: 0 12px;
        text-decoration: none;

        &.locale-picker {
          background-image: url('../img/icons-sprite.png');
          background-position: -38px -153px;
          background-repeat: no-repeat;
          padding-left: 34px;
        }
      }

      > a:hover {
        background-color: #fff;
        text-decoration: none;
      }

      > ul {
        background: #fff;
        border-bottom: 1px solid #ccc;
        display: none;
        left: 0;
        list-style: none;
        margin: 0;
        padding: 0 12px;
        position: absolute;
        top: 42px;
        width: 160px;

        > li {
          font-size: 12px;

          > a,
          > a:visited {
            border-bottom: 1px dotted #d6d6d6;
            color: @textGrey;
            display: block;
            padding: 10px 0;
            text-decoration: none;
          }

          > a:hover {
            color: @textBlue;
            text-decoration: underline;
          }

          &:last-of-type {
            > a {
              border: 0;
            }
          }
        }
      }

      &:hover {
        background: #fff;

        > ul {
          display: block;
        }
      }
    }
  }
}

.html-rtl {
  #aux-nav {
    float: left;

    > ul {
      > li {
        float: right;
        padding: 0 12px 0 20px;
      }
    }
  }
}

#main-nav {
  .linear-gradient-top(#d8e1e8, #d8e1e8, 0%, #d1dbe2, 100%, url('../img/grain.png'));
  border-color: #c8d2d8 #c8d2d8 #ebeff3 #c8d2d8;
  border-style: solid;
  border-width: 1px;
  margin: 20px 0 0 0;

  &:after {
    content: '';
    display: block;
    border-top: 1px solid #c7d0d6;
  }

  ul {
    border: 2px solid #cfd8df;
    list-style: none;
    margin: 0;
    padding: 2px 0;

    li {
      border-right: 1px dotted #b1b8bd;
      color: @textBlue;
      float: left;
      height: 30px;
      line-height: 30px;

      &:last-child {
        border-right: none;
      }

      a,
      a:visited {
        color: @textBlue;
        font-size: 14px;
        padding: 0 27px;
        text-decoration: none;
      }
    }
  }
}

.html-rtl {
  #main-nav {
    ul {
      li {
        float: right;
      }
    }
  }
}

.rgba {
  #main-nav {
    @dark: rgba(0, 0, 0, 0.03);
    @light: rgba(255, 255, 255, 0.5);
    border-color: @dark @dark @light @dark;

    &:after {
      border-color: @dark;
    }

    ul {
      border: 2px solid rgba(0, 0, 0, 0.01);
    }
  }
}

#product-cards {
  a,
  a:visited {
    color: @textGrey;
    display: block;
  }

  .logo-sprite {
    float: left;
    margin: 8px 15px 8px 0;
  }

  .thunderbird {
    .logo-sprite {
      background-image: url('../img/icon.thunderbird.png');
    }
  }

  .title {
    display: block;
    font-family: @OpenSansLight;
    font-size: 22px;
    letter-spacing: -1px;
    line-height: 22px;
    margin: 0 0 12px 99px;
  }

  .description {
    display: block;
    margin: 0 0 0 99px;
  }
}

#stage-banner {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #000;
  .border-radius(6px);
  .box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
  color: #fff;
  left: 32px;
  padding: 12px 20px 12px 30px;
  position: fixed;
  text-shadow: 1px 1px 1px #000;
  top: 32px;
  z-index: 9999;

  a,
  a:visited {
    color: #ffcc00;
  }

  .close-button {
    background: #000;
    border: 2px solid #fff;
    .border-radius(15px);
    .box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
    cursor: pointer;
    height: 24px;
    left: -8px;
    position: absolute;
    text-indent: -9999px;
    top: -8px;
    width: 24px;

    &:before {
      content: '\2715';
      font-size: 22px;
      height: 24px;
      left: 0;
      line-height: 22px;
      position: absolute;
      text-align: center;
      text-indent: 0;
      top: 0;
      width: 24px;
    }
  }
}

#support-search {
  display: block;
  float: right;
  margin: 35px 0 0 0;
  position: relative;

  button {
    background: url('../img/icons-sprite.png') -50px -50px no-repeat;
    border: 0;
    height: 17px;
    position: absolute;
    right: 12px;
    text-indent: -9999px;
    top: 6px;
    width: 17px;
  }

  input {
    padding: 6px 42px 6px 20px;
    width: 238px;
  }
}

#support-search input,
input.searchbox {
  .linear-gradient-top(#8d969e, #8d969e, 0%, #a8b0b7, 100%, url('../img/grain.png'));
  border: 0;
  .border-radius(30px);
  .box-shadow(inset 1px 1px 1px rgba(0, 0, 0, 0.5));
  color: #fff;
  font-size: 14px;
  height: 18px;
  padding: 6px 20px;

  &:focus {
    outline: none;

    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0);
    }
  }

  &::-webkit-input-placeholder {
    color: #fff;
  }

  &:-moz-placeholder {
    color: #fff;
  }
}

.html-rtl {
  #support-search {
    float: left;

    button {
      left: 12px;
      right: auto;
    }

    input {
      padding: 6px 20px 6px 42px;
    }
  }
}

.warning-box {
  background: url('../img/warning-stripes.png') top left repeat-x #ffe;
  border: 1px solid #fffbe7;
  margin: 20px 0 20px 0;
  padding: 20px 30px 20px 30px;
}

/* Vote response message box */
.ajax-vote-box {
  background: #fff;
  border: solid 1px #ccc;
  .box-shadow(0 1px 2px rgba(0,0,0,0.3));
  font-family: Georgia;
  font-size: 14px;
  left: 0;
  padding: 7px 20px;
  position: absolute;
  top: 0;

  &:after {
    background: #fff;
    .box-shadow(2px 2px 2px rgba(0,0,0,0.3));
    content: '';
    display: block;
    height: 20px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    top: 20px;
    .transform(rotate(45deg));
    width: 20px;
    z-index: 1;
  }

  p {
    margin: 0;
    position: relative;
    z-index: 2;
  }
}

.html-rtl {
  .ajax-vote-box {
    left: auto;
    right: 0;
  }
}

/* Pagination styles */
/* TODO: replace this with proper LESS for new pagination styles */
ol.pagination {
  border-top: solid 1px #9ACCF7;
  font-family: Verdana;
  margin: 20px 0;
  padding: 20px 0;
}

ol.pagination li {
  float: left;
  list-style: none;
  padding: 0 2px;
}

ol.pagination li.prev {
  padding-left: 0;
}

.html-rtl ol.pagination li.prev {
  padding-left: 2px;
  padding-right: 0;
}

ol.pagination li a {
  float: left;
  padding: 3px 8px 5px;
}

ol.pagination li a:hover {
  text-decoration: underline;
}

ol.pagination li.prev a {
  padding-left: 0;
}

.html-rtl ol.pagination li.prev a {
  padding-left: 8px;
  padding-right: 0;
}

ol.pagination li.selected a {
  background: rgb(0, 81, 185);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  cursor: default;
}

ol.pagination li.selected a:hover {
  text-decoration:none;
}
