@import 'variables.less';
@import 'vendors.less';
@import 'grid.less';
@import 'fonts.less';

a,
a:link,
a:visited {
  color: @textBlue;
  text-decoration: none;
}

a:hover {
  color: @textDarkBlue;
  text-decoration: underline;
}

body {
  border-top: 2px solid #686868;
  color: @textGrey;
  font-family: @OpenSans;
  font-size: 14px;
  text-align: left;
  min-width: 1000px;

  &.en-US {
    border-top-color: #fff;
  }

  &.html-rtl {
    margin: 0;
    padding: 0;
    text-align: right;
  }

  > header {
    .linear-gradient-top(#dee7ee, #cae1f4, 0%, #dee7ee, 65%, #d4dce4, 100%, url('../img/grain.png'));
    border-bottom: 1px solid #b3b8bc;
    margin-bottom: 20px;
    padding-bottom: 20px;

    .logo {
      float: left;
      margin-top: 20px;
    }

    .mozilla-tab {
      display: block;
      float: right;
      position: relative;
      z-index: 999;
    }
  }

  .html-rtl {
    header {
      .logo {
        float: right;
      }

      .mozilla-tab {
        float: left;
      }
    }
  }
}

body,
html {
  background: @background url('../img/grain.png') 0 0 repeat;
}

footer {
  background: #fff;
  margin: 100px 0 0 0;
  padding: 45px 0 110px 0;
  text-align: left;

  ul {
    font-size: 13px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 8px;
    }
  }

  .fineprint {
    color: #bbb;
    font-size: 12px;
    line-height: 160%;
  }
}

.html-rtl {
  footer {
    text-align: right;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: @OpenSansLight;
  font-weight: normal;
}

h1 {
  font-size: 30px;
}

.breadcrumbs {
  background: #e5eaed url('../img/grain.png');
  border-color: #dbe0e3 #dbe0e3 #f5f7f9 #dbe0e3;
  border-style: solid;
  border-width: 1px;
  margin: -20px 0 20px 0;
  padding: 4px 4px 5px 4px;
  position: relative;
  z-index: 1;

  &:after {
    background: #dbe0e3;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    border: 2px solid rgba(0, 0, 0, 0.01);
    bottom: 1px;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  #breadcrumbs {
    color: @textGrey;
    font-size: 11px;
    list-style: none;
    padding: 0;
    text-transform: uppercase;

    > li {
      float: left;
      margin: 0 6px 0 0;

      &:before {
        content: ' \003E ';
        margin: 0 6px 0 0;
      }

      &:first-of-type {
        &:before {
          content: '';
          margin: 0;
        }
      }
    }
  }
}

.rgba {
  .breadcrumbs {
    @dark: rgba(0, 0, 0, 0.03);
    @light: rgba(255, 255, 255, 0.5);
    border-color: @dark @dark @light @dark;

    &:after {
      background: @dark;
    }
  }
}

.btn {
  background: #e8e8e8;
  border: 1px solid #d0d0d0;
  .border-radius(6px);
  color: @textDarkGrey;
  cursor: pointer;
  display: -moz-inline-stack; /* FF2 */
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 0 2px;
  padding: 1px 10px 4px 10px;
  position: relative;
  text-decoration: none;
  z-index: 1;
  zoom: 1;
  *display: inline; /* Fix for IE6-7 */

  &:before {
    background: #fff;
    bottom: 2px;
    .border-radius(5px);
    .box-shadow(inset 0 0 12px rgba(230, 230, 230, 0.2));
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.card-grid {
  list-style: none;
  margin: 0 -10px 20px -10px;
  padding: 0;

  > li {
    .gradient(#ccc, #ddd, #bbb);
    .border-radius(6px);
    .box-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
    float: left;
    margin: 0 10px 20px 10px;
    padding: 1px;
    position: relative;
    width: 298px;
    z-index: 1;

    &:before {
      background: #fff;
      .border-radius(5px);
      bottom: 1px;
      content: '';
      left: 1px;
      position: absolute;
      right: 1px;
      top: 1px;
      z-index: -1;
    }

    > a {
      padding: 20px;
    }
  }
}

.grid_9 {
  .card-grid {
    li {
      width: 218px;
    }
  }
}

.no-generatedcontent {
  .card-grid {
    > li {
      background: #ccc;
      border: 1px solid #ccc;
      padding: 0;
    }
  }
}

.feature-box {
  background: #e5eaed url('../img/grain.png');
  border-color: #dbe0e3 #dbe0e3 #f9f9f9 #dbe0e3;
  border-style: solid;
  border-width: 1px;
  margin: 0 0 20px 0;
  padding: 20px 30px 21px 30px;
  position: relative;
  z-index: 1;

  &:after {
    background: #dbe0e3;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  &:before {
    border: 2px solid rgba(0, 0, 0, 0.01);
    bottom: 1px;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  h1 {
    font-size: 22px;
    margin: 0 0 10px 0;

    &:not(:first-of-type) {
      border-top: 1px dotted @borderLightGrey;
      margin-top: 20px;
      padding: 10px 0 0 0;
    }
  }

  p {
    margin: 10px 0;
  }
}

.rgba {
  .feature-box {
    @dark: rgba(0, 0, 0, 0.03);
    @light: rgba(255, 255, 255, 0.7);
    border-color: @dark @dark @light @dark;

    &:after {
      background: @dark;
    }
  }
}

.folding-section {
  background: #fff;

  > header {
    cursor: pointer;
    padding: 16px 20px;
    position: relative;
    text-transform: uppercase;

    &:after {
      background: url('../img/icons-sprite.png') -50px -282px no-repeat;
      content: '';
      height: 16px;
      left: auto;
      margin: 0;
      position: absolute;
      top: 18px;
      right: 16px;
      width: 16px;
    }

    &:before {
      display: none;
    }
  }

  > section {
    padding:0 20px 16px 20px;
  }

  &.collapsed {
    > header {
      &:after {
        background-position: -50px -396px;
        top: 16px;
      }
    }

    > section {
      display: none;
    }
  }
}

.logo-sprite {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 80px;
  width: 84px;
}

.sidebar-nav {
  font-family: @OpenSansLight;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  > li {
    position: relative;

    > span,
    > a,
    > a:visited {
      background: @sidebarBackground url('../img/grain.png');
      color: @textGrey;
      cursor: pointer;
      display: block;
      padding: 16px 20px;
      text-decoration: none;
    }

    > span:hover,
    > a:hover {
      background-color: @sidebarBackgroundHover;
      color: @textDarkBlue;
      text-decoration: none;
    }

    &.selected {
      border-bottom: 1px solid #f8f8f8;

      > span,
      > a,
      > a:visited,
      > a:hover {
        background: @sidebarBackgroundSelected;
        border-color: #e7e7e7;
        border-style: solid;
        border-width: 1px 0;
        color: @textGrey;
        font-family: @OpenSans;
        font-weight: bold;
      }

      &:after,
      &:before {
        content: '';
        height: 30px;
        left: 0;
        margin-top: -15px;
        position: absolute;
        top: 50%;
        width: 15px;

      }

      &:after {
        background: url('../img/sidebar-arrow.gif') 0 3px no-repeat;
        z-index: 2;
      }

      &:before {
        background: url('../img/icons-sprite.png') -50px -623px no-repeat;
        z-index: 1;
      }
    }
  }

  &.sidebar-folding {
    > li {
      border-bottom: 1px dotted @borderLightGrey;
      position: relative;

      &:after {
        background: url('../img/icons-sprite.png') -50px -282px no-repeat;
        content: '';
        height: 16px;
        left: auto;
        margin: 0;
        position: absolute;
        top: 18px;
        right: 16px;
        width: 16px;
      }

      &:before {
        display: none;
      }

      &.selected {
        &:after {
          background-position: -50px -396px;
          top: 16px;
        }

        > span,
        > a,
        > a:visited {
          background: @sidebarBackground url('../img/grain.png');
        }

        > span:hover,
        > a:hover {
          background-color: @sidebarBackgroundHover;
        }

        > .sidebar-nav {
          display: block;
        }
      }

      &:last-of-type {
        border: 0;
      }
    }

    .sidebar-nav {
      display: none;
    }

    + .products,
    + .topics {
      margin: 20px 0 0;
    }
  }

  .sidebar-nav {
    span,
    a,
    a:visited {
      font-size: 12px;
      padding: 10px 20px 10px 40px;
    }

    span:hover,
    a:hover {
      background: #fff;
    }

    .selected {
      a:hover {
        background-color: @sidebarBackgroundSelected;
      }
    }
  }
}

#aux-nav {
  float: right;
  font-size: 11px;
  position: relative;
  text-transform: uppercase;
  z-index: 10;

  > ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      color: @textGrey;
      float: left;
      margin: 0 8px 0 0;
      position: relative;

      &.dropdown {
        > a:after {
          -moz-border-bottom-colors: none;
          -moz-border-image: none;
          -moz-border-left-colors: none;
          -moz-border-right-colors: none;
          -moz-border-top-colors: none;
          border-color: #666666 transparent transparent;
          border-right: 4px solid transparent;
          border-style: solid;
          border-width: 4px;
          content: " ";
          display: inline-block;
          height: 0;
          left: 4px;
          margin: 0 0 0 4px;
          top: 12px;
          vertical-align: middle;
          width: 0;
        }
      }

      > a,
      > a:visited {
        color: @textGrey;
        display: block;
        font-weight: normal;
        height: 42px;
        line-height: 40px;
        padding: 0 12px;
        text-decoration: none;

        &.locale-picker {
          background-image: url('../img/icons-sprite.png');
          background-position: -38px -153px;
          background-repeat: no-repeat;
          padding-left: 34px;
        }
      }

      > a:hover {
        background-color: #fff;
        text-decoration: none;
      }

      > ul {
        background: #fff;
        border-bottom: 1px solid #ccc;
        display: none;
        left: 0;
        list-style: none;
        margin: 0;
        padding: 0 12px;
        position: absolute;
        top: 42px;
        width: 160px;

        > li {
          font-size: 12px;

          > a,
          > a:visited {
            border-bottom: 1px dotted #d6d6d6;
            color: @textGrey;
            display: block;
            padding: 10px 0;
            text-decoration: none;
          }

          > a:hover {
            color: @textBlue;
            text-decoration: underline;
          }

          &:last-of-type {
            > a {
              border: 0;
            }
          }
        }
      }

      &:hover {
        background: #fff;

        > ul {
          display: block;
        }
      }
    }
  }
}

.html-rtl {
  #aux-nav {
    float: left;

    > ul {
      > li {
        float: right;
        padding: 0 12px 0 20px;
      }
    }
  }
}

#main-nav {
  .linear-gradient-top(#d8e1e8, #d8e1e8, 0%, #d1dbe2, 100%, url('../img/grain.png'));
  border-color: #c8d2d8 #c8d2d8 #ebeff3 #c8d2d8;
  border-style: solid;
  border-width: 1px;
  margin: 20px 0 0 0;

  &:after {
    content: '';
    display: block;
    border-top: 1px solid #c7d0d6;
  }

  ul {
    border: 2px solid #cfd8df;
    list-style: none;
    margin: 0;
    padding: 2px 0;

    li {
      border-right: 1px dotted #b1b8bd;
      color: @textBlue;
      float: left;
      height: 30px;
      line-height: 30px;

      &:last-child {
        border-right: none;
      }

      a,
      a:visited {
        color: @textBlue;
        font-size: 14px;
        padding: 0 27px;
        text-decoration: none;
      }
    }
  }
}

.html-rtl {
  #main-nav {
    ul {
      li {
        float: right;
      }
    }
  }
}

.rgba {
  #main-nav {
    @dark: rgba(0, 0, 0, 0.03);
    @light: rgba(255, 255, 255, 0.5);
    border-color: @dark @dark @light @dark;

    &:after {
      border-color: @dark;
    }

    ul {
      border: 2px solid rgba(0, 0, 0, 0.01);
    }
  }
}

#product-cards {
  a,
  a:visited {
    color: @textGrey;
    display: block;
  }

  .logo-sprite {
    float: left;
    margin: 8px 20px 8px 0;
  }

  .title {
    display: block;
    font-family: @OpenSansLight;
    font-size: 22px;
    line-height: 22px;
    margin: 0 0 12px 104px;
  }

  .description {
    display: block;
    margin: 0 0 0 104px;
  }
}

#stage-banner {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #000;
  .border-radius(6px);
  .box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
  color: #fff;
  left: 32px;
  padding: 12px 20px 12px 30px;
  position: fixed;
  text-shadow: 1px 1px 1px #000;
  top: 32px;
  z-index: 9999;

  a,
  a:visited {
    color: #ffcc00;
  }

  .close-button {
    background: #000;
    border: 2px solid #fff;
    .border-radius(15px);
    .box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
    cursor: pointer;
    height: 24px;
    left: -8px;
    position: absolute;
    text-indent: -9999px;
    top: -8px;
    width: 24px;

    &:before {
      content: '\2715';
      font-size: 22px;
      height: 24px;
      left: 0;
      line-height: 22px;
      position: absolute;
      text-align: center;
      text-indent: 0;
      top: 0;
      width: 24px;
    }
  }
}

#support-search {
  display: block;
  float: right;
  margin: 35px 0 0 0;
  position: relative;

  button {
    background: url('../img/icons-sprite.png') -50px -50px no-repeat;
    border: 0;
    height: 17px;
    position: absolute;
    right: 12px;
    text-indent: -9999px;
    top: 6px;
    width: 17px;
  }

  input {
    .linear-gradient-top(#8d969e, #8d969e, 0%, #a8b0b7, 100%, url('../img/grain.png'));
    border: 0;
    .border-radius(30px);
    .box-shadow(inset 1px 1px 1px rgba(0, 0, 0, 0.5));
    color: #fff;
    font-size: 14px;
    height: 18px;
    padding: 6px 42px 6px 20px;
    width: 238px;

    &:focus {
      outline: none;

      &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0);
      }
    }

    &::-webkit-input-placeholder {
      color: #fff;
    }

    &:-moz-placeholder {
      color: #fff;
    }
  }
}

.html-rtl {
  #support-search {
    float: left;

    button {
      left: 12px;
      right: auto;
    }

    input {
      padding: 6px 20px 6px 42px;
    }
  }
}