@import 'variables.less';
@import 'vendors.less';

@import 'includes/for-contributors-hot-topics.less';
@import 'includes/help-topics.less';
@import 'includes/product-title.less';

.logo-sprite {
  float: left;
  margin: 0 8px 0 0;
}

.topic-list {
  border-bottom: 1px dotted @borderLightGrey;
  clear: both;
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0 0 24px 0;

  &:last-of-type {
    border: 0;
    padding: 0;
    margin: 0;
  }

  > li {
    font-size: 16px;
    margin: 0 0 6px 0;

    &:after {
      color: @textBlue;
      content: '\00BB';
      margin: 0 0 0 2px;
    }
  }
}

#focus-and-refine {
  ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;

    li {
      float: left;
      margin: 5px 0 0;
      width: 50%;

      &.selected {
        font-weight: bold;

        a {
          color: @textGrey;
        }
      }

      &:nth-child(2n+1) {
        clear: left;
      }
    }
  }
}