@import 'variables.less';
@import 'vendors.less';
@import 'includes/editor-tools.less';
@import 'includes/for-contributors-hot-topics.less';
@import 'includes/search-result.less';

h1 {
  font-size: 46px;
  margin-top: 0;
}

h2 {
  font-size: 28px;
}

.answers {
  .answer-tools {
    margin: 0 0 20px 130px;
    padding: 0 20px;

    > a {
      float: right;
      margin: 1px 0;
    }

    > form {
      float: left;
      text-transform: uppercase;

      .btn {
        text-transform: none;
      }
    }
  }

  .avatar {
    margin-bottom: 10px;

    img {
      border: 6px solid #fff;
    }
  }

  .helpful-count {
    &:before {
      content: '\2665';
      font-size: 20px;
      margin-right: 2px;
    }
  }

  .is-helpful {
    color: @textOrange;
  }

  .is-owner {
    color: @textBlue;
  }

  .is-solution {
    color: @textGreen;
  }

  .main-content {
    background: #fff;
    margin: 0 0 20px 130px;
    padding: 20px 30px;
    position: relative;

    &:before {
      border-color: transparent #fff;
      border-style: solid;
      border-width: 11px 11px 11px 0;
      height: 0;
      content: '';
      left: -11px;
      position: absolute;
      top: 20px;
      width: 0;
    }

    h3 {
      margin-top: 0;
    }

    .read-more {
      margin-right: 30px;
    }

    .other-helpful,
    .solution {
      border-top: 1px dotted @borderLightGrey;
      margin-top: 30px;
      padding-top: 30px;
    }

    .other-helpful {
      h3 {
        color: @textOrange;
      }
    }

    .solution {
      h3 {
        color: @textGreen;
        display: inline;
      }
    }
  }

  .notice {
    background: url('../img/warning-stripes.png') top left repeat-x #ffe;
    border: 1px solid #fffbe7;
    margin: 0 0 20px 0;
    padding: 20px 30px;
  }

  .question-meta {
    font-size: 12px;
    margin-bottom: 20px;
    text-transform: uppercase;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
        margin-right: 20px;
      }
    }
  }

  .summary {
    margin: 0 0 10px 0;
  }

  .user-meta {
    float: left;
    font-size: 12px;
    margin: 0 20px 20px 0;
    width: 110px;

    .asked-by {
      margin-bottom: 25px;

      .answers,
      .points,
      .solutions {
        display: block;
      }

      .solutions {
        font-weight: bold;
      }

      .karma-titles {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          background: #fff;
          text-transform: uppercase;
          margin: 10px 0;
          padding: 5px;
        }
      }
    }
  }

  .question-tools {
    margin: 0 0 20px 130px;
    text-align: right;

    .btn {
      margin: 10px 0;
    }

    .me-too {
      float: left;

      .btn {
        margin: 0;
      }
    }
  }

  .report {
    margin-bottom: 20px;

    input,
    select {
      display: none;
    }

    .link-btn,
    .link-btn:visited,
    .link-btn:hover {
      color: @textLightGrey;
      display: block;
      float: right;
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  .sidebar-nav {
    margin-bottom: 20px;
  }

  .sidebox {
    margin-bottom: 20px;
  }

  #question-reply {
    &:before {
      display: none;
    }

    textarea {
      margin-top: 10px;
      width: 510px;
    }

    .editor-tools {
      background: transparent;
    }
  }

  .system-details {
    text-transform: uppercase;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 2px;
      }
    }
  }

  #tags {
    text-transform: uppercase;

    button {
      background: transparent;
      border: 0;
      color: @textDarkOrange;
      cursor: pointer;
      margin: 0 0 0 5px;
      outline: none;
      padding: 0;
    }

    ul {
      list-style: none;
      margin: 0 0 12px 0;
      padding: 0;

      li {
        float: left;
        margin-right: 12px;

        a,
        a:visited,
        a:hover {
          color: @textGrey;
        }
      }

      &.immutable {
        button {
          display: none;
        }
      }
    }

    .btn {
      float: right;
    }

    .searchbox {
      display: block;
      margin-bottom: 12px;
      width: 140px;
    }
  }

  #vote-thanks-kbox {
    text-align: left;

    input#id_email {
      width: 230px;
    }
  }

  #more-system-details-kbox {
    margin-left: -115px;
    width: 720px;

    h1 {
      display: none;
    }

    h2 {
      font-size: 20px;
      font-weight: normal;
      margin: 15px 0 5px;
    }

    p,
    li {
      color: #898378;
      list-style: none;
      margin: 0;
    }

    ul.system {
      li {
        display: inline-block;
        padding-right: 40px;
      }
    }

    div.plugins {
      li {
        background: transparent url(../img/questions/icon.plugin.gif) no-repeat 0 4px;
        padding: 2px 0 2px 25px;
      }
    }

    .bottom-close {
      margin: 10px 0 0;
      text-align: right;
    }
  }

  #email-subscribe-kbox {
    left: -150px;
    text-transform: none;
    top: 20px;
    width: 330px;

    ul.errorlist {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
      }
    }

    a {
      padding: 0;
    }

    input#id_email {
      width: 270px;
    }

    form {
      ul {
        list-style: none;
        margin: 0;
        padding: 10px 0;
      }
    }
  }
}

.highlight-box {
  h2 {
    margin: 0;
  }

  .select-one {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-family: @OpenSansLight;
      font-size: 20px;
      margin: 10px 0;
    }
  }
}

.logo-sprite {
  background-image: url('../img/logos.large.sprite.png');
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;

  &.logo-desktop {
    background-position: -20px -20px;
  }

  &.logo-mobile {
    background-position: -20px -470px;
  }

  &.logo-home {
    background-position: -20px -620px;
  }

  &.logo-sync {
    background-position: -20px -320px;
  }

  &.logo-other {
    background-position: -20px -170px;
  }
}

.questions {
  list-style: none;
  margin: 0;
  padding: 0;

  > section {
    background: #fff;
    padding: 20px 30px;
    position: relative;

    h2 {
      font-size: 22px;
      margin: 4px 0;
    }

    .content {
      border-right: 1px dotted @borderLightGrey;
      margin: 0 90px 0 0;
      min-height: 130px;
      padding: 0 20px 0 0;
    }

    .thread-meta {
      background: #fff;
      left: 0;
      overflow: hidden;
      padding: 0 6px;
      position: absolute;
      top: 0;
      width: 18px;

      &:hover {
        border-bottom: 1px solid @borderLightGrey;
        border-right: 1px solid @borderLightGrey;
        width: auto;
      }

      > div {
        background: url('../img/icons-sprite.png') 0 0 no-repeat;
        color: #ccc;
        font-size: 11px;
        height: 18px;
        line-height: 18px;
        margin: 6px 0;
        padding: 0 0 0 24px;
        text-transform: uppercase;

        &.highlighted {
          color: @textGrey;
        }

        &.thread-contributed {
          background-position: -48px -977px;

          &.highlighted {
            background-position: -48px -1093px;
          }
        }

        &.thread-solved {
          background-position: -49px -746px;

          &.highlighted {
            background-position: -49px -862px;
          }
        }
      }
    }

    .question-meta {
      float: right;
      font-size: 11px;
      width: 70px;
      padding: 0 0 0 20px;
      text-align: center;
      text-transform: uppercase;

      h4 {
        font-size: 30px;
        margin: 0;
      }

      &.urgent {
        h4 {
          color: #fe9300;
        }
      }
    }
  }

  > aside {
    font-size: 13px;
    margin: 10px 30px 30px 30px;

    .tag-list {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;

      > li {
        display: inline;
        font-style: italic;
        margin: 0 0 0 10px;
      }
    }

    .user-meta {
      float: right;
    }
  }

  #filters {
    h3 {
      margin: 5px 0;
    }

    > section {
      border-top: 1px dotted @borderLightGrey;
      margin: 10px 0;
      padding: 10px 0;
    }

    p {
      font-size: 12px;
      margin-top: 0;
    }

    .grid_2 {
      margin-left: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        a {
          color: @textLightGrey;
        }

        &.active {
          a {
            color: @textGrey;
            font-weight: bold;
          }
        }
      }
    }

    input[type=text] {
      margin: 0 0 10px;
      width: 130px;
    }
  }

  #top-contributors {
    ol {
      display: inline-block;
      width: 35%;

      li {
        margin: 5px 0;
      }
    }

    .inner-wrap {
      display: none;
    }

    &:hover {
      position: relative;

      .inner-wrap {
        display:block;
      }

      .feature-box {
        background: #fff;
        position: absolute;
        width: 318px;
      }
    }
  }
}

#aaq_progress {
  margin: 60px 78px;

  .legend {
    color: @textGrey;
    font-size: 14px;
    font-weight: normal;
    list-style: none;
    margin: 10px -78px;
    padding: 0;
    position: relative;
    z-index: 0;

    li {
      float: left;
      margin: 0 10px;
      position: relative;
      text-align: center;
      width: 136px;

      &.current {
        font-weight: bold;
      }

      &:before {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        content: '';
        height: 24px;
        left: 50%;
        margin-left: -1px;
        position: absolute;
        top: -34px;
        width: 0;
      }

      &:first-of-type,
      &:last-of-type {
        &:before {
          display: none;
        }
      }
    }
  }

  .progress-bar {
    > div {
      min-width: 12px;
      padding-right: 12px;
    }
  }
}

#ask-search-form {
  .btn {
    float: right;
  }

  .searchbox {
    float: left;
    margin: 10px 0 0 12px;
    width: 724px;
  }
}

#recent-stats {
  font-size: 13px;
  margin: 0 0 40px 0;

  .no_reply {
    margin: 0 6px;
  }

  .progress-bar {
    margin-top: 10px;
  }

  .total {
    float: right;
    margin: 0 6px;
  }
}

#register-form,
#login-form {
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  h2 {
    text-align: center;
  }

  ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    text-align: center;

    input {
      float: left;
      width: 214px;
    }

    label {
      float: left;
      padding-right: 12px;
      text-align: right;
    }

    li {
      display: -moz-inline-stack;
      display: inline-block;
      margin: 2px 0;
      zoom: 1;
      *display: inline;
    }
  }

  .submit {
    text-align: center;

    .btn {
      margin-right: 121px;
    }
  }
}

#login-form {
  ul {
    label {
      width: 80px;
    }
  }

  .submit {
    .btn {
      margin-left: 80px;
    }
  }
}

#product-picker {
  > li {
    > a,
    > a:visited,
    > a:hover {
      color: @textGrey;

      > img {
        float: left;
      }

      > span {
        display: block;
        margin-left: 130px;

        &.title {
          font-family: @OpenSansLight;
          font-size: 18px;
        }
      }
    }
  }
}

#question-form {
  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    input {
      width: 700px;
    }

    label {
      float: left;
      width: 120px;
      padding-right: 20px;
      text-align: right;

      + input,
      + textarea,
      + div {
        float: left;
      }
    }

    li {
      padding: 10px 0;

      p {
        clear: both;
        margin: 0 0 0 140px;
      }

      &.details {
        display: none;

        input {
          width: auto;
        }
      }

      &.hide {
        .show {
          display: none;
        }
      }

      &.show {
        .hide {
          display: none;
        }
      }
    }

    &.show-details {
      li {
        &.details {
          display: block;
        }
      }
    }

    textarea {
      width: 710px;
    }

    .editor-tools {
      display: none;
    }

    .submit {
      .btn {
        margin-left: 140px;
      }
    }
  }
}

#register-form {
  ul {
    label {
      width: 130px;
    }
  }

  .submit {
    .btn {
      margin-left: 130px;
    }
  }
}

#selected-category,
#selected-product {
  font-size: 20px;
  margin-bottom: 10px;

  a {
    font-size: 14px;
  }

  label {
    font-family: @OpenSansLight;
  }

  span {
    font-weight: bold;
  }
}


.attachments-upload {
  margin: 1.5em 0 1.5em 128px;

  label {
    display: block;
    margin: .5em 0;
  }

  .adding-attachment {
    display: none;
    line-height: 4em;
  }

  .empty,
  .upload-progress {
    display: none;
  }

  .attachments {
    a:hover {
      img {
        border: 1px solid #eee;
      }
    }
  }

  .attachment {
    display: inline-block;
    position: relative;

    .overlay {
      background: #ccc url('../img/wait-trans.gif') no-repeat center;
      bottom: 5px;
      left: 5px;
      opacity: .5;
      position: absolute;
      right: 5px;
      top: 5px;
    }

    img {
      background: url('../img/wait-trans.gif') no-repeat center;
      border: 1px solid #ccc;
      margin: 5px;
      text-align: center;
      vertical-align: top;
    }

    input.delete {
      background: #000;
      border: 2px solid #fff;
      .border-radius(1em);
      color: #fff;
      cursor: pointer;
      display: none;
      font-family: Verdana;
      font-weight: bold;
      opacity: .5;
      padding: 0 .2em;
      position: absolute;
      right: 10px;
      top: 10px;

      &:hover {
        opacity: 1;
      }
    }

    &:hover input.delete {
      display: block;
    }
  }

  .upload-progress {
    background: url('../img/wait-trans.gif') no-repeat center;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: center;
    vertical-align: top;

    &.show {
      display: inline-block;
    }
  }

  .add-attachment {
    noscript {
      input {
        margin-left: 1em;
      }
    }
  }

  input.image-delete {
    margin-top: 1em;
  }

  img {
    max-height: 120px;
    max-width: 120px;
  }
}

div.ans-attachments {
  padding: 10px 15px 0 10px;

  a:hover {
    img {
      border: 1px solid #eee;
    }
  }

  .attachment {
    display: inline-block;
    position: relative;

    .overlay {
      background: #ccc url('../img/wait-trans.gif') no-repeat center;
      bottom: 5px;
      left: 5px;
      opacity: .5;
      position: absolute;
      right: 5px;
      top: 5px;
    }

    img {
      background: url('../img/wait-trans.gif') no-repeat center;
      border: 1px solid #ccc;
      margin: 5px;
      text-align: center;
      vertical-align: top;
    }

    input.delete {
      background: #000;
      border: 2px solid #fff;
      .border-radius(1em);
      color: #fff;
      cursor: pointer;
      display: none;
      font-family: Verdana;
      font-weight: bold;
      opacity: .5;
      padding: 0 .2em;
      position: absolute;
      right: 10px;
      top: 10px;

      &:hover {
        opacity: 1;
      }
    }

    &:hover input.delete {
      display: block;
    }
  }

  img {
    max-height: 120px;
    max-width: 120px;
  }
}


#image-attachment-kbox {
  img {
    max-width: 100%;

    &.loading {
      background: transparent url(../img/wait-trans.gif) no-repeat center center;
      display: block;
      height: 32px;
      margin: auto;
      width: 32px;
    }
  }
}

.feature-box {
  padding: 13px 30px 15px;

  h2 {
    font-size: 21px;
  }
}

.edit-answer {
  .form-widget {
    width: 600px;
  }

  .form-widget,
  .info,
  .submit {
    margin: 20px 0 20px 128px;
  }

  textarea {
    width: 592px;
  }
}
