@import 'variables.less';
@import 'vendors.less';

#advanced-search {
  #advanced-search-tabs {
    margin: 25px 0;

    > li {
      width: 33.33%;
    }
  }

  #tab-wrapper {
    > form {
      > .container {
        margin-bottom: 20px;

        > label {
          float: left;
          margin-right: 20px;
          text-align: right;
          width: 110px;

          + div,
          + input,
          + select {
            float: left;
          }

          + div {
            width: 510px;
          }

          + input {
            width: 500px;
          }
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          > li {
            margin-bottom: 5px;
          }
        }
      }

      .category,
      .product,
      .radios,
      .thread-type,
      .topics {
        li {
          float: left;
          padding-left: 24px;
          padding-right: 10px;
          position: relative;

          input {
            left: 0;
            position: absolute;
            top: 3px;
          }
        }
      }

      .category,
      .product,
      .radios {
        li {
          width: 136px;
        }
      }

      .thread-type,
      .topics {
        li {
          width: 221px;

          &:nth-of-type(2n - 1) {
            clear: left;
          }
        }
      }
    }
  }

  .search-tips-small {
    color: @textLightGrey;
    float: left;
    font-size: 12px;
    margin: 6px 0 0 130px;
    width: 510px;
  }

  .showhide-input {
    select {
      + input {
        margin-left: 10px;
      }
    }
  }

  .submit-search {
    float: right;

    .btn {
      float: left;
      margin-left: 20px;

      + .btn {
        margin-top: 12px;
      }
    }
  }
}

#search-results {
  h2 {
    margin-top: 0;
  }

  .search-form {
    margin-bottom: 40px;

    .btn {
      float: right;
    }

    .searchbox {
      float: left;
      margin: 10px 0 0 12px;
      width: 606px;
    }
  }

  .result {
    margin: 40px 0;
    padding-left: 80px;
    position: relative;

    &:before {
      background: url('../img/search-icons-sprite.png') 0 0 no-repeat;
      content: '';
      height: 56px;
      left: 0;
      position: absolute;
      top: 0;
      width: 56px;
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    a,
    a:hover {
      color: @textGrey;
    }

    a:visited {
      color: @textPurple;
    }

    h3 {
      margin: 0 0 4px 0;
    }

    &.document {
      &:before {
        background-position: -46px -46px;
      }
    }

    &.question {
      &:before {
        background-position: -46px -194px;
      }
    }

    .thread-meta {
      list-style: none;
      margin: 12px 0 0 0;
      padding: 0;

      li {
        border-left: 1px solid @borderLightGrey;
        float: left;
        margin-left: 10px;
        padding-left: 10px;

        &:first-of-type {
          border: 0;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

#search-filter {
  margin: 0 0 10px;
}
