/* Colors */
@background: #eaeff2;
@borderLightGrey: #c1c5c8;
@sidebarBackground: #f0f4f6;
@sidebarBackgroundHover: #f8fafb;
@sidebarBackgroundSelected: #fafafa;
@textBlue: #0095dd;
@textDarkBlue: #00539f;
@textGrey: #484848;

/* Fonts */
@OpenSans: 'OpenSans', Arial, Helvetica, sans-serif;
@OpenSansLight: 'OpenSansLight', Arial, Helvetica, sans-serif;
@MetaBold: 'MetaBold', Arial, Helvetica, sans-serif;
@MetaMedium: 'MetaMedium', Arial, Helvetica, sans-serif;