{% macro flag_form(post_target, identifier, content_moderation=False) %}
  <a href="javascript:;" data-sumo-modal="report-abuse-{{ identifier }}">{{ _('Report Abuse') }}</a>
  <section id="report-abuse-{{ identifier }}" class="mzp-u-modal-content">
    <h2 class="sumo-page-subheading">{{ _('Report this') }}</h2>
    <form action="{{ post_target }}" method="post">
      {% csrf_token %}
      <div class="field radio is-condensed">
        <input type="radio" id="id_{{ post_target|slugify}}_spam" name="reason" value="spam" checked />
        <label for="id_{{ post_target|slugify}}_spam">{{ _('Spam or other unrelated content') }}</label>
      </div>
      <div class="field radio is-condensed">
        <input type="radio" name="reason" id="id_{{ post_target|slugify}}_language" value="language" />
        <label for="id_{{ post_target|slugify}}_language">{{ _('Inappropriate language/dialog') }}</label>
      </div>
      {% if content_moderation %}
        <div class="field radio is-condensed">
          <input type="radio" name="reason" value="content_moderation" id="id_{{ post_target|slugify}}_content_moderation" />
          <label for="id_{{ post_target|slugify}}_content_moderation">{{ _('Misplaced bug report or support request') }}</label>
        </div>
      {% endif %}
      <div class="field radio is-condensed">
        <input type="radio" id="id_{{ post_target|slugify}}_abuse" name="reason" value="abuse" />
        <label for="id_{{ post_target|slugify}}_abuse">{{ _('Abusive content') }}</label>
      </div>
      <div class="field radio">
        <input type="radio" id="id_{{ post_target|slugify}}_other" name="reason" value="other" />
        <label for="id_{{ post_target|slugify}}_other">{{ _('Other (please specify)') }}</label>
      </div>
      <div class="field has-md-textarea">
        <textarea name="other" placeholder="{{ _('Have more to say?') }}"></textarea>
      </div>

      <div class="sumo-button-wrap align-end">
        <button class="sumo-button primary-button" type="submit">{{ _('Submit') }}</button>
      </div>
    </form>
    <span class="message"></span>
  </section>
{% endmacro %}