{% macro flag_form(post_target, bug_support=True) %}
<a href="javascript:;" data-sumo-modal="report-abuse">{{ _('Report Abuse') }}</a>
<section id="report-abuse" class="mzp-u-modal-content">
  <h2 class="sumo-page-subheading">{{ _('Report this') }}</h2>
    <form action="{{ post_target }}" method="post">
      {% csrf_token %}
      <div class="field radio">
        <input type="radio" id="id_spam" name="reason" value="spam" />
        <label for="id_spam">{{ _('Spam or other unrelated content') }}</label>
      </div>
      <div class="field radio">
        <input type="radio" name="reason" id="id_language" value="language" />
        <label for="id_language">{{ _('Inappropriate language/dialog') }}</label>
      </div>
      {% if bug_support %}
      <div class="field radio">
        <input type="radio" name="reason" value="bug_support" id="id_bug_support" />
        <label for="id_bug_support">{{ _('Misplaced bug report or support request') }}</label>
      </div>
      {% endif %}
      <div class="field radio">
        <input type="radio" id="id_other" name="reason" value="other" />
        <label for="id_other">{{ _('Other (please specify)') }}</label>
      </div>
      <div class="field has-md-textarea">
        <textarea name="other" placeholder="{{ _('Have more to say?') }}"></textarea>
      </div>

      <div class="sumo-button-wrap align-end">
        <button class="sumo-button primary-button" type="submit">{{ _('Submit') }}</button>
      </div>
    </form>

    <span class="message"></span>
</section>

{% endmacro %}
