{% extends 'base.html' %}

{% set crumbs = [(url('landings.get_involved'), _('Help Other Users')), (none, _('Help Us Write Help Articles'))] %}
{% set styles = ('landings-get-involved',) %}

{% set canonical_url = canonicalize(viewname='landings.get_involved_kb') %}

{% block below_main %}
<section class="sumo-page-section has-moz-headings">
  <div class="hero-bar secondary kb sumo-l-two-col">
    <div class="sumo-l-two-col--one-half">
      <img class="hero-butler questions" src="{{ STATIC_URL }}sumo/img/gi-hero-kb.png" alt="">
    </div>
    <div class="sumo-l-two-col--one-half">
      <h1 class="text-display-xl">{{ _('Help us write help articles!') }}</h1>
      <h2 class="text-display-sm">{{ _('Share your wisdom with the world.') }}</h2>
      <p class="text-body-lg">
        {% trans %}
          If you like writing and teaching then the Knowledge Base is the
          place for you. We need contributors that can write, edit or proof
          read articles in English. Thousands of people are accessing our
          Knowledge Base every week. Imagine how many will be helped by you!
        {% endtrans %}
      </p>
    </div>
  </div>
</section>
  {% set user_is_contributor = is_contributor(user) %}
  {% set signup_headline = _('Improve our help articles') %}
  {% include 'landings/includes/register_contributor.html' %}


  <section class="sumo-page-section has-moz-headings pick-a-way text-left">
    <div class="sumo-l-two-col align-center">
      <div class="sumo-l-two-col--one-half gi-visual text-center">
        <img src="{{ STATIC_URL }}sumo/img/gi-visual-kb.png?v=1" alt="">
        <p class="text-display-xs legacy-blue-text"><em>{{ _('1 article can be viewed by 400 million users and translated into 70+ languages') }}</em></p>
      </div>
      <div class="sumo-l-two-col--one-half">
        <h2 class="text-display-sm">{{ _('How it works') }}</h2>
        <ol class="mzp-u-list-styled headings-list">
          <li>
            {% set message =  _('Sign up as a volunteer') %}
            {% if not user_is_contributor %}
              <a href="#" data-trigger="click" data-trigger-target="#sign-up-contributor">{{ message }}</a>
            {% else %}
              {{ message }}
            {% endif %}
          </li>
          <li>
            <a href="{{ url('forums.posts', 'contributors', 708942) }}">
              {{ _('Introduce yourself') }}
            </a>
          </li>
          <li>
            <a href="{{ url('wiki.document', 'improve-knowledge-base') }}">
              {{ _('Watch our videos and check our documentation') }}
            </a>
          </li>
        </ol>
      </div>
    </div>
  </section>

  <section class="sumo-page-section has-moz-headings pick-a-way has-icons has-left-heading">
    <h2 class="text-display-sm">{{ _('Other ways to get involved') }}</h2>
    <a href="{{ url('landings.get_involved_questions') }}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g stroke="var(--color-secondary)" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
          <path d="M11 3H4a2 2 0 00-2 2v12a2 2 0 002 2h9l2 4 2-4h2a2 2 0 002-2v-6"/>
          <path d="M17.5 2.5a2.121 2.121 0 013 3L13 13l-4 1 1-4 7.5-7.5z"/>
        </g>
      </svg>
      <span>{{ _('Answer questions in the support forum') }} &raquo;</span>
    </a>
    <a href="{{ url('landings.get_involved_l10n') }}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g stroke="var(--color-secondary)" stroke-width="2" fill="none" fill-rule="evenodd">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13 20l4-10 4 10"/>
          <path d="M14 17h6"/>
          <path d="M3 6h13M9 4l1 2M6 10c1 2.648 2.667 4.315 5 5M4 18.028C8.417 15.343 11.417 11.333 13 6" stroke-linecap="round"/>
        </g>
      </svg>
      <span>{{ _('Translate help to your languages') }}</span>
    </a>
  </section>
{% endblock %}
