{% extends 'base.html' %}

{% set crumbs = [(url('landings.get_involved'), _('Help Other Users')), (none, _('Answer questions in the forum'))] %}
{% set styles = ('landings-get-involved',) %}

{% block content %}
  <div class="grid_12">
    <div class="hero-bar secondary questions cf">
      <div class="column">
        <h1>{{ _('Answer questions in the forum') }}</h1>
        <h2>{{ _('Where all the action happens') }}</h2>
        <p>
          {% trans %}
            From hardcore web developers to "how do I install Firefox" first time
            users, everybody needs your help in the forum! Share your knowledge
            by pointing people to the right help articles and providing
            troubleshooting steps for their individual questions.
          {% endtrans %}
        </p>
      </div>
    </div>
  </div>

  {% set user_is_contributor = is_contributor(user) %}
  {% set signup_headline = _('Help users in the forums') %}
  {% include 'landings/includes/register_contributor.html' %}

  <div class="row cf pick-a-way">
    <div class="grid_12">
      <h3>{{ _('How it works') }}</h3>
    </div>
    <div class="grid_6">
      <span class="bullet">1</span>
      <div>
        {% set message =  _('Sign up as a volunteer') %}
        {% if not user_is_contributor and request.LANGUAGE_CODE in AAQ_LANGUAGES %}
          <a href="#" data-trigger="click" data-trigger-target="#sign-up-contributor">{{ message }}</a>
        {% else %}
          {{ message }}
        {% endif %}
      </div>

      <span class="bullet">2</span>
      <div>
        {% set message = _('Go to our support forum and choose a question to answer') %}
        {% if request.LANGUAGE_CODE in AAQ_LANGUAGES %}
          <a href="{{ url('questions.home') }}">{{ message }}</a>
        {% else %}
          {{ message }}
        {% endif %}
      </div>

      <span class="bullet">3</span>
      <div>
        {{ _('Start answering!') }}<br>
        <a href="{{ url('wiki.document', 'answering-questions-support-forum') }}">
          {{ _('Read this for some help to get started') }}
        </a>
      </div>
    </div>
    <div class="grid_6 gi-visual">
      <div><img src="{{ STATIC_URL }}sumo/img/gi-visual-questions.png?v=1" alt=""></div>
      {{ _('Solving 1 issue helps up to 1,000 users a day') }}
    </div>
  </div>

  <div class="row cf pick-a-way">
    <div class="grid_3">
      <h3>{{ _('Other ways to get involved') }}</h3>
    </div>
    <div class="grid_3">
      <div class="get-involved-icon aoa"></div>
      <a href="{{ url('landings.get_involved_aoa') }}">
        {{ _('Army of Awesome: help users on Twitter') }} &raquo;
      </a>
    </div>
    <div class="grid_3">
      <div class="get-involved-icon kb"></div>
      <a href="{{ url('landings.get_involved_kb') }}">
        {{ _('Write help articles') }} &raquo;
      </a>
    </div>
    <div class="grid_3">
      <div class="get-involved-icon localize"></div>
      <a href="{{ url('landings.get_involved_l10n') }}">
        {{ _('Translate help to your languages') }} &raquo;
      </a>
    </div>
  </div>
{% endblock %}
