{% extends "base.html" %}
{% from 'products/includes/product_macros.html' import product_cards with context %}
{% set styles = ('home',) %}
{% set canonical_url = canonicalize(viewname='home') %}

{% block contentwrap %}
  <section class="sumo-page-section shade-bg text-center">
    <div class="mzp-l-content narrow">
      <h1 class="text-display-xl">{{ _('Search Mozilla Support') }}</h1>
      {{ search_box(settings, id='support-search-home', params=search_params) }}
    </div>
  </section>



<section class="mzp-l-content sumo-page-section">
  <div class="text-center">
    <h2 class="display-xs">{{ _('Get Help') }}</h2>
    <p>{{ _('Pick your product') }}</p>
  </div>
  {{ product_cards(products) }}
</section>

  <section id="get-involved-box">
    <a class="button" href="{{ url('landings.get_involved') }}">
      {{ _('Volunteer for Mozilla Support') }}
    </a>
  </section>
{% endblock %}

{% block outer_side %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}
