{% extends "base.html" %}
{% from 'products/includes/product_macros.html' import product_cards with context %}
{% set styles = ('home',) %}
{% set canonical_url = canonicalize(viewname='home') %}

{% block hidden_search_masthead %}{% endblock %}

{% block contentwrap %}
<section class="home-search-section sumo-page-section--lg shade-bg">
  <div class="mzp-l-content narrow">
    <div class="home-search-section--content">
      <h1 class="text-display-xl">{{ _('Search Support') }}</h1>
      {{ search_box(settings, id='support-search-masthead', params=search_params) }}

      <p class="popular-searches">
        <span>Popular Searches:</span>
        <a href="#popular_search_1" data-featured-search>Firefox Accounts</a>
        <a href="#popular_search_2" data-featured-search>VPN</a>
        <a href="#popular_search_3" data-featured-search>Tracking Protection</a>
      </p>
      </div>
  </div>
</section>
<section class="mzp-l-content sumo-page-section" id="main-content">
  <div class="text-center-to-left-on-large">
    <h2 class="text-display-xs">{{ _('Get Help') }}</h2>
    <p>{{ _('Pick your product') }}</p>
  </div>
  {{ product_cards(products) }}

  <div class="sumo-page-section">
    <div class="text-center-to-left-on-large">
      <h2 class="text-display-xs">{{ _('Featured Articles & Threads') }}</h2>
    </div>
    {% include "landings/includes/featured_articles.html" %}
  </div>

  <div class="sumo-page-section">
    {% include "landings/includes/join-our-community-callout.html" %}
  </div>
</section>
{% endblock %}

{% block outer_side %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}
