{% extends "base.html" %}
{% from 'products/includes/product_macros.html' import product_cards with context %}
{% set styles = ('home',) %}
{% set canonical_url = canonicalize(viewname='home') %}

{% block hidden_search_masthead %}
{% endblock %}

{% block contentwrap %}
<section class="home-search-section sumo-page-section--lg extra-pad-bottom shade-bg">
  <div class="mzp-l-content narrow">
    <div class="home-search-section--content">
      <h1 class="sumo-page-heading-xl">{{ _('Search Support') }}</h1>
      {{ search_box(settings, id='support-search-masthead', params=search_params) }}

      <p class="popular-searches">
        <span>Popular Searches:</span>
        <a href="#popular_search_1" data-featured-search>Firefox Accounts</a>
        <a href="#popular_search_2" data-featured-search>VPN</a>
        <a href="#popular_search_3" data-featured-search>Tracking Protection</a>
      </p>
    </div>
  </div>
</section>
<div id="main-content">
  <section class="mzp-l-content sumo-page-section--inner">
    <div class="text-center-to-left-on-large">
      <h2 class="sumo-page-subheading">{{ _('Get Help') }}</h2>
      <p class="sumo-page-intro">{{ _('Pick your product') }}</p>
    </div>
    {{ product_cards(products) }}
  </section>
  <section class="mzp-l-content sumo-page-section--inner">
    <div class="text-center-to-left-on-large">
      <h2 class="sumo-page-subheading">{{ _('Featured Articles & Threads') }}</h2>
    </div>
    {% include "landings/includes/featured_articles.html" %}
  </section>
  <section class="mzp-l-content sumo-page-section--inner">
    {% include "landings/includes/join-our-community-callout.html" %}
  </section>
</div>
{% endblock %}

{% block outer_side %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}
