{% extends 'mobile/base.html' %}

{% set styles = ('mobile/products',) %}
{% set classes = 'documents' %}
{% set headline = _(topic.title, 'DB: topics.Topic.title') %}
{% set return_url = url('products.product', slug=product.slug) %}

{% block title %}{{ _(topic.title, 'DB: topics.Topic.title') }} | {{ _('{product} Help')|f(product=_(product.title, 'DB: products.Product.title')) }}{% endblock %}

{% block content %}
  {% if subtopics or topic.parent %}
    <div class="filter-bar">
      <div class="select-box" data-overlay="filter-overlay">
        {{ _('Related Topics') }}
      </div>
    </div>
  {% endif %}

  <ul class="document-list">
    {% for document in documents %}
      <li>
        <a class="cf" href="{{ document['url'] }}">{{ document['document_title'] }}</a>
      </li>
    {% endfor %}
  </ul>

  {% if fallback_documents %}
    <h2>{{ _('In English') }}</h2>
    {% for document in fallback_documents %}
      {% if loop.first %}<ul class="document-list">{% endif %}
      <li>
        <a href="{{ document['url']|replace('/'+ settings.WIKI_DEFAULT_LANGUAGE +'/', '/' + request.LANGUAGE_CODE + '/') }}">{{ document['document_title'] }}</a>
      </li>
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}

{% block after_main %}
  <div id="filter-overlay" class="overlay" style="display: none;">
    <header>{{ _('Related Topics') }}</header>
    <div class="wrapper scrollable">
      <ul class="select-list">
        {% if topic.parent %}
          <li>
            <a href="{{ url('products.documents', product_slug=product.slug, topic_slug=topic.parent.slug) }}">
              {{ _('Go back to {topic}')|f(topic=_(topic.parent.title, 'DB: topics.Topic.title'))}}
            </a>
          </li>
        {% endif %}
        {% for topic_ in subtopics %}
          <li>
            <a href="{{ url('products.documents', product_slug=product.slug, topic_slug=topic_.slug) }}">
              {{ _(topic_.title, 'DB: topics.Topic.title') }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
