// Typography
//
// All global typography styles and utility classes should live in the
// typography.scss file. Whenever possible, use good semantics and these utility
// classes to change type sizes and fonts, and leave typography details out
// of the component-level files.
//
// .inverse - This class provides white text over a darker background
// .alt-heading-font - Apply this to a heading directly, or any parent element
// to apply to all headings within that context.
// .alt-heading-font.inverse - Both classes can be used together.
//
// Markup: ../../../styleguide-examples/typography.njk
//
// Weight: 1
//
// Style guide: typography

@use '../config' as *;
@use 'protocol';

// The following mixins were taken and edited from
// protocol/css/includes/mixins/_typography.scss.
// Once protocol is caught up, these can be removed
// and the protocol mixins can be used throughout the system.
//
// Consistent font sizes. Avoid sizing text arbitrarily and use this
// set of predefined sizes. Sizes adapt at common breakpoints, and
// there's some redundancy at smaller sizes because we don't want things
// getting too tiny.
// Example usage:
//  .title { @include text-display-xl; }
//  .subtitle { @include text-display-lg; }
//  .intro { @include text-body-lg; }

$text-body-line-height: 1.5;
$text-display-line-height: 1.1;

// display copy: headings, blockquotes, other fancy stuff
@mixin text-display-xxl { // Use this one sparingly.
  @include protocol.font-size(48px);
  line-height: $text-display-line-height;

  @media #{protocol.$mq-md} {
    @include protocol.font-size(64px);
    @include line-height(72px);
  }
}

@mixin text-display-xl {
  @include protocol.font-size(40px);
  line-height: $text-display-line-height;

  @media #{protocol.$mq-md} {
    @include protocol.font-size(56px);
    @include line-height(64px);
  }
}

@mixin text-display-lg {
  @include protocol.font-size(32px);
  line-height: $text-display-line-height;

  @media #{protocol.$mq-md} {
    @include protocol.font-size(48px);
    @include line-height(56px);
  }
}

@mixin text-display-md {
  @include protocol.font-size(24px);
  line-height: $text-display-line-height;

  @media #{protocol.$mq-md} {
    @include protocol.font-size(40px);
    @include line-height(44px);
  }
}

@mixin text-display-sm {
  @include protocol.font-size(21px);


  @media #{protocol.$mq-md} {
    @include protocol.font-size(32px);
    @include line-height(36px);
  }
}

@mixin text-display-xs {
  @include protocol.font-size(18px);
  line-height: $text-display-line-height;

  @media #{protocol.$mq-md} {
    @include protocol.font-size(24px);
    @include line-height(28px);
  }
}

@mixin text-display-xxs {
  @include protocol.font-size(20px);
  @include line-height(24px);
}

@mixin text-display-xxxs {
  @include protocol.font-size(16px);
  @include line-height(20px);
}

// body copy
@mixin text-body-lg {
  @include protocol.font-size(18px);
  line-height: $text-body-line-height;
}

@mixin text-body-md {
  @include protocol.font-size(16px);
  line-height: $text-body-line-height;
}

@mixin text-body-sm {
  @include protocol.font-size(14px);
  line-height: $text-body-line-height;
}

@mixin text-body-xs {
  @include protocol.font-size(12px);
  line-height: $text-body-line-height;
}

@mixin text-body-cta {
  @include protocol.font-size(16px);
  line-height: $text-body-line-height;
}

body {
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  color: var(--color-heading);
}

// Type scale defined in includes/mixins/_typography.scss
h1 {
  @include text-display-xxl;
}

h2 {
  @include text-display-xl;
}

h3 {
  @include text-display-lg;
}

h4 {
  @include text-display-md;
}

h5, h6 {
  @include text-display-sm;
}

.display-xs {
  @include text-display-xs;
}


.display-xxs {
  @include text-display-xxs;
}

.display-xxxs {
  @include text-display-xxxs;
}


.alt-heading-font {
  --heading-font-family: var(--heading-alt-font-family);
}

.inverse {
  --color-heading: var(--color-inverse);
  --color-link: var(--color-inverse);
  --color-link-visited: var(--color-link-inverse-visited);
  --color-link-active-bg: var(--color-link-inverse-active-bg);
  background-color: var(--color-inverse-bg);
  color: var(--color-inverse);
}

.body-lg {
  @include protocol.font-size(18px);
  @include line-height(28px);
}

.body-md {
  @include protocol.font-size(16px);
  @include line-height(28px);
}

.body-sm {
  @include protocol.font-size(14px);
  @include line-height(22px);
}

.body-xs {
  @include protocol.font-size(12px);
  @include line-height(18px);
}

:link {
  text-decoration: underline;
  color: var(--color-link);

  &:hover {
    text-decoration: none;
    color: var(--color-link);
  }

  &:active {
    background-color: var(--color-link-active-bg);
  }
}

:visited {
  color: var(--color-link-visited);

  &:hover {
    color: var(--color-link-visited);
  }
}
