{% extends 'base.html' %}

{% set title = 'Mozilla Support Site Status' %}
{% set classes = 'monitor' %}
{% set styles = ('monitor',) %}

{% macro status(b) %}
  {% if b %}info{% else %}error{% endif %}
{% endmacro %}

{% block content %}
<article id="services-monitor" class="main">
  <h1>{{ title }}</h1>
  {% for component, output in component_status|dictsort %}
    <div class="notification-box {{ status(status_summary[component]) }}">
      <h2>{{ component }}</h2>
      <ul>
        {% for kind, text in output %}
          <li>{{ kind }}: {{ text }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</article>
{% endblock content %}

{% block outer_side %}{% endblock %}
