{% extends 'mobile/base.html' %}

{% set title = _('Join our Army of Awesome') %}
{% set headline = title %}

{% set styles = ('mobile-landings-get-involved',) %}

{% block content %}
  <div class="padded">
    <h3>{{ _('Join our Army of Awesome') }}</h3>
    <div class="centered">
      <img class="smart-width" src="{{ STATIC_URL }}sumo/img/gi-hero-aoa.png" alt="">
    </div>
    <h3>{{ _('Love Firefox? Love Twitter?') }}</h3>
    <p>
      {% trans %}
        Now you can combine both and help Firefox users on Twitter. It's
        quick, it's easy, and you don't have to be a tech superstar to do it.
        We call it our Army of Awesome.
      {% endtrans %}
    </p>
    <p>
      {% trans %}
        It's fun and addictive and the Awesome is you!
      {% endtrans %}
    </p>

    <div class="centered">
      <img class="smart-width" src="{{ STATIC_URL }}sumo/img/gi-visual-aoa.png" alt="">
      <p>
        {{ _('1 tweet can save 1 day') }}
      </p>
    </div>
    <h4>{{ _('How it works') }}</h4>
    <ol>
      <li>
        <a href="{{ url('customercare.landing') }}">
          {{ _('Go to Army of Awesome') }}
        </a>
      </li>
      <li>{{ _('Connect your Twitter account') }}</li>
      <li>
        {% trans %}
          Answer to Twitter users that need help. It's super easy with our
          canned responses.
        {% endtrans %}
      </li>
    </ol>

    <h4>{{ _('Pick a way to get involved') }}</h4>
  </div>
  <ul class="gi-links">
    <li>
      <a href="{{ url('landings.get_involved_questions') }}">
        {{ _('Answer questions in the support forum') }}
      </a>
    </li>
    <li>
      <a href="{{ url('landings.get_involved_kb') }}">
        {{ _('Write help articles') }}
      </a>
    </li>
    <li>
      <a href="{{ url('landings.get_involved_l10n') }}">
        {{ _('Translate help to your languages') }}
      </a>
    </li>
  </ul>

  {% set user_is_contributor = is_contributor(user) %}
  {% set signup_headline = _('Help users on Twitter') %}
  {% include 'landings/mobile/includes/register_contributor.html' %}

{% endblock %}
