{% block nav %}
{% import 'styleguide/styleguide-examples/nav.njk' as nav %}
{{ nav.nav(is_logged_in=true) }}
{% endblock %}


<main>
  {% block content %}{% endblock %}
</main>


{% block footer %}
  {% include "styleguide/styleguide-examples/footer.njk" %}
{% endblock %}
