<div class="breadcrumbs {{ modifier_class }}">
    <ol class="breadcrumbs--list">
      <li><a href="#1">Home</a></li>
      <li><a href="#1">Link 2</a></li>
      <li>Current Page</li>
    </ol>
  </div>
