<div class="breadcrumbs--wrap {{ modifier_class }}">
    <ol class="breadcrumbs">
      <li><a href="#1">Home</a></li>
      <li><a href="#1">Link 2</a></li>
      <li>Current Page</li>
    </ol>
  </div>
