<div class="sumo-button-wrap in-styleguide">
  <a href="#" class="sumo-button {{modifier_class}}">Link</a>
  <button class="sumo-button {{modifier_class}}">Button Element</button>
  <input type="submit" class="sumo-button {{modifier_class}}" value="input[type='submit']"/>
</div>
