<div class="mzp-c-button-wrap in-styleguide">
  <a href="#" class="mzp-c-sumo-button {{modifier_class}}">Link</a>
  <button class="mzp-c-sumo-button {{modifier_class}}">Button Element</button>
  <input type="submit" class="mzp-c-sumo-button {{modifier_class}}" value="input[type='submit']"/>
</div>
