<section class="mzp-l-content sumo-page-section">
  <div class="text-center">
    <h2 class="text-display-xs">Get Help</h2>
    <p>Pick your product</p>
  </div>
  <div class="sumo-card-grid" style="--cg-count: 2;">
  <div class="scroll-wrap">

      <div class="card card--product">




          <img class="card--icon" src="static/products/img/product_placeholder.png" alt="Firefox">
          <div class="card--details">
            <h3 class="card--title">
              <a class="expand-this-link" href="/en-US/products/firefox" data-event-category="link click" data-event-action="product" data-event-label="Firefox">
                Firefox
              </a>
            </h3>
            <p class="card--desc">Web browser for Windows, Mac and Linux</p>
          </div>
      </div>

      <div class="card card--product">




          <img class="card--icon" src="static/products/img/product_placeholder.png" alt="Firefox for Android">
          <div class="card--details">
            <h3 class="card--title">
              <a class="expand-this-link" href="/en-US/products/mobile" data-event-category="link click" data-event-action="product" data-event-label="Firefox for Android">
                Firefox for Android
              </a>
            </h3>
            <p class="card--desc">Web browser for Android smartphones and tablets</p>
          </div>
      </div>

  </div>
</div>
</section>
