<section class="mzp-l-content sumo-page-section">
  <div class="card card--callout">
  <img class="card--feature-img" src="static/sumo/img/Mozilla_illustration_placholder2x.png" alt="Illustration of hands">
  <div class="card--details">
    <h3 class="card--title">Join Our Community</h3>
    <p class="card--desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
    <p class="card--desc"><strong><a href="/en-US/get-involved">Learn More</a></strong></p>
  </div>
</div>
</section>
