<div style="max-width: 400px;margin:20px auto">
  <section class="card {{ modifier_class}}">
    <h3 class="display-xs mb-0">This is a headline</h3>
    <p>This is a paragraph</p>
  </section>
</div>
