<section class="sumo-page-section mzp-l-content">
  <div class="sumo-l-two-col">
    <aside class="sumo-l-two-col--sidebar">
      <div class="entity-card card elevation-01">
        <img class="entity-card--avatar" src="{{ webpack_static('sumo/img/avatar.png') }}" alt="">
        <h2 class="entity-card--name">Kasey Kelly <span class="username">(kaseykelly)</span></h2>
        <h2 class="entity-card--location">Berlin, Germany</h2>
        <div class="entity-card--action">
          <a href="#1" class="sumo-button primary-button button-full-width">Private message</a>
          <a href="#1" data-sumo-modal="example">Report Abuse</a>
        </div>
        <div class="stat-list">
          <div class="stat-item">
            <span class="stat-value">128</span>
            <span class="stat-label">Answers</span>
          </div>
          <div class="stat-item">
            <span class="stat-value">42</span>
            <span class="stat-label">Solutions</span>
          </div>
          <div class="stat-item">
            <span class="stat-value">7</span>
            <span class="stat-label">Documents</span>
          </div>
        </div>
      </div>
    </aside>
  </div>
</section>
