{% extends "styleguide/styleguide-examples/base.njk" %}

{% block content %}
    {% include "styleguide/styleguide-examples/home-search.njk" %}
    {% include "styleguide/styleguide-examples/card-grid-products.njk" %}
    {% include "styleguide/styleguide-examples/card-grid-articles.njk" %}
    {% include "styleguide/styleguide-examples/card-callout.njk" %}
{% endblock %}
