<div class="sumo-ff-alert {{ modifier_class }}" id="id_{{ modifier_class }}">
  <div class="mzp-l-content">
    <div class="sumo-ff-alert--content">
      <img class="sumo-ff-alert--icon" src="static/sumo/img/FF_Master__icon.svg" />
      <p class="sumo-card-heading">Get the account that protects you rather that profits off you.</p>
      <a href="#" class="sumo-button primary-button button-tall">Sign Up</a>
      <button class="sumo-close-button" data-close-button="#id_{{ modifier_class }}">
        <img src="static/protocol/img/icons/close-white.svg" />
      </button>
    </div>
  </div>
</div>
