<div class="field toggle {{modifier_class}}">
  <input
    type="checkbox"
    id="id_example_toggle_1_{{modifier_class}}"
    value="Apples"
    {% if modifier_class === "has-disabled" %}disabled{% endif %}
  />
  <label for="id_example_toggle_1_{{modifier_class}}">Apples</label>
</div>
<div class="field toggle {{modifier_class}}">
  <input
    type="checkbox"
    id="id_example_toggle_2_{{modifier_class}}"
    value="Oranges"
    checked="checked"
    {% if modifier_class === "has-disabled" %}disabled{% endif %}
  />
  <label for="id_example_toggle_2_{{modifier_class}}">Oranges</label>
</div>
<div class="field toggle {{modifier_class}}">
  <input
    type="checkbox"
    id="id_example_toggle_3_{{modifier_class}}"
    name="toggle group example {{modifier_class}}"
    value="Peaches"
    {% if modifier_class === "has-disabled" %}disabled{% endif %}
  />
  <label for="id_example_toggle_3_{{modifier_class}}">Peaches</label>
</div>
