<div class="field {{modifier_class}}">
  <label for="example_1">Comments</label>
  <div class="field-wrap">
    <textarea {% if modifier_class === "has-disabled" %}disabled{% endif %}></textarea>
  </div>
</div>
