<footer class="mzp-c-footer">
  <div class="mzp-l-content">
    <nav class="mzp-c-footer-primary">
      <div class="mzp-c-footer-cols">
        <section class="mzp-c-footer-col">
          <h5 class="mzp-c-footer-heading">Mozilla</h5>
          <ul class="mzp-c-footer-list">
            <li><a href="https://www.mozilla.org/en-US/about/legal/fraud-report/">Report Trademark Abuse</a></li>
            <li><a href="https://github.com/mozilla/kitsune/">Source code</a></li>
            <li><a href="https://twitter.com/firefox">Twitter</a></li>
            <li><a href="#TODO">Join the Community</a></li>
            <li><a href="#TODO">Explore Help Articles</a></li>
          </ul>
        </section>

        <section class="mzp-c-footer-col">
          <h5 class="mzp-c-footer-heading">Firefox</h5>
          <ul class="mzp-c-footer-list">
            <li><a href="https://www.mozilla.org/firefox/new/?utm_source=support.mozilla.org&utm_campaign=footer&utm_medium=referral">Download</a></li>
            <li><a href="https://www.mozilla.org/firefox/mobile/?utm_source=support.mozilla.org&utm_campaign=footer&utm_medium=referral">Android Browser</a></li>
            <li><a href="https://www.mozilla.org/firefox/mobile/?utm_source=support.mozilla.org&utm_campaign=footer&utm_medium=referral">iOS Browser</a></li>
            <li><a href="https://www.mozilla.org/firefox/mobile/?utm_source=support.mozilla.org&utm_campaign=footer&utm_medium=referral">Focus Browser</a></li>
          </ul>
        </section>

        <section class="mzp-c-footer-col">
          <h5 class="mzp-c-footer-heading">Firefox for Developers</h5>
          <ul class="mzp-c-footer-list">
            <li><a href="https://www.mozilla.org/en-US/firefox/developer/?utm_source=support.mozilla.org&utm_campaign=footer&utm_medium=referral">Developer Edition</a></li>
            <li><a href="https://www.mozilla.org/en-US/firefox/channel/desktop/#beta?utm_source=support.mozilla.org&utm_campaign=footer&utm_medium=referral">Beta</a></li>
            <li><a href="https://www.mozilla.org/en-US/firefox/channel/android/#beta?utm_source=support.mozilla.org&utm_campaign=footer&utm_medium=referral">Beta for Android</a></li>
            <li><a href="https://www.mozilla.org/en-US/firefox/channel/desktop/#nightly?utm_source=support.mozilla.org&utm_campaign=footer&utm_medium=referral">Nightly</a></li>
            <li><a href="https://www.mozilla.org/en-US/firefox/channel/android/#nightly?utm_source=support.mozilla.org&utm_campaign=footer&utm_medium=referral">Nightly for Android</a></li>
          </ul>
        </section>

        <section class="mzp-c-footer-col">
          <h5 class="mzp-c-footer-heading">Firefox Accounts</h5>
          <ul class="mzp-c-footer-list">
            <li><a href="https://support.mozilla.org/en-US/fxa/authenticate/">Sign Up (TODO)</a></li>
            <li><a href="https://support.mozilla.org/en-US/fxa/authenticate/">Sign In</a></li>
            <li><a href="https://www.mozilla.org/en-US/firefox/accounts/">Benefits</a></li>
          </ul>
        </section>

        <section class="mzp-c-footer-col lang-col">
          <form class="mzp-c-language-switcher" method="get" action="#">
            <a class="mzp-c-language-switcher-link" href="https://www.mozilla.org/locales/">Language</a>
            <label for="mzp-c-language-switcher-select">Language</label>
            <select id="mzp-c-language-switcher-select" class="mzp-js-language-switcher-select"
             name="lang">
              <option value="en-US">English (US)</option>
              <option value="de">Deutsch</option>
              <option value="fr">Français</option>
              <option value="es-ES">Español</option>
              <option value="ja">日本語</option>
            </select>


            <!-- form submit button is shown when JavaScript is not enabled -->
            <button type="submit">Go</button>
          </form>
          <script src="../../../assets/protocol/protocol/js/protocol-lang-switcher.js"></script>

          <script>
            (function() {
              'use strict';
              // a custom callback can be passed to the lang switcher for analytics purposes.
              Mzp.LangSwitcher.init(function(
                previousLanguage, newLanguage) {
                console.log('Previous language: ',
                  previousLanguage);
                console.log('New language: ',
                  newLanguage);
              })
            })();
          </script>
          <ul class="mzp-c-footer-links-social">
            <li><a class="twitter" href="https://twitter.com/firefox">Twitter<span> (@firefox)</span></a></li>
            <li><a class="youtube" href="https://www.youtube.com/firefoxchannel">YouTube<span> (firefoxchannel)</span></a></li>
            <li><a class="instagram" href="https://www.instagram.com/firefox">Instagram<span> (firefox)</span></a></li>
          </ul>
        </section>

      </div>
    </nav>

    <nav class="mzp-c-footer-secondary">
      <div class="mzp-c-footer-link-col">
        <div class="mzp-c-footer-primary-logo"><a href="https://www.mozilla.org/">Mozilla</a></div>
        <div class="mzp-c-footer-legal">
          <ul>
            <li><a href="https://www.mozilla.org/">mozilla.org</a></li>
            <li><a href="https://www.mozilla.org/about/legal/terms/mozilla/">Terms of Service</a></li>
            <li><a href="https://www.mozilla.org/privacy/websites/">Privacy</a></li>
            <li><a href="https://www.mozilla.org/privacy/websites/#cookies">Cookies</a></li>
            <li><a href="https://www.mozilla.org/en-US/contact/">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="mzp-c-footer-legal-col">
        <p>
          Mozilla Corporation’s not-for-proffit parent, the Mozilla Foundation.
        </p>
        <p>Portions of this content are c.1998–2019 by individual mozilla.org
          contributors. Content availbe under a Creative Common license.
        </p>
      </div>
    </nav>
  </div>
</footer>

<script src="../../../assets/protocol/protocol/js/protocol-details.js"></script>
<script src="../../../assets/protocol/protocol/js/protocol-footer.js"></script>
