<form>
  {% include 'kitsune/sumo/static/styleguide-examples/field.njk' %}
  {% include 'kitsune/sumo/static/styleguide-examples/field_select.njk' %}
  {% include 'kitsune/sumo/static/styleguide-examples/field_textarea.njk' %}
  {% include 'kitsune/sumo/static/styleguide-examples/field_checkbox.njk' %}
  {% include 'kitsune/sumo/static/styleguide-examples/field_radio.njk' %}
  {% include 'kitsune/sumo/static/styleguide-examples/field_toggle.njk' %}
  {% include 'kitsune/sumo/static/styleguide-examples/field_range.njk' %}

  {% include 'kitsune/sumo/static/styleguide-examples/button-wrap.njk' %}
</form>
