<section class="sumo-page-section shade-bg text-center">
    <div class="mzp-l-content narrow">
      <h1 class="sumo-page-heading-xl">Search Support</h1>

  <form data-instant-search="form" id="support-search-home" action="/en-US/search" method="get" class="simple-search-form">

    <input type="search" autocomplete="off" name="q" required="required" aria-required="true" placeholder="Find help..." class="searchbox" id="search-q">
    <button type="submit" title="Search" class="search-button">Search</button>
  </form>


      <p class="popular-searches">
        <span>Popular Searches:</span>
        <a href="#TODO">Mozilla accounts</a>
        <a href="#TODO">Log In</a>
        <a href="#TODO">Item</a>
        <a href="#TODO">Item</a>
      </p>
    </div>
  </section>
