<ul class="progress">
  <li class="progress--item is-complete">
    <a class="progress--link" href="#1">
      <span class="progress--link-inner">
        <span class="progress--dot"></span>
        <span class="progress--label">Select Product</span>
      </span>
    </a>
  </li>
  <li class="progress--item is-current">
    <a class="progress--link" href="#2">
      <span class="progress--link-inner">
        <span class="progress--dot"></span>
        <span class="progress--label">Explore Solutions</span>
      </span>
    </a>
  </li>
  <li class="progress--item">
    <a class="progress--link" href="#3">
      <span class="progress--link-inner">
        <span class="progress--dot"></span>
        <span class="progress--label">Create Question</span>
      </span>
    </a>
  </li>
</ul>
