<nav class="sidebar-nav">
  <a class="details-heading">Menu Title</a>
  <ul class="sidebar-nav--list">
    <li class="sidebar-nav--item"><a href="#" class="sidebar-nav--link">Menu Title</a>
      <ul class="sidebar-nav--sublist">
        <li class="sidebar-nav--subitem"><a href="#" class="sidebar-nav--sublink">Menu link 1</a></li>
        <li class="sidebar-nav--subitem"><a href="#" class="sidebar-nav--sublink selected">is-active class applied</a></li>
        <li class="sidebar-nav--subitem"><a href="#" class="sidebar-nav--sublink">Menu link 3</a></li>
        <li class="sidebar-nav--subitem"><a href="#" class="sidebar-nav--sublink">Menu link 4</a></li>
      </ul>
    </li>
    <li class="sidebar-nav--item"><a href="#" class="sidebar-nav--link">Menu Title 2</a>
      <ul class="sidebar-nav--sublist">
        <li class="sidebar-nav--subitem"><a href="#" class="sidebar-nav--sublink">Menu link 5</a></li>
        <li class="sidebar-nav--subitem"><a href="#" class="sidebar-nav--sublink">Menu link 6</a></li>
        <li class="sidebar-nav--subitem"><a href="#" class="sidebar-nav--sublink">Menu link 7 shows what a menu item looks like with multiple lines.</a></li>
        <li class="sidebar-nav--subitem"><a href="#" class="sidebar-nav--sublink">Menu link 8</a></li>
      </ul>
    </li>
  </ul>
</nav>
