<div class="knockout" style="padding: 10px;">
  <ul class="social-links">
    <li><a class="twitter" href="https://twitter.com/mozilla">Twitter<span> (@mozilla)</span></a></li>
    <li><a class="instagram" href="https://www.instagram.com/mozilla/">Instagram<span> (@mozilla)</span></a></li>
  </ul>
</div>
