<div class="table-scroll">
  <table class="{{ modifier_class }}">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Affiliation</th>
        <th>Favorite Color</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Harry</td>
        <td>Potter</td>
        <td>18</td>
        <td>Gryffindor</td>
        <td>Red</td>
      </tr>
      <tr>
        <td>Ginny</td>
        <td>Weasley</td>
        <td>16</td>
        <td>Gryffindor</td>
        <td>Green</td>
      </tr>
      <tr>
        <td>Draco</td>
        <td>Malfoy</td>
        <td>18</td>
        <td>Slytherin</td>
        <td>Black</td>
      </tr>
      <tr>
        <td>Luna</td>
        <td>Lovegood</td>
        <td>18</td>
        <td>Ravenclaw</td>
        <td>Blue</td>
      </tr>
    </tbody>
  </table>
</div>
