<nav class="tabs">
  <ul class="tabs--list subtopics">
    <li class="tabs--item">
      <a class="tabs--link is-active" href="#">
      <span>All articles and threads</span>
      </a>
    </li>
    <li class="tabs--item">
      <a class="tabs--link" href="#">
        <span>Bookmarks and Tabs</span>
      </a>
    </li>
    <li class="tabs--item">
      <a class="tabs--link" href="#">
      <span>Tips and Tricks</span>
      </a>
    </li>
  </ul>
</nav>

<div style="height:200px"><!-- necessary for z-index issues in styleguide iframes -->
