{% for row in rows %}
  {% if loop.first %}
    <tr class="header-row">
      <th>{{ _('Article') }}</th>
      <th></th>
      <th>{{ column3_label }}</th>
      <th>{{ column4_label }}</th>
    </tr>
  {% endif %}
  <tr>
    <td class="doc-title">
      <a href="{{ row.url }}">{{ row.title }}</a>
      {% if row.users %}
        <div class="users">
          {{ _('changed by {users}')|f(users=row.users) }}
        </div>
      {% endif %}
    </td>
    <td>
      {{ number(row.visits) }}
    </td>
    <td>
      <div class="absolute-graph" style="width: {{ row.percent }}%"></div>
    </td>
    <td class="status">
      {% if row.updated is defined %}
        {{ row.updated|timesince }}
      {% elif row.custom %}
        <div class="custom">{{ row.column4_data }}</div>
      {% else %}
        {% if row.status %}
          <a href="{{ row.status_url }}">
            {{ row.status }}
            {% if row.status_class %}<span class="{{ row.status_class }}"></span>{% endif %}
          </a>
        {% else %}
          {# For having a bullet char without a link #}
          <span class="{{ row.status_class }}"></span>
        {% endif %}
      {% endif %}
    </td>
  </tr>
{% endfor %}
