{% macro print_readout(readout, locale=None, max_rows=10, product=None) %}
  {% if not readout.hide_readout %}
    <details class="h2" open="open">
      <summary class="with-mode-selectors">
        <a id="{{ readout.slug }}">{{ readout.title }}</a>
      </summary>
      <ul class="readout-modes" data-slug="{{ readout.slug }}">
        {% for key, name in readout.modes %}
          <li class="mode{% if key == readout.default_mode %} active{% endif %}" data-url="{{ url('dashboards.wiki_rows', readout.slug)|urlparams(max=max_rows, mode=key, locale=locale) }}">
            <a href="#">{{ name }}</a>
          </li>
        {% endfor %}
      </ul>
      {% if readout.description %}
        <p>
          {{ readout.description }}
        </p>
      {% endif %}
      <table class="documents" id="{{ readout.slug }}-table">
        {{ readout.render(max_rows=max_rows)|safe }}
      </table>
      <div class="table-footer">
        <a href="{{ readout.get_absolute_url(request.LANGUAGE_CODE, product) }}">{{ readout.details_link_text }}</a>
      </div>
    </details>
  {% endif %}
{% endmacro %}

{% macro overview_section(readouts, printed_rows) %}
{# printed_rows is a tuple of pairs, (row, should_color), like so:
  ((row1, True/False), (row2, True/False), ... etc) #}
  <details class="h2" open="open">
    <summary>{{ _('Overview') }}</summary>
    <table class="overview">
      {% for row, should_color in printed_rows %}
        <tr>
          <td>
            {% if row.url %}
              <a href="{{ row.url }}">{{ row.title }}</a>
            {% else %}
              {{ row.title }}
            {% endif %}
          </td>
          <td>
            {% trans numerator=number(row.numerator), denominator=number(row.denominator) %}
              {{ numerator }}
              <small>of {{ denominator }}</small>
            {% endtrans %}
          </td>
          <td>
            {{ row.percent }}%
            <div class="percent-graph">
              <div style="width: {{ row.percent }}%"{% if should_color %} class="{{ 'best' if row.percent == 100 else ('better' if row.percent >= 20 else 'bad') }}"{% endif %}></div>
            </div>
          </td>
          <td>
            {{ row.description }}
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td>{{ _('User Interface') }}</td>
        <td></td>
        <td></td>
        <td>
          {% trans url='https://localize.mozilla.org/' %}
            A fully translated user interface improves the experience for
            site visitors in your language. Help
            <a href="{{ url }}">translate the interface</a>.
          {% endtrans %}
        </td>
      </tr>
    </table>
    <div id="overview-options" class="choice-list">
      <label>{{ _('More options:') }}</label>
      <ul>
        {% for slug, readout in readouts.iteritems() if readout.short_title %}
          <li><a href="#{{ slug }}">{{ readout.short_title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </details>
{% endmacro %}

{% macro print_checkbox_row(label,
                            on_default_locale,
                            is_watching_default,
                            is_watching_other,
                            watch_view,
                            unwatch_view,
                            default_locale,
                            show_default=True,
                            show_other=True) %}
  <tr>
    <th class="state">{{ label }}</th>
    <td>
      {% if show_default %}
        <input data-action-watch="{{ url(watch_view, locale=default_locale) }}"
               data-action-unwatch="{{ url(unwatch_view, locale=default_locale) }}"
               type="checkbox"
               {% if is_watching_default %}checked="checked"{% endif %} />
      {% endif %}
    </td>
    {% if not on_default_locale and show_other %}
      <td>
        <input data-action-watch="{{ url(watch_view) }}"
               data-action-unwatch="{{ url(unwatch_view) }}"
               type="checkbox"
               {% if is_watching_other %}checked="checked"{% endif %} />
      </td>
    {% endif %}
  </tr>
{% endmacro %}

{% macro print_subscription_menu(default_locale_name,
                                 current_locale_name,
                                 on_default_locale,
                                 is_watching_default_locale,
                                 is_watching_other_locale,
                                 is_watching_default_approved,
                                 is_watching_other_approved,
                                 default_locale,
                                 show_default_waiting=True,
                                 show_default_approved=True) %}
  <div id="doc-watch">
    <button class="btn btn-submit popup-trigger" type="submit">
      <img src="{{ STATIC_URL }}img/blank.png" alt="" />
      {{ _('Email me when revisions are...', 'l10n dashboard') }}
    </button>
    <form class="popup-menu" action="" method="POST">
      {{ csrf() }}
      <table>
        <tr>
          <th />
          <th>{{ _(default_locale_name) }}</th>
          {% if not on_default_locale %}
            <th>{{ current_locale_name }}</th>
          {% endif %}
        </tr>
        {{ print_checkbox_row(_('Waiting for review'), on_default_locale, is_watching_default_locale, is_watching_other_locale, 'wiki.locale_watch', 'wiki.locale_unwatch', default_locale, show_default=show_default_waiting) }}
        {{ print_checkbox_row(_('Approved'), on_default_locale, is_watching_default_approved, is_watching_other_approved, 'wiki.approved_watch', 'wiki.approved_unwatch', default_locale, show_default=show_default_approved) }}
        {{ print_checkbox_row(_('Ready for localization'), on_default_locale, is_watching_default_ready, False, 'wiki.ready_watch', 'wiki.ready_unwatch', default_locale, show_other=False) }}
      </table>
    </form>
  </div>
{% endmacro %}

{% macro product_selector(products, current) %}
  <div id="product-selector">
    <select>
      <option value="">{{ _('All Products') }}</option>
      {% for p in products %}
        <option value="{{ p.slug }}" {% if current == p %}selected="selected"{% endif %}>
          {{ _(p.title, 'DB: products.Product.title') }}
        </option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}

{% macro topic_selector(topics, current) %}
  <div id="topic-selector">
    <select>
      <option value="">{{ _('All Topics') }}</option>
      {% for t in topics %}
        <option value="{{ t.slug }}" {% if current == t %}selected="selected"{% endif %}>
          {{ _(t.title, 'DB: topics.Topic.title') }}
        </option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}
