<ul id="user-nav" class="sidebar-nav">
  {% if user.is_authenticated() %}
    <li{% if active_tab == 'my-profile' %} class="selected"{% endif %}>
      <a href="{{ profile_url(user) }}">{{ _('My profile') }}</a>
    </li>
    <li{% if active_tab == 'edit-profile' %} class="selected"{% endif %}>
      <a href="{{ url('users.edit_profile') }}">{{ _('Edit my profile') }}</a>
    </li>
    <li{% if active_tab == 'edit-settings' %} class="selected"{% endif %}>
      <a href="{{ url('users.edit_settings') }}">{{ _('Edit settings') }}</a>
    </li>
  {% endif %}
</ul>
