@import 'variables.less';

#awards-list {
  > li {
    > a {
      color: @textGrey;
      display: block;
      font-size: 24px;
      text-align: center;

      &:hover {
        text-decoration: none;
      }

      &:first-of-type {
        padding-bottom: 0;
      }
    }
  }
}
