@import 'variables.less';
@import 'vendors.less';

@import 'includes/help-topics.less';

#get-involved-box {
  position: relative;

  h2,
  h3 {
    margin: 0;
  }

  h2 {
    font-size: 72px;
  }

  h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .hero-butler {
    height: 95%;
    position: absolute;
    right: 30px;
    top: 2.5%;
  }

  .btn {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 8px 40px;
  }
}

#mozilla-news {
  > ul {
    font-family: @OpenSansLight;
    font-size: 20px;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;

    > li {
      border-bottom: 1px dotted @borderLightGrey;
      color: @textBlue;
      margin: 0 0 20px 0;
      padding: 0 0 20px 0;
      position: relative;

      &:after {
        content: '\00BB';
        margin: 0 0 0 10px;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}

#products-and-services {
  padding: 10px 0 0;
}
