@import 'variables.less';
@import 'vendors.less';

@import 'includes/for-contributors-hot-topics.less';
@import 'includes/help-topics.less';
@import 'includes/product-title.less';

.logo-sprite {
  float: left;
  margin: 0 8px 0 0;
}

.download-firefox {
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Open Sans', sans-serif;

  .download-button {
    height: 44px;
    display: block;
    .gradient(#81BC2E, #81BC2E, #659324);
    .border-radius(5px);
    .box-shadow(~"0 2px 0 0 rgba(0, 0, 0, 0.1), 0 -2px 0 0 rgba(0, 0, 0, 0.3) inset");
    line-height: 40px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: top 0s;
    transition: all 0.5s;

    .download-content {
      display: block;
      background: url('../img/logos-sprite.png') -46px -51px no-repeat;
      height: 48px;
      margin-left: -25px;
      padding: 0 20px 0 65px;
      color: #B5E786;

      .download-title {
        display: inline-block;
        font-family: georgia,"Bitstream Charter",serif;
        font-size: 24px;
        position: relative;
        padding-right: 25px;
        color: #fff;

        &:after {
          width: 32px;
          height: 32px;
          content: "";
          background: @iconsSprite -42px -1897px no-repeat;
          position: absolute;
          top: 5px;
          right: -6px;
        }
      }
    }

    &:hover {
      text-decoration: none;
      .box-shadow(~"0 2px 0 0 rgba(0, 0, 0, 0.1), 0 -2px 0 0 rgba(0, 0, 0, 0.2) inset, 0 12px 24px 2px #83C822 inset");
    }

    &:active {
      .box-shadow(~"0 2px 0 0 rgba(0, 0, 0, 0.1), 0 -1px 0 0 rgba(0, 0, 0, 0.3) inset, 0 12px 24px 2px #83C822 inset");
    }
  }

  ul.info {
    font-size: 0.7em;
    margin: 4px 0 0 0;
    padding: 0;
    text-align: right;

    li {
      list-style: none;
      display: inline;

      a {
        color: #999;
      }

      &:not(:first-child):before {
        content: "|";
        color: #999;
        padding-right: 3px;
      }
    }
  }
}

.topic-list {
  border-bottom: 1px dotted @borderLightGrey;
  clear: both;
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0 0 24px 0;

  &:last-of-type {
    border: 0;
    padding: 0;
    margin: 0;
  }

  > li {
    margin: 0 0 20px 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    > a {
      display: block;
      font-size: 18px;
    }
  }
}

.topic-title {
  margin-bottom: 0;

  &.has-image {
    margin-left: 88px;
  }

  &.cf {
    margin-bottom: 20px;
  }

  & + .topic-title {
    margin-top: 0;
    padding-left: 28px;
    position: relative;

    &:before {
      background: @iconsSprite no-repeat -54px -2138px;
      content: '';
      height: 16px;
      left: 10px;
      position: absolute;
      top: 14px;
      width: 8px;
    }
  }
}

.sidebar-nav {
  &.topics {
    background-color: #e0e5e8;
    background-image: url('../img/grain.png');

    > li {
      &.subtopic-selected {
        > a,
        > a:visited {
          .linear-gradient-top(#e0e5e8, #c5c8cb, 0%, #e0e5e8, 80%, url('../img/grain.png'));
          border: 0;
        }
      }

      > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-transform: none;

        > li {
          > a,
          > a:visited {
            color: @textDarkGrey;
            display: block;
            padding: 12px 20px;
            text-decoration: none;
          }

          > a:hover {
            color: @textDarkBlue;
            text-decoration: none;
          }

          &.selected {
            > a {
              background: #fff;
              font-weight: bold;
              position: relative;

              &:after {
                background: url('../img/sidebar-arrow.gif') 0 3px no-repeat;
                content: '';
                height: 30px;
                left: 0;
                margin-top: -15px;
                position: absolute;
                top: 50%;
                width: 15px;
              }
            }

            > a:hover {
              color: @textDarkGrey;
            }
          }
        }
      }
    }
  }
}

#focus-and-refine {
  ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;

    li {
      float: left;
      margin: 5px 0 0;
      width: 50%;

      &.selected {
        font-weight: bold;

        a {
          color: @textGrey;
        }
      }

      &:nth-child(2n+1) {
        clear: left;
      }
    }
  }
}

#get-involved-button {
  text-align: center;

  .btn {
    font-size: 18px;
    padding: 9px 48px 12px;
  }
}

#document-list {
  > ul {
    background: #fff;
    padding: 30px;
  }
}

.html-rtl {
  .download-firefox {
    left: 20px;
    right: auto;
  }

  h1.product-title .logo-sprite {
    float: right;
    margin: 0 0 0 8px;
  }
}
