{% extends "kadmin/base.html" %}

{% block content_title %}
<h1>Elastic Search - Troubleshooting</h1>
{% endblock %}

{% block content %}
<section>
  <p>
    What is this? Well, it shows the last 50 wiki documents indexed
    and the last 50 revisions that were reviewed.
  </p>

  <table>
    <thead>
      <tr>
        <th colspan="3">INDEX</th>
        <th colspan="4">DB</th>
      </tr>
      <tr>
        <th>id</th>
        <th>title</th>
        <th>indexed on ({{ settings.TIME_ZONE }})</th>
        <th>id</th>
        <th>title</th>
        <th>redirect?</th>
        <th>reviewed on ({{ settings.TIME_ZONE }})</th>
      </tr>
    </thead>
    <tbody>
      {% for indexed_doc, db_doc in diffs %}
        <tr>
          {% if indexed_doc == None %}
            <td colspan="3">--</td>
          {% else %}
            <td><a href="/admin/index?bucket=wiki_document&id={{ indexed_doc.id }}">{{ indexed_doc.id }}</a></td>
            <td>{{ indexed_doc.document_title }}</td>
            <td>{{ indexed_doc.indexed_on }}</td>
          {% endif %}
          {% if db_doc == None %}
            <td colspan="4">--</td>
          {% else %}
            <td><a href="{{ db_doc.get_absolute_url }}">{{ db_doc.id }}</a></td>
            <td>{{ db_doc.title }}</td>
            <td>{% if db_doc.redirect_url != None %}Y{% endif %}</td>
            <td>{{ db_doc.current_revision.reviewed }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
