  h1 {
    color: #525252;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    margin: 50px 0 30px 0;
  }

  .user-meta {
    color: #525252;
    float: left;
    font-weight: normal;
    margin: 12px 0 30px 15px;
  }

  .user-meta > strong {
    display: block;
    margin-bottom: 6px;
  }

  .arrow {
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 0 16px 16px 16px;
    clear: both;
    display: block;
    height: 0;
    margin-left: 14px;
    overflow: hidden;
    width: 0;
  }

  .avatar {
    border: 6px solid #fff;
    float: left;
    height: 48px;
    width: 48px;
  }

  .gi-box {
    border-bottom: 1px dashed #bbb;
    border-top: 1px dashed #bbb;
    clear: both;
    line-height: 120%;
    margin-bottom: 30px;
    padding: 24px 10px;
  }

  .no-reply {
      clear: both;
      color: #999;
      line-height: 120%;
      margin-bottom: 30px;
  }

  .button {
    float: left;
    margin-bottom: 30px;
  }

  #main thead th {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #main tfoot td {
    padding-left: 0;
    padding-right: 0;
  }