{% if not user_is_contributor %}
  <div class="row cf">
    <div class="grid_12">
      <div class="content-box button-wrapper cf">
        {% if user.is_authenticated() %}
          <form method="post" action="{{ url('users.make_contributor') }}">
            <input type="hidden" name="return_to" value="{{ request.get_full_path() }}">
            {% csrf_token %}
            <button id="sign-up-contributor" class="btn btn-submit" data-ga-click="_trackEvent | Sign Me Up Click | Logged In">{{ _('Sign me up') }} &raquo;</button>
          </form>
        {% else %}
          <a id="sign-up-contributor" class="btn btn-submit" href="{{ url('users.auth_contributor') }}" data-ga-click="_trackEvent | Sign Me Up Click | Logged Out">
            {{ _('Sign me up') }} &raquo;
          </a>
        {% endif %}
        <h3>
          {% if signup_headline %}
            {{ signup_headline }}
          {% else %}
            {{ _('Sign up as a volunteer') }}
          {% endif %}
        </h3>
      </div>
    </div>
  </div>
{% endif %}
