{% extends "users/base.html" %}
{% from "users/includes/macros.html" import login_form with context %}
{% if account %}
  {% if questions %}
    {% set title = _('Done!') %}
  {% else %}
    {% set title = _('Account successfully verified!') %}
  {% endif %}
{% else %}
  {% set title = _('Something is wrong') %}
{% endif %}
{% set classes = 'register' %}

{% block content %}
  <article class="main">
    <h1>{{ title }}</h1>
    {% if account %}

      {% if questions %}
        <p>{% trans %}
          Your account is successfully verified, and your question is now posted
          on the Mozilla community support forum.{% endtrans %}
        </p>
        <p>{{ ngettext('See your question here:',
                       'See your questions here:',
                       questions.count()) }}
        </p>
        <ul class="questions">
          {% for q in questions %}
            <li><a href="{{ q.get_absolute_url() }}">{{ q.title }}</a></li>
          {% endfor %}
        </ul>
        <p>{% trans %}
          Sit back and relax. Our forum contributors will get back to you with
          an answer.{% endtrans %}
        </p>
        <h2>{{ _('While you wait') }}</h2>
        <p>{% trans %}
          Log in, so you can respond to your question when it is
          answered:{% endtrans %}
        </p>
      {% else %}
        <p>{% trans %}
          You've confirmed your email address and activated your account! You
          can now log in, and go edit your profile.{% endtrans %}
        </p>
      {% endif %}
      {{ login_form(form) }}
    {% else %}
      <p class="failure">{% trans %}We could not activate your account.
        Please make sure that you have clicked the correct link in your
        email or typed in the correct address.{% endtrans %}</p>
    {% endif %}
  </article>
{% endblock content %}
