{% extends "users/base_contributions.html" %}
{% set title = _("{name} | Recent Answers")|f(name=display_name(profile.user)) %}
{% set canonical_url = canonicalize(viewname="users.answers", username=profile.user.username) %}

{% block contributions %}
  <h2 class="sumo-callout-heading">{{ _("Recent Answers") }}</h2>
  <ul class="mzp-u-list-styled">
    {% for answer in answers %}
      <a href="{{ answer.get_absolute_url() }}">
        <li>{{ answer.question.title }}</li>
      </a>
    {% endfor %}
  </ul>
{% endblock %}
