{% extends "users/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% from "questions/includes/aaq_macros.html" import progress_bar %}

{% set title = _('Log In / Sign up') %}
{% set classes = 'login register contributor light-grey-bg' if contributor else 'login register light-grey-bg' %}


{% block breadcrumbs %}
{% endblock %}


{% block contentwrap %}
<div id="mozaccount-banner" class="mzp-c-notification-bar mzp-t-gradient">
  <button class="mzp-c-notification-bar-button close-button" type="button"></button>
  <p>
    {{ _(
      'Firefox accounts is now Mozilla accounts.'
      "You'll still sign in with the same username and password,"
      ' and there are no other changes to the products that you use. '
      '<a href="{{ url="("wiki.document", "firefox-accounts-renamed-mozilla-accounts") }}">Learn More</a>' ) }}
  </p>
</div>
{% set aaq_context = request.session.get('aaq_context') %}
{% if aaq_context and aaq_context.key %}
<section class="sumo-page-section question-masthead shade-bg">
  <div class="mzp-l-content">
    {{ progress_bar(3, product_key=aaq_context.key) }}
  </div>
</section>
{% endif %}

<section class="sumo-auth--wrap">
  <div class="mzp-l-content">
    <div class="card feature-padding elevation-03">
      <div class="sumo-auth">
        <div class="sumo-auth--form">
          <div id="login-fxa">
            <article id="login" class="main login-form">
              <div class="sumo-page-section content-zero-bottom-pad">
                <h1 class="sumo-page-subheading sumo-header-medium">{{ _('Continue with your Mozilla account' ) }}</h1>
                <p class="text-body-sm">
                  {{ _('Get personalized support from staff and our<br> amazing community of contributors from around the world.' ) }}
                </p>
                <div class="center-on-mobile">
                  <p class="login-button-wrap">
                    <a rel="nofollow" href="{{ url('users.fxa_authentication_init') }}?next={{ next_url }}"
                      class="sumo-button primary-button button-lg button-full-width">{{ _('Sign In or Sign Up') }}</a>
                  </p>

                  <p class="help-text">
                    {% trans
                      terms_url="https://www.mozilla.org/about/legal/terms/services/",
                      privacy_url="https://www.mozilla.org/privacy/firefox/"
                    %}
                    Continuing with your Mozilla account means you have agreed with the
                    <a href="{{ terms_url }}">Terms and Conditions</a> and
                    <a href="{{ privacy_url }}">Privacy Policy</a>.
                    {% endtrans %}
                  </p>
                  <div class="trouble-text">
                    <p class="help-text">
                      {{ _('Having trouble signing in? ')}}
                      <a href="{{ url('questions.aaq_step3', product_key='mozilla-account') }}">{{ _('Contact support') }}</a>
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
