{% extends "users/base.html" %}
{% from "layout/errorlist.html" import errorlist %}

{% set title = _('Log In / Register') %}
{% set styles = ('users',) %}
{% set classes = 'login register contributor light-grey-bg' if contributor else 'login register light-grey-bg' %}

{% block breadcrumbs %}
{% endblock %}


{% block content %}
  {% if contributor %}
    {% include "users/includes/auth_contributor.html" %}
  {% else %}

  <div class="notification success">
    <img class="ff-logo" src="{{ STATIC_URL }}sumo/img/firefox-logo.svg" alt="{{ _('Firefox logo') }}"/>
    <div class="notification-content">
      <h3 class="notification-title">{{ _('Good news!') }}</h3>
      <p>{{ _('You can now log in to Mozilla Support using Firefox Accounts.') }}</p>
    </div>
    <a href="javascript:;" class="close-button"><span class="show-for-sr-only">{{ _('Close') }}</span></a>
  </div>

  <div class="notification alert">
    <img class="ff-logo" src="{{ STATIC_URL }}sumo/img/firefox-logo.svg" alt="{{ _('Firefox logo') }}"/>
    <div class="notification-content">
      <h3 class="notification-title">{{ _('Welcome!') }}</h3>
      <p>{{ _('You are now logged in using Firefox Accounts. Already have a different Mozilla Support Account?') }}</p>
    </div>
    <div class="notification-actions">
      <a href="https://support.mozilla.org/en-US/kb/firefox-accounts-mozilla-support-faq" class="button dark">{{ _('Read More') }}</a>
    </div>
    <a href="javascript:;" class="close-button"><span class="show-for-sr-only">{{ _('Close') }}</span></a>
  </div>

  <div class="notification alert">
    <img class="ff-logo" src="{{ STATIC_URL }}sumo/img/firefox-logo.svg" alt="{{ _('Firefox logo') }}"/>
    <div class="notification-content">
      <h3 class="notification-title">{{ _('Heads up!') }}</h3>
      <p>{{ _('Soon, Firefox Accounts will replace Mozilla Support logins. You can upgrade your existing Mozilla account to Firefox Accounts today.') }} <a href="https://support.mozilla.org/en-US/kb/firefox-accounts-mozilla-support-faq">{{ _('Read more') }}</a>.</p>
    </div>
    <div class="notification-actions">
      <a href="{{ url('users.fxa_authentication_init') }}" class="button">{{ _('Continue with Firefox Accounts') }}</a>
    </div>
  </div>

  <div class="content cf">
    <figure class="grid_6 large-logo-wrap">
      <img class="ff-logo" src="{{ STATIC_URL }}sumo/img/firefox-logo.svg" alt="{{ _('Firefox logo') }}"/>
    </figure>
    <div class="grid_6">
      <div id="login-ffx">
        {% include "users/includes/login-ffx.html" %}
      </div>
      <div id="login-legacy" class="hidden">
        {% include "users/includes/login-form.html" %}
      </div>
    </div>
  </div>

  {% endif %}
{% endblock %}
