{% extends "base.html" %}
{% from 'users/includes/macros.html' import personal_tabs %}
{% set styles = ('users',) %}
{% set scripts = ('users',) %}
{% set is_owner = profile and profile.user == request.user %}
{% from "users/includes/notification_macros.html" import notification_sumo_deprecation %}

{% block above_main %}
  {% if is_owner and not profile.is_fxa_migrated %}
  <ul class="sumo-user-messages user-messages">
    {{ notification_sumo_deprecation(STATIC_URL) }}
  </ul>
  {% endif %}
{% endblock %}

{% block side_top %}
  {% if not profile and user.is_authenticated() %}
    {% set profile = get_profile(user) %}
  {% endif %}
  {% if profile %}
    {% if request.user == profile.user %}
      {{ personal_tabs(request.user, active) }}
    {% else %}
      {# If we are viewing another user's profile, don't show the personal tabs #}
      <nav class="sidebar-nav">
        <span class="details-heading">{{ display_name(profile.user) }}</span>
        <ul id="user-nav" class="sidebar-nav--list">
          <li class="sidebar-nav--item"><a href="{{ profile_url(profile.user) }}" class="sidebar-nav--link selected">{{ display_name(profile.user) }}</a></li>
        </ul>
      </nav>
    {% endif %}
  {% endif %}
{% endblock %}
