{% extends "base.html" %}
{% from 'users/includes/macros.html' import personal_tabs %}
{% set scripts = ('users',) %}
{% set classes = "profile" %}
{% set is_owner = profile and profile.user == request.user %}
{% set meta = (('robots', 'noindex'),) %}

{% block breadcrumbs %}
{% endblock %}

{% block above_main %}
{% endblock %}

{% block side_top %}
  {% if not profile and user.is_authenticated %}
    {% set profile = get_profile(user) %}
  {% endif %}
  {% if profile and not profile.is_system_account and request.user == profile.user %}
    <div class="card sidebar-account-nav-card">
      {{ personal_tabs(request.user, active) }}
    </div>
  {% endif %}
{% endblock %}
