{% extends "users/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% set title = _('Change email address') %}
{% set classes = 'password' %}
{% set crumbs = [(profile_url(user), user.username),
                 (None, title)] %}

{% block content %}
  <div class="grid_9">
    <article id="pw-reset" class="main">
      <h1>{{ title }}</h1>
      <form method="post" action="">
        {% csrf_token %}
        <fieldset>
          <p class="instruct">
            {% trans %}
              You will need to confirm the newly set email address to complete
              the change.
            {% endtrans %}
          </p>
          <ul>
            {{ form.as_ul()|safe }}
          </ul>
        </fieldset>
        <div class="submit">
          <input type="submit" value="{{ _('Change my email') }}" />
          <a href="{{ url('users.edit_my_profile') }}">{{ _('Cancel') }}</a>
        </div>
      </form>
    </article>
  </div>
{% endblock content %}
