{% extends 'users/base.html' %}

{% set title = _('Manage watch list') %}
{% set classes = 'edit-watches' %}
{% set active = 'edit-watches' %}
{% set crumbs = [(None, title)] %}

{% block content %}
<h1 class="text-display-lg">{{ title }}</h1>
{% if watch_list %}
  <p>
    {% trans %}
      Below is a list of items that you have watched. Checked items
      are items you are currently watching and unchecked items are no
      longer being watched.
    {% endtrans %}
  </p>
  <form method="post" action="">
    {% csrf_token %}

    {% for w in watch_list %}
    <div class="field checkbox {% if w.errors %}has-error{% endif %}">
      <input type="checkbox" name="watch_{{ w.id }}" {% if w.is_active %}checked="checked"{% endif %}>
      <label for="{{ w.id_for_label }}">{{ w.content_type }}: {{ w.content_object }}</label>
    </div>
    {% endfor %}

    <div class="sumo-button-wrap align-end">
      <button class="sumo-button primary-button button-lg" type="submit">{{ _('Update') }}</button>
    </div>
  </form>
{% else %}
  <p>{{ _('You are not currently watching anything.') }}</p>
{% endif %}
{% endblock %}
