{% extends "users/base.html" %}
{% set title = _('Edit Settings') %}
{% set classes = 'settings' %}
{% set active = 'edit-settings' %}
{% set crumbs = [(None, title)] %}

{% block content %}
<article id="edit-settings" class="main">
  <h1 class="text-display-lg">{{ title }}</h1>
  <form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
    <div class="field checkbox {% if field.errors %}has-error{% endif %}">
      {{ field }}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% if field.errors %}
      <p class="error">{{ field.errors }}</p>
      {% endif %}
      {% if field.help_text %}
      <p class="help-text">{{ field.help_text }}</p>
      {% endif %}
    </div>
    {% endfor %}


    <div class="sumo-button-wrap">
      <button class="sumo-button primary-button button-lg" type="submit">{{ _('Update') }}</button>
    </div>
  </form>
</article>
{% endblock %}
