{% extends "users/base.html" %}
{% set title = _('Edit Contribution Areas') %}
{% set classes = 'contributions' %}
{% set active = 'edit-contributions' %}
{% set crumbs = [(None, title)] %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
<article id="edit-contributions" class="main">
  <h3 class="sumo-page-heading">{{ title }}</h3>
  <form method="post" action="">
    {% csrf_token %}
    {{ contribution_form.as_p() }}

    <div class="sumo-button-wrap align-end">
      <button class="sumo-button primary-button button-lg" type="submit">{{ _('Update') }}</button>
    </div>
  </form>
</article>
{% endblock %}
