{% extends "users/base.html" %}
{% from "sumo/includes/question_entry.html" import question_entry %}
{% set title = _("{user} | Questions")|f(user=display_name(profile.user)) %}
{% set canonical_url = canonicalize(viewname="users.questions", username=profile.user.username) %}
{% set active = "user-questions" %}

{% block side_top %}
  {% include "users/_company_tickets_widget.html" %}
  {{ super() }}
{% endblock %}

{% block content %}
  <article id="profile">
    <h2 class="sumo-page-subheading">
      {% if is_owner %}
        {{ _("My Questions") }}
      {% else %}
        {# L10n: This is a title for user questions pages (like https://support.mozilla.org/user/kelimuttu/questions), displayed when a page is viewed by someone other than the profile owner. The page lists questions authored by the user. #}
        {{ _("Questions Asked") }}
      {% endif %}
    </h2>

    {% if is_owner %}
    <nav class="tabs">
      <ul class="tabs--list">
        <li class="tabs--item">
          <a href="?" {% if not channel %}class="selected"{% endif %}><span>{{ _("All") }}</span></a>
        </li>
        <li class="tabs--item">
          {# L10n: Displayed for users viewing their own questions. This is a label for a tab that lists community forum questions authored by the user. #}
          <a href="?channel=forum" {% if channel == "forum" %}class="selected"{% endif %}><span>{{ _("Forum") }}</span></a>
        </li>
        <li class="tabs--item">
          {# L10n: A label/tab for questions that are Premium support tickets handled by paid support agents. #}
          <a href="?channel=direct_support" {% if channel == "direct_support" %}class="selected"{% endif %}><span>{{ _("Direct Support") }}</span></a>
        </li>
      </ul>
    </nav>
    {% endif %}

    {% if is_moderator and user_has_spam_questions and not is_owner %}
    <nav class="tabs">
      <ul class="tabs--list">
        <li class="tabs--item">
          <a href="?" {% if not show %}class="selected"{% endif %}><span>{{ _("All") }}</span></a>
        </li>
        <li class="tabs--item">
          {# L10n: Displayed for moderators only on user questions pages (like https://support.mozilla.org/user/kelimuttu/questions). This is a label for a tab that lists all non-spam forum questions authored by the user. #}
          <a href="?show=valid" {% if show == "valid" %}class="selected"{% endif %}><span>{{ _("Valid") }}</span></a>
        </li>
        <li class="tabs--item">
          <a href="?show=spam" {% if show == "spam" %}class="selected"{% endif %}><span>{{ _("Spam") }}</span></a>
        </li>
      </ul>
    </nav>
    {% endif %}

    {% if not questions %}
      <p class="my-questions--empty">
        {% if is_owner %}
          {{ _("You haven't posted any questions yet.") }}
        {% else %}
          {{ _("{user} hasn't posted any questions yet.")|f(user=display_name(profile.user)) }}
        {% endif %}
      </p>
    {% else %}
      <ul class="question-entry-list">
        {% set _user_is_contributor = is_contributor(request.user) %}
        {% for question in questions %}
          {% set _is_inactive_ticket = question.channel == "direct_support" and question.zd_status in ("solved", "closed") %}
          <li class="question-entry{% if _is_inactive_ticket %} question-entry--inactive{% endif %}">
            {{ question_entry(question, profile_username=profile.user.username, request=request, user_is_contributor=_user_is_contributor) }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {{ questions|paginator }}
  </article>
{% endblock %}
