{% extends "users/base_contributions.html" %}
{% set title = _("{name} | Questions")|f(name=display_name(profile.user)) %}
{% set canonical_url = canonicalize(viewname="users.questions", username=profile.user.username) %}
{% set active = "user-questions" %}

{% block contributions %}
  <h2 class="sumo-callout-heading">
    {% if is_owner %}
      {{ _("My Questions") }}
    {% else %}
      {{ _("Questions Asked") }}
    {% endif %}
  </h2>
  {% if not questions and is_owner %}
    <p>{{ _("You haven't posted any questions yet.") }}</p>
  {% endif %}
  <ul class="mzp-u-list-styled">
    {% for question in questions %}
      <a href="{{ url('questions.details', question.id) }}">
        <li>{{ question.title }}</li>
      </a>
    {% endfor %}
  </ul>
  {{ questions|paginator }}
{% endblock %}
