@use "@mozilla-protocol/core/protocol/css/includes/lib" as p;

.configure-step-wrapper {
  display: flex;
  flex-direction: column;
}

#header,
#sync-status-container {
  display: flex;
  align-items: center;
}

#header {
  padding-block-end: 12px;
  border-bottom: 1px solid var(--color-light-gray-03);
  font-size: 0.8125rem;
}

.icon {
  height: 16px;
  width: 16px;
  margin-inline-end: 12px;
}

#header > a {
  margin-inline-start: auto;
}

#sync-status {
  font-size: 10px;
  font-weight: 700;
  color: var(--color-white);
  border-radius: 34px;
  padding: 4px 16px;
  margin-inline-start: 12px;
  text-transform: uppercase;
  background-color: p.$color-red-60;
}

#sync-status[sync-enabled] {
  background-color: var(--color-green-07);
}

#buttons {
  display: flex;
  flex-direction: column;
  margin-block-end: 0;
  flex: 1;
  justify-content: space-between;
}

#buttons > button {
  width: max-content;
}

#buttons[sync-enabled] > #turn-on-sync,
#buttons:not([sync-enabled]) > #change-sync-prefs {
  display: none;
}

#next {
  align-self: end;
  margin-block: 8px 16px;
}

#change-sync-prefs {
  background-color: var(--color-light-gray-03);
  border-color: var(--color-light-gray-03);
  color: var(--color-text-form-step);
}

#instructions {
  margin-inline-start: 18px;
  margin-block-end: 30px;
}

#instructions[sync-enabled] > .not-syncing,
#instructions:not([sync-enabled]) > .syncing {
  display: none;
}

li {
  margin-block-end: 24px;
}
