:root,
:host {
  --color-progress: var(--color-blue-06);
}

:host {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(58, 57, 68, 0.2);
}

.form-wizard-root {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-wizard-root:not([disqualified]) > .form-wizard-disqualified {
  display: none;
}

.form-wizard-disqualified {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(240, 240, 244, 0.3);
  justify-content: center;
  align-items: center;
}

.disqualification {
  text-align: center;
  box-shadow: 0 0 50px 70px rgb(240, 240, 244);
  background-color: rgb(240, 240, 244);
  max-width: 532px;
}

.disqualification:not([active]) {
  display: none;
}

.warning-icon {
  width: 16px;
  height: 16px;
  margin-inline-end: 6px;
}

.disqualification-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.form-wizard-content {
  padding-inline: 32px;
  padding-block-start: 24px;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1;
  color: var(--color-heading);
}

ul {
  margin-inline-end: 48px;
}

section,
::slotted([slot="active"]) {
  display: flex;
  flex: 1;
}

progress {
  flex: 1;
  max-height: 8px;
  appearance: none;
  border: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

progress::-moz-progress-bar,
progress::-webkit-progress-value {
  background-color: var(--color-progress);
}
