@use "@mozilla-protocol/core/protocol/css/includes/lib" as p;

h3 {
  font-size: 1rem;
  line-height: 1.5;
  margin-block-end: 26px;
}

#sign-in-step-root[mode="sign-in"] .for-sign-up,
#sign-in-step-root[mode="sign-up"] .for-sign-in {
  display: none;
}

.key-icon {
  width: 16px;
  height: 16px;
  margin-inline-end: 11px;
}

label,
input[name="email"] {
  font-size: 0.8125rem;
}

label {
  font-weight: normal;
}

input[name="email"] {
  width: 325px;
  margin-block-end: 16px;
}

button.for-sign-in,
button.for-sign-up {
  display: block;
  margin-block-end: 8px;
}

.form-footer {
  margin-block-end: 26px;
  font-size: 0.8125rem;
}

.warning {
  display: flex;
  align-items: start;
  background-color: rgba(255, 234, 128, 0.4);
  padding-inline: 16px;
  padding-block: 8px;
  border-radius: 8px;
  font-size: 0.75rem;
}

.tooltip-error.visible + input:invalid,
input:not(:focus):not(:placeholder-shown):invalid {
  border: 2px solid p.$color-red-60;
}

.tooltip-error.visible + input:focus:invalid {
  box-shadow: 0 0 0 2px rgba(226, 40, 80, 0.5);
}
