h3 {
  font-size: 1rem;
  line-height: 1.5;
  margin-block-end: 26px;
}

ul {
  margin-block-end: 0;
}

.download-link-wrapper {
  display: flex;
  align-items: center;
  margin-block: 16px;
}

#download-link {
  margin-inline-end: 8px;
  font-size: 1.375rem;
}

#copy-button {
  display: flex;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

#copy-button > img {
  height: 16px;
}

#copy-button:focus-visible + .tooltip,
#copy-button:hover + .tooltip {
  visibility: visible;
}
