:root,
:host {
  --color-progress: var(--color-blue-06);
}

:host {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(58, 57, 68, 0.2);
}

.form-wizard-root {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-wizard-root:not([disqualified]) > .form-wizard-disqualified {
  display: none;
}

.form-wizard-disqualified {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(240, 240, 244, 0.3);
  justify-content: center;
  align-items: center;
}

.disqualification {
  text-align: center;
  box-shadow: 0 0 50px 70px rgb(240, 240, 244);
  background-color: rgb(240, 240, 244);
  max-width: 532px;
}

.disqualification:not([active]) {
  display: none;
}

.warning-icon {
  width: 16px;
  height: 16px;
  margin-inline-end: 6px;
}

.disqualification-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.form-wizard-content {
  padding-inline-end: 32px;
  padding-block-start: 24px;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1;
  color: var(--color-heading);
  padding-inline-start: 32px;
}

section,
::slotted([slot="active"]) {
  display: flex;
  flex: 1;
}

section {
  margin-block-start: 24px;
}

#progress {
  display: flex;
  justify-content: start;
  background-color: var(--color-light-gray-03);
  height: 8px;
  overflow: hidden;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.indicator[ready] {
  transition: 0.6s translate;
  translate: calc(var(--progress, 0%) - 100%);
}

.indicator {
  translate: -100%;
  background-color: var(--color-progress);
  flex: 1;
}

.html-rtl {
  .indicator[ready] {
    translate: calc(100% - var(--progress, 0%));
  }

  .indicator {
    translate: 100%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .indicator[ready] {
    transition: none;
  }
}

p {
  margin: 0;
  color: var(--color-dark-gray-10);
}

ul {
  padding: 0;
  margin: 0;
  margin-inline-end: 36px;
}

.subtitle {
  font-size: 0.625rem;
  line-height: 1.2;
  margin-block-end: 4px;
}

.title {
  font-size: 0.875rem;
  line-height: 1.14;
}

.title,
.subtitle {
  padding-inline-start: 42px;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-block-end: 22px;
  padding-block: 8px;
  padding-inline-start: 32px;
  width: 220px;
}

li::before {
  content: url("sumo/img/list-active.svg");
  height: 24px;
  position: absolute;
}

li[status="active"] {
  background-color: rgba(0, 96, 223, 0.1);
}

li[status="done"]::before {
  content: url("sumo/img/list-done.svg");
}

li[status="active"] .title {
  font-weight: bold;
}

li[status="unavailable"] {
  opacity: 0.4;
}
 