@use "@mozilla-protocol/core/protocol/css/includes/lib" as p;

// Base elements - general HTML elements
@import "protocol/css/base/elements/reset";
@import "protocol/css/base/elements/common";
@import "protocol/css/base/elements/forms";

// Components from protocol-extra.scss
@import "protocol/css/components/button";

@import "./base/typography";

:root,
:host {
  --color-text-form-step: var(--color-dark-gray-10);

  font-size: 0.875rem;
  line-height: 1.14;
  color: var(--color-text-form-step);
  min-height: 292px;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-block: 12px 16px;
}

button.mzp-c-button {
  font-size: 0.8125rem;
}

.button-secondary,
.button-secondary:hover,
.button-secondary:focus,
.button-secondary:active {
  background-color: var(--color-light-gray-03);
  border-color: var(--color-light-gray-03);
  color: var(--color-text-form-step);
}
