@font-face {
  font-family: "MetaBold";
  src: url("$fontpath/MetaWebPro-Bold.eot?v=1");
  /* IE9 Compat Modes */
  src: url("$fontpath/MetaWebPro-Bold.eot?v=1#iefix") format("embedded-opentype"), url("$fontpath/MetaWebPro-Bold.woff?v=1") format("woff"), url("$fontpath/MetaWebPro-Bold.ttf?v=1") format("truetype"), url("$fontpath/MetaWebPro-Bold.svg?v=1#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "MetaMedium";
  src: url("$fontpath/MetaWebPro-Medium.eot?v=1");
  /* IE9 Compat Modes */
  src: url("$fontpath/MetaWebPro-Medium.eot?v=1#iefix") format("embedded-opentype"), url("$fontpath/MetaWebPro-Medium.woff?v=1") format("woff"), url("$fontpath/MetaWebPro-Medium.ttf?v=1") format("truetype"), url("$fontpath/MetaWebPro-Medium.svg?v=1#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Moz";
  src: url("$fontpath/Moz-Regular-webfont.eot?v=1");
  /* IE9 Compat Modes */
  src: url("$fontpath/Moz-Regular-webfont.eot?v=1#iefix") format("embedded-opentype"), url("$fontpath/Moz-Regular-webfont.woff?v=1") format("woff"), url("$fontpath/Moz-Regular-webfont.ttf?v=1") format("truetype"), url("$fontpath/Moz-Regular-webfont.svg?v=1#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Moz";
  font-weight: bold;
  src: url("$fontpath/Moz-Medium-webfont.eot?v=1");
  /* IE9 Compat Modes */
  src: url("$fontpath/Moz-Medium-webfont.eot?v=1#iefix") format("embedded-opentype"), url("$fontpath/Moz-Medium-webfont.woff?v=1") format("woff"), url("$fontpath/Moz-Medium-webfont.ttf?v=1") format("truetype"), url("$fontpath/Moz-Medium-webfont.svg?v=1#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Komikax";
  src: url("$fontpath/Komikax-webfont.eot?v=1");
  /* IE9 Compat Modes */
  src: url("$fontpath/Komikax-webfont.eot?v=1#iefix") format("embedded-opentype"), url("$fontpath/Komikax-webfont.woff?v=1") format("woff"), url("$fontpath/Komikax-webfont.ttf?v=1") format("truetype"), url("$fontpath/Komikax-webfont.svg?v=1#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("$fontpath/ZillaSlab-Regular.woff2") format("woff2"), url("$fontpath/ZillaSlab-Regular.woff") format("woff"), url("$fontpath/ZillaSlab-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("$fontpath/ZillaSlab-Bold.woff2") format("woff2"), url("$fontpath/ZillaSlab-Bold.woff") format("woff"), url("$fontpath/ZillaSlab-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: "Zilla Slab";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("$fontpath/ZillaSlab-RegularItalic.woff2") format("woff2"), url("$fontpath/ZillaSlab-RegularItalic.woff") format("woff"), url("$fontpath/ZillaSlab-RegularItalic.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: "Zilla Slab";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("$fontpath/ZillaSlab-RegularItalic.woff2") format("woff2"), url("$fontpath/ZillaSlab-RegularItalic.woff") format("woff"), url("$fontpath/ZillaSlab-BoldItalic.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: "Zilla Slab Highlight";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("$fontpath/ZillaSlabHighlight-Regular.woff2") format("woff2"), url("$fontpath/ZillaSlabHighlight-Regular.woff") format("woff"), url("$fontpath/ZillaSlabHighlight-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: "Zilla Slab Highlight";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("$fontpath/ZillaSlabHighlight-Bold.woff2") format("woff2"), url("$fontpath/ZillaSlabHighlight-Bold.woff") format("woff"), url("$fontpath/ZillaSlabHighlight-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}
@font-face {
  font-family: "Open Sans";
  src: url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.woff") format("woff"), url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Semibold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Semibold-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Bold-webfont.woff") format("woff"), url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Bold-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Open Sans Light";
  src: url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.eot");
  /* IE9 Compat Modes */
  src: url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.woff") format("woff"), url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Light-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
:root {
  --brand-color: hsl(237, 63%, 39%);
  --brand-color-dark-1: hsl(237, 63%, 29%);
  --brand-color-dark-2: hsl(237, 63%, 19%);
  --secondary-color: hsl(204, 100%, 55%);
  --secondary-color-dark-1: hsl(204, 100%, 35%);
  --secondary-color-dark-2: hsl(204, 100%, 20%);
  --page-bg: hsl(0, 0%, 98%);
  --card-bg: hsl(0, 0%, 100%);
  --contrast-bg: #000;
  --tint: white;
  --shade: #222;
  --base-font-family: "Open Sans", Arial, Helvetica, sans-serif;
  --base-font-size: calc(112.5% + 0.25vw);
  --heading-font-family: "Zilla Slab", "Open Sans", X-LocaleSpecific, sans-serif;
  --text-color: var(--shade);
  --knockout-color: var(--tint);
  --headline-color: var(--brand-color);
  --accent-color: white;
  --link-color: var(--brand-color);
  --link-underline-color: var(--secondary-color);
  --field-border: 1px solid var(--shade-30);
  --field-border-focus: 1px solid var(--blue);
  --field-font-size: 1em;
  --global-margin: 1rem;
  --global-radius: .25rem;
  --button-bg: var(--secondary-color);
  --button-border: var(--global-radius);
  --button-radius: var(--global-radius);
  --button-color: var(--knockout-color);
  --button-font-size: 1em;
  --button-font-family: var(--base-font-family);
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: 1.6;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 2rem 0 1rem;
  line-height: 1.2;
  color: var(--headline-color);
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--link-color);
}
a:hover {
  text-decoration: underline;
  text-decoration-color: var(--link-underline-color);
  text-decoration-skip: skip;
}

.expand-this-link:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  content: "";
}

.field {
  display: block;
  margin-bottom: 1em;
  max-width: 480px;
}

input,
select,
textarea {
  padding: 10px;
  width: 100%;
  border: var(--field-border);
  font-family: var(--font-family);
  font-size: var(--field-font-size);
}
input:focus,
select:focus,
textarea:focus {
  border: var(--field-border-focus);
}

button {
  background: blue;
}

.container {
  max-width: 1400px;
}

.footer {
  background: var(--contrast-bg);
}

.site-nav {
  position: relative;
  display: flex;
  background: var(--contrast-bg);
}
.site-nav--list {
  display: flex;
  list-style: none;
}
.site-nav--link, .site-nav--logo {
  display: block;
  padding: 10px 20px;
  border-radius: var(--global-radius);
  font-weight: bold;
  color: var(--knockout-color);
}
.site-nav--link:hover, .site-nav--logo:hover {
  background: rgba(255, 255, 255, 0.05);
  text-decoration: none;
}
.site-nav .close-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  height: 36px;
  color: var(--knockout-color);
}
.site-nav .close-menu:after {
  position: absolute;
  top: 0;
  left: -20vw;
  width: 20vw;
  height: 99vh;
  content: "";
}

/*# sourceMappingURL=screen.css.map */
