{% extends 'email/base.html' %}

{% block styles %}
  {% include 'questions/includes/reply_email_styles.css' %}

  .button + a {
    display: block;
    float: left;
    margin: 16px 0 0 16px;
  }
{% endblock %}

{% block header %}
  <h1>{{ question_title }}</h1>
  <img class="avatar" src="{{ profile_avatar(answerer) }}">
  <div class="user-meta">
    <strong>{{ display_name(answerer) }}</strong>
    <span>{{ created }}</span>
  </div>
  <div class="arrow"></div>
{% endblock %}

{% block content %}
  <div class="answer">{{ answer_html }}</div>
{% endblock %}

{% block prefooter %}
  <p>
    <a class="button" href="https://{{ host }}{{ solution_url }}">{{ _('Mark it as solved') }}</a>
    <a href="https://{{ host }}{{ answer_url }}">{{ _('This doesn\'t solve my problem') }}</a>
  </p>
  <div class="gi-box">
    <a href="https://{{ host }}/questions?filter=unsolved">{{ _('Browse for unsolved questions and help a Firefox user') }}</a>
    <br/>{{ _("Solving 1 issue helps up to 1,000 users a day!") }}
  </div>
  <div class="no-reply">
    {% trans url="https://%s%s" % (host, answer_url) %}
      This email is automatically sent by a robot. Our robot can’t respond to
      your question, but our forum contributors can! If you want to respond to
      them, please <a href="{{ url }}">click here</a>.
    {% endtrans %}
  </div>
{% endblock %}
