{% from "upload/attachments.html" import attachment %}
{% from "karma/includes/karma_macros.html" import titles with context %}
{% from "wiki/includes/flag_form.html" import flag_form with context %}
{% from "questions/includes/macros.html" import mark_spam_form, unmark_spam_form with context %}
{% from "users/includes/macros.html" import user_labels %}

<div class="answer{% if answer.is_spam %} marked-as-spam{% endif %}{% if answer.id and question.solution == answer %} answer--solution{% endif %}"{% if answer.id and not is_pinned_copy %} id="answer-{{ answer.id }}"{% endif %}{% if is_pinned_copy %} aria-label="{{ _('Pinned chosen solution') }}"{% endif %}>
  <section class="avatar-row">
    <div class="avatar-details user-meta">
      <div class="avatar">
        <a rel="nofollow" href="{{ profile_url(answer.creator) }}">
          <img src="{{ profile_avatar(answer.creator) }}" height="48" width="48" alt="{{ display_name(answer.creator) }}"/>
        </a>
      </div>
      <div class="user">
        <div class="asked-by">
          <a class="author-name" rel="nofollow" href="{{ profile_url(answer.creator) }}">
            <span class="display-name">{{ display_name(answer.creator) }}</span>
            {{ titles(answer.creator) }}
            {{ user_labels(answer.creator, show_question_owner=True, question_creator=question.creator) }}
          </a>
          {# {% if answer.id and question.creator != answer.creator %}
            <span class="solutions">{{ _('{num} solutions')|f(num=answer.creator_num_solutions) }}</span>
            <span class="answers">{{ _('{num} answers')|f(num=answer.creator_num_answers) }}</span>
          {% endif %} #}
        </div>
        {% if answer.id %}
        <span class="asked-on">
          <a href="{{answer.get_absolute_url()}}">
          <time itemprop="dateCreated" datetime="{{ question.created }}">{{ datetimeformat(answer.created) }}</time>
          </a>
        </span>
        {% endif %}
      </div>
    </div>
    {% if is_pinned_copy %}
      <a class="answer-pinned-hint" href="{{ answer.get_absolute_url() }}">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="12" y1="17" x2="12" y2="22"/><path d="M5 17h14v-1.76a2 2 0 0 0-1.11-1.79l-1.78-.9A2 2 0 0 1 15 10.76V6h1a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h1v4.76a2 2 0 0 1-1.11 1.79l-1.78.9A2 2 0 0 0 5 15.24Z"/></svg>
        {{ _('Read this answer in context') }}
      </a>
    {% endif %}
    {% if answer.id %}
      {% set display_flag_option=answer.allows_flag(user, question) %}
      {% set display_quote_option=question.allows_new_answer(user) %}
      {% set display_spam_option=user.has_perm('flagit.can_moderate') %}
      {% set display_edit_option=answer.allows_edit(user, question) %}
      {% set display_delete_option=answer.allows_delete(user) %}
      {% if display_flag_option or display_quote_option or display_spam_option or display_edit_option or display_delete_option %}
        <div class="mzp-c-menu-list">
          <span class="icon-button" data-has-dropdown>{{ _('more options') }}</span>
          <ul class="mzp-c-menu-list-list">
            {% if display_flag_option %}
              <li class="mzp-c-menu-list-item">
                {{ flag_form(url('questions.answer_flag', question.id, answer.id), answer.id) }}
              </li>
            {% endif %}
            {% if display_quote_option %}
              <li class="mzp-c-menu-list-item">
                <a class="reply quoted-reply" href="#question-reply" data-content-id="answer-{{ answer.id }}">{{ _('Quote') }}</a>
              </li>
            {% endif %}
            {% if display_spam_option %}
              <li class="mzp-c-menu-list-item">
                {% if answer.is_spam %}
                  {{ unmark_spam_form(answer_id=answer.id) }}
                {% else %}
                  {{ mark_spam_form(answer_id=answer.id) }}
                {% endif %}
             </li>
            {% endif %}
            {% if display_edit_option %}
              <li class="mzp-c-menu-list-item edit">
                <a href="{{ url('questions.edit_answer', question.id, answer.id) }}">{{ _('Edit this post') }}</a>
              </li>
            {% endif %}
            {% if display_delete_option %}
              <li class="mzp-c-menu-list-item delete">
                <a href="{{ url('questions.delete_answer', question.id, answer.id) }}">{{ _('Delete this post') }}</a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    {% endif %}
  </section>


  <div class="main-content">
    {% if answer.id and question.solution == answer %}
      {% set solver = question.solver %}
      <h3 class="is-solution"{% if solver %} title="{{ _('Solution chosen by {user}')|f(user=display_name(solver)) }}"{% endif %}>
        {{_('Chosen Solution')}}
        <svg class="is-solution--icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-width="2" d="M20 6L9 17l-5-5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </h3>
    {% elif answer.id and answer in helpful_replies %}
    {# Note: this is only here as a flag for tests #}
      <span class="is-helpful"></span>
    {% elif answer.is_spam %}
      <h3 class="is-spam">{{ _('Marked as spam') }}</h3>
    {% endif %}

    <div class="content">
      {% if is_preview %}
        {# Don't use cached content_parsed #}
        {{ answer.content|wiki_to_html_questions(locale=request.LANGUAGE_CODE) }}
      {% else %}
        {{ answer.content_parsed|safe }}
      {% endif %}
    </div>

    <div class="content-raw" style="display:none;">{{ answer.content }}</div>

    <div class="ans-attachments attachments-list">
      {% for image in answer.get_images() %}
        {{ attachment(image, user, False) }}
      {% endfor %}
    </div>
    {% if answer.updated_by %}
      <p class="edited text-body-sm"><em>
        {{ _('Modified {datetime} by {name}')|fe(name=display_name(answer.updated_by), datetime=datetimeformat(answer.updated, format='longdatetime')) }}
      </em></p>
    {% endif %}
  </div>
  {% if answer.id %}
    {% set _show_vote = question.editable and user.is_authenticated and user != answer.creator %}
    {% set _show_solve = not question.solution and question.allows_solve(user) %}
    {% set _show_unsolve = question.solution == answer and question.allows_unsolve(user) %}
    {% if _show_vote or _show_solve or _show_unsolve %}
    <div class="answer-footer">
      {% if _show_vote %}
      <form class="answer-vote helpful" action="{{ url('questions.answer_vote', question_id=question.id, answer_id=answer.id) }}" method="post">
        {% csrf_token %}
        <span class="answer-vote--label">{{ _('Helpful?') }}</span>
        <button type="submit" class="answer-vote--btn" name="helpful"
                title="{{ _('Yes, this was helpful') }}" {% if answer.has_voted(request) %}disabled{% endif %}>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               aria-hidden="true">
            <path d="M10 15v4a3 3 0 0 0 3 3l4-12V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3z"/>
            <path d="M17 2h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"/>
          </svg>
          <strong class="answer-vote--count">{{ answer.num_helpful_votes }}</strong>
        </button>
        <button type="submit" class="answer-vote--btn answer-vote--btn--down" name="not-helpful"
                title="{{ _('No, this was not helpful') }}" {% if answer.has_voted(request) %}disabled{% endif %}>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               aria-hidden="true">
            <path d="M10 15v4a3 3 0 0 0 3 3l4-12V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3z"/>
            <path d="M17 2h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"/>
          </svg>
          <strong class="answer-vote--count">{{ answer.num_unhelpful_votes }}</strong>
        </button>
      </form>
      {% else %}
      <div></div>
      {% endif %}
      <div class="answer-footer--actions">
        {% if _show_solve %}
        <form class="solution" action="{{ url('questions.solve', question_id=question.id, answer_id=answer.id) }}" method="post">
          {% csrf_token %}
          <button type="submit" name="solution" class="sumo-button secondary-button button-sm answer-tools--solve-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 aria-hidden="true">
              <path d="M20 6L9 17l-5-5"/>
            </svg>
            {{ _('Mark as solution') }}
          </button>
        </form>
        {% endif %}
        {% if _show_unsolve %}
        <form class="unsolve" action="{{ url('questions.unsolve', question_id=question.id, answer_id=answer.id) }}" method="post">
          {% csrf_token %}
          <button type="submit" name="unsolve" class="sumo-button secondary-button button-sm">{{ _('Undo solution') }}</button>
        </form>
        {% endif %}
      </div>
    </div>
    {% endif %}
  {% endif %}
</div>
