{% from "layout/errorlist.html" import errorlist %}
{% set title = _("Get email updates") %}

<section id="email-subscribe" class="mzp-u-modal-content" title="{{ title }}">
  <h2 class="sumo-page-subheading">{{ title }}</h2>
  <form action="{{ url('questions.watch', question.id) }}" method="post">
    {% csrf_token %}
    {{ errorlist(watch_form) }}
    {% if not user.is_authenticated() %}
    <div class="field">
      {{ watch_form.email|safe }}
    </div>
    {% endif %}

    {# This is hard-coded to get correct radio layout {{ watch_form.event_type|safe }} #}
    <ul id="id_event_type">
      <li class="field radio is-condensed">
        <input type="radio" name="event_type" value="reply" required="" checked="" id="id_event_type_0">
        <label for="id_event_type_0">when anybody replies.</label>
      </li>
      <li class="field radio is-condensed">
        <input type="radio" name="event_type" value="solution" required="" id="id_event_type_1">
        <label for="id_event_type_1">when a solution is found.</label>
      </li>
    </ul>

    <div class="sumo-button-wrap reverse-on-desktop align-full">
      <input type="submit" class="sumo-button primary-button button-lg" value="{{ _('Send Updates') }}" />
    <span class="cancel">
      <button type="button" class="sumo-button button-lg" data-sumo-modal-close>{{ _('Cancel') }}</button>
    </span>
    </div>
  </form>
</section>
