{% from "layout/errorlist.html" import errorlist %}
{% set title = _("Get email updates") %}

<section id="email-subscribe" class="mzp-u-modal-content" title="{{ title }}">
  <h2 class="text-display-sm">{{ title }}</h2>
  <form action="{{ url('questions.watch', question.id) }}" method="post">
    {% csrf_token %}
    {{ errorlist(watch_form) }}
    {% if not user.is_authenticated() %}
    <div class="field">
      {{ watch_form.email|safe }}
    </div>
    {% endif %}

    <div class="field">
    {{ watch_form.event_type|safe }}
    </div>

    <div class="sumo-button-wrap">
      <input type="submit" class="sumo-button primary-button" value="{{ _('Send Updates') }}" />
    <span class="cancel">
      <a class="kbox-cancel" href="{{ question.get_absolute_url() }}">{{ _('Cancel') }}</a>
    </span>
    </div>
  </form>
</section>
