{#

Base template for creating a new or editing an existing question. The cases for
showing uneditable product and category names are handled here. Fancier
behaviors like editing them can be provided by overriding blocks.

#}
{% extends "questions/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% from "includes/common_macros.html" import search_box, scam_banner, content_editor with context %}
{% from "questions/includes/aaq_macros.html" import helpful_tip, progress_bar %}
{% from "questions/includes/aaq_macros.html" import troubleshooting_instructions with context %}
{% from "upload/attachments.html" import attachments_form %}
{% set scripts = ('questions', 'questions.geo',) %}

{% set hide_aaq_link = True %}

{% block contentwrap %}
<div id="main-content" class="aaq">
  <article class="main mzp-l-content sumo-page-section--inner">
    {% if current_step %}
      {{ progress_bar(current_step, product_slug=current_product.slug) }}

      {% if current_step > 1 and not has_ticketing_support %}
        {{ scam_banner() }}
      {% endif %}
    {% endif %}

    {% block formwrap %}
    {# L10n: Alt text for a product logo. #}
    <img class="page-heading--logo" src="{{ current_product.image_alternate_url }}" alt="{{ _('{product} logo')|f(product=current_product.title) }}" />

    {# TODO: hook this up to the backend when subproducts are in.
    <div class="mzp-c-menu-list subheading-dropdown">
      <h3 class="mzp-c-menu-list-title sumo-card-heading" data-has-dropdown>Firefox</h3>
      <ul class="mzp-c-menu-list-list">
        <li class="mzp-c-menu-list-item"><a href="#">Subproducts</a></li>
        <li class="mzp-c-menu-list-item"><a href="#">Will go here</a></li>
      </ul>
    </div> #}
    <h3 class="mzp-c-menu-list-title sumo-card-heading back-to-product-list">
      {{ current_product.title }}
    </h3>


    {% block major_detail_instructions %}
    {% endblock %}
    <div class="sumo-l-two-col">
      <aside class="sumo-l-two-col--sidebar">
        {% if form and not has_ticketing_support %}
          <div class="card has-moz-headings is-in-sidebar is-callout-bg text-center large-only">
              {# L10n: Alt text for the illustration of community displayed when filing a new question form (e.g., on https://support.mozilla.org/questions/new/firefox/form). Source: https://assets-prod.sumo.prod.webservices.mozgcp.net/static/Mozilla-Heads-Keith-Negley-180628__400.99f12ceb616ae784.png #}
              <img class="card--img" src="{{ webpack_static('sumo/img/Mozilla-Heads-Keith-Negley-180628__400.png') }}" alt="{{ _('Illustration of community') }}" />
              <div class="card--details">
                {# L10n: A header for the Community card displayed when filing a new question form (e.g., on https://support.mozilla.org/questions/new/firefox/form). #}
                <h3 class="card--title">{{ _('Our Community is here to help') }}</h3>
                {# L10n: Text for the Community card displayed when filing a new question form (e.g., on https://support.mozilla.org/questions/new/firefox/form). #}
                <p class="card--desc">{{ _('Kindness is at the heart of our community. Our volunteers are happy to share their time and Firefox knowledge with you.') }}</p>
                <p><strong><a href="{{ url('landings.contribute') }}">{{ _('Learn More') }}</a></strong></p>
              </div>
          </div>

          <div class="large-only">
            {{ helpful_tip() }}
          </div>
        {% endif %}
      </aside>
      <article class="sumo-l-two-col--main">

        {% if not no_headline %}
          <h1 class="sumo-page-heading">{% block headline %}{% endblock %}</h1>
        {% endif %}
        <div class="inner-wrap">

        {% if form %}
          <div class="highlight-box">
            <form id="question-form" method="post">
              {% csrf_token %}

              {% if not has_ticketing_support %}
                <p class="sumo-page-intro">
                  {# L10n: An introduction, displayed when filing a new question form (e.g., on https://support.mozilla.org/questions/new/firefox/form). #}
                  {% trans %}
                    Be nice. Our volunteers are Mozilla users just like you,
                    who take the time out of their day to help.
                  {% endtrans %}
                </p>
              {% endif %}

              <div class="info card shade-bg highlight mb">
              {% if is_loginless and not user.is_authenticated %}
                {# L10n: An introduction, displayed when filing a new question form regarding sign-in troubles. To access it, try asking a question about any product while being not signed in and then click "I can't sign in to my Mozilla account". #}
                {% trans %}
                  Can't sign in to your account and need help?
                  You've found the right place. Complete the form below
                  to contact our support staff.
                {% endtrans %}
              {% else %}
                {# L10n: An advice, displayed when filing a new question form (e.g., on https://support.mozilla.org/questions/new/firefox/form). #}
                {% trans %}
                  Be descriptive.
                  Saying “playing video on YouTube is always choppy”
                  will help us understand the issue better than saying
                  “something is wrong” or “the app is broken”.
                {% endtrans %}
              {% endif %}
              </div>

              {% for field in form.hidden_fields() %}
                {{ field|safe }}
              {% endfor %}
              <ul class="form-as-ul full-width">
                {% set li_class='' %}
                {% for field in form.visible_fields() if not field.name == 'notifications' %}

                  {% if not has_ticketing_support %}
                    {% if field.name == 'ff_version' %}
                      <li class="system-details-info show">
                        <p>
                          {# L10n: Text introducing the Firefox version and the Operating system fields when filing a new question form (e.g., on https://support.mozilla.org/questions/new/firefox/form). #}
                          {{ _("We've made some educated guesses about your current browser and operating system.") }}
                          {# L10n: A link that shows the Firefox version and the Operating system fields when filing a new question form (e.g., on https://support.mozilla.org/questions/new/firefox/form). #}
                          <a href="#show-details" class="show">{{ _('Show details &raquo;')|safe }}</a>
                          {# L10n: A link that hides the Firefox version and the Operating system fields when filing a new question form (e.g., on https://support.mozilla.org/questions/new/firefox/form). #}
                          <a href="#hide-details" class="hide hide-until-expanded">{{ _('Hide details &raquo;')|safe }}</a>
                        </p>
                      </li>
                    {% endif %}
                    {% if field.name == 'ff_version' or field.name == 'os' %}
                      {% set li_class='details' %}
                    {% endif %}
                  {% endif %}

                  <li class="{{ li_class }} {% if field.errors %}has-error invalid{% endif %} cf">
                    {{ field.label_tag()|safe }}
                    {% if field.help_text and field.name != 'troubleshooting' %}
                      <div id="{{ field.help_id }}" class="field-help-text">{{ field.help_text|safe }}</div>
                    {% endif %}
                    {% if field.name == 'content' %}
                      {{ content_editor(field) }}
                    {% elif field.name == 'troubleshooting' %}
                      <div id="{{ field.help_id }}">{{ field.help_text|safe }}</div>
                      {{ troubleshooting_instructions(field) }}
                    {% elif field.name == 'description' and is_loginless %}
                      <label for="{{ field.id_for_label }}">
                        <span class="fieldnote">
                          {# L10n: Description for the Tell Us More field, displayed when filing a new question form regarding sign-in troubles. To access it, try asking a question about any product while being not signed in and then click "I can't sign in to my Mozilla account". #}
                          {{ _(
                          "Include details such as your account e-mail or specifics about"
                          " your sign-in issue to help us get you back into your account quicker."
                          ) }}
                        </span>
                      </label>
                      {{ field }}
                      {{ field.errors }}
                    {% elif category_field_attrs and (field.name == 'category') %}
                      {{ field.as_widget(attrs=category_field_attrs)|safe }}
                    {% else %}
                      {{ field|safe }}
                    {% endif %}

                    {% if field.name != 'content' %}
                      {{ field.errors }}
                    {% endif %}
                  </li>

                  {% if field.name == 'content' %}
                    <li>
                      {% block attachments_form %}
                        {{ attachments_form('auth.User', user.pk, images, settings, user) }}
                      {% endblock %}
                    </li>
                  {% endif %}
                {% endfor %}

                {% if form.notifications %}
                  <li class="cf">
                    {{ checkbox(form.notifications) }}
                  </li>
                {% endif %}
              </ul>

              <div class="hide-on-large field">
                {{ helpful_tip() }}
              </div>

              <div class="sumo-button-wrap aaq-form-buttons reverse-on-desktop align-right">
                {# L10n: A button displayed when editing an existing question. #}
                <button type="submit" class="sumo-button primary-button" {% block submit_button_attrs %}{% endblock %}>{% block submit_button_value %}{{ _('Save Question') }}{% endblock %}</button>
                {% block more_submit_buttons %}
                <a class="sumo-button secondary-button push-right" href="{{ cancel_url }}" class="cancel">{{ _('Cancel') }}</a>
                {% endblock %}
              </div>
            </form>
          </div>
        {% endif %}
      </article>

    </div>
    {% endblock %}
  </article>
</div>
{% endblock %}

{% block side %}
{% endblock %}
