SRC_DIR = '/data/support-dev/src/support-dev.allizom.org/kitsune'
WWW_DIR = '/data/support-dev/www/support-dev.allizom.org/kitsune'

CRON_NAME = 'support-dev'

DEPLOY_SCRIPT = "/data/support-dev/deploy -n support-dev.allizom.org"
REMOTE_UPDATE_SCRIPT = "/data/bin/update-www.sh support-dev.allizom.org""


WEB_HOSTGROUP = 'support-dev'
CELERY_HOSTGROUP = 'support-celery-dev'
CELERY_SERVICE = 'celery-support-dev'

UPDATE_REF = "origin/master"
SSH_KEY = None

LOCALE_BRANCH = 'master'
