{% extends "kbforums/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% from "includes/common_macros.html" import content_editor with context %}
{% from "kbforums/includes/macros.html" import kbforums_warning with context %}
{# L10n: {d} is the name of the document. #}
{% set title = _('Create a new thread | {d} | Knowledge Base')|f(d=document.title) %}
{% set crumbs = [(document.get_absolute_url(), document.title),
                 (url('wiki.discuss.threads', document.slug), _('Discuss')),
                 (None, _('Create a new thread'))] %}
{% set styles = ('forums', 'jqueryui') %}
{% set scripts = ('forums', 'jqueryui') %}

{% block content %}
  <article id="new-thread" class="grid_9">
    {{ kbforums_warning(document, user) }}
    <h1>{{ _('Create a new thread') }}</h1>

    {% if request.limited %}
      <div class="warning-box">
        {{ _('You have exceeded the number of threads and replies that can be posted in a given amount of time. Please try again shortly.') }}
      </div>
    {% endif %}

    <form action="{{ url('wiki.discuss.new_thread', document.slug) }}" method="post" class="new-thread">
      {% csrf_token %}
      {{ errorlist(form) }}

      {% for field in form %}
        <div class="form-widget{% if field.errors %} invalid{% endif %}">
          {{ field.label_tag()|safe }}
          {% if field.name == 'content' %}
            <div class="content-box">
              {{ content_editor(field) }}
            </div>
          {% else %}
            {{ field|safe }}
          {% endif %}
        </div>
      {% endfor %}

      <div class="form-widget submit">
        <button type="submit" class="btn btn-submit big">{{ _('Post Thread') }}</button>
        <button type="submit" class="btn" id="preview" name="preview"
            data-preview-url="{{ url('wiki.discuss.post_preview_async', document.slug) }}"
            data-preview-container-id="post-preview"
            data-preview-content-id="id_content">{{ _('Preview') }}
        </button>
        <a class="btn" href="{{ url('wiki.discuss.threads', document.slug) }}">{{ _('Cancel') }}</a>
      </div>

      <div id="post-preview">
        {% if post_preview %}
          {% include "kbforums/includes/post_preview.html" %}
        {% endif %}
      </div>
    </form>
  </article>
{% endblock %}
