{% extends "kbforums/base.html" %}
{% from "kbforums/includes/macros.html" import kbforums_warning with context %}
{# L10n: {d} is the name of the document. #}
{% set title = _('{d} Discussion | Knowledge Base')|f(d=document.title) %}
{% set crumbs = [(document.get_absolute_url(), document.title),
                 (None, _('Discuss'))] %}

{% block content %}
    {{ kbforums_warning(document, user) }}
    <article id="threads" class="content-box sumo-page-section">
      <h1 class="sumo-page-heading">{{ _('{d} Discussion')|f(d=document.title) }}</h1>
      <div class="sumo-button-wrap forum-actions">
        <a id="new-thread" class="sumo-button button-primary" href="{{ url('wiki.discuss.new_thread', document_slug=document.slug) }}">{{ _('Post a new thread') }}</a>

        {% if user.is_authenticated %}
          <form action="{{ url('wiki.discuss.watch_forum', document.slug) }}" method="post">
            {% csrf_token %}
            {% if is_watching_forum %}
              {% set watch = _('Stop watching this forum') %}
              <input type="hidden" name="watch" value="no" />
            {% else %}
              {% set watch = _('Watch this forum') %}
              <input type="hidden" name="watch" value="yes" />
            {% endif %}
            <button type="submit" alt="{{ watch }}" title="{{ watch }}" class="sumo-button" id="watch-forum-toggle">{{ watch }}</button>
          </form>
        {% endif %}
      </div>

      {% if threads.object_list %}
      <div class="table-scroll">
      <table class="{% if not desc_toggle %}desc{% endif %}">
        <tr>
          <th class="type"><a href="{{ url('wiki.discuss.threads', document.slug) }}">{{ _('Type') }}</a></th>
          <th class="title">{{ _('Title') }}</th>
          <th class="author{% if sort == 3 %} sort{% endif %}"><a href="{{ request.path|urlparams(sort=3, desc=desc_toggle) }}">{{ _('Author') }}</a></th>
          <th class="replies{% if sort == 4 %} sort{% endif %}"><a href="{{ request.path|urlparams(sort=4, desc=desc_toggle) }}">{{ _('Replies') }}</a></th>
          <th class="last-post{% if sort == 5 %} sort{% endif %}"><a href="{{ request.path|urlparams(sort=5, desc=desc_toggle) }}">{{ _('Last Post') }}</a></th>
        </tr>
        {% for thread in threads.object_list %}
          <tr class="threads">
            <td class="type">
              {% if thread.is_locked %}
                <img src="{{ webpack_static('sumo/img/blank.png') }}" alt="{{ pgettext('thread_type', 'Locked') }}" title="{{ pgettext('thread_type', 'Locked') }}" class="icon-locked" />
              {% endif %}
              {% if thread.is_sticky %}
                <img src="{{ webpack_static('sumo/img/blank.png') }}" alt="{{ pgettext('thread_type', 'Sticky') }}" title="{{ pgettext('thread_type', 'Sticky') }}" class="icon-sticky" />
              {% endif %}
            </td>
            <td class="title"><a href="{{ url('wiki.discuss.posts', document.slug, thread.id) }}">{{ thread.title }}</a></td>
            <td class="author"><a class="username" rel="nofollow" href="{{ profile_url(thread.creator) }}">{{ display_name(thread.creator) }}</a></td>
            <td class="replies">{{ thread.replies }}</td>
            <td class="last-post">
              <a href="{{ thread.last_post.get_absolute_url() }}">
                {{ datetimeformat(thread.last_post.created) }}
              </a><br/>
              <span class="text-body-xs ">{{ _('by <a class="username" rel="nofollow" href="{profile_url}">{username}</a>')|fe(profile_url=profile_url(thread.last_post.creator), username=display_name(thread.last_post.creator)) }}</span>
            </td>
          </tr>
        {% endfor %}
      </table>
      </div>
      {{ threads|paginator }}

      {% else %}
        <p>{{ _('There are no threads. Maybe you should create some!') }}</p>
      {% endif %}
    </article>
{% endblock %}
