{% macro search_box(settings, id=False, prefix=None, target=None,
                    placeholder=_('Find help...'),
                    params=None) %}
  <form data-instant-search="form" {% if id %}id="{{ id }}"{% endif %} action="{{ url('search') }}" method="get" {% if target %} target="{{ target }}"{% endif %} class="simple-search-form">
    {% if params %}
      {% for k, v in params.items() %}
        <input type="hidden" name="{{ k }}" value="{{ v }}" />
      {% endfor %}
    {% endif %}
    <input type="search" autocomplete="off" name="q" aria-required="true" placeholder="{{ placeholder }}" class="searchbox" id="search-q" />
    <button type="submit" title="{{ _('Search') }}" class="search-button">{{ _('Search') }}</button>
  </form>
{% endmacro %}

{% macro sumo_cta_banner(text, modifier_class, id="id_ff_alert") %}
<div class="sumo-ff-alert {{ modifier_class }}" {% if id %}id="{{ id }}"{% endif %}>
  <div class="sumo-ff-alert--content">
    <img class="sumo-ff-alert--icon" src="{{ static('sumo/img/FF_Master__icon.svg') }}" />
    <p class="sumo-ff-alert--heading">{{ text }}</p>
    <a href="https://accounts.firefox.com" class="sumo-button primary-button button-lg">Start Now</a>
    <button class="sumo-close-button" data-close-button="#{{ id }}">
      <img src="{{ static('protocol/img/icons/close-white.svg') }}" />
    </button>
  </div>
</div>
{% endmacro %}

{% macro scam_banner() %}
<div class="sumo-scam-alert" id="id_scam_alert">
  <div class="sumo-scam-alert--content">
    {% include 'includes/icons/alert-icon.svg'%}
    <p class="sumo-scam-alert--heading">{{ _('Beware of phishing attacks: Mozilla will never ask you to call a number or visit a non-Mozilla website. Please ignore such requests.') }}</p>
    <a href="https://support.mozilla.org/kb/avoid-and-report-mozilla-tech-support-scams" class="sumo-button button-lg">Learn More</a>
    <button class="sumo-close-button close-button" data-close-id="id_scam_alert" data-close-memory="session" data-close-initial="hidden">
      <img src="{{ static('protocol/img/icons/close.svg') }}" />
    </button>
  </div>
</div>
{% endmacro %}

{% macro aux_nav(user, hide_aaq_link=False) %}
  {% if not settings.READ_ONLY %}
    {% if request.LANGUAGE_CODE in AAQ_LANGUAGES %}
      {% set ask_url = url('questions.aaq_step1') %}
    {% else %}
      {% set ask_url = url('wiki.document', 'get-community-support') %}
    {% endif %}
  {% endif %}
  <li class="mzp-c-menu-category mzp-has-drop-down mzp-js-expandable">
    <a class="mzp-c-menu-title sumo-nav--link" href="{{ url('questions.home') }}" aria-haspopup="true" aria-controls="mzp-c-menu-panel-help">{{ _('Get Help') }}</a>
    <div class="mzp-c-menu-panel mzp-has-card" id="mzp-c-menu-panel-help">
      <div class="sumo-nav--dropdown-container">
        <div class="sumo-nav--dropdown-grid">
          <button class="mzp-c-menu-button-close" type="button" aria-controls="mzp-c-menu-panel-example">{{ _('Close Firefox menu') }}</button>
          <div class="sumo-nav--dropdown-col">
            <section class="mzp-c-menu-item mzp-has-icon sumo-nav--dropdown-item">
              <a class="mzp-c-menu-item-link" href="{{ ask_url }}">
                <svg class="mzp-c-menu-item-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M11 3H4a2 2 0 00-2 2v12a2 2 0 002 2h9l2 4 2-4h2a2 2 0 002-2v-6"/><path d="M17.5 2.5a2.121 2.121 0 013 3L13 13l-4 1 1-4 7.5-7.5z"/></g></svg>
                <h4 class="mzp-c-menu-item-title">{{ _('Ask the Community') }}</h4>
                <p class="mzp-c-menu-item-desc">
                  {{ _('Create a thread and find answers by posting a question to any of our product support forums.') }}
                </p>
              </a>
              <ul class="mzp-c-menu-item-list sumo-nav--sublist">
                <li><a href="/questions/new/desktop">{{ _('Firefox Browser') }}</a></li>
                <li><a href="/questions/new/firefox-private-network">{{ _('Firefox Private Network') }}</a></li>
                <li><a href="/questions/new/ios">{{ _('Firefox for iOS') }}</a></li>
                <li><a href="/questions/new/firefox-lockwise">{{ _('Firefox Lockwise') }}</a></li>
                <li><a href="/questions/new/mobile">{{ _('Firefox for Android') }}</a></li>
                <li><a class="color-link" href="{{ url('questions.home') }}">{{ _('Browse All Product Forums') }}</a></li>
              </ul>
            </section>
           </div>
           <div class="sumo-nav--dropdown-col">
             <section class="mzp-c-menu-item mzp-has-icon sumo-nav--dropdown-item">
               <a class="mzp-c-menu-item-link" href="/products">
                 <svg class="mzp-c-menu-item-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g transform="translate(3 3)" stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"><rect stroke-linejoin="round" width="18" height="18" rx="2"/><path d="M4 5h10M4 9h10M4 13h4"/></g></svg>
                 <h4 class="mzp-c-menu-item-title">{{ _('Explore Our Help Articles') }}</h4>
                 <p class="mzp-c-menu-item-desc">
                   {{ _('Dig into the knowledge base, tips and tricks, troubleshooting, and so much more.') }}
                 </p>
               </a>
               <ul class="mzp-c-menu-item-list sumo-nav--sublist">
                 <li><a href="/products/firefox">{{ _('Firefox Browser') }}</a></li>
                 <li><a href="/products/firefox-private-network">{{ _('Firefox Private Network') }}</a></li>
                 <li><a href="/products/ios">{{ _('Firefox for iOS') }}</a></li>
                 <li><a href="/products/firefox-lockwise">{{ _('Firefox Lockwise') }}</a></li>
                 <li><a href="/products/mobile">{{ _('Firefox for Android') }}</a></li>
                 <li><a class="color-link" href="/products">{{ _('See All Articles') }}</a></li>
               </ul>
             </section>
            </div>
        </div>
      </div>
    </div>
  </li>
  {% if user.is_authenticated() %}
  <li class="mzp-c-menu-category mzp-has-drop-down mzp-js-expandable">
    <a class="mzp-c-menu-title sumo-nav--link" href="#" aria-haspopup="true" aria-controls="mzp-c-menu-panel-tools" data-event-category="navigation"
       data-event-action="main navigation" data-event-label="Contributor Tools">{{ _('Contributor Tools') }}</a>
    <div class="mzp-c-menu-panel mzp-has-card" id="mzp-c-menu-panel-tools">
      <div class="sumo-nav--dropdown-container">
        <div class="sumo-nav--dropdown-grid">
          <button class="mzp-c-menu-button-close" type="button" aria-controls="mzp-c-menu-panel-example">{{ _('Close Firefox menu') }}</button>
          <div class="sumo-nav--dropdown-col">
            <section class="mzp-c-menu-item mzp-has-icon sumo-nav--dropdown-item">
              <a class="mzp-c-menu-item-link" href="{{ url('forums.forums') }}">
                <svg class="mzp-c-menu-item-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M17 17l-1.051 3.154a1 1 0 01-1.898 0L13 17H5a2 2 0 01-2-2V5a2 2 0 012-2h14a2 2 0 012 2v10a2 2 0 01-2 2h-2zM7 8h10M7 12h10"/></g></svg>
                <h4 class="mzp-c-menu-item-title">{{ _('Discussions') }}</h4>
                <p class="mzp-c-menu-item-desc">
                  {{ _('Meet the community: read announcements, follow discussions and ask questions.') }}
                </p>
              </a>
              <ul class="mzp-c-menu-item-list sumo-nav--sublist">
                {{ _discussion_nav_links(user, default_language, active) }}
              </ul>
            </section>
           </div>
           <div class="sumo-nav--dropdown-col">
             <section class="mzp-c-menu-item mzp-has-icon sumo-nav--dropdown-item">
               <a class="mzp-c-menu-item-link" href="{{ url('products.product', slug='contributor') }}">
                 <svg class="mzp-c-menu-item-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M10.5 9.5L3 17c-1 1.667-1 3 0 4s2.333.833 4-.5l7.5-7.5c2.333 1.054 4.333.734 6-.96 1.667-1.693 1.833-3.707.5-6.04l-3 3-2.5-.5L15 6l3-3c-2.333-1.333-4.333-1.167-6 .5-1.667 1.667-2.167 3.667-1.5 6z"
                        stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/>
                 </svg>
                 <h4 class="mzp-c-menu-item-title">{{ _('Tools') }}</h4>
                 <p class="mzp-c-menu-item-desc">
                   {{ _('Explore resources to help you with your contributions.') }}
                 </p>
               </a>
               <ul class="mzp-c-menu-item-list sumo-nav--sublist">
                 {{ _tools_nav_links(user, default_language, active) }}
               </ul>
             </section>
            </div>
        </div>
      </div>
    </div>
  </li>
  {% endif %}

  <li class="mzp-c-menu-category">
    <a class="mzp-c-menu-title sumo-nav--link" href="{{ url('landings.get_involved') }}">{{ _('Volunteer') }}</a>
  </li>
{% endmacro %}


{% macro profile_nav(user, hide_aaq_link=False) %}
{% if not hide_header_search %}
<li class="mzp-c-menu-category sumo-nav--item-right">
  {{ search_box(settings, id='support-search', params=search_params) }}

  {% if show_header_fx_download() %}
    {# show-fx-download.js will remove the 'hidden' class below if the visitor is *NOT* using Firefox #}
    <a href="https://www.mozilla.org/firefox/new/?utm_source=support.mozilla.org&amp;utm_medium=referral&amp;utm_campaign=non-fx-button&amp;utm_content=header-download-button" class="firefox-download-button hidden sumo-button primary-button button-lg" data-event-category="Download Button" data-event-action="Firefox for Desktop">{{ _('Download Firefox') }}</a>
  {% endif %}
</li>
{% endif %}

<li class="mzp-c-menu-category {% if user.is_authenticated() %}mzp-has-drop-down mzp-js-expandable{% else %}logged-out-button-row{% endif %} {% if hide_locale_switcher %}sumo-nav--item-right{% endif %}">
  {% if user.is_authenticated() %}
    <a class="mzp-c-menu-title sumo-nav--link has-avatar hide-on-mobile" href="{{ url('users.auth') }}">
      <span class="sumo-nav--username">{{ display_name(user) }}</span>
      <img class="avatar" src="{{ profile_avatar(user) }}" alt="Avatar for Username">
    </a>
    <div class="mzp-c-menu-panel mzp-has-card" id="mzp-c-menu-panel-profile">
      <div class="sumo-nav--dropdown-container">
        <div class="sumo-nav--dropdown-grid">
          <button class="mzp-c-menu-button-close" type="button" aria-controls="mzp-c-menu-panel-profile">{{ _('Close Firefox menu') }}</button>
          <div class="sumo-nav--dropdown-thirds">
            <section class="mzp-c-menu-item mzp-has-icon sumo-nav--dropdown-item">
              <a class="mzp-c-menu-item-link" href="{{ profile_url(user) }}">
                <svg class="mzp-c-menu-item-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g transform="translate(5 3)" stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M0 18c1-4 3.333-6 7-6s6 2 7 6" stroke-linecap="round"/><circle cx="7" cy="4" r="4"/></g></svg>
                <h4 class="mzp-c-menu-item-title">{{ _('View Profile') }}</h4>
                <p class="mzp-c-menu-item-desc">
                  {{ _('Manage your information and see your contributions.') }}
                </p>
              </a>
              <ul class="mzp-c-menu-item-list sumo-nav--sublist">
                <li><a href="{{ url('users.edit_my_profile') }}">{{ _('Edit Profile') }}</a></li>
                <li><a href="{{ url('search.advanced')|urlparams(a=1, asked_by=user, w=2) }}">{{ _('My Questions') }}</a></li>
              </ul>
            </section>
          </div>
          <div class="sumo-nav--dropdown-thirds">
            <section class="mzp-c-menu-item mzp-has-icon sumo-nav--dropdown-item">
              <a class="mzp-c-menu-item-link" href="{{ url('users.edit_settings') }}">
                <svg class="mzp-c-menu-item-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g transform="translate(1 1)" stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="3"/><path d="M18.4 14a1.65 1.65 0 00.33 1.82l.06.06a2 2 0 11-2.83 2.83l-.06-.06a1.65 1.65 0 00-1.82-.33 1.65 1.65 0 00-1 1.51V20a2 2 0 11-4 0v-.09A1.65 1.65 0 008 18.4a1.65 1.65 0 00-1.82.33l-.06.06a2 2 0 11-2.83-2.83l.06-.06a1.65 1.65 0 00.33-1.82 1.65 1.65 0 00-1.51-1H2a2 2 0 110-4h.09A1.65 1.65 0 003.6 8a1.65 1.65 0 00-.33-1.82l-.06-.06a2 2 0 112.83-2.83l.06.06a1.65 1.65 0 001.82.33H8a1.65 1.65 0 001-1.51V2a2 2 0 114 0v.09a1.65 1.65 0 001 1.51 1.65 1.65 0 001.82-.33l.06-.06a2 2 0 112.83 2.83l-.06.06a1.65 1.65 0 00-.33 1.82V8c.26.604.852.997 1.51 1H20a2 2 0 110 4h-.09a1.65 1.65 0 00-1.51 1z"/></g></svg>
                <h4 class="mzp-c-menu-item-title">{{ _('Settings') }}</h4>
                <p class="mzp-c-menu-item-desc">
                  {{ _('Manage your privacy and notification preferences.') }}
                </p>
              </a>
            </section>
            </div>
            <div class="sumo-nav--dropdown-thirds">
              <section class="mzp-c-menu-item mzp-has-icon sumo-nav--dropdown-item">
                <a class="mzp-c-menu-item-link" href="{{ url('messages.inbox') }}">
                  <svg class="mzp-c-menu-item-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/><path d="M22 6l-10 7L2 6"/></g></svg>
                  <h4 class="mzp-c-menu-item-title">{{ _('Inbox') }}</h4>
                  <p class="mzp-c-menu-item-desc">
                    {{ _('Exchange private messages with other contributors.') }}
                  </p>
                </a>
              </section>
              <div class="sumo-button-wrap align-end">
                <form id="sign-out" action="{{ url('users.logout') }}" method="post">
                  {% csrf_token %}
                </form>
                <a
                  class="sumo-button secondary-button button-lg"
                  data-type="submit"
                  data-form="sign-out"
                  href="#sign-out"
                  data-event-label="Sign Out">
                  {{ _('Sign Out') }}
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% elif not request.path == url('users.auth') %}
    <a href="{{ url('users.auth') }}" class="sumo-button secondary-button button-lg" data-event-category="navigation" data-event-action="main navigation" data-event-label="Sign In">{{ _('Sign In/Up') }}</a>
  {% endif %}
</li>
{% endmacro %}

{% macro content_editor(field) %}
  <div class="field has-large-textarea editor{% if field.errors %} invalid{% endif %}" data-media-search-url="{{ url('gallery.async') }}" data-media-gallery-url="{{ url('gallery.home') }}">
    <div class="editor-tools"></div>
    <div>{{ field|safe }}</div>
    {{ field.errors }}
  </div>
  <div class="field" style="display: none;">
    <select id="_languages-select-box">
      {% for lang in settings.LANGUAGE_CHOICES %}
        <option value="{{ lang[0] }}" {% if lang[0] == request.LANGUAGE_CODE %}selected="selected"{% endif %}>{{ lang[1] }} ({{ lang[0] }})</option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}



{% macro list_view_item(url, label, class=None, icon_url=None) %}
<li>
  <a href="{{ url }}"{% if class %} class="{{ class }}"{% endif %}>
    {% if icon_url %}
      <img class="icon" src="{{ icon_url }}" />
    {% endif %}
    {{ label }}
  </a>
</li>
{% endmacro %}

{% macro for_contributors_sidebar(user, default_language, li_only=False, active=None) -%}
  {% if user.is_authenticated() %}
  <nav class="sidebar-nav" id="for-contributors-sidebar">
    <span class="details-heading"></span>
    {% if not li_only %}
      <ul class="sidebar-nav--list">
    {% endif %}
      <li class="sidebar-subheading sidebar-nav--heading-item">{{ _('For Contributors') }}</li>
      {{ _discussion_nav_links(user, default_language, active) }}
      {{ _tools_nav_links(user, default_language, active) }}

    {% if not li_only %}
      </ul>
    {% endif %}
  </nav>
  {% endif %}
{%- endmacro %}

{% macro _discussion_nav_links(user, default_language, active=None) -%}
  <li><a href="/forums/contributors" data-event-category="navigation" data-event-action="main navigation" data-event-label="Community Discussions">{{ _('Community Discussions') }}</a></li>
  <li><a href="{{ url('questions.home') }}" data-event-category="navigation" data-event-action="main navigation" data-event-label="Support Forum Home">{{ _('Support Forums') }}</a></li>
  <li><a href="/forums/l10n-forum" data-event-category="navigation" data-event-action="main navigation" data-event-label="L10N Discussions">{{ _('L10N Discussions') }}</a></li>
  <li><a href="/forums/social-media">Social Support Forum</a></li>
  <li><a href="{{ url('wiki.locale_discussions') }}" data-event-category="navigation" data-event-action="main navigation" data-event-label="Article Discussions">{{ _('Article Discussions') }}</a></li>
  <li><a href="/forums/buddies">New Contributors</a></li>
{% endmacro %}

{% macro _tools_nav_links(user, default_language, active=None) -%}
  <li><a href="{{ url('products.product', slug='contributor') }}" data-event-category="navigation" data-event-action="main navigation" data-event-label="Guides">{{ _('Guides') }}</a></li>
  <li><a href="{{ url('community.home') }}" data-event-category="navigation" data-event-action="main navigation" data-event-label="Community Hub">{{ _('Community Hub') }}</a></li>
  <li><a href="{{ url('search.advanced') }}" data-event-category="navigation" data-event-action="main navigation" data-event-label="Advanced Search">{{ _('Advanced Search') }}</a></li>
  <li><a href="/kb/category/60" data-event-category="navigation" data-event-action="main navigation" data-event-label="Templates">{{ _('Templates') }}</a></li>
  <li><a href="{{ url('dashboards.localization') }}" data-event-category="navigation" data-event-action="main navigation" data-event-label="Dashboards">{{ _('Dashboards') }}</a></li>
  <li><a href="{{ url('wiki.revisions') }}" data-event-category="navigation" data-event-action="main navigation" data-event-label="Recent Revisions">{{ _('Recent Revisions') }}</a></li>
  <li><a href="{{ url('gallery.home') }}" data-event-category="navigation" data-event-action="main navigation" data-event-label="Media Gallery">{{ _('Media Gallery') }}</a></li>
  {% if user.has_perm('flagit.can_moderate') %}
    <li><a href="{{ url('flagit.queue') }}" data-event-category="navigation" data-event-action="main navigation" data-event-label="Moderate Forum Content">{{ _('Moderate Forum Content') }}</a></li>
  {% endif %}
  <!-- <li><a href="#">Tag Admin</a></li> -->
{% endmacro %}

{# This is designed to be used like this:
  {% call announcement_bar('foo', 'info') %}
    This is the contents of the bar.
  {% endcall %}
#}
{% macro announcement_bar(id, level, close_memory="", close_type="") -%}
  <div id="announce-{{ id }}" class="mzp-c-notification-bar mzp-t-{{ level }}">
    <button
      class="mzp-c-notification-bar-button close-button"
      data-close-id="announce-{{ id }}"
      type="button"
      {% if close_memory %}data-close-memory="{{ close_memory }}"{% endif %}
      {% if close_type %}data-close-type="{{ close_type }}"{% endif %}
    >
    </button>
    <p>{{ caller() }}</p>
  </div>
{% endmacro %}

{% macro favicon() %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}sumo/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ STATIC_URL }}sumo/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}sumo/img/favicon-16x16.png">
  <link rel="manifest" href="{{ STATIC_URL }}sumo/manifest.json">
  <link rel="shortcut icon" href="{{ STATIC_URL }}sumo/img/favicon.ico">
  <meta name="msapplication-config" content="{{ STATIC_URL }}sumo/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
{% endmacro %}

{% macro download_firefox() %}
{# show-fx-download.js will remove the 'hidden' class below if the visitor is *NOT* using Firefox #}
<div class="firefox-download-button hidden">
  <div class="download-buttons">
    <div class="download-firefox">
      <a href="https://www.mozilla.org/firefox/new/?utm_source=support.mozilla.org&amp;utm_medium=referral&amp;utm_campaign=non-fx-button&amp;utm_content=body-download-button"
        class="download-button sumo-button primary-button button-lg"
        data-event-category="Download Button"
        data-event-action="Panel Opening"
        data-event-label="{{ latest_version }}">
        {{ _('Download Firefox') }}
      </a>
      <ul class="download-info text-body-xs">
        <li><a href="https://www.mozilla.org/firefox/all/">{{ _('Systems and Languages') }}</a></li>
        <li><a href="https://www.mozilla.org/firefox/notes">{{ _("What's New") }}</a></li>
        <li><a href="https://www.mozilla.org/legal/privacy/firefox">{{ _('Privacy') }}</a></li>
      </ul>
    </div>
    {#
      afaict, this button is never shown. products.js is looking for a
      data-latest-version attribute on the .download-button element above,
      but it's not present. this should be fixed?
    #}
    <div class="refresh-firefox">
      <p class="help-text">{{ _('Give Firefox a tune up') }}</p>
      <a data-mozilla-ui-reset="reset" class="download-button sumo-button primary-button button-lg">
        {{ _('Refresh Firefox') }}
      </a>
      <ul class="download-info text-body-xs">
        <li><a class="reset-link" href="{{ url('wiki.document', 'refresh-firefox-reset-add-ons-and-settings') }}">
          {{ _('How does it work?') }}
        </a></li>
        <li>
          <a href="https://www.mozilla.org/firefox/new/#download-fx"
            data-event-category="Download Button"
            data-event-action="Panel Opening"
            data-event-label="{{ latest_version }}">
            {{ _('Download a fresh copy') }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endmacro %}

{% macro field(field=None, extra_classes=None) %}
<div class="field{% if extra_classes %} {{ extra_classes }}{% endif %}{% if field.errors %} has-error{% endif %}">

  <label for="{{ field.id_for_label }}">{{ field.label }}</label>

  {{ field }} {# Entire input field is generated by Django #}

  {% if field.errors %}
    {% for error in field.errors %}
    <span class="form-error is-visible">{{ error|safe }}</span>
    {% endfor %}
  {% endif %}

  {% if field.help_text %}
    <p class="help-text">{{ field.help_text|safe }}</p>
  {% endif %}
</div>
{% endmacro %}

{% macro checkbox(field=None, extra_classes=None) %}
<div class="field checkbox{% if extra_classes %} {{ extra_classes }}{% endif %}{% if field.errors %} has-error{% endif %}">
  {{ field }} {# Entire input field is generated by Django #}
  <label for="{{ field.id_for_label }}">{{ field.label }}</label>

  {% if field.errors %}
    {% for error in field.errors %}
    <span class="form-error is-visible">{{ error|safe }}</span>
    {% endfor %}
  {% endif %}

  {% if field.help_text %}
    <p class="help-text">{{ field.help_text|safe }}</p>
  {% endif %}
</div>
{% endmacro %}

{% macro featured_articles(articles, new_tab=False) %}
  <div class="sumo-card-grid is-four-wide" style="--cg-count: 4;">
    <div class="scroll-wrap">
      {% for doc in articles %}
        <div class="card card--article zoom-on-hover">
          <img class="card--icon-sm" src="{{ static('protocol/img/icons/reader-mode.svg') }}" alt="{{ doc.title }}" />
          <div class="card--details">
            <h3 class="card--title">
              <a class="expand-this-link"
                href="{{ url('wiki.document', doc.slug)  }}"
                {% if new_tab %}
                  target="_blank"
                {% endif %}
                data-event-category="link click"
                data-event-action="product"
                data-event-label="#{{ doc.title }}">{{ doc.title }}</a>
            </h3>
            <p class="card--desc">
              {{ doc.current_revision.summary }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}
