{% extends 'mobile/base.html' %}

{% from "includes/common_macros.html" import list_view_item %}
{% from "wiki/includes/document_macros.html" import related with context %}
{% from "wiki/includes/document_macros.html" import contributor_list, document_title, document_messages, document_content  %}
{% from "wiki/mobile/includes/document_macros.html" import vote_form with context %}

{% set title = _('{t} | {c}')|f(t=document.title, c=document.get_category_display()) %}
{% set headline = title %}

{% if products.all()[0] and topics.all()[0] %}
  {% set return_url = url('products.documents', product_slug=products.all()[0].slug, topic_slug=topics.all()[0].slug) %}
{% elif products.all()[0] %}
  {% set return_url = url('products.product', slug=products.all()[0].slug) %}
{% else %}
  {% set return_url = url('products') %}
{% endif %}

{% set show_search = 'bottom' %}
{% set include_showfor = True %}
{% set styles = ('mobile/wiki',) %}
{% set classes = 'document' %}
{% set scripts = ('mobile/wiki',) %}
{% set canonical_url = document.get_absolute_url() %}
{% if document.is_template or document.is_archived %}
  {% set meta = (('robots', 'noindex'),) %}
{% endif %}

{% if document.parent %}
  {# If there is a parent doc, use it's URL for switching locales. #}
  {% set localizable_url = url('wiki.document', document.parent.slug, locale=settings.WIKI_DEFAULT_LANGUAGE) %}
{% endif %}

{% block content %}
  <div class="title-bar">{{ document_title(document) }}</div>
  <article id="wiki-doc">
    {{ document_messages(document, redirected_from) }}
    {{ document_content(document, fallback_reason, request, settings) }}

    {{ related(related_documents, _('Related Articles'), 'document_title') }}
    {{ related(related_questions,  _('Related Questions'), 'question_title') }}

    {% if not waffle.switch('hide-voting') %}
      {{ vote_form(document, source='mobile') }}
    {% endif %}

    {{ contributor_list(contributors) }}
  </article>
{% endblock %}
