{% extends "base.html" %}

{% set crumbs = [(url('kbadge.badges_list'), _('Badges')), (url('kbadge.awards_list'), _('Recently Awarded')), (None, display_badge_title(badge.title))] %}

{% block content %}
  <h1 class="sumo-page-heading">
    {% trans badge_name=display_badge_title(badge.title) %}
      Awarded badge: {{ badge_name }}
    {% endtrans %}
  </h1>

  <div class="card elevation-01 lg-pad mb" data-slug="{{ badge.slug }}">
    <div class="avatar-group">
      {% if badge.image %}
        <figure class="avatar-group--figure text-center">
          <a href="{{ badge.get_absolute_url() }}">
            <img src="{{ badge.image.url }}" alt="{{ display_badge_title(badge.title) }}" width="160" height="160" />
          </a>
        </figure>
      {% endif %}

      <div class="avatar-group--details">
        <dl class="sumo-dl">
          {% if badge.description %}
            <dt><strong>{{ _('Description:') }}</strong></dt>
            <dd>{{ display_badge_description(badge.description) }}</dd>
          {% endif %}

          {% if badge.creator %}
            <dt><strong>{{ _('Creator:') }}</strong></dt>
            <dd>
              <img class="avatar" src="{{ profile_avatar(badge.creator) }}" alt="{{ display_name(badge.creator) }}" width="24" height="24" />
              <a rel="nofollow" href="{{ profile_url(badge.creator) }}">{{ display_name(badge.creator) }}</a>
            </dd>
          {% endif %}

          <dt><strong>{{ _('Created:') }}</strong></dt>
          <dd>{{ datetimeformat(badge.created) }}</dd>

          <dt><strong>{{ _('Modified:') }}</strong></dt>
          <dd>{{ datetimeformat(badge.modified) }}</dd>
        </dl>
      </div>
    </div>
  </div>

  <h2 class="sumo-page-subheading">{{ _('Award details') }}</h2>

  <div class="card elevation-01 lg-pad mb">
    <div class="avatar-group">
      <figure class="avatar-group--figure text-center">
        <a rel="nofollow" href="{{ profile_url(award.user) }}">
          <img class="avatar" src="{{ profile_avatar(award.user) }}" alt="{{ display_name(award.user) }}" width="96" height="96" />
        </a>
        <figcaption class="award-awardee-name">
          <a rel="nofollow" href="{{ profile_url(award.user) }}">{{ display_name(award.user) }}</a>
        </figcaption>
      </figure>

      <div class="avatar-group--details">
        <dl class="sumo-dl">
          {% if award.description %}
            <dt><strong>{{ _('Explanation:') }}</strong></dt>
            <dd>{{ award.description }}</dd>
          {% endif %}

          {% if award.creator %}
            <dt><strong>{{ _('Awarded by:') }}</strong></dt>
            <dd>
              <img class="avatar" src="{{ profile_avatar(award.creator) }}" alt="{{ display_name(award.creator) }}" width="24" height="24" />
              <a rel="nofollow" href="{{ profile_url(award.creator) }}">{{ display_name(award.creator) }}</a>
            </dd>
          {% endif %}

          <dt><strong>{{ _('Issued on:') }}</strong></dt>
          <dd>{{ datetimeformat(award.created) }}</dd>
        </dl>
      </div>
    </div>
  </div>

{% endblock %}
