{% extends "base.html" %}

{% set crumbs = [(None, _('Badges'))] %}

{% block contentwrap %}
<div id="main-content">
  <section class="mzp-l-content sumo-page-section--inner">
    {% block breadcrumbs %}
      {{ breadcrumbs(crumbs, id='main-breadcrumbs') }}
    {% endblock %}
    <h1 class="sumo-page-heading">{{ _('All available SUMO badges') }}</h1>
  </section>
  <section class="mzp-l-content sumo-page-section--inner">

    <div class="sumo-card-grid">
      <div class="scroll-wrap">
        {% for badge in badges.object_list %}
          {% if badge.image %}
            {% set badge_image = badge.image.url %}
          {% else %}
            {% set badge_image = webpack_static('kbadge/img/default-badge.png') %}
          {% endif %}
          <div class="card elevation-01 zoom-on-hover">
            <div class="card--horizontal">
              <img class="card--img" src="{{ badge_image }}" alt="" title="{{ pgettext('DB: badger.Badge.title', badge.title) }}">
              <h3 class="card--title">
                <a class="expand-this-link" href="{{ badge.get_absolute_url() }}">
                  {{ pgettext('DB: badger.Badge.title', badge.title) }}
                </a>
              </h3>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  {% if badges.object_list %}
    {{ badges|paginator }}
  {% endif %}
  </section>
</div>
{% endblock %}
