{# vim: set ts=2 et sts=2 sw=2: #}
{% macro related_articles(related, document) -%}
  {% if waffle.flag('new-theme') %}
    {% if related %}
      <aside id="doc-related" class="folding-section">
        <header>{{ _('Related Articles') }}</header>
        <section>
          <ul>
            {% for art in related %}
              <li><a href="{{ art.get_absolute_url() }}">{{ art.title }}</a></li>
            {% endfor %}
          </ul>
        </section>
      </aside>
    {% endif %}
  {% else %}
    {% if related %}
      <section id="related-articles">
        <h1>{{ _('Related Articles') }}</h1>
        <ul>
          {% for art in related %}
            <li><a href="{{ art.get_absolute_url() }}">{{ art.title }}</a></li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
  {% endif %}
{%- endmacro %}

{% macro contributor_list(contributors) -%}
  <section id="doc-contributors">
    {% trans contributors=user_list(contributors) %}
      Contributors to this page: {{ contributors }}
    {% endtrans %}
  </section>
{%- endmacro %}

{% macro document_title(document) -%}
  <h1 class="title">{{ document.title }}</h1>
{%- endmacro %}

{% macro document_messages(document, redirected_from) -%}
  {% if redirected_from %}
    <div id="redirected-from">
      {{ _('(Redirected from <a href="{href}">{title}</a>)')|fe(href=redirected_from.get_absolute_url()|urlparams(redirect='no'), title=redirected_from.title) }}
    </div>
  {% endif %}
  {% if document.is_majorly_outdated() %}
    <div class="warning-box">
      {% trans url=document.parent.get_absolute_url(), title=document.parent.title %}
        <p>This article may be out of date.</p>
        <p>
          An important change has been made to the English article on which
          this is based. Until this page is updated, you might find this
          helpful: <a href="{{ url }}">{{ title }}</a>
        </p>
      {% endtrans %}
    </div>
  {% endif %}
  {% if document.is_archived %}
    <div class="warning-box">
        <p>
          {% trans %}
            This article is no longer maintained, so its content might be out
            of date.
          {% endtrans %}
        </p>
    </div>
  {% endif %}
{%- endmacro %}

{% macro document_content(document, fallback_reason, request, settings) -%}
  <section id="doc-content">
    {% if not fallback_reason %}
      {{ document.html|safe }}
    {% elif fallback_reason == 'no_translation' %}
      <div id="doc-pending-fallback" class="warning-box">
        {% trans help_link=url('wiki.document', 'localize-firefox-help') %}
          No one has helped translate this article yet.
          <a href="{{ help_link }}">Join us and help get the job done!</a>
        {% endtrans %}
      </div>
      {{ document.html|safe }}
    {% elif fallback_reason == 'translation_not_approved' %}
      <div id="doc-pending-fallback" class="warning-box">
        {# L10n: This is shown for existing, never-approved translations #}
        {% trans %}
          Our volunteers are working on translating this article.
          Until it's ready, maybe the English version can be of some help.
        {% endtrans %}
      </div>
      {% if document.locale == settings.WIKI_DEFAULT_LANGUAGE %}
        {# This is the actual fallback document, show it. #}
        {{ document.html|safe }}
      {% else %}
        {{ document.parent.html|safe }}
      {% endif %}
    {% else %}
      {{ _("This article doesn't have approved content yet.") }}
    {% endif %}
  </section>
{%- endmacro %}

{% macro topic_list(topics) -%}
  {% set comma = joiner(', ') %}
  {% for topic in topics -%}
    {{ comma() }}
    <a href="{{ url('wiki.topic', topic.slug) }}">{{ _(topic.name) }}</a>
  {%- endfor %}
{%- endmacro %}

{% macro edit_messages(document, show_revision_warning) -%}
  {% if show_revision_warning %}
    <div class="warning-box">
      {% trans url=url('wiki.document_revisions', document.slug) %}
        Warning: There are newer unreviewed revisions of this article.
        See <a href="{{url}}">the history</a> to base your edit on an
        existing unreviewed revision.
      {% endtrans %}
    </div>
  {% endif %}
{%- endmacro %}

{% macro revision_diff(revision_from, revision_to, revision_from_header=None, revision_to_header=None, show_picker=False) -%}
  {% if revision_from and revision_to %}
    <div class="revision-diff">
      <header>
        {% if show_picker %}
          <div class="picker">
            <a href="{{ url('wiki.document_revisions', revision_from.document.slug)|urlparams(locale=revision_from.document.locale) }}">{{ _('Change Revisions') }}</a>
          </div>
        {% endif %}
        <div>
          <h3>
            {% if revision_from_header %}
              {{ revision_from_header}}
            {% else %}
              <a href="{{ url('wiki.revision', revision_from.document.slug, revision_from.id) }}">
                {{ _('Revision {num}:')|f(num=revision_from.id) }}
              </a>
            {% endif %}
          </h3>
          <p>{{ _('Revision {id} by {user} on {date}')|fe(id=revision_from.id, user=revision_from.creator, date=datetimeformat(revision_from.created, format='longdatetime')) }}</p>
        </div>
        <div>
          <h3>
            {% if revision_to_header %}
              {{ revision_to_header}}
            {% else %}
              <a href="{{ url('wiki.revision', revision_to.document.slug, revision_to.id) }}">
                {{ _('Revision {num}:')|f(num=revision_to.id) }}
              </a>
            {% endif %}
          </h3>
          <p>{{ _('Revision {id} by {user} on {date}')|fe(id=revision_to.id, user=revision_to.creator, date=datetimeformat(revision_to.created, format='longdatetime')) }}</p>
        </div>
      </header>
      <h4>{{ _('Keywords:') }}</h4>
      <div>
        <p>{{ revision_from.keywords }}</p>
      </div>
      <div>
        <p>{{ revision_to.keywords }}</p>
      </div>
      <h4>{{ _('Search results summary:') }}</h4>
      <div>
        <p>{{ revision_from.summary }}</p>
      </div>
      <div>
        <p>{{ revision_to.summary }}</p>
      </div>
      <h4>{{ _('Content:') }}</h4>
      {{ diff_table(revision_from.content, revision_to.content) }}
    </div>
  {% endif %}
{%- endmacro %}

{% macro document_watch(document, user) -%}
  {% if user.is_authenticated() and document %}
    <div id="doc-watch">
      {% if document.is_watched_by(user) %}
        <form action="{{ url('wiki.document_unwatch', document.slug) }}" method="post">
          {{ csrf() }}
          <input type="submit" class="link-btn" value="{{ _('Stop article emails') }}" />
        </form>
      {% else %}
        <form action="{{ url('wiki.document_watch', document.slug) }}" method="post">
          {{ csrf() }}
          <input type="submit" class="link-btn" value="{{ _('Email me article changes') }}" />
        </form>
      {% endif %}
    </div>
  {% endif %}
{%- endmacro %}

{% macro submit_revision(form, buttons_only=False) -%}
  <div class="submit">
    <button class="btn btn-important btn-submit" type="submit">{{ _('Submit for Review') }}</button>
    <input class="btn-preview" data-preview-url="{{ url('wiki.preview') }}" type="button" value="{{ _('Preview Content') }}" disabled="disabled" />
  </div>
  {% if not buttons_only %}
    <div>{# Dummy wrapper so modal doesn't get shown by details/summary code #}
      <div id="submit-modal" class="kbox" title="{{ _('Submit Your Changes') }}" data-target=".btn-submit" data-modal="true">
        <p>
          {% trans %}You rock! We'll send an email to let you know if your changes get approved. You
          can follow the discussion about this article by clicking the Discussion tab.{% endtrans %}
        </p>
        <div class="comment">
          <label for="id_comment">{{ _('Briefly describe your changes:') }}</label>
          {{ form.comment|safe }}
        </div>
        <div class="notifications">
          <label>
            <input type="checkbox" name="notify-future-changes" value="Yes" />
            {{ _('Notify me of any future changes to this page') }}
          </label>
        </div>
        <button class="btn btn-important" type="submit">{{ _('Submit') }}</button>
        <a class="kbox-cancel" href="#cancel">{{ _('Cancel') }}</a>
      </div>
    </div>
  {% endif %}
{%- endmacro %}

{% macro show_for(header=None) -%}
  {# This macro needs to be imported with context to access oses, oses_json,
     browsers, browsers_json and version_group_json variables. #}
  {% if not header %}
    {% set header = _('Help with:') %}
  {% endif %}
  <section id="support-for">
    <h1>{{ header }}</h1>
    <div>
      <select id="os" data-oses="{{ oses_json }}" class="enable-if-js" disabled="disabled">
        {% for label, options in oses %}
          {% for _, name, slug, show, default in options if show %}
            <option value="{{ slug }}" data-dependency="{{ label[1] }}"{% if default %}{% if label[1] == 'desktop' %} selected="selected"{% endif %} data-default="true"{% endif %}>{{ name }}</option>
          {% endfor %}
        {% endfor %}
      </select>
    </div>
    <div>
      <select id="browser" data-browsers="{{ browsers_json }}" data-version-groups="{{ version_group_json }}" class="enable-if-js" disabled="disabled">
        {% for label, options in browsers %}
          <optgroup label="{{ label[0] }}">
            {% for option in options if option.show_in_ui %}
              <option value="{{ option.slug }}" data-dependency="{{ label[1] }}"{% if option.is_default %}{% if label[1] == 'desktop' %} selected="selected"{% endif %} data-default="true"{% endif %}>{{ option.name }}</option>
            {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
    </div>
  </section>
{%- endmacro %}

{% macro vote_form(document, header=None) -%}
  {% if not header %}
    {% set header = _('Was this article helpful?') %}
  {% endif %}
  {% if document.allows_vote(request) %}
    <div class="document-vote">
      <form class="helpful" action="{{ url('wiki.document_vote', document_slug=document.slug) }}" method="post">
        <p>
          <span>{{ header }}</span>
          <input type="hidden" name="revision_id" value="{{ document.current_revision.id }}" />
          <input type="submit" class="btn" name="helpful" value="{{ _('Yes') }}" />
          <input type="submit" class="btn" name="not-helpful" value="{{ _('No') }}" />
          <img class="wait" src="{{ settings.MEDIA_URL }}img/customercare/spinner.gif" alt="{{ _('Please wait...') }}" />
        </p>
      </form>
    </div>
  {% endif %}
{%- endmacro %}

{% macro revision_contributors_label(contributors) -%}
  {# This macro is used in the reject and approve revision modals #}
  {% if contributors|length == 1 %}
    {{ _('Leave a message for {contributor}: ')|fe(contributor=contributors[0]) }}
  {% else %}
    {{ _('Leave a message for {rest} and {last}:')|fe(rest=', '.join(contributors[:-1]), last=contributors[-1]) }}
  {% endif %}
{%- endmacro %}
