{# vim: set ts=2 et sts=2 sw=2: #}
<div>{# Dummy wrapper so modal doesn't get shown by details/summary code #}
  <div id="ready-for-l10n-modal" class="kbox" title="{{ _('Mark as Ready for Localization') }}" data-target="#revision-list div.l10n > a.markasready" data-modal="true">
    {{ csrf() }}
    <div>
      <p>
        {% trans %}You are about to mark this revision <span class="revtime"></span> as Ready for Localization. Are you sure you wish to proceed?{% endtrans %}
      </p>
    </div>
    <br />
    <button class="btn btn-important" id="submitl10n" type="submit">{{ _('Submit') }}</button>
    <a class="kbox-cancel" href="#cancel">{{ _('Cancel') }}</a>
  </div>
</div>