{% macro revision(rev) %}

  <li>
    <div class="date">
      {{ rev.Revision }}
      <a href="{{ rev.get_absolute_url() }}" rel="nofollow, noindex">
        {{ datetimeformat(rev.created, format='datetime') }}
      </a>
    </div>
    <div class="title">
      <span class="locale">{{ rev.document.locale }}</span>
      <a href="{{ rev.document.get_absolute_url() }}">{{ rev.document.title }}</a>
    </div>
    <div class="comment wider">{{ rev.comment|linkify|safe }}</div>
    <div class="creator">
      <a href="{{ rev.creator.get_absolute_url() }}">
        {{ display_name(rev.creator) }}
      </a>
    </div>
  </li>

{% endmacro %}

<ul>
  <li class="header">
    <div class="date">Revision</div>
    <div class="title">Title</div>
    <div class="comment wider">Comment</div>
    <div class="creator">Editor</div>
  </li>

  {% for rev in revisions %}
    {{ revision(rev) }}
  {% endfor %}
</ul>

{{ revisions|paginator }}
