{# vim: set ts=2 et sts=2 sw=2: #}
<div id="unhelpful-survey">
    <form action="{{ url('wiki.unhelpful_survey') }}" method="post">
        <input type="hidden" name="vote_id" value="{{ vote_id }}" />
        <p>{{ _('Sorry to hear that.') }}</p>
        <ul id="helpful-contents">
            <li><label><input type="radio" name="unhelpful-reason" value="confusing" />{{ _('Confusing') }}</label></li>
            <li><label><input type="radio" name="unhelpful-reason" value="didnt-work" />{{ _("Solution didn't work") }}</label></li>
            <li><label><input type="radio" name="unhelpful-reason" value="too-long" />{{ _('Too long') }}</label></li>
            <li><label><input type="radio" name="unhelpful-reason" value="other" />{{ _('Other') }}</label></li>
            <li><label><input type="radio" name="unhelpful-reason" value="firefox-feedback" />{{ _('I have feedback about Firefox') }}</label></li>
        </ul>
        <textarea name="comment" placeholder="{{ _('Tell us more.') }}"></textarea>
        <p class="character-counter">
          <span id="remaining-characters">600</span> {{_('characters remaining.') }}
        </p>
        <input type="submit" name="button" value="{{ _('Submit') }}" />
        <p class="disabled-reason">
          {{ _('Please provide more details') }}
        </p>
    </form>
</div>
