{# vim: set ts=2 et sts=2 sw=2: #}
<div id="unhelpful-survey">
    <form action="{{ url('wiki.unhelpful_survey') }}" method="post">
        <input type="hidden" name="vote_id" value="{{ vote_id }}" />
        <p>{{ _('Sorry to hear that.') }}</p>
        <ul id="helpful-contents">
            <li><input type="checkbox" name="too-long" value="1" />{{ _('Too long') }}</li>
            <li><input type="checkbox" name="not-complete" value="1" />{{ _('Not complete') }}</li>
            <li><input type="checkbox" name="confusing" value="1" />{{ _('Confusing') }}</li>
            <li><input type="checkbox" name="overly-technical" value="1" />{{ _('Overly technical') }}</li>
            <li><input type="checkbox" name="incorrect-info" value="1" />{{ _('Incorrect info') }}</li>
            <li><input type="checkbox" name="didnt-work" value="1" />{{ _("Solution didn't work") }}</li>
            <li><input type="checkbox" name="wrong-topic" value="1" />{{ _('Wrong topic') }}</li>
            <li><input type="checkbox" name="other" value="1" />{{ _('Other') }}</li>
        </ul>
        <textarea name="comment" placeholder="{{ _('Tell us more.') }}"></textarea>
        <input type="submit" name="button" value="{{ _('Submit') }}" />
    </form>
</div>
