{% extends 'mobile/base.html' %}

{% set title = _('Products') %}
{% set headline = title %}
{% set styles = ('mobile-products',) %}

{% block content %}
  <ul id="products">
    {% for product in products %}
      <li>
        <a class="cf" href="{{ url('products.product', slug=product.slug) }}">
          <img src="{{ STATIC_URL }}sumo/img/blank.png" class="logo-sprite" {% if product.image and product.image_offset %}style="background-position: -50px -{{ 50 + (product.image_offset * 148) }}px;"{% endif %} alt="">
          <span class="title">{{ pgettext('DB: products.Product.title', product.title) }}</span>
          {{ pgettext('DB: products.Product.description', product.description) }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block head %}
  {% if products %}
    <style>
      #products > li > a > .logo-sprite {
        background-image: url({{ products[0].sprite_url(retina=False) }});
      }

      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
        #products > li > a > .logo-sprite {
          background-image: url({{ products[0].sprite_url() }});
          -webkit-background-size: 148px {{ products[0].sprite_height }}px;
          -moz-background-size: 148px {{ products[0].sprite_height }}px;
          background-size: 148px {{ products[0].sprite_height }}px;
        }
      }
    </style>
  {% endif %}
{% endblock %}
