{% extends 'mobile/base.html' %}

{% set title = pgettext('DB: products.Product.title', product.title) %}
{% set headline = title %}
{% set classes = 'product-landing' %}
{% set styles = ('mobile-products',) %}
{% set scripts = ('mobile-products',) %}
{% set return_url = url('products') %}

{% set canonical_url = canonicalize(model_url=product.get_absolute_url()) %}

{% block title %}{{ _('{product} Help')|fe(product=pgettext('DB: products.Product.title', product.title)) }}{% endblock %}

{% block after_header %}
{% endblock %}

{% block content %}
  {% if product.subproducts.exists() %}
    <ul id="products">
      {% for subproduct in product.subproducts.all() %}
        <li>
          <a class="cf" href="{{ url('products.product', slug=subproduct.slug) }}"  data-event-category="link click" data-event-action="product" data-event-label="{{ subproduct.title }}">
            <img src="{{ product.image_url }}" class="logo-sprite" alt="{{ pgettext('DB: products.Product.title', subproduct.title) }}">
            <span class="title">{{ pgettext('DB: products.Product.title', subproduct.title) }}</span>
            {{ pgettext('DB: products.Product.description', subproduct.description) }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <ul id="topics">
    {% for topic in topics %}
      <li>
        <a href="{{ url('products.documents', product_slug=product.slug, topic_slug=topic.slug) }}" class="cf"
        data-event-category="link click" data-event-action="topic" data-event-label="{{ topic.title }}">
          <img src="{{ STATIC_URL }}sumo/img/blank.png" class="topic-sprite topic-{{ topic.slug }}" alt="">
          {{ pgettext('DB: products.Topic.title', topic.title) }}
        </a>
      </li>
      {% if loop.last %}
          <li>
            <a href="{{ url('wiki.document', 'get-community-support') }}" class="cf"
            data-event-category="link click" data-event-action="topic" data-event-label="Get community support">
              <img src="{{ STATIC_URL }}sumo/img/blank.png" class="topic-sprite topic-get-community-support" alt="">
              {{ _('Get community support') }}
            </a>
          </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
