{% extends "wagtailadmin/admin_base.html" %}
{% load i18n wagtailadmin_tags sumo_tags %}
{% block titletag %}{{ _("Sign in") }}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block furniture %}
    <main class="content-wrapper" id="main">
        <h1>
        {% block branding_login %}
            {{ _("Mozilla Support CMS") }}
        {% endblock %}
        </h1>

        <div class="messages" role="status">
            {# Always show messages div so it can be appended to by JS #}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% block above_login %}{% endblock %}

        <p style="text-align:center; font-weight: bold; font-size: 150%">
            <a href="{% url 'oidc_authentication_init' %}?next=/cms">{{ _("Sign in via SSO") }}</a>
        </p>

        {% block below_login %}{% endblock %}

        {% block branding_logo %}
            <div class="login-logo">
                <img src="{% webpack_static 'sumo/img/mozilla-icon.png' %}" alt="{{ _("Mozilla Icon") }}"/>
            </div>
        {% endblock %}
    </main>
{% endblock %}
