apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ SUMO_APP_NAME }}
  name: {{ SUMO_NODEPORT_NAME }}
  namespace: {{ K8S_NAMESPACE }}
spec:
  type: NodePort
  selector:
    app: {{ SUMO_APP_NAME }}
    type: web
  ports:
    - name: https
      port: 443
      targetPort: {{ SUMO_ENV_PORT }}

