apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: {{ SUMO_APP_NAME }}
    type: cron
  name: {{ SUMO_CRON_DEPLOYMENT_NAME }}
  namespace: {{ K8S_NAMESPACE }}
spec:
  replicas: {{ SUMO_CRON_REPLICAS }}
  selector:
    matchLabels:
      app: {{ SUMO_APP_NAME }}
      type: cron
  strategy:
    rollingUpdate:
      maxSurge: {{ SUMO_CRON_MAX_SURGE }}
      maxUnavailable: {{ SUMO_CRON_MAX_UNAVAILABLE }}
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: {{ SUMO_APP_NAME }}
        type: cron
      name: {{ SUMO_CRON_DEPLOYMENT_NAME }}
      namespace: {{ K8S_NAMESPACE }}
    spec:
      containers:
      - args:
        - ./bin/run-cron.sh
        command:
        - /bin/bash
        - -c
        env:
        - name: ALLOWED_HOSTS
          value: "{{ SUMO_ENV_ALLOWED_HOSTS }}"
        - name: AXES_BEHIND_REVERSE_PROXY
          value: "{{ SUMO_ENV_AXES_BEHIND_REVERSE_PROXY }}"
        - name: CELERY_ALWAYS_EAGER
          value: "{{ SUMO_ENV_CELERY_ALWAYS_EAGER }}"
        - name: CSRF_COOKIE_SECURE
          value: "{{ SUMO_ENV_CSRF_COOKIE_SECURE }}"
        - name: DEBUG
          value: "{{ SUMO_ENV_DEBUG }}"
        - name: DOMAIN
          value: "{{ SUMO_ENV_DOMAIN }}"
        - name: ENABLE_WHITENOISE
          value: "{{ SUMO_ENV_ENABLE_WHITENOISE }}"
        - name: ENGAGE_ROBOTS
          value: "{{ SUMO_ENV_ENGAGE_ROBOTS }}"
        - name: ES_LIVE_INDEXING
          value: "{{ SUMO_ENV_ES_LIVE_INDEXING }}"
        - name: ES_USE_SSL
          value: "{{ SUMO_ENV_ES_USE_SSL }}"
        - name: HTTPS
          value: "{{ SUMO_ENV_HTTPS }}"
        - name: MEDIA_URL
          value: "{{ SUMO_ENV_MEDIA_URL }}"
        - name: NEW_RELIC_APP_NAME
          value: "{{ SUMO_ENV_NEW_RELIC_APP_NAME }}"
        - name: PIPELINE_ENABLED
          value: "{{ SUMO_ENV_PIPELINE_ENABLED }}"
        - name: PORT
          value: "{{ SUMO_ENV_PORT }}"
        - name: READ_ONLY
          value: "{{ SUMO_ENV_READ_ONLY }}"
        - name: SESSION_COOKIE_SECURE
          value: "{{ SUMO_ENV_SESSION_COOKIE_SECURE }}"
        - name: SITE_URL
          value: "{{ SUMO_ENV_SITE_URL }}"
        - name: STAGE
          value: "{{ SUMO_ENV_STAGE }}"
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              key: aws-access-key-id
              name: {{ SUMO_SECRETS_NAME }}
        - name: AWS_S3_CUSTOM_DOMAIN
          valueFrom:
            secretKeyRef:
              key: aws-s3-custom-domain
              name: {{ SUMO_SECRETS_NAME }}
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              key: aws-secret-access-key
              name: {{ SUMO_SECRETS_NAME }}
        - name: AWS_STORAGE_BUCKET_NAME
          valueFrom:
            secretKeyRef:
              key: aws-storage-bucket-name
              name: {{ SUMO_SECRETS_NAME }}
        - name: BROKER_URL
          valueFrom:
            secretKeyRef:
              key: broker-url
              name: {{ SUMO_SECRETS_NAME }}
        - name: CACHE_URL
          valueFrom:
            secretKeyRef:
              key: cache-url
              name: {{ SUMO_SECRETS_NAME }}
        - name: DATABASE_READ_ONLY_URL
          valueFrom:
            secretKeyRef:
              key: database-read-only-url
              name: {{ SUMO_SECRETS_NAME }}
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              key: database-url
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_AUTO_ARCHIVE_OLD_QUESTIONS
          valueFrom:
            secretKeyRef:
              key: dms-auto-archive-old-questions
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_CACHE_MOST_UNHELPFUL_KB_ARTICLES
          valueFrom:
            secretKeyRef:
              key: dms-cache-most-unhelpful-kb-articles
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_CALCULATE_CSAT_METRICS
          valueFrom:
            secretKeyRef:
              key: dms-calculate-csat-metrics
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_CLEAR_EXPIRED_AUTH_TOKENS
          valueFrom:
            secretKeyRef:
              key: dms-clear-expired-auth-tokens
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_COHORT_ANALYSIS
          valueFrom:
            secretKeyRef:
              key: dms-cohort-analysis
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_ENQUEUE_LAG_MONITOR_TASK
          valueFrom:
            secretKeyRef:
              key: dms-enqueue-lag-monitor-task
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_ESCALATE_QUESTIONS
          valueFrom:
            secretKeyRef:
              key: dms-escalate-questions
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_FIX_CURRENT_REVISIONS
          valueFrom:
            secretKeyRef:
              key: dms-fix-current-revisions
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_GENERATE_MISSING_SHARE_LINKS
          valueFrom:
            secretKeyRef:
              key: dms-generate-missing-share-links
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_PROCESS_EXIT_SURVEYS
          valueFrom:
            secretKeyRef:
              key: dms-process-exit-surveys
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_PURGE_HASHES
          valueFrom:
            secretKeyRef:
              key: dms-purge-hashes
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_REBUILD_KB
          valueFrom:
            secretKeyRef:
              key: dms-rebuild-kb
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_REINDEX_KB
          valueFrom:
            secretKeyRef:
              key: dms-reindex-kb
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_REINDEX_USERS_THAT_CONTRIBUTED_YESTERDAY
          valueFrom:
            secretKeyRef:
              key: dms-reindex-users-that-contributed-yesterday
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_RELOAD_QUESTION_TRAFFIC_STATS
          valueFrom:
            secretKeyRef:
              key: dms-reload-question-traffic-stats
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_RELOAD_WIKI_TRAFFIC_STATS
          valueFrom:
            secretKeyRef:
              key: dms-reload-wiki-traffic-stats
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_REMOVE_EXPIRED_REGISTRATION_PROFILES
          valueFrom:
            secretKeyRef:
              key: dms-remove-expired-registration-profiles
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_REPORT_EMPLOYEE_ANSWERS
          valueFrom:
            secretKeyRef:
              key: dms-report-employee-answers
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_SEND_POSTATUS_ERRORS
          valueFrom:
            secretKeyRef:
              key: dms-send-postatus-errors
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_SEND_WEEKLY_READY_FOR_REVIEW_DIGEST
          valueFrom:
            secretKeyRef:
              key: dms-send-weekly-ready-for-review-digest
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_SEND_WELCOME_EMAILS
          valueFrom:
            secretKeyRef:
              key: dms-send-welcome-emails
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_SURVEY_RECENT_ASKERS
          valueFrom:
            secretKeyRef:
              key: dms-survey-recent-askers
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_UPDATE_CONTRIBUTOR_METRICS
          valueFrom:
            secretKeyRef:
              key: dms-update-contributor-metrics
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_UPDATE_L10N_CONTRIBUTOR_METRICS
          valueFrom:
            secretKeyRef:
              key: dms-update-l10n-contributor-metrics
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_UPDATE_L10N_COVERAGE_METRICS
          valueFrom:
            secretKeyRef:
              key: dms-update-l10n-coverage-metrics
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_UPDATE_L10N_METRIC
          valueFrom:
            secretKeyRef:
              key: dms-update-l10n-metric
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_UPDATE_PRODUCT_DETAILS
          valueFrom:
            secretKeyRef:
              key: dms-update-product-details
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_UPDATE_TOP_CONTRIBUTORS
          valueFrom:
            secretKeyRef:
              key: dms-update-top-contributors
              name: {{ SUMO_SECRETS_NAME }}
        - name: DMS_UPDATE_WEEKLY_VOTES
          valueFrom:
            secretKeyRef:
              key: dms-update-weekly-votes
              name: {{ SUMO_SECRETS_NAME }}
        - name: ES_HTTP_AUTH
          valueFrom:
            secretKeyRef:
              key: es-http-auth
              name: {{ SUMO_SECRETS_NAME }}
        - name: ES_URLS
          valueFrom:
            secretKeyRef:
              key: es-urls
              name: {{ SUMO_SECRETS_NAME }}
        - name: NEW_RELIC_LICENSE_KEY
          valueFrom:
            secretKeyRef:
              key: new-relic-license-key
              name: {{ SUMO_SECRETS_NAME }}
        - name: REDIS_DEFAULT_URL
          valueFrom:
            secretKeyRef:
              key: redis-default-url
              name: {{ SUMO_SECRETS_NAME }}
        - name: REDIS_HELPFULVOTES_URL
          valueFrom:
            secretKeyRef:
              key: redis-helpfulvotes-url
              name: {{ SUMO_SECRETS_NAME }}
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              key: secret-key
              name: {{ SUMO_SECRETS_NAME }}
        - name: STATSD_CLIENT
          valueFrom:
            secretKeyRef:
              key: statsd-client
              name: {{ SUMO_SECRETS_NAME }}
        - name: STATSD_HOST
          valueFrom:
            secretKeyRef:
              key: statsd-host
              name: {{ SUMO_SECRETS_NAME }}
        - name: STATSD_PREFIX
          valueFrom:
            secretKeyRef:
              key: statsd-prefix
              name: {{ SUMO_SECRETS_NAME }}
        image: {{ SUMO_IMAGE }}:{{ SUMO_IMAGE_TAG }}
        imagePullPolicy: {{ SUMO_IMAGE_PULL_POLICY }}
        name: sumo-{{ TARGET_ENVIRONMENT }}-web
        resources:
          requests:
            cpu: {{ SUMO_CPU_REQUEST }}
            memory: {{ SUMO_MEMORY_REQUEST }}
          limits:
            cpu: {{ SUMO_CPU_LIMIT }}
            memory: {{ SUMO_MEMORY_LIMIT }}
      restartPolicy: Always
