---
apiVersion: v1
kind: Service
metadata:
  name: {{ kubernetes.app_name }}-nodeport
  namespace: {{ kubernetes.namespace }}
  labels:
    app: {{ kubernetes.app_name }}
    type: lb
spec:
  ports:
    - name: http
      port: 80
      targetPort: 8000
      protocol: TCP
  type: NodePort
  selector:
    app: {{ kubernetes.app_name }}
    type: web
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ kubernetes.app_name }}-ingress
  namespace: {{ kubernetes.namespace }}
  labels:
    app: {{ kubernetes.app_name }}
    type: lb
  annotations:
    alb.ingress.kubernetes.io/scheme: "internet-facing"
    alb.ingress.kubernetes.io/target-type: "ip"
    alb.ingress.kubernetes.io/certificate-arn: "{{ kubernetes.service_cert_arn }}"
    alb.ingress.kubernetes.io/healthcheck-interval-seconds: '10'
    alb.ingress.kubernetes.io/healthy-threshold-count: '2'
    alb.ingress.kubernetes.io/healthcheck-path: "/healthz/"
    alb.ingress.kubernetes.io/backend-protocol: "HTTP"
    alb.ingress.kubernetes.io/healthcheck-timeout-seconds: '5'
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    alb.ingress.kubernetes.io/ssl-redirect: '443'
    alb.ingress.kubernetes.io/tags: "environment={{ kubernetes.target_environment }},project=sumo"
    alb.ingress.kubernetes.io/load-balancer-attributes: "{{ kubernetes.load_balancer_attributes }}"
spec:
  ingressClassName: alb
  rules:
    - http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ kubernetes.app_name }}-nodeport
              port:
                number: 80
