{% from 'flagit/includes/macros.html' import date_by_user with context %}
<h3>{{ _('Title:') }}</h3>
<p class="title">{{ object.content_object.title }}</p>
<h3>{{ _('Content:') }}</h3>
<div class="content">{{ object.content_object.content_parsed }}</div>
<h3>{{ _('Created:') }}</h3>
<p class="created">
  {{ date_by_user(object.content_object.created, object.content_object.creator) }}
</p>
{% if object.content_object.updated_by %}
  <h3>{{ _('Updated:') }}</h3>
  <p class="updated">
    {{ date_by_user(object.content_object.updated, object.content_object.updated_by) }}
  </p>
{% endif %}
<h3>{{ _('Flagged:') }}</h3>
<p class="flagged">
  {{ date_by_user(object.created, object.creator) }}
</p>
<h3>{{ _('Take Action:') }}</h3>
<div class="actions">
  <a href="{{ object.content_object.get_absolute_url() }}">View</a>
  <a href="{{ url('questions.edit_question', object.content_object.id) }}">Edit</a>
  {% if user.has_perm('questions.delete_question') %}
    <a class="delete" href="{{ url('questions.delete', object.content_object.id) }}">{{ _('Delete') }}</a>
  {% endif %}
</div>
