.markup-toolbar-button.btn-cannedresponses {
    background-image: url(../img/icon.magic-hat.png);
}

#responses-area,
#response-list-area {
    float: left;
    text-align: center;
    width: 25%;
}

#response-list-area.filtered {
    width: 50%;
}

.category-list,
.response-list,
.response-preview-rendered .content {
    height: 88%;
    overflow-y: auto;
}
.response-list {
    margin: 0;
}
.response-list .sidebar-nav {
    margin-bottom: 0;
}

#responses-area {
    border-right: 1px dotted silver;
    padding-right: 0.2em;
}

#responses-area.filtered {
    display: none;
}

#response-list-area .heading-label,
#responses-area .heading-label {
    margin-bottom: 5px;
    margin-top: 0;
}

.preview-label {
    display: inline;
    padding-left: 20px;
}

.search {
    right: 1em;
    text-align: right;
    top: -.6em;
}

#filter-responses-field {
    width: 20em;
}

.status-indicator {
    list-style: none; 
    text-align: left;
}

.area {
    bottom: 3.5em;
    left: 0;
    overflow-y: hidden;
    position: absolute;
    top: 6.5em;
    width: 100%;
}

.area > div {
    height: 100%;
}

#response-content-area {
    float: right;
    width: 49%;
}

.response-preview,
.response-preview-rendered {
    height: 88%;
}

.response-preview {
    text-align: center;
}

.response-preview-rendered {
    display: none;
    margin-top: 0.5em;
    overflow: auto;
    width: 100%;
}

.response-preview-rendered .main-content {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0.5em 1em;
    padding: 1em 2em;
}

#response-content {
    height: 100%;
    width: 95%;
}

.status-indicator {
    text-transform: none;
    padding-left: 18px;
}

.preview-label.busy,
.status-indicator.busy {
    background-image: url(../img/customercare/spinner.gif);
    background-repeat: no-repeat;
}

.response-heading,
.response {
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 3px;
}

.response-heading.selected,
.response.selected {
    background-color: #5784bf;
    color: white;
}

#response-content-area .toggle-view {
    float: right;
    margin: 0.1em 1em;
}
