<div id="reply-modal" class="kbox" data-modal="true" title="{{ _('Reply') }}">
  <div id="reply-container">

    <div id="initial-tweet">
      <a href="" class="avatar" target="_blank"><img src="{{ STATIC_URL }}products/img/product_placeholder.png"  alt="" /></a>
      <img src="{{ STATIC_URL }}sumo/img/customercare/initial-tweet-arrow.png" alt="" id="arrow" />
      <span class="box">
        <a href="" class="twittername" target="_blank"></a>
        <a href="" class="permalink" target="_blank">
          <time datetime="{{ time }}">{{ time }}</time>
        </a>
        <div class="text">Army Of Awesome</div>
      </span>
    </div>

    <div id="replies">
      <h4>{{ _('What is your reply about?') }}</h4>
        <div id="accordion">
          {% for resp in canned_responses %}
          <h3><a href="#">{{ resp.title }}</a></h3>
          <div>
            <ul class="topics">
              {% for topic in resp.responses %}
              <li>
                <a class="reply-topic" href="#">{{ topic.title }}</a>
                <span class="snippet">{{ topic.response }}</span>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>


      <div class="hrbreak"></div>

      <div id="reply">
        <h4>{{ _('Get personal') }}</h4>
        <p class="desc">
          {% trans %}
            Tweak it and make it your own.
            Personalized messages go a long way in helping others.
          {% endtrans %}
        </p>
        <div class="container">
          <div class="character-counter">140</div>
          <form action="{{ url('customercare.twitter_post') }}" method="POST">
            {% csrf_token %}
            <div class="inner-container">
              <img src="{{ STATIC_URL }}sumo/img/customercare/reply-arrow.png" alt="{{ _('Reply') }}" id="reply-arrow" />
              <textarea id="reply-message"></textarea>
            </div>

            <span id="submit-message">{{ _('Your message was sent!') }}</span>
            <span id="error-message"></span>
            <button type="submit" class="submitButton" id="submit">{{ _('Submit') }} <img id="submit-busy" src="{{ STATIC_URL }}sumo/img/customercare/spinner.gif" alt="{{ _('Loading') }}" /></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
