{# vim: set ts=2 et sts=2 sw=2: #}
{% from 'includes/common_macros.html' import search_box, aux_nav with context %}
{% if request.locale == settings.WIKI_DEFAULT_LANGUAGE and waffle.flag('surveygizmo') %}
  {% set SURVEY_GIZMOS = (SURVEY_GIZMOS or []) + ['site_survey'] %}
{% endif %}
{% if request.locale == 'xx' %}
  {% set meta = [('robots', 'noindex')] %}
{% endif %}
<!DOCTYPE html>
<html class="no-js" lang="{{ request.locale }}" {% if DIR %}dir="{{ DIR }}"{% endif %}>
<head>
  {% block top_of_head %}{% endblock %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{% block title %}{% if title %}{{ title }} | {% endif %}{{ _('Mozilla Support', 'site_title') }}{% endblock %}</title>

  <link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}img/favicon.ico"/>
  <link rel="search" type="application/opensearchdescription+xml" title="{{ _('Firefox Help') }}" href="{{ url('search.plugin') }}"/>
  {% if feeds %}
    {% for feed in feeds %}
      <link rel="alternate" type="application/atom+xml" href="{{ feed[0] }}" title="{{ feed[1] }}"/>
    {% endfor %}
  {% endif %}

  {{ css('common') }}
  {{ css('print', 'print') }}
  {% for style in styles %}
    {{ css(style) }}
  {% endfor %}

  {% if request.locale == 'en-US' %}
    {# tabzilla is en-US only for now #}
    <link href="//www.mozilla.org/tabzilla/media/css/tabzilla.css" rel="stylesheet" />
  {% endif %}

  <!--[if lte IE 7]>
{{ css('ie') }}
<![endif]-->
  <!--[if IE 8]>
{{ css('ie8') }}
<![endif]-->

  {% if meta %}
    {% for tag in meta %}
      <meta name="{{ tag[0] }}" content="{{ tag[1] }}"/>
    {% endfor %}
  {% endif %}

  {% if refresh %}
    <meta http-equiv="refresh" content="{{ refresh[1] }};url={{ refresh[0] }}"/>
  {% endif %}

  {% if canonical_url %}
    <link rel="canonical" href="{{ canonical_url|safe }}" />
  {% endif %}

  <!--[if lt IE 9]>
{# html5-shiv.js must be inside <head/> to work. #}
<script src="{{ MEDIA_URL }}js/libs/html5-shiv.js"></script>
<![endif]-->
</head>
<body class="html-{{ DIR }} {{ classes }} {{ request.locale }}"
      data-readonly="{{ settings.READ_ONLY|json }}"
      data-for-os="{{ for_os|json }}"
      data-for-version="{{ for_version|json }}"
      data-usernames-api="{{ url('users.api.usernames') }}"
      data-media-url="{{ MEDIA_URL }}"
      {% if SURVEY_GIZMOS %}
        data-survey-gizmos="{{ SURVEY_GIZMOS|json }}"
      {% else %}
        data-survey-gizmos="[]"
      {% endif %}
      data-ga-push="{{ ga_push_attribute() }}"
{% if extra_body_attrs -%}
  {% for attr, val in extra_body_attrs.items() %}{{ attr }}="{{ val }}" {% endfor %}
{%- endif %}>

{% if settings.STAGE %}
  <div id="stage-banner">
    <div class="close-button">X</div>
    {{ _('This is a staging site, the content gets overwritten on the 1st of every month.<br>The production site is <a href="http://support.mozilla.org">here</a>.') }}
  </div>
{% endif %}

<div class="media-test"></div>

{# These will only be shown on small-ish screens, by media queries. #}
{% if request.MOBILE %}
  <div class="mobile-banner">
    <div class="close-button">X</div>
    <a href="javascript: history.back();">
      {{ _("This page doesn't have a mobile optimized version. Tap here to go back.") }}
    <a/>
  </div>
{% else %}
  <div class="mobile-banner">
    <div class="close-button">X</div>
    <a href="?{{ request.QUERY_STRING }}&mobile=1">
      {{ _('Tap here to go to the mobile version of the site.') }}
    </a>
  </div>
{% endif %}

<header>
  <div class="container_12 cf">
    <div class="grid_12">
      {% if request.locale == 'en-US' %}
        {# tabzilla is en-US only for now #}
        <a href="http://www.mozilla.org/" id="tabzilla">mozilla</a>
      {% else %}
        <a class="mozilla-tab" href="http://mozilla.org/"><img src="{{ MEDIA_URL }}img/mozilla-tab.png" alt="mozilla.org"></a>
      {% endif %}
      <div class="cf">
        <nav id="aux-nav" role="navigation">
          <ul>
            {{ aux_nav(user) }}
            {% set locale_url = url('sumo.locales') %}
            {% if localizable_url %}
              {% set locale_url = locale_url|urlparams(next=localizable_url) %}
            {% endif %}
            <li><a href="{{ locale_url }}" class="locale-picker">{{ settings.LANGUAGES[request.locale.lower()] }}</a></li>
          </ul>
        </nav>
      </div>
      <div class="cf">
        {% if not hide_header_search %}
          {{ search_box(settings, id='support-search', params=search_params) }}
        {% endif %}
        <a href="{{ url('home') }}"><img class="logo" alt="mozilla support" src="{{ MEDIA_URL }}img/mozilla-support.png" /></a>
      </div>
      <nav id="main-nav">
        <ul class="cf">
          <li><a href="{{ url('products') }}">{{ _('Products &amp; Services') }}</a></li>
          <li><a href="{{ url('wiki.landing') }}">{{ _('Help Articles') }}</a></li>
          <li><a href="{{ url('topics.topic', slug='hot') }}">{{ _('Hot Topics') }}</a></li>
          <li><a href="{{ url('wiki.document', 'mozilla-news') }}">{{ _('Mozilla News') }}</a></li>
          <li><a href="{{ url('wiki.document', 'superheroes-wanted') }}">{{ _('Help Other Users') }}</a></li>
          <li><a href="{{ url('wiki.document', 'suggestion-box') }}">{{ _('Suggestion Box') }}</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

{% block breadcrumbs %}
  {{ breadcrumbs(crumbs) }}
{% endblock %}

<div class="container_12 cf">
  <div class="grid_12">
    {% if messages %}
      <ul class="user-messages">
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% block above_main %}{% endblock %}
  </div>

  {% block outer_side %}
    <aside class="grid_3">
      {% block side_top %}{% endblock %}
      {% block side %}{% endblock %}
      {% block side_bottom %}{% endblock %}
    </aside>
  {% endblock %}

  {% block content %}{% endblock %}
</div>

<footer>
  <div class="container_12 cf">
    <div class="grid_2"><img src="{{ MEDIA_URL }}img/mozilla-logo.png" alt="Mozilla" /></div>
    <div class="grid_4 suffix_1">
      <div class="fineprint">
        {% trans %}
          Portions of this content are &copy;1998–2013
          <br>by individual mozilla.org contributors. Content
          <br>available under a
          <a href="//www.mozilla.org/foundation/licensing/website-content.html">Creative Commons license</a>.
        {% endtrans %}
      </div>
    </div>
    <div class="grid_2">
      <ul>
        <li><a href="http://www.mozilla.org/about/contact.html">{{ _('Contact Us') }}</a></li>
        <li><a href="http://www.mozilla.org/privacy-policy.html">{{ _('Privacy Policy') }}</a></li>
        <li><a href="http://www.mozilla.org/about/legal.html">{{ _('Legal Notices') }}</a></li>
        <li><a href="http://www.mozilla.org/legal/fraud-report/index.html">{{ _('Report Trademark Abuse') }}</a></li>
        <li><a href="https://github.com/mozilla/kitsune/">{{ _('Source Code') }}</a></li>
      </ul>
    </div>
    <div class="grid_2 suffix_1">
      <ul>
        <li><a href="http://www.twitter.com/mozilla">{{ _('Twitter') }}</a></li>
        <li><a href="http://www.facebook.com/mozilla">{{ _('Facebook') }}</a></li>
        <li><a href="http://affiliates.mozilla.org/">{{ _('Firefox Affiliates') }}</a></li>
        <li><a href="?{{ request.QUERY_STRING }}&mobile=1">{{ _('Switch to mobile site') }}</a></li>
      </ul>
    </div>
  </div>
</footer>{# /#footer #}

<script src="{{ url('jsi18n') }}build:{{ BUILD_ID_JS }}"></script>
<script src="{{ url('wafflejs') }}"></script>
{{ js('common') }}
<!--[if (gte IE 6)&(lte IE 8)]>
  {{ js('ie6-8') }}
<![endif]-->
{% for script in scripts %}
  {{ js(script) }}
{% endfor %}

{% if request.locale == 'en-US' %}
  {# tabzilla is en-US only for now #}
  <script src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
{% endif %}

{# Ethnio tracking - see bugs 683643 and 673544 #}
{% if waffle.flag('ethnio-all') %}
  <script type="text/javascript" language="javascript" src="//ethn.io/remotes/24561" async="true"></script>
{% endif %}
{# End Ethnio #}

{# Temporary Pontoon testing - bug 812176 #}
{% if settings.STAGE %}
  <script src="https://pontoon-dev.mozillalabs.com/pontoon.js"></script>
{% endif %}

{% block footer_script %}
{% endblock %}
</body>
</html>
