{% extends 'mobile/base.html' %}

{% set headline = _('Change email') %}
{% set title = headline %}

{% set styles = ('mobile-users',) %}
{% set classes = 'edit-profile edit-email' %}

{% set return_url = url('users.edit_my_profile') %}

{% block content %}
  <form class="details" method="post" action="{{ request.path }}">
    <p>
      {%- trans %}
        You will need to confirm the newly set email address to complete the
        change.
      {% endtrans -%}
    </p>

    {% csrf_token %}

    <label>{{ _('Email') }}</label>
    {{ form['email'] }}

    <div class="cf">
      <a class="btn" href="{{ url('users.edit_my_profile') }}">{{ _('Cancel') }}</a>
      <button class="btn btn-submit" type="submit">{{ _('Change email') }}</button>
    </div>
  </form>
{% endblock %}
