{% extends 'users/mobile/change_email.html' %}

{% set headline = _('Change email') %}
{% set title = headline %}

{% set styles = ('mobile-users',) %}
{% set classes = 'edit-profile edit-email' %}

{% set return_url = url('users.edit_my_profile') %}

{% block content %}
  <div class="details">
    <p>
      {%- trans new_email=email %}
        We've sent a confirmation to {{ new_email }}. Please follow the link
        in the confirmation to change your account's email.
      {% endtrans -%}
    </p>
  </div>
{% endblock %}
