{% extends 'mobile/base.html' %}

{% from 'includes/mobile/common_macros.html' import errorlist %}

{% set headline = _('Password reset') %}
{% set title = headline %}

{% set styles = ('mobile-users',) %}
{% set classes = 'pwreset' %}

{% block content %}
  <p>{%- trans %}
    Forgotten your password? Enter your email address below, and we'll send you
    instructions for setting a new one.
  {% endtrans -%}</p>

  {{ errorlist(form) }}

  <form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-submit">
      {{ _('Send password reset link') }}
    </button>
  </form>
{% endblock %}
