{% extends 'users/mobile/pw_reset_form.html' %}

{% from 'includes/mobile/common_macros.html' import errorlist %}

{% block content %}
  {% if validlink %}
    {{ errorlist(form) }}
    <form method="post" action="{{ request.path }}">
      {% csrf_token %}

      <label for="id_new_password1">{{ _('New password') }}</label>
      {{ form.new_password1 }}

      <label for="id_new_password2">{{ _('Confirm password') }}</label>
      {{ form.new_password2 }}

      <button type="submit" class="btn btn-submit">{{ _('Change password') }}</button>
    </form>
  {% else %}
    <p>{%- trans %}
      The password reset link was invalid, possibly because it has already been
      used.  Please request a new password reset.
    {% endtrans -%}</p>
  {% endif %}
{% endblock %}
