{% extends 'mobile/base.html' %}

{% from 'users/mobile/includes/macros.html' import register_form %}

{% set styles = ('mobile-users',) %}
{% set classes = 'register' %}
{% set title = _('Register or sign in') %}
{% set headline = title %}
{% set return_url = next_url %}

{% block content %}
  <div class="top-section">
    <h2>{{ _('Create a support account.') }}</h2>
    {% trans %}
      A support account lets us alert you when people respond to your question.
    {% endtrans %}
  </div>
  {% set action = url('users.register_contributor') if contributor else url('users.register') %}
  {{ register_form(form, action=action, contributor=contributor) }}
{% endblock %}
