{% extends 'mobile/base.html' %}

{% from 'includes/mobile/common_macros.html' import errorlist %}

{% set headline = _('Resend confirmation email') %}
{% set title = headline %}

{% set styles = ('mobile-users',) %}
{% set classes = 'resend-confirmation' %}

{% block content %}
  <p>
    {%- trans %} To activate your account you must first confirm your email
      address. Enter your email and submit the form below, and we will
      resend the confirmation email.
    {% endtrans -%}
  </p>
  {{ errorlist(form) }}
  <form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-submit">{{ _('Resend account confirmation email') }}</button>
  </form>
{% endblock %}
