/* Reset margin, padding, border
 * *********************************** */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0; }

/* Typography
 * *********************************** */
html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  line-height: 1.4; }

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box; }

a,
a:visited {
  color: inherit; }

/* Layout
 * *********************************** */
article,
aside,
footer,
header,
nav,
section,
main {
  display: block; }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: inherit; }

/* Elements
 * *********************************** */
table {
  border-collapse: collapse;
  border-spacing: 0; }

ol,
ul {
  list-style: none; }

img,
video {
  max-width: 100%; }

img {
  border-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none; }

/* Attributes & states
 * *********************************** */
[hidden] {
  display: none !important; }

[disabled] {
  cursor: not-allowed; }

:focus:not(:focus-visible) {
  outline: none; }

button,
input[type='search'],
input[type='submit'],
input.btn {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

/* Utility classes
 * *********************************** */
.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px; }
html {
  scroll-behavior: smooth; }

body {
  font-family: "Open Sans", X-LocaleSpecific, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zilla Slab", "Open Sans", X-LocaleSpecific, sans-serif;
  font-weight: normal; }

h1 {
  font-size: 3.6rem;
  line-height: 4.3rem;
  font-weight: 500; }

h2 {
  font-size: 3.6rem;
  line-height: 4.3rem;
  font-weight: 500; }

h3 {
  font-size: 2.2rem;
  line-height: 3.3rem;
  font-weight: 500; }

h4 {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 500; }

li,
p {
  font-size: 1.8rem;
  line-height: 3.3rem;
  font-weight: 400; }

article {
  color: #4A4A4F; }
  article h1,
  article h2,
  article h3,
  article h4,
  article h5 {
    color: #000; }
  article h1 {
    margin-top: 8rem;
    margin-bottom: 2rem; }
  article h2 {
    margin-top: 10rem;
    margin-bottom: 4rem; }
  article h3 {
    margin-top: 2rem;
    margin-bottom: 1rem; }
  article h4 {
    margin-top: 1.5rem;
    margin-bottom: .5rem; }
  article li,
  article p {
    margin-bottom: 3.3rem; }
  article a {
    font-weight: 600; }
  @media (max-width: 768px) {
    article h1 {
      margin-top: 4rem; }
    article h2 {
      margin-top: 8rem;
      margin-bottom: 2rem; } }

a {
  text-decoration: none;
  color: #0060DF; }
  a:hover {
    text-decoration: underline;
    color: #004aac; }
  a:visited {
    color: #5011b3; }

.section {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 20px;
  max-width: 960px; }

.divider {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 20px;
  max-width: 920px;
  height: 1px;
  background-color: #808080;
  margin-top: 80px;
  margin-bottom: 80px; }

@media (max-width: 768px) {
  h1 {
    font-size: 2.8rem;
    line-height: 3.3rem;
    font-weight: 500; }
  h2 {
    font-size: 2.8rem;
    line-height: 3.3rem;
    font-weight: 500; }
  h3 {
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 500; }
  li,
  p {
    font-size: 1.5rem;
    line-height: 2.7rem;
    font-weight: 400; }
  article li,
  article p {
    margin-bottom: 2.7rem; } }
button,
textarea {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible; }

textarea {
  border-radius: 2px;
  border: 1px solid #E5E7E8;
  resize: vertical; }
  textarea:focus {
    outline: none; }

.btn-l {
  display: inline-block;
  text-align: center;
  color: #FFF;
  background-color: #000;
  min-width: 180px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 4.7rem;
  padding: 1px 32px;
  border-radius: 2px;
  text-decoration: none;
  border: 2px solid #000;
  transition: all .1s ease-in-out; }
  .btn-l:hover, .btn-l:visited, .btn-l:focus {
    text-decoration: none;
    color: #FFF; }
  .btn-l:hover {
    background-color: #FFF;
    color: #000; }
  .btn-l:focus {
    background-color: #000;
    outline: none;
    color: #808080; }
  @media (max-width: 456px) {
    .btn-l {
      font-size: 1.3rem;
      line-height: 4.5rem;
      width: 100%; } }

input[type="submit"] {
  cursor: pointer; }
.top-nav {
  height: 95px;
  background-color: #000;
  padding: 0 25px;
  display: flex; }
  .top-nav .logo {
    align-self: center;
    min-width: 112px;
    height: 48px;
    background: url("https://static-media-prod-cdn.sumo.mozilla.net/static/sumo/img/mozilla-support-white.35b1f3cc6003.svg") center no-repeat;
    margin-top: 0;
    margin-right: 20px; }
  .top-nav svg {
    height: 32px;
    width: 50px;
    padding-right: 5px;
    display: flex;
    fill: #FFF; }
  .top-nav a {
    color: #FFF; }

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1; }
  .nav-menu ul,
  .nav-menu li {
    display: flex;
    align-items: center; }
  .nav-menu li {
    padding-left: 15px; }

.volunteer-button {
  padding: 2px 20px;
  line-height: 3.7rem;
  border: 2px solid #FFF;
  border-radius: 3.7rem;
  transition: all .15s ease-in-out; }
  .volunteer-button:hover, .volunteer-button:visited, .volunteer-button:focus {
    text-decoration: none; }
  .volunteer-button:hover {
    background-color: #f4f1f1;
    border-color: #f4f1f1;
    color: #000; }

@media screen and (max-width: 768px) {
  header .nav-menu {
    justify-content: flex-end; }
  header ul li:first-child {
    display: none; } }
#footer {
  margin-top: 60px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #000; }
  #footer > div {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 20px;
    max-width: 960px; }

.inner h5 {
  font-size: 2.2rem;
  line-height: 2;
  margin: 0 0 10px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Open Sans", X-LocaleSpecific, sans-serif; }

.inner a,
.inner p,
.inner li {
  color: #FFF;
  margin: 0; }

.footer-logo a {
  display: block; }
  .footer-logo a img {
    width: 84px; }

.social-links {
  display: flex;
  margin-top: 20px;
  margin-left: -12px; }
  .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: 16px;
    text-decoration: none; }
    .social-links a.twitter {
      background: url("twitter.4ffa580b.svg") center no-repeat; }
    .social-links a.youtube {
      background: url("youtube.a8c36f2f.svg") center no-repeat; }
    .social-links a.instagram {
      background: url("instagram.f4a28245.svg") center no-repeat; }

.lower-menu {
  margin-top: 30px;
  font-size: 1.2rem; }
  .lower-menu a {
    display: inline-block;
    margin: 5px 0; }
  .lower-menu a:not(:last-child) {
    margin-right: 20px; }

.license {
  margin-top: 10px; }
  .license a,
  .license p {
    font-size: 1.2rem;
    margin: 0;
    line-height: 2.2rem; }
  .license a {
    color: #868686; }

.language-picker {
  color: #FFF;
  font-size: 1.2rem;
  white-space: nowrap; }

.footer-accordion {
  display: flex;
  justify-content: space-evenly; }
  .footer-accordion .toggle-bar li {
    margin-bottom: 10px; }
  .footer-accordion input {
    display: none; }

@media screen and (min-width: 769px) {
  .inner .row {
    display: flex;
    width: 100%; }
  .license {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .language-picker {
    margin-left: 20px; }
  .footer-accordion {
    display: flex;
    justify-content: space-evenly;
    width: 100%; }
    .footer-accordion > li {
      margin-right: 25px;
      margin-left: 25px; } }

@media screen and (max-width: 768px) {
  .main-nav {
    flex-direction: column; }
  .language-picker {
    margin-top: 30px; }
  .footer-logo a {
    margin-bottom: 30px; }
  .footer-accordion {
    flex-direction: column; }
    .footer-accordion label {
      cursor: pointer; }
    .footer-accordion h5 {
      position: relative;
      border-bottom: 1px solid #979797; }
      .footer-accordion h5::after {
        position: absolute;
        right: 10px;
        top: calc(50% - 10px);
        background: url("chevron-down.339dd6f1.svg") center no-repeat;
        content: '';
        width: 20px;
        height: 18px;
        align-self: center;
        transition: all .15s ease-in-out; }
    .footer-accordion .toggle-bar {
      max-height: 0;
      overflow: hidden;
      transition: all 1s ease-in-out; }
    .footer-accordion input[type="radio"]:checked ~ .toggle-bar {
      max-height: 1000px; }
    .footer-accordion input[type="radio"]:checked + label > h5::after {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); } }
.search-form-large {
  border-top: 1px solid #D1D5D7;
  border-bottom: 1px solid #D1D5D7;
  background-color: #F9F9FA;
  padding-top: 40px;
  padding-bottom: 40px; }
  .search-form-large .inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 20px;
    max-width: 960px; }
  .search-form-large form {
    position: relative;
    z-index: 101; }
  .search-form-large input[type="search"]::-webkit-search-decoration,
  .search-form-large input[type="search"]::-webkit-search-cancel-button,
  .search-form-large input[type="search"]::-webkit-search-results-button,
  .search-form-large input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none; }
  .search-form-large input[type="search"] {
    position: relative;
    font-size: 1.6rem;
    color: #000;
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
    background: #FFF;
    height: 100%;
    box-shadow: none;
    outline: none;
    border: 1px solid #D1D5D7;
    padding: 15px 20px; }
    .search-form-large input[type="search"]::-webkit-input-placeholder {
      color: #000; }
    .search-form-large input[type="search"]:-ms-input-placeholder {
      color: #000; }
    .search-form-large input[type="search"]::-ms-input-placeholder {
      color: #000; }
    .search-form-large input[type="search"]::placeholder {
      color: #000; }
    .search-form-large input[type="search"]:focus {
      border-color: #0060DF; }
  .search-form-large button[type="submit"] {
    border: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    position: absolute;
    background: transparent url("icon_search.c041d4bf.svg") center no-repeat;
    width: 48px;
    height: 48px;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  @media (max-width: 768px) {
    .search-form-large {
      padding-top: 18px;
      padding-bottom: 18px; }
      .search-form-large input[type="search"] {
        font-size: 1.5rem;
        line-height: 1;
        padding: 12px; } }

.search-results {
  background-color: #FFF;
  border-radius: 2px;
  position: absolute;
  top: calc(100% + 2px);
  padding: 10px 20px;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  opacity: 0;
  max-height: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  transition: all .3s ease-in-out;
  overflow: hidden; }
  .search-results.visible {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    max-height: 1000px; }
  .search-results .title,
  .search-results li {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 15px 0;
    font-weight: bold; }
    .search-results .title a,
    .search-results li a {
      color: #000;
      font-weight: 400; }
  @media (max-width: 456px) {
    .search-results .title,
    .search-results li {
      font-size: 1.5rem;
      line-height: 2.7rem; } }
#breadcrumbs {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100; }
  #breadcrumbs .shadow {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: 0;
    background: #FFF;
    top: 86px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.34);
    z-index: -1; }

.breadcrumbs-wrap {
  background: #FFF;
  padding: 15px 0;
  width: 100%; }

.breadcrumbs,
.breadcrumbs .step {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #000;
  font-weight: 600; }

.breadcrumbs {
  position: relative;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 960px;
  z-index: 2; }
  .breadcrumbs li,
  .breadcrumbs p {
    font-size: 1.6rem;
    margin: 0; }
  .breadcrumbs .logo {
    max-height: 40px;
    -o-object-fit: contain;
       object-fit: contain;
    width: auto;
    margin-right: 10px;
    margin-bottom: 2px; }
  .breadcrumbs > li {
    position: relative;
    display: flex;
    padding: 10px 0; }
    .breadcrumbs > li:first-child .drop-menu {
      -webkit-transform: translateX(-20px) !important;
              transform: translateX(-20px) !important; }
    .breadcrumbs > li:not(:first-child):before {
      content: '/';
      display: inline-block;
      margin: 0 8px;
      color: #BEBEBE; }
    .breadcrumbs > li .drop-menu:before {
      content: '';
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      height: 85px;
      width: 100%;
      display: block;
      border-bottom: 1px solid #EDEDF0; }
  .breadcrumbs .step {
    position: relative;
    transition: color .15s ease-in-out;
    z-index: 0; }
  .breadcrumbs li:not(:last-child) .step {
    cursor: pointer; }
  .breadcrumbs .drop-menu {
    position: absolute;
    display: none;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.3);
    top: calc(50% - 42px);
    left: 0;
    right: auto;
    background: #FFF;
    z-index: 99;
    max-height: 80vh;
    overflow-y: scroll; }
    .breadcrumbs .drop-menu + .step:after {
      content: '';
      display: inline-block;
      background: transparent url("arrow-down.982e711d.svg") center no-repeat;
      background-size: 13px;
      width: 18px;
      height: 18px;
      margin-left: 8px;
      transition: all .15s ease-in-out; }
    .breadcrumbs .drop-menu ul {
      background-color: #FFF;
      padding: 20px;
      min-width: 220px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .breadcrumbs .drop-menu ul li {
        width: 220px;
        margin: 0; }
      .breadcrumbs .drop-menu ul .active a {
        position: relative;
        font-weight: bold;
        display: flex;
        flex-wrap: nowrap;
        align-items: center; }
        .breadcrumbs .drop-menu ul .active a:before {
          content: '';
          display: inline-block;
          padding: 7px 9px;
          margin: 0;
          background: transparent url("arrow-down.982e711d.svg") 50% 0 no-repeat;
          background-size: 12px;
          -webkit-transform: rotate(-90deg);
                  transform: rotate(-90deg); }
      .breadcrumbs .drop-menu ul a {
        display: inline-block;
        padding: 1.4rem 0;
        color: #000;
        line-height: 1.4; }
    .breadcrumbs .drop-menu [data-columns="2"] {
      min-width: 500px; }
    .breadcrumbs .drop-menu [data-columns="3"] {
      min-width: 750px; }
  .breadcrumbs .visible .step {
    z-index: 100; }
    .breadcrumbs .visible .step:after {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .breadcrumbs .visible .drop-menu {
    display: block; }
    .breadcrumbs .visible .drop-menu:before {
      background-color: #FFF; }
  @media (max-width: 768px) {
    .breadcrumbs {
      position: relative; }
      .breadcrumbs .logo {
        max-height: 12px;
        margin-right: 8px;
        margin-bottom: 1px; }
      .breadcrumbs li,
      .breadcrumbs p,
      .breadcrumbs a {
        font-size: 1.5rem;
        line-height: 1.4rem; }
      .breadcrumbs > li {
        position: static; }
        .breadcrumbs > li:first-child .drop-menu {
          -webkit-transform: none !important;
                  transform: none !important; }
        .breadcrumbs > li .drop-menu {
          border-top: 1px solid #EDEDF0;
          margin-top: 15px; }
          .breadcrumbs > li .drop-menu:before {
            display: none; }
      .breadcrumbs li {
        display: flex;
        align-items: center; }
        .breadcrumbs li:not(:first-child):before {
          margin: 0 10px; }
      .breadcrumbs .drop-menu {
        left: 0;
        right: 0;
        top: 100%;
        padding-top: 0; }
        .breadcrumbs .drop-menu + .step:after {
          width: 10px;
          margin-left: 6px;
          background-size: 10px; }
        .breadcrumbs .drop-menu ul {
          padding-top: 15px;
          display: block; }
          .breadcrumbs .drop-menu ul a {
            padding: 1rem 0; }
          .breadcrumbs .drop-menu ul .active a:before {
            padding: 6px;
            margin-right: 5px; }
      .breadcrumbs.active .step, .breadcrumbs.active:before,
      .breadcrumbs.active .step:after {
        opacity: .25; }
      .breadcrumbs.active li.visible .step, .breadcrumbs.active li.visible:before,
      .breadcrumbs.active li.visible .step:after {
        opacity: 1; } }
#doc-content .wiki-image {
  padding: 5px 0;
  vertical-align: middle; }
  #doc-content .wiki-image dt {
    margin-bottom: 4rem; }
    @media (max-width: 768px) {
      #doc-content .wiki-image dt {
        margin-bottom: 2rem; } }

.highlighter {
  background-color: #FFF8D4;
  box-shadow: 0px -4px 0 0 #FFF8D4, 0px 4px 0 0 #FFF8D4;
  padding-left: 3px;
  padding-right: 3px; }

article ol {
  counter-reset: custom-counter;
  margin-top: 5rem; }
  article ol > li {
    counter-increment: custom-counter;
    position: relative;
    padding-left: 36px;
    margin-bottom: 40px; }
    article ol > li p {
      margin-bottom: 40px; }
    article ol > li:before {
      font-size: 1.2rem;
      line-height: 22px;
      content: counter(custom-counter) " ";
      color: #0A84FF;
      border: 1px solid rgba(10, 132, 255, 0.13);
      background-color: rgba(10, 132, 255, 0.03);
      display: inline-block;
      width: 24px;
      height: 24px;
      text-align: center;
      margin-right: 12px;
      position: absolute;
      top: 4px;
      left: 0; }

article .note {
  color: #737373;
  margin: 4rem 0;
  background-color: #F9F9FA;
  padding: 28px 30px; }
  article .note p {
    margin: 0; }

article .video-container {
  margin: 4rem 0 10rem; }

@media (max-width: 768px) {
  article ol {
    margin: 7rem 0 6rem; }
    article ol > li {
      margin-bottom: 6rem; }
  article .note {
    margin: 3rem 0; }
  article .video-container {
    margin: 2rem 0; } }

#toc {
  margin: 8rem 0 10rem; }
  #toc ul {
    margin-top: 20px; }
  #toc li {
    margin-bottom: 10px; }
  #toc li a {
    position: relative;
    padding-left: 2.5rem; }
    #toc li a:before {
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      content: '';
      height: 16px;
      width: 13px;
      background: url("icon-bookmark-1.5c0b15df.svg") center no-repeat;
      background-size: contain; }
    #toc li a span {
      display: inline; }
      #toc li a span.tocnumber {
        display: none; }
  @media (max-width: 768px) {
    #toc {
      margin: 6rem 0; } }

/**
* vote-wrap
*/
.vote-wrap {
  margin: 100px 0 150px;
  border-radius: 2px;
  overflow: hidden;
  color: #4A4A4F;
  font-size: 1.8rem; }
  .vote-wrap .document-vote {
    background-color: #F7FAFE;
    padding: 40px; }
  .vote-wrap input {
    margin: 0; }
  .vote-wrap .helpful {
    display: flex;
    align-items: center; }
  .vote-wrap .header {
    font-weight: 600;
    flex: 1; }
  @media (max-width: 768px) {
    .vote-wrap {
      margin: 80px -20px; }
      .vote-wrap .header {
        font-size: 2.2rem;
        line-height: 3rem;
        margin-bottom: 30px;
        text-align: center; }
      .vote-wrap .helpful {
        flex-direction: column;
        justify-content: center; } }

.votes {
  box-shadow: 0 9px 14px -9px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  overflow: hidden; }
  .votes .wait {
    display: none; }
  .votes > .btn {
    border: 0;
    width: 50px;
    height: 40px;
    margin: 0;
    font-size: 2rem;
    background: #FFF;
    cursor: pointer; }
    .votes > .btn[name="helpful"] {
      padding: 1px 12px 1px 16px; }
    .votes > .btn[name="not-helpful"] {
      padding: 1px 16px 1px 12px; }
    .votes > .btn:hover, .votes > .btn:focus {
      outline: none;
      background-color: #E8F2FF; }
  @media (max-width: 768px) {
    .votes {
      border-radius: 30px; }
      .votes > .btn {
        width: 75px;
        height: 55px;
        font-size: 2.4rem; } }

.not-helpful-container {
  display: none;
  background-color: #F7FAFE;
  padding: 10px 20px 40px; }
  .not-helpful-container.visible {
    display: block; }
  .not-helpful-container .title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: bold;
    font-family: "Open Sans", X-LocaleSpecific, sans-serif;
    color: #4A4A4F;
    margin-bottom: 30px; }
  .not-helpful-container label {
    display: block;
    margin: 0 1px 8px; }
  .not-helpful-container textarea {
    margin-top: 26px;
    padding: 10px 16px;
    width: 100%;
    background-color: #FFF; }
  .not-helpful-container [type="submit"] {
    margin-top: 20px; }
  @media (max-width: 768px) {
    .not-helpful-container .title,
    .not-helpful-container label span,
    .not-helpful-container textarea {
      font-size: 1.5rem;
      line-height: 2.7rem;
      margin-bottom: 2.7rem; }
    .not-helpful-container .title {
      margin-bottom: 15px; }
    .not-helpful-container textarea {
      margin-top: 15px;
      margin-bottom: 0; }
    .not-helpful-container input[type="submit"] {
      margin-top: 20px; } }

.helpful-container {
  padding: 40px 40px 10px;
  background-color: #F4FEF3;
  border-radius: 2px;
  overflow: hidden;
  display: none;
  margin-top: 14px; }
  .helpful-container.visible {
    display: block; }
  .helpful-container p {
    font-weight: 600;
    margin-bottom: 30px; }
  .helpful-container svg {
    margin-right: 10px; }

.video-votes {
  display: flex;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 20px;
  position: relative; }
  .video-votes .votes {
    margin: 0 auto; }
  @media (max-width: 768px) {
    .video-votes ~ .not-helpful-container,
    .video-votes ~ .helpful-container {
      margin-left: -20px;
      margin-right: -20px; } }

/**
* contributors
*/
.contributors {
  margin-bottom: 32px;
  color: #737373;
  font-size: 1.6rem;
  line-height: 3.3rem; }
  .contributors .user {
    color: #737373;
    text-decoration: underline;
    transition: color .15s ease-in-out; }
    .contributors .user:hover {
      color: #000; }
  @media (max-width: 768px) {
    .contributors {
      font-size: 1.5rem;
      line-height: 2.7rem; } }

.help-link {
  margin: 20px 0 60px; }

/**
* Video slider
 */
.swiper-slide {
  background-size: cover;
  background-position: center; }

.gallery-container {
  max-width: 100%;
  overflow: hidden; }
  .gallery-container.gallery-top {
    margin-top: 3rem; }
    .gallery-container.gallery-top .gallery-wrapper {
      display: flex; }
      .gallery-container.gallery-top .gallery-wrapper .gallery-slide {
        border-radius: 2px;
        overflow: hidden;
        flex-shrink: 0; }
  .gallery-container.gallery-thumbs {
    padding: 0;
    overflow: hidden; }
    .gallery-container.gallery-thumbs .swiper-slide {
      border-radius: 2px;
      overflow: hidden;
      width: 90px;
      opacity: .4;
      display: inline-block; }
      .gallery-container.gallery-thumbs .swiper-slide img {
        max-height: 90px;
        -o-object-fit: contain;
           object-fit: contain; }
    .gallery-container.gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1; }
.wiki-related-documents h1 {
  margin-bottom: 0; }

.slider-wrapper {
  position: relative;
  max-width: 1020px;
  overflow: hidden;
  margin: 0 auto; }

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 20px;
  max-width: 960px;
  overflow: visible;
  width: 100%;
  height: 100%;
  position: initial;
  padding-top: 20px;
  padding-bottom: 20px; }
  .swiper-container .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto; }
    .swiper-container .swiper-slide a {
      height: 100%;
      text-decoration: none;
      background-color: #FFF;
      padding: 30px;
      border-radius: 2px;
      overflow: hidden;
      box-shadow: inset 0 0 0 1px #E5E7E8, 0 5px 22px -2px rgba(23, 49, 83, 0.08);
      transition: all .15s ease-in-out; }
      .swiper-container .swiper-slide a:hover, .swiper-container .swiper-slide a:visited, .swiper-container .swiper-slide a:focus {
        text-decoration: none; }
      .swiper-container .swiper-slide a:hover {
        -webkit-transform: scale(1.03);
                transform: scale(1.03);
        box-shadow: inset 0 0 0 3px #E5E7E8, 0 13px 32px -11px rgba(10, 26, 48, 0.16); }
      .swiper-container .swiper-slide a .title {
        color: #000;
        margin: 0 0 30px;
        font-weight: 600; }
      .swiper-container .swiper-slide a p {
        font-size: 1.6rem;
        line-height: 2.8rem;
        color: #4A4A4F;
        margin: 0; }
  .swiper-container .next,
  .swiper-container .prev {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    margin-right: -1px;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 86%);
    z-index: 2;
    width: 10%; }
  .swiper-container .prev {
    background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 86%);
    right: auto;
    left: 0;
    margin-left: -1px; }
  .swiper-container .prev,
  .swiper-container .next {
    outline: none; }
    .swiper-container .prev .icon,
    .swiper-container .next .icon {
      position: absolute;
      top: calc(50% - 21px);
      left: 10px;
      border-radius: 100%;
      background: #0060DF;
      border: 2px solid #0060DF;
      height: 42px;
      width: 42px;
      cursor: pointer;
      transition: all .15s ease-in-out;
      z-index: 3; }
      .swiper-container .prev .icon:hover,
      .swiper-container .next .icon:hover {
        background-color: #FFF;
        box-shadow: 0 5px 11px -4px rgba(10, 26, 48, 0.3); }
        .swiper-container .prev .icon:hover svg path,
        .swiper-container .next .icon:hover svg path {
          fill: #0060DF; }
      .swiper-container .prev .icon:active,
      .swiper-container .next .icon:active {
        background-color: #0060DF; }
        .swiper-container .prev .icon:active svg path,
        .swiper-container .next .icon:active svg path {
          fill: #4696ff; }
      .swiper-container .prev .icon svg,
      .swiper-container .next .icon svg {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
  .swiper-container .next .icon {
    left: auto;
    right: 10px;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  .swiper-container .prev .icon {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
    .swiper-container .prev .icon:hover {
      box-shadow: 0 -5px 11px -4px rgba(10, 26, 48, 0.5); }
  .swiper-container .swiper-button-disabled {
    opacity: 0;
    cursor: initial;
    background-color: #4696ff; }
  @media (max-width: 630px) {
    .swiper-container {
      margin-left: auto;
      margin-right: auto; }
      .swiper-container .swiper-slide {
        max-width: 290px; } }
  @media (max-width: 456px) {
    .swiper-container .swiper-slide a .title {
      margin-bottom: 20px; }
    .swiper-container .swiper-slide a p {
      font-size: 1.5rem; } }
.radio-btn {
  position: relative;
  display: flex;
  align-items: center; }
  .radio-btn input[type="radio"] {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    left: -9999px; }
  .radio-btn span {
    position: relative; }
    .radio-btn span:before {
      display: inline-block;
      content: '';
      margin-right: 8px;
      margin-bottom: -2px;
      width: 15px;
      height: 15px;
      background-color: #FFF;
      border-radius: 50%;
      box-shadow: inset 0 0 0 1px #E5E7E8;
      transition: all .15s ease-in-out; }
  .radio-btn:hover input[type="radio"]:not(disabled) span:before {
    border-color: #3B88FE; }
  .radio-btn input[type="radio"]:checked + span:before {
    box-shadow: inset 0 0 0 5px #3B88FE; }
  .radio-btn input[type="radio"]:disabled + span {
    opacity: .4; }
.js-toggle {
  cursor: pointer; }
  .js-toggle .overlay {
    display: none; }

.search-form-large .search-inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 20px;
  max-width: 960px; }

.option-b.search-form-large {
  position: relative;
  z-index: 101; }
  .option-b.search-form-large .search-inner {
    padding-left: 6px;
    display: flex;
    align-items: center; }
  .option-b.search-form-large form {
    flex-grow: 1;
    z-index: 99; }

.overlay {
  position: fixed;
  background-color: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; }

.hamburger {
  position: relative;
  height: 48px;
  width: 48px;
  z-index: 102;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .hamburger span {
    display: block;
    width: 16px;
    height: 2px;
    border-radius: 2px;
    background-color: #000;
    transition: all .1s ease-in-out;
    pointer-events: none; }
    .hamburger span:not(:last-child) {
      margin-bottom: 3px; }

.categories {
  z-index: 101; }
  .categories .title {
    display: flex;
    align-items: center;
    margin-right: 20px; }
    .categories .title > span {
      display: none;
      padding-right: 20px;
      font-weight: 600;
      font-size: 1.6rem; }
  .categories .visible + .categories-wrap,
  .categories .visible .overlay {
    display: block; }
  .categories .visible .hamburger span:nth-child(2) {
    opacity: 0; }
  .categories .visible .hamburger span:first-child {
    -webkit-transform: rotate(45deg) translate(4px, 4px);
            transform: rotate(45deg) translate(4px, 4px); }
  .categories .visible .hamburger span:last-child {
    -webkit-transform: rotate(-45deg) translate(3px, -3px);
            transform: rotate(-45deg) translate(3px, -3px); }

.categories-wrap {
  display: none;
  position: absolute;
  top: 0;
  left: -14px;
  right: 0;
  padding-top: 86px;
  background-color: #FFF;
  box-shadow: 0 5px 50px 0 rgba(23, 49, 83, 0.42);
  z-index: 2; }
  .categories-wrap .home {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 14px 30px; }
    .categories-wrap .home img {
      max-width: 20px;
      margin-right: 12px;
      margin-bottom: 2px;
      -o-object-fit: contain;
         object-fit: contain; }

.acc .active a {
  font-weight: bold; }

.acc > .title {
  padding: 14px 30px;
  border-top: 1px solid #D7D7DB;
  border-bottom: 1px solid transparent; }

.acc .title {
  font-size: 1.5rem;
  line-height: 2.7rem;
  font-weight: 400;
  position: relative;
  cursor: pointer;
  width: 100%; }
  .acc .title a {
    color: #4A4A4F; }
  .acc .title:after, .acc .title:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 28px;
    width: 8px;
    height: 2px;
    border-radius: 4px;
    background-color: #000;
    transition: all .1s ease-in-out; }
  .acc .title:before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

.acc > input[type="radio"]:checked + .title {
  background-color: #F7FAFE;
  border-top: 1px solid #CBD7E7;
  border-bottom: 1px solid #CBD7E7;
  cursor: pointer; }

.acc input[type="radio"]:checked + .title:before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }

.acc input[type="radio"]:checked ~ .articles {
  display: block; }

.acc > .articles {
  padding-left: 20px; }

.acc .articles {
  display: none; }
  .acc .articles > li {
    padding-left: 20px; }

.acc ul {
  padding: 15px 0; }
  .acc ul li a {
    font-size: 1.5rem;
    line-height: 2.7rem;
    font-weight: 400;
    display: block;
    color: #4A4A4F;
    padding: 10px 60px 10px 0; }

@media (min-width: 769px) {
  .categories {
    position: relative; }
    .categories .home span,
    .categories .title,
    .categories a {
      font-size: 1.8rem;
      line-height: 3.3rem;
      font-weight: 400;
      font-size: 1.6rem; }
    .categories .title > span {
      display: block;
      z-index: 101; }
  .categories-wrap {
    min-width: 390px;
    top: -44px;
    padding-top: 100px; } }
