{% extends "wiki/base.html" %}
{% set scripts = ('jqueryui', 'wiki', 'wiki.diff') %}
{% set title = _('Recent Revisions') %}
{% set crumbs = [(None, title)] %}
{% set meta = [('robots', 'noindex, nofollow')] %}

{% block content %}

  <article id="revision-list">
    <form class="filter" action="{{ url('wiki.revisions') }}">
      {% for field in form %}
        {{ field.label }}
        {{ field }}
      {% endfor %}
      <button class="btn btn-submit">{{ _('Submit') }}</button>
      <img src="/media/img/wait-trans.gif" class="loading" alt="" />
    </form>

    <div id="revisions-fragment">
      {% include "wiki/includes/recent_revisions_fragment.html" %}
    </div>
  </article>

{% endblock %}