{# This does not need translated, since it is being sent to localizers. #}
{% extends 'email/base.html' %}

{% block content %}
  <p>Hi {{ display_name(user) }},</p>

  <p>
    Thank you and congratulations on your first article revision on our Knowledge Base! Your contribution will now undergo review by our awesome community members.
  </p>

  <p>
    SUMO has millions of visitors each month and more than 60% of them view pages in languages other than English. You may think that you translated just one page, but for all the users who speak your language it makes a huge difference. And for that, we're incredibly grateful for contributors like Wxie, Michele, and now YOU who went extra miles to help other users.
  </p>

  <p><strong>Here's what you can do next to keep the momentum going:</strong></p>

  <p><strong>Get to know our style guide and syntaxes</strong></p>
  <p>
    If you're into the English KB, check out <a href="/kb/kb-style-guide">this guideline</a> to get to know our guideline.
  </p>
  <p>
    If you're into localization, check out our <a href="/kb/localization-style-guide">general localization style guide</a>.
  </p>
  <p>
    Additionally, you may want to familiarize yourself with our <a href="/kb/wiki-markup-reference">markup</a>.
  </p>

  <p><strong>Team up!</strong></p>
  <p>
    If you're onto article localization, it's always a good idea to get in touch with your Locale Leaders. You can find them by clicking on your language's name <a href="/kb/locales">in this list</a>. Send them a Private Message - they are there to help you help others through your localizing skills!
  </p>
  <p>
    If the English KB is your jazz, you may want to get yourself familiar with the <a href="/kb/content-request-process">content request process</a> to understand our workflow.
  </p>

  <p><strong>Learn the basic</strong></p>
  <p>
    Check out <a href="/kb/how-contribute-knowledge-base">this guidelines to get started in the KB</a>
  </p>
  <p>
    Check out <a href="/kb/how-localize-articles">this guidelines to get started in localization</a>
  </p>

  <p><strong>Stay updated</strong></p>
  <p style="text-align: center;">
    <img src="{{ webpack_static('sumo/img/community/support-forum-discussions.png') }}" alt="Support Forum Discussions" style="max-width: 100%; height: auto;">
  </p>
  <p>
    Consider clicking the "Watch this forum" button on the <a href="/forums/l10n-forum">Localization Discussions</a> or the <a href="/forums/kb-forum">Knowledge Base Discussions</a> to get updates that are relevant to KB and Localization contributions.
  </p>

  <p><strong>Want to do more?</strong></p>
  <p>
    If you reach 10 approved revisions in a year, you'll earn our Contributor of the year badge—a small token of recognition for your big impact.
  </p>

  <p><strong>Stay connected</strong></p>
  <p>
    Feeling stuck or just want to hang out with other enthusiastic community members? <a href="https://chat.mozilla.org/#/room/#SUMO:mozilla.org">Join us on Matrix!</a>
  </p>

  {% if pm_link %}
  <p>
    We're so excited to see how your journey with SUMO unfolds. And remember, I'm just <a href="{{ pm_link }}">a message away on SUMO</a> if you have any questions or want to chat. 😊
  </p>
  {% else %}
  <p>
    We're so excited to see how your journey with SUMO unfolds. If you have any questions, feel free to reach out to the community! 😊
  </p>
  {% endif %}

  {% if pm_link %}
  <p>
    Kind Regards,<br>
    {{ name }} from Mozilla Support
  </p>
  {% else %}
  <p>
    Kind Regards,<br>
    The Mozilla Support Community Team
  </p>
  {% endif %}
{% endblock %}