{% extends 'email/base.html' %}

{% block content %}
  <p>{{ _('Hi {username},')|f(username=display_name(user)) }}</p>

  <p>
    {% trans %}
      Thank you and congratulations on your first contribution to the Mozilla Support Community Forums! You just made somebody's day, and we're so glad you're here.
    {% endtrans %}
  </p>

  <p>
    {% trans jeff_url='https://mzl.la/4mDU91b', noah_url='https://mzl.la/45burLD' %}
      Our Community Forum is powered by incredible contributors like <a href="{{ jeff_url }}">Jefferson</a>, <a href="{{ noah_url }}">Noah</a>, and now YOU, who help hundreds of users every single day. You might think that you've just helped one user, but your reply might help hundreds more who might find the thread later through a search.
    {% endtrans %}
  </p>

  <p>{{ _("Here's what you can do next to keep the momentum going:") }}</p>

  <p><strong>{{ _('Know our rules & guidelines') }}</strong></p>
  <p>
    {% trans rules_url='https://mzl.la/457Ha1N' %}
      If you haven't, please check out our <a href="{{ rules_url }}">Forum rules and guidelines</a> to learn how we keep this space safe and helpful for everyone.
    {% endtrans %}
  </p>

  <p><strong>{{ _('Tell us about yourself') }}</strong></p>
  <p>
    {% trans intro_url='https://mzl.la/4ll91QX' %}
      We'd love to get to know you! If you feel comfortable, say hi and introduce yourself in <a href="{{ intro_url }}">this thread</a>.
    {% endtrans %}
  </p>

  <p><strong>{{ _('Keep yourself updated') }}</strong></p>
  <p>
    <img src="{{ webpack_static('sumo/img/community/edit-settings.png') }}" alt="Edit Settings">
  </p>
  <p>
    {% trans prefs_url='https://mzl.la/4mslgfo' %}
      Consider updating your <a href="{{ prefs_url }}">notification preferences</a> to make sure you stay in the loop on threads you've participated in.
    {% endtrans %}
  </p>

  <p><strong>{{ _('Learn the basic and best practices') }}</strong></p>
  <p>
    {% trans get_started_url='https://mzl.la/4fxRVhs', best_practices_url='https://mzl.la/3Jo6dVK' %}
      Check out our <a href="{{ get_started_url }}">get started guidelines</a> and <a href="{{ best_practices_url }}">best practices</a> for contributing in the forums. These resources will help you up to speed quickly and help you make a meaningful impact in the Mozilla Support Community.
    {% endtrans %}
  </p>
  <p>
    {% trans video_url='https://mzl.la/4ljs7qx' %}
      👉 <a href="{{ video_url }}">Watch this video</a> if you prefer visual tutorial
    {% endtrans %}
  </p>

  <p><strong>{{ _('Stay updated') }}</strong></p>
  <p>
    <img src="{{ webpack_static('sumo/img/community/support-forum-discussions.png') }}" alt="Support Forum Discussions">
  </p>
  <p>
    {% trans forums_url='https://mzl.la/4myLzjZ' %}
      Consider clicking the "Watch this forum" button on <a href="{{ forums_url }}">Forum Discussions</a> to get community updates that are relevant to forum contributors.
    {% endtrans %}
  </p>

  <p><strong>{{ _('Want to do more?') }}</strong></p>
  <p>
    {% trans badge_url='https://mzl.la/4muj8nj' %}
      If you reach 30 replies in a year, you'll earn our <a href="{{ badge_url }}">Forum Contributor of the year badge</a> - a small token of recognition for your big impact.
    {% endtrans %}
  </p>

  <p><strong>{{ _('Stay connected') }}</strong></p>
  <p>
    {% trans matrix_url='https://mzl.la/3UY2mkJ' %}
      Feeling stuck or just want to hang out with other enthusiastic community members? Join us on <a href="{{ matrix_url }}">Matrix!</a>
    {% endtrans %}
  </p>

  {% if pm_link %}
  <p>
    {% trans pm_url=pm_link %}
  We're so excited to see how your journey with SUMO unfolds. And remember, I'm just <a href="{{ pm_url }}">a message away</a> on SUMO if you have any questions or want to chat. 😊
    {% endtrans %}
  </p>
  {% else %}
  <p>
    {% trans %}
      We're so excited to see how your journey with SUMO unfolds. If you have any questions, feel free to reach out to the community! 😊
    {% endtrans %}
  </p>
  {% endif %}

  {% if pm_link %}
  <p>
    {% trans %}
      Kind Regards,<br>
      {{ name }} from Mozilla Support
    {% endtrans %}
  </p>
  {% else %}
  <p>
    {% trans %}
      Kind Regards,<br>
      The Mozilla Support Community Team
    {% endtrans %}
  </p>
  {% endif %}
{% endblock %}
