{# This does not need translated, since it is being sent to localizers. #}
{% extends 'email/base.html' %}

{% block content %}
  <p>
    Thank you for your first contribution to our Knowledge Base in your
    language! You can consider yourself an Open Web rockstar on the rise.
    :-) Your contribution will now undergo review by our awesome community
    members and should be published soon.
  </p>

  <p>
    SUMO has millions of visitors each month and more than 60% of them view
    pages in languages other than English. You may think that you
    translated just one page, but for all the users who speak your language
    it makes a <strong>huge</strong> difference.
  </p>


  <p><strong>Team up</strong></p>
  <p>
    It’s always a good idea to get in touch with your Locale Leaders.
    <a href="/locales">
        You can find them clicking your language’s name in this list
    </a>.
    Send them a Private Message - they are there to help you help others
    through your localizing skills!
  </p>

  <p>
    If you want to get in touch with other people localizing SUMO in your
    language,
    <a href="/forums/l10n-forum/711196?last=64679">
      go to our l10n forums
    </a>.
    You can also find people hanging out on IRC at
    <a href="https://www.mibbit.com/?server=irc.mozilla.org&channel=%23sumo-l10ns">
      #sumo-l10ns
    </a>
    and
    <a href="https://www.mibbit.com/?server=irc.mozilla.org&channel=%23sumo">
      #sumo.
    </a>
  </p>

  <p><strong>Stay in touch</strong></p>
  <p>
    Finally, if you want to follow all news related to SUMO, don’t forget about
    <a href="/forums/contributors">
      our community forums
    </a>,
    <a href="https://blog.mozilla.org/sumo/">
      official blog
    </a>
    and
    <a href="https://twitter.com/sumo_mozilla">
      Twitter account
    </a>.
    We also
    <a href="https://wiki.mozilla.org/Support/Weekly_Meetings">
      meet almost every Monday
    </a>
    - and you can join us.
  </p>

  <p><strong>Keep rocking</strong></p>
  <p>
    So, now that you know how easy it is to improve our community-powered
    support wiki in your language, why not
    <a href="/localization">
      localize another article
    </a>?
  </p>

  <p>
    Thank you once more. We are looking forward to seeing you more often
    around SUMO!
  </p>
{% endblock %}
