{% if num_pages > 1 %}
  <ol class="pagination cf">
  {% if pager.has_previous() %}
    <li class="prev">
      <a class="btn-page btn-page-prev" href="{{ pager.url|urlparams(page=pager.previous_page_number()) }}">
        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                <polyline stroke="currentColor" stroke-width="2" points="15 5 8 12 15 19"></polyline>
            </g>
        </svg>
        <span class="sr-only">{{ _('Previous') }}</span>
      </a>
    </li>
  {% endif %}
  {% if pager.dotted_lower %}
    <li><a href="{{ pager.url|urlparams(page=1) }}">{{ 1 }}</a></li>
    {% if pager.page_range[0] != 2 %}
      <li class="skip">&hellip;</li>
    {% endif %}
  {% endif %}
  {% for x in pager.page_range %}
    <li {{ x|class_selected(pager.number) }}>
      <a class="{% if x == pager.number %}btn-page{% endif %}" href="{{ pager.url|urlparams(page=x) }}">{{ x }}</a>
    </li>
  {% endfor %}
  {% if pager.dotted_upper %}
    {% if pager.page_range[-1] != num_pages-1 %}
      <li class="skip">&hellip;</li>
    {% endif %}
    <li><a href="{{ pager.url|urlparams(page=num_pages) }}">{{ num_pages }}</a></li>
  {% endif %}
  {% if pager.has_next() %}
    <li class="next">
      <a class="btn-page btn-page-next" href="{{ pager.url|urlparams(page=pager.next_page_number()) }}">
        <span class="sr-only">{{ _('Next') }}</span>
        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                <polyline stroke="currentColor" stroke-width="2" points="9 19 16 12 9 5"></polyline>
            </g>
        </svg>
      </a>
    </li>
  {% endif %}
  </ol>
{% endif %}
