{% extends 'mobile/base.html' %}

{% set title = pgettext('DB: products.Product.title', product.title) %}
{% set headline = title %}
{% set classes = 'product-landing' %}
{% set styles = ('mobile-products',) %}
{% set scripts = ('mobile-products',) %}
{% set return_url = url('products') %}

{% block title %}{{ _('{product} Help')|fe(product=pgettext('DB: products.Product.title', product.title)) }}{% endblock %}

{% block after_header %}
{% endblock %}

{% block content %}
  <ul id="topics">
    {% for topic in topics %}
      <li>
        <a href="{{ url('products.documents', product_slug=product.slug, topic_slug=topic.slug) }}" class="cf">
          <img src="{{ STATIC_URL }}sumo/img/blank.png" class="topic-sprite topic-{{ topic.slug }}" alt="">
          {{ pgettext('DB: products.Topic.title', topic.title) }}
        </a>
      </li>
      {% if loop.last %}
          <li>
            <a href="{{ url('wiki.document', 'get-community-support') }}" class="cf">
              <img src="{{ STATIC_URL }}sumo/img/blank.png" class="topic-sprite topic-get-community-support" alt="">
              {{ _('Get community support') }}
            </a>
          </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
