{% extends 'mobile/base.html' %}

{% set title = _('Products') %}
{% set headline = title %}
{% set styles = ('mobile/products',) %}

{% block content %}
  <ul id="products">
    {% for product in products %}
      <li>
        <a class="cf" href="{{ url('products.product', slug=product.slug) }}">
          <img src="{{ STATIC_URL }}img/blank.png" class="logo-sprite logo-{{ product.slug }}" alt="">
          <span class="title">{{ _(product.title, 'DB: products.Product.title') }}</span>
          {{ _(product.description, 'DB: products.Product.description') }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
