{% extends 'mobile/base.html' %}

{% set title = _(product.title, 'DB: products.Product.title') %}
{% set headline = title %}
{% set styles = ('mobile/products',) %}
{% set return_url = url('products') %}

{% block title %}{{ _('{product} Help')|f(product=_(product.title, 'DB: products.Product.title')) }}{% endblock %}

{% block content %}
  {% if hot_docs or fallback_hot_docs %}
    <div id="hot-topics" class="collapsable expanded">
      <h2 class="toggle">{{ _('Hot Topics') }}</h2>
      <article>

        <ul>
          {# The flag controls two things: Showing questions alongside
             documents, and giving icons to documents. When questions
             aren't there, no icon is needed. #}

          {% if waffle.flag('hot_questions') %}

            {% for doc in hot_docs %}
              <li class="document">
                <a href="{{ doc['url'] }}">{{ doc['document_title'] }}</a>
              </li>
            {% endfor %}

            {% for q in hot_questions %}
              <li class="question">
                <a href="{{ q.get_absolute_url() }}">{{ q.title }}</a>
              </li>
            {% endfor %}

            {% if fallback_hot_docs %}
              <li class="fallback">{{ _('In English') }}</li>
              {% for doc in fallback_hot_docs %}
                <li><a href="{{ doc['url']|replace('/'+ settings.WIKI_DEFAULT_LANGUAGE +'/', '/' + request.LANGUAGE_CODE + '/') }}">{{ doc['document_title'] }}</a></li>
              {% endfor %}
            {% endif %}

          {% else %}

            {% for doc in hot_docs %}
              <li><a href="{{ doc['url'] }}">{{ doc['document_title'] }}</a></li>
            {% endfor %}
            {% if fallback_hot_docs %}
              <li class="fallback">{{ _('In English') }}</li>
              {% for doc in fallback_hot_docs %}
                <li><a href="{{ doc['url']|replace('/'+ settings.WIKI_DEFAULT_LANGUAGE +'/', '/' + request.LANGUAGE_CODE + '/') }}">{{ doc['document_title'] }}</a></li>
              {% endfor %}
            {% endif %}

          {% endif %}
        </ul>

      </article>
    </div>
  {% endif %}
  <ul id="topics">
    {% for topic in topics %}
      <li>
        <a href="{{ url('products.documents', product_slug=product.slug, topic_slug=topic.slug) }}" class="cf">
          <img src="{{ STATIC_URL }}img/blank.png" class="topic-sprite topic-{{ topic.slug }}" alt="">
          {{ _(topic.title, 'DB: products.Topic.title') }}
        </a>
      </li>
      {% if loop.last %}
          <li>
            <a href="{{ url('wiki.document', 'get-community-support') }}" class="cf">
              <img src="{{ STATIC_URL }}img/blank.png" class="topic-sprite topic-get-community-support" alt="">
              {{ _('Get community support') }}
            </a>
          </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
