{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "mobile/base.html" %}
{% from "includes/common_macros.html" import list_view_item %}
{% from "wiki/includes/document_macros.html" import related_articles with context %}
{% from "wiki/includes/document_macros.html" import contributor_list, document_title, document_messages, document_content  %}
{% from "wiki/includes/document_macros.html" import vote_form with context %}
{% set title = _('{t} | {c}')|f(t=document.title, c=document.get_category_display()) %}
{% set show_search = 'bottom' %}
{% set include_showfor = True %}
{% set is_mobile_page = True %} {# TODO: set based on showfor selection or...? #}
{% set classes = 'document' %}
{% set canonical_url = document.get_absolute_url() %}
{% if document.is_template or document.is_archived %}
  {% set meta = (('robots', 'noindex'),) %}
{% endif %}

{% block content %}
  <article id="wiki-doc">
    {{ document_title(document) }}
    {{ document_messages(document, redirected_from) }}
    {{ document_content(document, fallback_reason, request, settings) }}
    {{ contributor_list(contributors) }}
    {{ related_articles(related, document) }}
  </article>
  {% if not waffle.switch('hide-voting') %}
    {{ vote_form(document, 'footer') }}
  {% endif %}
{% endblock %}
