{% extends 'email/base.html' %}

{% block styles %}
  .answer {
    border-bottom: 1px dotted #000;
    border-top: 1px dotted #000;
    padding: 16px;
  }

  .superheroes {
    border-top: 1px dotted #000;
    font-size: 13px;
    padding-top: 16px;
  }
{% endblock %}

{% block content %}
  <p>{{ _('Hi {username},')|f(username=display_name(username)) }}</p>

  <p>{{ _('{answerer} has posted an answer to your question on {host}:')|f(answerer=answerer, host=host) }}</p>

  <p>{{ question_title }}</p>

  <p>{{ _('{answerer} wrote:')|f(answerer=answerer) }}</p>

  <div class="answer">{{ answer_html }}</div>

  <p><a href="https://{{ host }}{{ answer_url }}">
      {{ _("If this doesn't solve your problem, let {answerer} know by replying on the website.")|f(answerer=answerer) }}</a></p>

  <p>
    {% trans url='http://' + host + solution_url %}
      If this answer solves your problem, please
      <br/><br/>
      <a class="button" style="width: 200px;" href="{{ url }}">Mark it as solved</a>
    {% endtrans %}
  </p>

  <p class="superheroes">
    <strong>{{ _('Superhero wanted') }}</strong>
    <br/><a href="https://{{ host }}/questions?filter=unsolved">{{ _('Help other Firefox users by browsing for unsolved questions on {host}.')|f(host=host) }}</a>
    <br/>{{ _("You might just make someone's day!") }}
  </p>
{% endblock %}
