{% macro hot_topics(docs, fallback_docs) -%}
  {% if docs or fallback_docs %}
    <section id="hot-topics" class="feature-box">
      <h1>{{ _('Hot Topics') }}</h1>
      <ul class="cf">
        {% for doc in docs %}
          <li><a href="{{ doc['url'] }}">{{ doc['document_title'] }}</a></li>
        {% endfor %}
        {% if fallback_docs %}
          <li class="fallback">{{ _('In English') }}</li>
          {% for doc in fallback_docs %}
            <li><a href="{{ doc['url'] }}">{{ doc['document_title'] }}</a></li>
          {% endfor %}
        {% endif %}
      </ul>
    </section>
  {% endif %}
{%- endmacro %}

{% macro help_topics(topics, show_community_support=False) -%}
  {% for topic in topics %}
    {% if loop.first %}<ul class="card-grid cf">{% endif %}
    <li>
      {% if product %}
        {% set topic_url = url('products.documents', product_slug=product.slug, topic_slug=topic.slug) %}
      {% else %}
        {% set topic_url = url('topics.topic', slug=topic.slug)|urlparams(selectproduct=1) %}
      {% endif %}
      <a href="{{ topic_url }}" class="cf">
        <img src="{{ MEDIA_URL }}img/blank.png" class="topic-icon" style="background-image: url('{{ topic.image_url }}')" alt="" />
        <span class="title">{{ _(topic.title, 'DB: topics.Topic.title') }}</span>
      </a>
    </li>
    {% if loop.last %}
      {% if show_community_support %}
        <li class="community-support">
          <a href="{{ url('wiki.document', 'get-community-support') }}" class="cf">
            <img src="{{ MEDIA_URL }}img/blank.png" class="topic-icon" alt="" />
            <span class="title">{{ _('Get community support') }}</span>
          </a>
        </li>
      {% endif %}
      </ul>
    {% endif %}
  {% endfor %}
{%- endmacro %}

{% macro topic_sidebar(topics, product, selected_topic=None) -%}
  <ul class="sidebar-nav topics">
    {% for topic in topics %}
      {% if product %}
        {% set topic_url = url('products.documents', product_slug=product.slug, topic_slug=topic.slug) %}
      {% else %}
        {% set topic_url = url('topics.topic', slug=topic.slug) %}
      {% endif %}
      <li{% if selected_topic == topic %} class="selected"{% endif %}>
        <a href="{{ topic_url }}">
          {{ _(topic.title, 'DB: topics.Topic.title') }}
        </a>
      </li>
    {% endfor %}
  </ul>
{%- endmacro %}
