{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "mobile/base.html" %}

{% block content %}
<article>
  <h1>Mobile lorem ipsum dolor sit amet.</h1>
  <p>Aenean in neque quis lorem rutrum cursus. Sed malesuada, dui a varius
     pharetra, est ipsum sagittis augue, ac ultricies nibh lectus in nibh.
     Donec elementum mattis lectus eget consectetur. Nullam porta gravida
     pulvinar! Sed vitae lectus ut risus ullamcorper egestas pellentesque
     non tortor. Ut tristique, lectus pretium viverra sodales, felis lectus
     laoreet ipsum, vitae consectetur neque neque metus.</p>

  <p>Pellentesque augue enim, dapibus at tempor ut; suscipit condimentum ante.
     Mauris a odio vel ipsum ultricies vehicula. Etiam iaculis, est nec porta
     aliquet; orci purus elementum diam, sed condimentum sapien erat quis
     lorem. Proin augue nisi, cursus at tincidunt vel, porttitor sit amet mi.
     Pellentesque eget diam sit amet turpis aliquet sollicitudin? Ut
     convallis vulputate augue, nec faucibus nullam.</p>
</article>
{% endblock %}
