{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "mobile/base.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% from "questions/includes/aaq_macros.html" import select_product, selected_product, select_category, selected_category, current_articles_and_message, show_results %}
{% from "questions/includes/aaq_macros.html" import aaq_search_form with context %}
{% set title = _('Ask a New Question') %}
{% set classes = 'aaq' %}
{% set hide_extra_content = True %}

{% block content %}
  <h1 class="title">{{ title }}</h1>

  {% if not current_product %}
    {{ select_product(products) }}
  {% endif %}

  {% if current_product and not current_category and current_product.categories %}
    {{ select_category(current_product) }}
  {% endif %}

  {% if not tried_search and (current_articles or current_html) and not search_results and not form %}
    {{ current_articles_and_message(current_articles, current_category, current_html) }}
    {% if not form and not deadend %}
      {% set form_header_set = True %}
      <h2>
        {% trans %}
          or, post a question in our Community Support Forum
          <mark>(registration required)</mark>
        {% endtrans %}
      </h2>
    {% endif %}
  {% endif %}

  {% if not tried_search and current_category and ((current_articles or search_results or current_html)
        or not (current_articles and search_results and current_html))
        and not form and not deadend %}
    {% if not form_header_set %}
      <h2>
        {% trans %}
          Post a question in our Community Support Forum
          <mark>(registration required)</mark>
        {% endtrans %}
      </h2>
    {% endif %}
    {{ aaq_search_form(current_product, current_category, settings, host, request) }}
  {% endif %}

  {% if tried_search and not form %}
    {{ show_results(search_results, current_product, current_category, request) }}
  {% endif %}

  {% if form %}
    <form id="question-form" action="" method="post">
      {{ csrf() }}
      <h2>{{ _('Fill in the details of your question:') }}</h2>
      <h3>{{ _('The more information you can provide, the better the chance your question will be answered.') }}</h3>
      {{ errorlist(form) }}
      {% for field in form.hidden_fields() %}
        {{ field|safe }}
      {% endfor %}
      <ol>
        {% for field in form.visible_fields() %}
          <li class="{% if field.errors %}invalid{% endif %}">
            {{ field.label_tag()|safe }}
            {{ field|safe }}
          </li>
        {% endfor %}
        <li class="submit">
          <input type="submit" value="{{ _('Post Question') }}" />
        </li>
      </ol>
    </form>
  {% endif %}

  {% if current_product and not form %}
    <div class="selections">
      {{ selected_product(current_product, True) }}
      {% if current_category %}
        {{ selected_category(current_category, current_product, True) }}
      {% endif %}
      {% if tried_search %}
        {{ aaq_search_form(current_product, current_category, settings, host, request) }}
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
