<!DOCTYPE html>
<html>
<head>
	<title>QUnit Test Suite</title>
  <link rel="stylesheet" href="{{ url('qunit_css') }}?v={{ timestamp }}" type="text/css" media="screen">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/kbox.css?v={{ timestamp }}" type="text/css" media="screen">
</head>
<body
  data-for-os="{&#34;maemo&#34;: 4, &#34;win&#34;: 1, &#34;mac&#34;: 2, &#34;android&#34;: 5, &#34;linux&#34;: 3}"
  data-for-version="{&#34;fx9&#34;: 13, &#34;fx8&#34;: 11, &#34;fx5&#34;: 5, &#34;fx4&#34;: 1, &#34;fx7&#34;: 9, &#34;fx6&#34;: 6, &#34;fx3&#34;: 3, &#34;m5&#34;: 7, &#34;m4&#34;: 4, &#34;m7&#34;: 10, &#34;m6&#34;: 8, &#34;fx35&#34;: 2, &#34;m9&#34;: 14, &#34;m8&#34;: 12}"
  data-static-url="http://example.com">

  <h1 id="qunit-header">QUnit Test Suite ({{ suite.name }})</h1>
	<h2 id="qunit-banner"></h2>
	<div id="qunit-testrunner-toolbar"></div>
  {% if in_directory or subsuites %}
  <div id="navigation">
    {% if in_subdirectory %}
    <a href="{{ url('qunit_test_overview', previous_directory) }}">..</a>
    {% endif %}

    {% for suite in subsuites %}
    <a href="{{ suite }}/">{{ suite }}</a>
    {% endfor %}
  </div>
  {% endif %}
	<h2 id="qunit-userAgent"></h2>
	<ol id="qunit-tests"></ol>
  <div id="qunit-fixture">test markup, will be hidden</div>
  <div id="sandbox"><!-- custom Kitsune sandbox area --></div>

  {# Test Sandboxes: #}
  <div style="display:none;">
    <div id="kbox">
      <div class="kbox" data-title="ignored title" title="test kbox" data-target="#sandbox a.kbox-target">
        <p>lorem ipsum dolor sit amet.</p>
      </div>
      <a href="#" class="kbox-target">click me</a>
      <div class="kbox" title="modal kbox" data-modal="true">
        <p>modal kbox</p>
      </div>
      <div class="kbox" data-title="data-title kbox">
        <p>data-title kbox</p>
      </div>
    </div>

    <div id="showfor">

      <span class="for" data-for="fx24"></span>
      <span class="for" data-for="fx24,win"></span>
      <span class="for" data-for="=fxos1.1"></span>
      <span class="for" data-for="not m25"></span>

      <div class="product" data-product="firefox">
        <h2>
          <input type="checkbox" checked value="product:firefox">
          Firefox
        </h2>
        <div class="selectbox-wrapper">
          <select class="version">
            <option value="version:fx26" data-min="26.0" data-max="27.0">Version 26</option>
            <option value="version:fx25" data-min="25.0" data-max="26.0">Version 25</option>
            <option value="version:fx24" data-min="24.0" data-max="25.0" selected>Version 24</option>
            <option value="version:fx23" data-min="23.0" data-max="24.0">Version 23</option>
            <option value="version:fx17" data-min="17.0" data-max="18.0">Version 17 (ESR)</option>
          </select>
        </div>
        <div class="selectbox-wrapper">
          <select class="platform">
            <option value="platform:win8">Windows 8</option>
            <option value="platform:win7">Windows 7/Vista</option>
            <option value="platform:winxp">Windows XP</option>
            <option value="platform:mac">Mac</option>
            <option value="platform:linux">Linux</option>
          </select>
        </div>
      </div>

      <div class="product" data-product="mobile">
        <h2>
          <input type="checkbox" checked value="product:mobile">
          Firefox for Android
        </h2>
        <div class="selectbox-wrapper">
          <select class="version">
            <option value="version:m26" data-min="26.0" data-max="27.0">Version 26</option>
            <option value="version:m25" data-min="25.0" data-max="26.0">Version 25</option>
            <option value="version:m24" data-min="24.0" data-max="25.0" selected>Version 24</option>
            <option value="version:m23" data-min="23.0" data-max="24.0">Version 23</option>
          </select>
        </div>
      </div>

      <div class="product" data-product="persona">
        <h2>
          <input type="checkbox" checked value="product:persona">
          Mozilla Persona
        </h2>
      </div>


      <script type="application/json" class="showfor-data">
        {
          "platforms": {
            "firefox": [
              {"title": "Linux", "slug": "linux", "visible": true},
              {"title": "Mac", "slug": "mac", "visible": true},
              {"title": "Windows XP", "slug": "winxp", "visible": true},
              {"title": "Windows 7", "slug": "win7", "visible": true},
              {"title": "Windows 8", "slug": "win8", "visible": true}
            ],
            "mobile": [{"slug": "android"}],
            "firefox-os": [{"slug": "web"}]
          },
          "products": [
            {"platforms": ["linux", "mac", "winxp", "win7", "win8"], "slug": "firefox", "title": "Firefox"},
            {"platforms": ["android"], "slug": "mobile", "title": "Firefox for Android"},
            {"platforms": ["web"], "slug": "firefox-os", "title": "Firefox OS"}
          ],
          "versions": {
            "marketplace": [{"product": "marketplace", "name": "Marketplace", "default": true, "min_version": 0.0, "max_version": 0.0, "slug": "marketplace"}],
            "persona": [{"product": "persona", "name": "Persona", "default": true, "min_version": 0.0, "max_version": 0.0, "slug": "persona"}],
            "firefox": [{"product": "firefox", "name": "Version 26", "default": false, "min_version": 26.0, "max_version": 27.0, "slug": "fx26"}, {"product": "firefox", "name": "Version 25", "default": false, "min_version": 25.0, "max_version": 26.0, "slug": "fx25"}, {"product": "firefox", "name": "Version 24", "default": true, "min_version": 24.0, "max_version": 25.0, "slug": "fx24"}, {"product": "firefox", "name": "Version 23", "default": false, "min_version": 23.0, "max_version": 24.0, "slug": "fx23"}, {"product": "firefox", "name": "Version 17 (ESR)", "default": false, "min_version": 17.0, "max_version": 18.0, "slug": "fx17"}],
            "mobile": [{"product": "mobile", "name": "Version 26", "default": false, "min_version": 26.0, "max_version": 27.0, "slug": "m26"}, {"product": "mobile", "name": "Version 25", "default": false, "min_version": 25.0, "max_version": 26.0, "slug": "m25"}, {"product": "mobile", "name": "Version 24", "default": true, "min_version": 24.0, "max_version": 25.0, "slug": "m24"}, {"product": "mobile", "name": "Version 23", "default": false, "min_version": 23.0, "max_version": 24.0, "slug": "m23"}],
            "firefox-os": [{"product": "firefox-os", "name": "Version 1.3", "default": false, "min_version": 1.3, "max_version": 1.4, "slug": "fxos1.3"}, {"product": "firefox-os", "name": "Version 1.2", "default": false, "min_version": 1.2, "max_version": 1.3, "slug": "fxos1.2"}, {"product": "firefox-os", "name": "Version 1.1", "default": true, "min_version": 1.1, "max_version": 1.2, "slug": "fxos1.1"}, {"product": "firefox-os", "name": "Version 1.0", "default": false, "min_version": 1.0, "max_version": 1.1, "slug": "fxos1.0"}],
            "webmaker": [{"product": "webmaker", "name": "Webmaker", "default": true, "min_version": 0.0, "max_version": 0.0, "slug": "webmaker"}]
          }
        }
      </script>
    </div>

    <div id="ajaxvote">
      <form class="vote" action="/vote" method="post">
        <input type="hidden" name="foo" value="bar" />
        <input type="submit" name="helpful" value="Yes" />
        <input type="submit" name="not-helpful" value="No" />
      </form>
    </div>

    <div id="ajaxpreview">
      <form action="" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="tokenvalue" />
        <textarea id="id_content" name="content">The content to preview.</textarea>
        <input type="submit" id="preview" name="preview" value="Preview"
          data-preview-url="/preview"
          data-preview-container-id="preview-container"
          data-preview-content-id="id_content" />
      </form>
      <div id="preview-container"></div>
    </div>

    <div id="tagsfilter">
      <section class="tag-filter">
        <form method="get" action="">
          <input type="text" name="tagged" class="text tags-autocomplete" data-vocabulary="{&quot;Name 1&quot;: &quot;slug-1&quot;,&quot;Name 2&quot;: &quot;slug-2&quot;,&quot;Name 3&quot;: &quot;slug-3&quot;}" value=""/>
          <input type="submit" value="Go" />
        </form>
      </section>
    </div>
  </div>

  <div id="postwithcrashids">
    <section class="content_1">
      <h1>Firefox keeps crashing</h1>
      <p>Firefox keeps crashing</p>
      <p>This is my crash ID:<br>
        bp-6ec83338-f37e-4ee1-aef4-0e66c2120808</p>
      <div class="stem"></div>
    </section>
    <section class="content_2">
      <h1>Firefox keeps crashing</h1>
      <p>Firefox keeps crashing</p>
      <p>Here's a list of my crash IDs (copied directly from about:crashes):<br>
        bp-6ec83338-f37e-4ee1-aef4-0e66c212080808.08.1217:52
        bp-d8951614-c928-44ed-902c-6ccb6212080808.08.1217:52
        bp-5eb7d4ec-5f9e-4cbf-9335-a574c212071717.07.1211:29
        bp-15a73687-dabf-4014-9c03-b97b3212071717.07.1211:27
        bp-f894adf7-9ff8-4f21-8564-da425212071111.07.1218:22</p>
      <div class="stem"></div>
    </section>
    <section class="content_3">
      <p>The following will look like an invalid crash ID that hasn't been processed yet:</p>
      <p>765879E6-CFE7-43A7-BE93-B2F322E67649</p>
    </section>
    <section class="content_4">
      <p>Now, crash IDs without 'bp-' at the beginning shouldn't get linked either</p>
      <p>6ec83338-f37e-4ee1-aef4-0e66c2120808</p>
    </section>
  </div>

  <script src="{{ url('jsi18n') }}/build:{{ BUILD_ID_JS }}"></script>
  <script src="{{ url('wafflejs') }}?v={{ timestamp }}"></script>
  {% for jsfile in settings.MINIFY_BUNDLES['js']['common'] %}
    {% if 'browserid.js' not in jsfile %}
    {# browserid.js requires a file loaded from persona.org.
       We don't need it for our unit tests. #}
      <script src="{{ STATIC_URL + jsfile }}?v={{ timestamp }}"></script>
    {% endif %}
  {% endfor %}
  <script type="text/javascript" src="{{ url('qunit_js') }}?v={{ timestamp }}"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.mockjax.js?v={{ timestamp }}"></script>
  {% for url in suite.extra_urls %}
    <script type="text/javascript" src="{{ url }}?v={{ timestamp }}"></script>
  {% endfor %}
  {% for url in suite.extra_media_urls %}
    <script type="text/javascript" src="{{ STATIC_URL }}{{ url }}?v={{ timestamp }}"></script>
  {% endfor %}
  {% for file in files %}
    <script type="text/javascript" src="{{ url('qunit_test', file) }}?v={{ timestamp }}"></script>
  {% endfor %}

  <hr>

  <ul>
    <li>{{ settings.MINIFY_BUNDLES['js']['common'] }}</li>
    <li>{{ url('qunit_js') }}</li>
    <li>{{ suite.extra_urls }}</li>
    <li>{{ suite.extra_media_urls }}</li>
    <li>{{ files }}</li>
  </ul>

</body>
</html>
