{% from 'includes/common_macros.html' import announcement_bar, search_box, aux_nav, favicon with context %}
{% set SURVEY_GIZMOS = [] %}
{% if request.LANGUAGE_CODE == 'xx' %}
  {% set meta = [('robots', 'noindex')] %}
{% endif %}
<!DOCTYPE html>
<html class="no-js" lang="{{ request.LANGUAGE_CODE }}" {% if DIR %}dir="{{ DIR }}"{% endif %}>
<head>
  {% block head_top %}{% endblock %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{% block title %}{% if title %}{{ title }} | {% endif %}{{ pgettext('site_title', 'Mozilla Support') }}{% endblock %}</title>

  {{ favicon() }}

  <link rel="search" type="application/opensearchdescription+xml" title="{{ _('Mozilla Support') }}" href="{{ url('search.plugin') }}"/>
  {% if feeds %}
    {% for feed in feeds %}
      <link rel="alternate" type="application/atom+xml" href="{{ feed[0] }}" title="{{ feed[1] }}"/>
    {% endfor %}
  {% endif %}

  {% stylesheet 'common' %}
  {% stylesheet 'print' %}
  {% for style in styles %}
    {% stylesheet style %}
  {% endfor %}

  <link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet" />

  <!--[if lte IE 7]>
    {% stylesheet 'ie' %}
  <![endif]-->
  <!--[if IE 8]>
    {% stylesheet 'ie8' %}
  <![endif]-->

  {% if meta %}
    {% for tag in meta %}
      <meta name="{{ tag[0] }}" content="{{ tag[1] }}"/>
    {% endfor %}
  {% endif %}

  {# This is to verify "we" own the site for some feature on youtube. See bug 992412. #}
  <meta name="google-site-verification" content="2URA-2Y9BeYYUf8B2BSsBSVetJJS3TZwlXBOaMx2VfY" />
  <meta name="google-site-verification" content="U9a6gH32vLIykvntaDToj-ytYhlZ1AfAgVEKstixQIE" />
  {# This is to verify "we" own the site for purposes of Bing/Yahoo search engine features. Bug 1149611 #}
  <meta name="msvalidate.01" content="1659173DC94819093068B0ED7C51C527" />

  {% if refresh %}
    <meta http-equiv="refresh" content="{{ refresh[1] }};url={{ refresh[0] }}"/>
  {% endif %}

  {% if canonical_url %}
    <link rel="canonical" href="{{ canonical_url|safe }}" />
  {% endif %}

  <!--[if lt IE 9]>
{# html5-shiv.js must be inside <head/> to work. #}
<script src="{{ STATIC_URL }}sumo/js/libs/html5-shiv.js"></script>
<![endif]-->
</head>
<body class="html-{{ DIR }} logged-{% if user.is_authenticated() %}in{% else %}out{% endif %} {{ classes }} {{ request.LANGUAGE_CODE }}"
      data-readonly="{{ settings.READ_ONLY|json }}"
      data-usernames-api="{{ url('users.api.usernames') }}"
      data-static-url="{{ STATIC_URL }}"
      data-media-url="{{ MEDIA_URL }}"
      {% if SURVEY_GIZMOS %}
        data-survey-gizmos="{{ SURVEY_GIZMOS|json }}"
      {% else %}
        data-survey-gizmos="[]"
      {% endif %}
      data-ga-push="{{ ga_push_attribute() }}"
      {% if ga_alternate_url %}
        data-ga-alternate-url="{{ ga_alternate_url }}"
      {% endif %}
      data-waffle-refresh-survey="{{ waffle.sample('refresh-survey')|json }}"
{% if extra_body_attrs -%}
  {% for attr, val in extra_body_attrs.items() %}{{ attr }}="{{ val }}" {% endfor %}
{%- endif %}>

{% set locale_picker_url = url('sumo.locales') %}
{% if localizable_url %}
  {% set locale_picker_url = locale_picker_url|urlparams(next=localizable_url) %}
{% endif %}
<ul id="nav-access">
  <li><a href="#main-content">{{ _('Skip to main content') }}</a></li>
  <li><a href="{{ locale_picker_url }}">{{ _('Switch language') }}</a></li>
  <li><a id="skip-to-search" href="#search-q">{{ _('Skip to search') }}</a></li>
</ul>

{% if settings.STAGE %}
  <div id="stage-banner">
    <div class="close-button">X</div>
    {{ _('This is a staging site, the content gets overwritten on the 1st of every month.<br>The production site is <a href="https://support.mozilla.org">here</a>.') }}
  </div>
{% endif %}

<div class="media-test"></div>

{# These will only be shown on small-ish screens, by media queries. #}
{% if request.MOBILE %}
  <div class="mobile-banner" id="mobile-warning">
    <div class="close-button" data-close-id="mobile-warning" data-close-memory="remember">X</div>
    <a href="javascript: history.back();">
      {{ _("This page doesn't have a mobile optimized version. Tap here to go back.") }}
    </a>
  </div>
{% else %}
  <div class="mobile-banner" id="mobile-warning">
    <div class="close-button" data-close-id="mobile-warning" data-close-memory="remember">X</div>
    <a href="?{{ request.QUERY_STRING }}&amp;mobile=1">
      {{ _('Tap here to go to the mobile version of the site.') }}
    </a>
  </div>
{% endif %}

<div id="announcements">
  {% call announcement_bar('geoip-suggestion', 'warning') %}{% endcall %}

  {% for announ in get_announcements() %}
    {% call announcement_bar(announ.id, 'warn') %}
      {{ announ.content }}
    {% endcall %}
  {% endfor %}
</div>

<header>
  <div class="container_12 cf">
    <div class="grid_12">
      <a href="https://www.mozilla.org/" id="tabzilla" data-infobar="update">mozilla</a>
      <div class="cf">
        <nav id="aux-nav" role="navigation">
          <ul>
            {% if not hide_aux_nav %}
              {{ aux_nav(user, hide_aaq_link) }}
            {% endif %}
            {% if not hide_locale_switcher %}
              <li><a href="{{ locale_picker_url }}" class="locale-picker">{{ settings.LANGUAGES_DICT[request.LANGUAGE_CODE.lower()] }}</a></li>
            {% endif %}
            {% if show_fx_download and not user.is_authenticated() %}
              <a href="https://www.mozilla.org/firefox/new/?scene=2&utm_source=support.mozilla.org&utm_medium=referral&utm_campaign=non-fx-button#download-fx"
                class="firefox-download-button" data-ga-click="_trackEvent | Download Button | Firefox button on Thunderbird article">
                <strong class="download-title">{{ _('Download Firefox') }}</strong>
              </a>
            {% endif %}
          </ul>
        </nav>
      </div>
      <div class="cf">
        {% if not hide_header_search %}
          {{ search_box(settings, id='support-search', params=search_params) }}
        {% endif %}
        <a href="{{ url('home') }}" class="logo"><img alt="mozilla support" src="{{ STATIC_URL }}sumo/img/mozilla-support.png" /></a>
      </div>
    </div>
  </div>
</header>

{% block breadcrumbs %}
  {{ breadcrumbs(crumbs, id='main-breadcrumbs') }}
{% endblock %}

<div class="container_12 cf" id="main-container">
  <div class="grid_12">
    {% if messages %}
      <ul class="user-messages">
        {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% block above_main %}{% endblock %}
  </div>

  {% block outer_side %}
    <aside class="grid_3 no-min">
      {% block side_top %}{% endblock %}
      {% block side %}{% endblock %}
      {% block side_bottom %}{% endblock %}
    </aside>
  {% endblock %}

  <main id="main-content" role="main">
    {% block content %}{% endblock %}
  </main>
</div>

<footer>
  <div class="container_12 cf">
    <div class="grid_2"><img src="{{ STATIC_URL }}sumo/img/mozilla-logo.png" alt="Mozilla" /></div>
    <div class="grid_4 suffix_1">
      <div class="fineprint">
        {% trans year=datetimeformat(now(), 'year') %}
          Portions of this content are &copy;1998–{{ year }}
          <br>by individual mozilla.org contributors. Content
          <br>available under a
          <a href="//www.mozilla.org/foundation/licensing/website-content.html">Creative Commons license</a>.
        {% endtrans %}
      </div>
    </div>
    <div class="grid_2">
      <ul>
        <li><a href="https://www.mozilla.org/contact/spaces/">{{ _('Contact Us') }}</a></li>
        <li><a href="https://www.mozilla.org/privacy/websites/">{{ _('Privacy Policy') }}</a></li>
        <li><a href="https://www.mozilla.org/about/legal.html">{{ _('Legal Notices') }}</a></li>
        <li><a href="https://www.mozilla.org/legal/fraud-report/">{{ _('Report Trademark Abuse') }}</a></li>
        <li><a href="https://github.com/mozilla/kitsune/">{{ _('Source Code') }}</a></li>
      </ul>
    </div>
    <div class="grid_2 suffix_1">
      <ul>
        <li><a href="https://www.twitter.com/mozilla">{{ _('Twitter') }}</a></li>
        <li><a href="https://www.facebook.com/mozilla">{{ _('Facebook') }}</a></li>
        <li><a href="https://friends.mozilla.org/">{{ _('Firefox Friends') }}</a></li>
        <li><a href="?{{ request.QUERY_STRING }}&amp;mobile=1">{{ _('Switch to mobile site') }}</a></li>
      </ul>
    </div>
  </div>
</footer>{# /#footer #}

{% csrf_token %}

{# TODO: The JS url changes whenever our js code changes.
   But this should get cached busted whenever a locale is updated.
   It's complicatred to fix. But for now it isn't more broken than
   before. #}
{% if request.LANGUAGE_CODE %}
  <script src="{{ static('jsi18n/{lang}/djangojs.js'|f(lang=request.LANGUAGE_CODE|lower)) }}"></script>
{% endif %}

{# Optimizely script for A/B testing - Bug 850816 #}
{% if waffle.flag('optimizely') %}
  <script src="//cdn.optimizely.com/js/245885873.js"></script>
{% endif %}
{# End Optimizely #}

{% javascript 'common' %}
<!--[if (gte IE 6)&(lte IE 8)]>
  {% javascript 'ie6-8' %}
<![endif]-->
{% for script in scripts %}
  {% javascript script %}
{% endfor %}

<script src="//mozorg.cdn.mozilla.net/{{ request.LANGUAGE_CODE }}/tabzilla/tabzilla.js" async></script>

{# Temporary Pontoon testing - bug 812176 #}
{% if settings.STAGE %}
  <script src="https://pontoon.mozilla.org/pontoon.js"></script>
{% endif %}

{% block footer_script %}
{% endblock %}
</body>
</html>
