{% extends 'email/base.html' %}

{% block content %}
  <p>{{ _('Hi {username},')|f(username=username) }}</p>

  <p>
    {% trans %}
      Thanks for joining Mozilla Support! To complete registration, you need to
      verify your email address.
    {% endtrans %}
  </p>

  <p>
    <a class="button" href="https://{{ domain }}{{ activate_url }}?reg={{ reg }}">
      {{ _('Click here to verify your email address') }}
    </a>
  </p>

  <p>
    {{ _('If the link above doesn’t work, click here:') }}
    <br /><a href="https://{{ domain }}{{ activate_url }}?reg={{ reg }}">https://{{ domain }}{{ activate_url }}?reg={{ reg }}</a>
  </p>

  <p>
    {% trans %}
      Once you’ve clicked on the link, you can throw away this email.
    {% endtrans %}
  </p>

  <p>
    {{ _('Thanks,') }}
    <br>{{ _('The Mozilla Support team') }}
  </p>
{% endblock %}

{% block footer %}{% endblock %}
