{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "questions/includes/question_editing_frame.html" %}
{% from "questions/includes/aaq_macros.html" import select_product, select_category, current_articles_and_html, aaq_search_form, show_results %}
{% set title = _('Ask a Question') %}
{% set crumbs = [(url('questions.questions'), _('Forum')),
                 (None, _('Ask a New Question'))] %}
{% set can_edit_product = True %}
{% set can_edit_category = True %}

{% block headline %}{{ _('Ask a New Question') }}{% endblock %}

{% block product %}
  {% if not current_product %}
    {{ select_product(products) }}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block category %}
  {% if current_product and not current_category and current_product.categories %}
    {{ select_category(current_product) }}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block articles_and_search_results %}
  {% set form_header_set = False %}
  {% if (current_articles or current_html) and not search_results and not form %}
    {{ current_articles_and_html(current_articles, current_html, current_category) }}
    {% if not form and not deadend %}
      {% set form_header_set = True %}
      <h2>{{ _('or, summarize your question in a sentence:') }}</h2>
    {% endif %}
  {% endif %}

  {% if current_category and ((current_articles or search_results or current_html)
        or not (current_articles and search_results and current_html))
        and not form and not deadend %}
    {% if not form_header_set %}
      <h2>{{ _('Summarize your question in a sentence:') }}</h2>
    {% endif %}
    {{ aaq_search_form(current_product, current_category, settings, request) }}
  {% endif %}

  {% if tried_search and not form %}
    {{ show_results(search_results, current_product, current_category, request) }}
  {% endif %}

{% endblock %}

{% block major_detail_instructions %}
  <h2>{{ _('Fill in the details of your question.') }}</h2>
{% endblock %}

{% block submit_button_value %}{{ _('Post Question') }}{% endblock %}
