{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "questions/includes/question_editing_frame.html" %}
{% from "layout/errorlist.html" import errorlist %}
{% from "users/includes/macros.html" import login_form as login,
                                            register_form as register %}
{% set title = _('Ask a Question') %}

{% block headline %}{{ _('Ask a New Question') }}{% endblock %}

{% block articles_and_search_results %}
  <h2>{{ _('Before you continue, we ask you to create a support account so we can contact you.') }}</h2>
  <p>{{ _('A support account lets us alert you when people respond to your question.') }}</p>
  <div id="register_form">
    <h2>{{ _('Create an account') }}</h2>
    {{ register(register_form, csrf=csrf(), action='') }}
  </div>

  <div id="login_form">
    <h2>{{ _('I already have an account') }}</h2>
    {{ login(login_form, csrf=csrf(), action='', only_pwreset=True) }}
  </div>
{% endblock %}

{% block submit_button_value %}{{ _('Post Question') }}{% endblock %}
