{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "questions/base.html" %}
{% set title = _('Firefox Support Forum') %}
{% set classes = 'questions' %}
{% set crumbs = [(None, _('Forum'))] %}
{% set canonical_url = unlocalized_url('questions.questions')|urlparams(filter=filter, sort=sort, tagged=tagged) %}
{% if questions.number > 1 %}
  {% set canonical_url = canonical_url|urlparams(page=questions.number) %}
{% endif %}

{% block above_main %}
  <hgroup>
    <h1><a href="{{ url('questions.questions') }}">{{ _('Firefox Support Forum') }}</a></h1>
    <h2>{{ _('The Official Community-Driven Support Web Site for Firefox') }}</h2>
  </hgroup>
{% endblock %}

{% block content %}
  <div id="recent-stats">
    <span class="total">
      {{ _('Total questions: <strong>{num}</strong>')|fe(num=recent_asked_count) }}
    </span>
    <p class="no-reply">
    {% if recent_unanswered_count > 0 %}
      {% trans recent_unanswered_count,
               url=url('questions.questions')|urlparams(filter='recent-unanswered') %}
        <strong>{{recent_unanswered_count}}</strong> question in the last <strong>3 days</strong> has no reply.
        <a href="{{url}}">Help solve it!</a>
      {% pluralize recent_unanswered_count %}
        <strong>{{recent_unanswered_count}}</strong> questions in the last <strong>3 days</strong> have no reply.
        <a href="{{url}}">Help solve them!</a>
      {% endtrans %}
    {% else %}
      {% trans %}
        <strong>0</strong> questions in the last <strong>3 days</strong> have no reply. <strong>Good job!</strong>
      {% endtrans %}
    {% endif %}
    </p>
    <div class="graph{% if recent_answered_percent == 100 %} complete{% endif %}">
      <div style="width: {{ recent_answered_percent }}%;">
        <span>
          {{ recent_answered_percent }}%
        </span>
      </div>
    </div>
  </div>
  {% if tags %}
    <div id="tagged">
      {{ _('Showing questions tagged:') }}
      {% for tag in tags -%}
        <a class="tag" href="{{ url('questions.questions')|urlparams(tagged=tags_to_text(tags|remove(tag)), filter=filter, sort=sort) }}">{{ tag.name }}</a>
      {%- endfor %}
      <a class="show-all" href="{{ url('questions.questions')|urlparams(filter=filter, sort=sort) }}">{{ _('Show all questions') }}</a>
    </div>
  {% endif %}
  <div id="filter">
    {{ _('Sort:') }}
    <ul>
      <li{% if not sort %} class="active"{% endif %}>
        <a href="{{ url('questions.questions')|urlparams(filter=filter, tagged=tagged) }}">{{ _('Most Recent') }}</a>
      </li>
      <li{% if sort == 'requested' %} class="active"{% endif %}>
        <a href="{{ url('questions.questions')|urlparams(sort='requested', filter=filter, tagged=tagged) }}">{{ _('Most Requested') }}</a>
      </li>
    </ul>
    {{ _('Show:') }}
    <ul>
      <li{% if not filter %} class="active"{% endif %}>
        <a href="{{ url('questions.questions')|urlparams(sort=sort, tagged=tagged) }}">{{ _('All') }}</a>
      </li>
      <li{% if filter == 'unsolved' %} class="active"{% endif %}>
        <a href="{{ url('questions.questions')|urlparams(filter='unsolved', sort=sort, tagged=tagged) }}">{{ _('Unsolved') }}</a>
      </li>
      <li{% if filter == 'solved' %} class="active"{% endif %}>
        <a href="{{ url('questions.questions')|urlparams(filter='solved', sort=sort, tagged=tagged) }}">{{ _('Solved') }}</a>
      </li>
      <li{% if filter == 'no-replies' %} class="active"{% endif %}>
        <a href="{{ url('questions.questions')|urlparams(filter='no-replies', sort=sort, tagged=tagged) }}">{{ _('No Replies') }}</a>
      </li>
      {% if user.is_authenticated() %}
        <li{% if filter == 'my-contributions' %} class="active"{% endif %}>
          <a href="{{ url('questions.questions')|urlparams(filter='my-contributions', sort=sort, tagged=tagged) }}">{{ _('My Contributions') }}</a>
        </li>
      {% endif %}
    </ul>
  </div>
  {% if questions.object_list %}
    <ol class="questions">
      {% for question in questions.object_list %}
        <li id="question-{{ question.id }}" class="question">
          <div class="content">
            <h2><a href="{{ question.get_absolute_url() }}">{{ question.title }}</a></h2>
            <p>{{ question.content_parsed|striptags()|truncate(170) }}</p>
            <div class="stem"></div>
          </div>
          <div class="user-meta">
            <div class="user">{{ question.creator }}</div>
            <div class="date">{{ datetimeformat(question.created, format='longdatetime') }}</div>
            {% include 'questions/includes/have_problem.html' %}
          </div>
          <div class="thread-meta">
            {% if question.is_solved %}
              <span class="solved">{{ _('Solved') }}</span>
            {% endif %}
            <span><a class="replies" href="{{ question.get_absolute_url()|urlparams(hash='answers') }}">
              {% if question.num_answers > 0 %}
                {# L10n: {n} is the number of replies. #}
                {{ ngettext('1 reply', '{n} replies', question.num_answers)|f(n=question.num_answers) }}
              {% else %}
                {{ _('No replies') }}
              {% endif %}
            </a></span>
            {% if question.num_answers > 0 and question.last_answer %}
              <span><a class="last-reply" href="{{ question.last_answer.get_absolute_url() }}">
                {{ _('last reply by {user}')|f(user=question.last_answer.creator.username) }}
              </a></span>
            {% endif %}
            {% if question.is_locked %}
              <span class="locked">{{ _('Locked') }}</span>
            {% endif %}
            {% if question.is_contributor(user) %}
              <span class="contributed">{{ _('Contributed') }}</span>
            {% endif %}
            {% set tags = question.my_tags %}
            {% if tags %}
              <ul class="tag-list immutable">
                {% for tag in tags %}
                    <li><a class="tag-name" href="{{ url('questions.questions')|urlparams(tagged=tag.slug, filter=filter, sort=sort) }}">{{ tag }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
    {{ questions|simple_paginator }}
  {% else %}
    {# Not localized because it's not worth localizers time. #}
    <p>There are no questions that match the current filter settings.</p>
  {% endif %}
{% endblock %}

{% block side %}
  <div class="side-section">
      <ul class="actions">
        <li class="rss">
          <a href="{{ url('questions.feed') }}">{{ _("Subscribe to feed") }}</a>
        </li>
      </ul>
  </div>
  <a id="toggle-tag-filter" class="off" href="#tag-filter">{{ _('Filter Questions') }}</a>
  <section id="tag-filter" class="sd-module">
    <h1><mark>{{ _('Filter') }}</mark></h1>
    <p>{{ _('Ex: Firefox 7, crash') }}</p>
    <form action="" method="get">
      <input type="hidden" class="current-tagged" value="{{ tagged }}"/>
      <input class="text tags-autocomplete" type="text" name="tagged" value="" data-vocabulary="{{ tag_vocab() }}" required="required"/>
      <input type="submit" value="{{ _('Go') }}" />
    </form>
  </section>
  {{ super() }}
{% endblock %}
