{% extends "questions/base.html" %}
{% set title = _('Question Metrics') %}
{% set crumbs = [(url('questions.questions'), _('Support Forum')),
                 (None, _('Metrics'))] %}
{% set scripts = ('rickshaw', 'questions.stats') %}
{% set styles = ('rickshaw', ) %}

{% block content %}
  <h1>{{ _('Question Statistics') }}</h1>

  {% if histogram %}
    <div id="topic-stats" data-histogram="{{ histogram|json }}">
      <h2 class="grid_12">{{ _('Topics') }}</h2>

      <div class="graph-container grid_9 alpha">
        <div class="graph"></div>
        <div class="y-axis"></div>
      </div>

      <div class="controls grid_3 omega">
        <div class="legend"></div>
        <div class="search">
          <form>
            <ul>
              {{ form.as_ul() }}
              <li><input type="submit" /></li>
            </ul>
          </form>
        </div>
      </div>
    </div>
  {% else %}
    <p>
      {{ _('Data is temporarily unavailable, please try again in a few minutes.') }}
    </p>
  {% endif %}
{% endblock %}

{% block side %}
{% endblock %}
