@import '../../variables';

.gi-links {
  border-top: 1px solid @borderLightGrey;
  list-style: none;
  margin: -12px 0 0 0;
  padding: 0;

  > li {
    border-bottom: 1px solid @borderLightGrey;

    > a {
      color: #000;
      display: block;
      font-size: 17px;
      padding: 8px 16px;
    }
  }
}

.padded {
  padding: 0 16px;
}

.sign-up {
  background: @mobileFormBackground;
  padding: 16px;

  h3 {
    margin: 0 0 8px 0;
  }
}
