@use '../config' as c;
@use '../protocol' as p;

// Card Grid
//
// This collection of cards is presented as a scrollable list on mobile and an
// array of cards on desktop. Any type of card styles can be used in this layout.
//
// Markup: ../../../../../../../styleguide/styleguide-examples/breadcrumbs.njk
//
// Weight: 2
//
// Style guide: card.grid

.breadcrumbs {
  display: flex;
  list-style: none;
  @include c.text-body-sm;

  li {
    margin-right: 4px;

    &:after {
      content: "/";
    }

    &:last-child:after {
      content: none;
    }
  }

  a, :visited, {
    margin-right: 4px;
    color: var(--color-light-gray-10);
    text-decoration: none;

    &:hover {
      color: var(--color-click);
    }
  }
}
