@use '../config' as c;
@use 'protocol/css/includes/lib' as p;

// Breadcrumbs
//
// Breadcrumb component used throughout the app.
//
// Markup: ../../../../../../../styleguide/styleguide-examples/breadcrumbs.njk
//
// Weight: 6
//
// Style guide: breadcrumbs

.breadcrumbs--list {
  display: flex;
  list-style: none;
  @include c.text-body-sm;
  margin-bottom: p.$spacing-md;

  li {
    display: none;
    margin-right: p.$spacing-xs;

    &:before {
      background-image: c.svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 18"><path d="M9,1,1,9l8,8" fill="none" stroke="#80808F" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 10px;
      height: 10px;
      display: inline-flex;
      align-self: center;
      margin-right: p.$spacing-sm;
      content: "";
    }

    &:nth-last-child(2) {
      display: flex;
    }
  }

  a, :visited, {
    margin-right: p.$spacing-xs;
    color: var(--color-light-gray-10);
    text-decoration: none;

    &:hover {
      color: var(--color-click);
    }
  }

  @media #{p.$mq-md} {
    margin-bottom: p.$spacing-lg;

    li {
      display: flex;

      &:before {
        content: none;
      }

      &:after {
        content: "/";
      }

      &:last-child:after {
        content: none;
      }
    }
  }

  @media #{p.$mq-lg} {
    margin-bottom: p.$spacing-xl;
  }
}
