@use '../config' as c;
@use '../protocol' as p;

// Cards
//
// This component is used throughout the system to group elements. Combine
// elevation and padding classes to achieve different hierarchies of content.
//
// .elevation-00 - Small border, no shadow
// .elevation-01 - small shadow
// .elevation-02 - medium shadow
// .elevation-03 - large shadow
// .feature-padding.elevation-01 - Increase the amount of padding, for use with larger cards
// .is-inverse - dark background with light text
//
// Markup: ../../../../../../styleguide/styleguide-examples/card.njk
//
// Weight: 5
//
// Style guide: card

.card {
  @include c.bottomless;
  position: relative;
  padding: p.remify(24px);
  border-radius: var(--global-radius);

  &.feature-padding {
    padding: p.remify(40px);
  }

  &.is-inverse {
    background: var(--color-inverse-bg);

    &, p, li, h1, h2, h3, h4, h5, h6, a, a:hover {
      color: var(--color-inverse);
    }
  }

  &--article {
    @include c.elevation-01;
    display: flex;
    flex-direction: column;

    .card--title {
      padding-bottom: 32px;
      margin-bottom: 32px;
      border-bottom: 1px solid var(--color-heading);
    }

    .card--desc {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 32px;
    }
  }

  &--product {
    @include c.elevation-01;
    flex-direction: column;
  }

  &--topic {
    @include c.elevation-01;
    display: flex;
    align-items: center;

    .card-title {
      margin: 0;
    }

    .card--icon {
      width: 24px;
      height: 24px;
      object-fit: contain;
      font-size: 9px;
      line-height: 1;
    }
  }

  &--ribbon {
    text-align: center;

    .card--title {
      @include c.text-display-lg;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
    }

    .card--icon-sm {
      margin-bottom: 8px;
      width: 36px;
      height: 36px;
    }

    .card--desc {
      @include c.text-body-xs;
      margin: 20px 0;
    }
  }

  &--callout {
    @include c.elevation-01;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-callout-bg);

    .card--details {
      text-align: center;
      flex: 1 1 100%;
    }

    .card--title {
      @include c.text-display-sm;
      font-family: var(--heading-font-family);
    }

    .card--desc {
      @include c.text-body-md;
      margin-bottom: 16px;
    }
  }

  &--feature-img {
    width: 50%;
    margin-top: -60px;
    margin-bottom: 20px;
    margin-right: -20px;
  }

  // &--details {}

  &--icon {
    margin-bottom: 10px;
    width: 48px;
  }

  &--icon-sm {
    margin-bottom: 24px;
    width: 24px;
  }

  &--title {
    @include c.text-body-lg();
    font-family: var(--base-font-family);

    > a {
      text-decoration: none;
      color: var(--color-heading);

      &:hover {
        text-decoration: underline;
        color: var(--color-heading);
      }
    }
  }

  &--desc {
    @include c.text-body-sm();
    margin-bottom: 0;
    color: var(--color-text);
  }

  @media #{p.$mq-md} {
    &--callout {
      flex-direction: row;

      .card--desc {
        margin-top: 32px;
        margin-bottom: 32px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &--ribbon {
      .card--title {
        flex-direction: row;
        @include p.font-size(32px);
      }

      .card--icon-sm {
        margin-right: 10px;
        margin-bottom: 0;
      }

      .card--desc {
        @include c.text-body-sm;
        margin: 8px 0 24px 0;
      }
    }

    &--feature-img {
      width: 50%;
      max-width: 450px;
      margin-right: 0;
      margin-left: 60px;
      margin-top: -80px;
      margin-bottom: -60px;
    }
  }

  @media #{p.$mq-lg} {
    &--product {
      flex-direction: row;
      align-items: center;
    }

    &--icon {
      width: 72px;
      margin-right: 20px;
      margin-bottom: 0;
    }

    &--ribbon {
      text-align: left;

      .card--details {
        display: flex;
        align-items: center;
        max-width: 940px;
        margin: 0 auto;
      }

      .card--title {
        margin-right: 40px;
      }

      .card--title,
      .sumo-button {
        flex: 0 0 auto;
        text-wrap: nowrap;
      }

      .card--desc {
        flex: 1 1 auto;
        margin: 0 40px 0 0;
      }
    }
  }
}

.elevation-00 { @include c.elevation-00;}
.elevation-01 { @include c.elevation-01;}
.elevation-02 { @include c.elevation-02;}
.elevation-03 { @include c.elevation-03;}
