// Cards
//
// This component is used throughout the system to group elements. Combine
// elevation and padding classes to achieve different hierarchies of content.
//
// .elevation-00 - Small border, no shadow
// .elevation-01 - small shadow
// .elevation-02 - medium shadow
// .elevation-03 - large shadow
// .feature-padding.elevation-01 - Increase the amount of padding, for use with larger cards
//
// Markup: ../../../styleguide-examples/card.njk
//
// Weight: 5
//
// Style guide: card

@use '../config' as c;
@use '../protocol' as p;

.card {
  @include c.bottomless;
  padding: p.remify(20px);
  border-radius: var(--global-radius);

  &.feature-padding {
    padding: p.remify(40px);
  }
}

.elevation-00 { @include c.elevation-00;}
.elevation-01 { @include c.elevation-01;}
.elevation-02 { @include c.elevation-02;}
.elevation-03 { @include c.elevation-03;}
