/* L10n and Contributor Dashboards */
@use '../config' as c;
@use 'protocol/css/includes/lib' as p;

.dashboards table {
    border-collapse: collapse;
    text-align: left;
}

.dashboards tr:nth-child(even) {
    background-color: var(--color-shade-bg);
}

.dashboards td,
.dashboards th {
    padding: p.$spacing-sm p.$spacing-xs;
}

.dashboards td {
    vertical-align: middle;
}

.dashboards table.overview small {
    font-size: 80%;
    color: #999;
    white-space: nowrap;
}

.dashboards div.percent-graph {
    background-color: #f3f3f3;
    height: 10px;
}

.dashboards div.percent-graph div {
    background-color: #dfdfdf;
    height: 10px;
}

.dashboards div.absolute-graph {
    display: block;
    background-color: p.$color-green-60;
    height: 1em;
}

.dashboards #overview-options,
.dashboards .table-footer {
    margin: 0;
    padding: p.$spacing-md 0;
}

.dashboards #overview-options label {
    font-weight: bold;
}

.dashboards .table-footer {
    font-size: 90%;
}

.dashboards table.documents .users {
    font-size: 90%;
    color: #999;
}

.dashboards table.overview td:nth-child(2) {
    text-align: right;
}

.dashboards table.overview td:nth-child(4) {
    width: 50%;
}

.dashboards table.documents td:nth-child(1) {
    width: p.$content-xs;
}

.dashboards table.documents td:nth-child(2) {
    padding-right: p.$spacing-xs;
    text-align: right;
    width: p.$layout-xl;
}

.dashboards table.documents td:nth-child(3),
.dashboards table.documents th:nth-child(3) {
    padding-left: 0;
    width: p.$layout-2xl;
}

.dashboards table.documents td:nth-child(4),
.dashboards table.documents th:nth-child(4) {
    text-align: center;
    vertical-align: middle;
    width: p.$content-xs;
}

.dashboards table.busy {
    opacity: 0.5;
}

.dashboards ul.readout-modes {
    padding: p.$spacing-xs 0px;
}

.dashboards ul.readout-modes li {
    display: inline-block;
    background: var(--color-marketing-gray-02);
    border-radius: p.$border-radius-sm;
    cursor: pointer;
    list-style: none;
    margin: p.$spacing-sm p.$spacing-xs;
    padding: p.$spacing-xs;
    width: calc(25% - p.$spacing-md);
    text-align: center;
}

.dashboards ul.readout-modes li:hover {
    background: var(--color-marketing-gray-01);
}

.dashboards ul.readout-modes li.active {
    background: var(--color-click);
}

.dashboards ul.readout-modes li.active:hover {
    background: #4978bc;
}

.dashboards ul.readout-modes li.active a {
    color: #fff;
}

.dashboards-detail h1 {
    display: inline-block;
}

.dashboards summary.with-mode-selectors {
    display: inline;
}

.dashboards details table {
    display: block;  /* Makes collapse animation work */
}

/* Status badges */
.dashboards td.status:has(.review),
.dashboards td.status:has(.out-of-date){
    background-color: var(--color-warning);
}

.dashboards td.status {
    .update:after {
        content: '\25C6';
        color: #f8e687;
    }
    .out-of-date:after {
        content: '\25C6';
        color: orange;

    }
    .untranslated:after {
        content: '\25B2';
        color: red;

    }
    .ok:after {
        content: '\25CF';
        color: #add575;
        margin-left: p.$spacing-xs;
    }
}
.dashboards td a {
    text-decoration:none;
    &:hover {
        text-decoration:underline;
    }
}

.dashboards td a:has(span.ok) {
    &:hover {
        text-decoration:none;
        cursor: initial;
    }
    &:visited {
        color: inherit;
    }
}