@use '../config' as c;
@use '../protocol' as p;

// Firefox Alert Banner
//
// This banner can be used above the navigation or within the content area.
//
// .hide-on-mobile - use this modifier on the top banner, similar to how it's used on mozilla.org.
// .has-abs-close-button - add this modifier if the banner is to be used in the middle of a content area
//
// Markup: ../../../../../../styleguide/styleguide-examples/ff-alert-banner.njk
//
// Weight: 6
//
// Style guide: ff-alert-banner

.sumo-ff-alert {
  background: var(--color-moz-inverse-bg);
  border-radius: var(--global-radius);
  margin: p.$spacing-2xl 0;

    &--content {
      & > * {
        margin: 0 p.$spacing-xl;
      }
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: p.$spacing-lg;
      padding-bottom: p.$spacing-lg;
    }

    &--icon {
      width: 36px;
      height: 36px;
    }

    &--heading {
      @include c.text-display-xxxs;
      font-family: var(--heading-font-family);
      font-weight: bold;
      text-align: center;
      color: var(--color-inverse);
      a {
        color: inherit;
      }
    }

    .sumo-button {
      flex: 0 0 auto;
    }

    .sumo-close-button {
      flex: 0 0 auto;
    }

    &.has-abs-close-button {
      position: relative;
      padding: 20px;

      .sumo-close-button {
        position: absolute;
        top: -16px;
        right: -20px;
      }
    }

    @media #{p.$mq-sm} {
      &--content {
        flex-direction: row;
      }

      &--heading {
        text-align: left;
      }
    }

    @media #{p.$mq-md} {

      &--content {
        padding-top: p.$spacing-lg;
        padding-bottom: p.$spacing-lg;
      }

      .sumo-close-button {
        position: static;
      }
    }
}

.sumo-scam-alert {
  background: var(--color-warning);
  border-radius: var(--global-radius);
  margin: p.$spacing-2xl 0;
  position: relative;
  display: none;

    &--content {
      & > * {
        margin: 0 p.$spacing-xl;
      }
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: p.$spacing-lg;
      padding-bottom: p.$spacing-lg;
    }

    svg {
      width: 48px;
      height: 48px;
      color: var(--color-heading);
      flex-shrink: 0;
    }

    &--heading {
      @include c.text-display-xxxs;
      font-family: var(--heading-font-family);
      font-weight: bold;
      text-align: center;
      color: var(--color-heading);
      flex-grow: 1;
      padding-top: p.$spacing-lg;
      padding-bottom: p.$spacing-lg;
      a {
        color: inherit;
      }
    }

    .sumo-button {
      flex: 0 0 auto;
    }

    .sumo-close-button {
      flex: 0 0 auto;
      position: absolute;
      top: 6px;
      right: -30px;
    }

    @media #{p.$mq-md} {
      &--content {
        flex-direction: row;
        padding: 0;
      }

      &--heading {
        text-align: left;
      }

      .sumo-close-button {
        position: static;
      }
    }
}
