@use '../config' as c;
@use 'protocol/css/includes/lib' as p;

.flagged-items {
    list-style: none;
    padding: 0;

    li {
        margin-bottom: p.$spacing-lg;
        border-radius: p.$border-radius-md;
        overflow: hidden;
        background-color: var(--card-bg);
        border: 1px solid var(--color-border);
    }

    .wait {
        display: none;
    }

    .htmx-request .wait {
        display: inline-block;
    }
}

/* Flagged Item Content */
.flagged-item-content {
    padding: p.$spacing-md;

    .flagged-item-header {
        display: flex;
        flex-direction: column;
        gap: p.$spacing-sm;

        @media (min-width: p.$screen-md) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        h2 {
            margin: 0;
        }

        span {
            font-size: 1rem;
            font-weight: bold;
            white-space: nowrap;
        }
    }
}

.flagged-content {
    padding: p.$spacing-md p.$spacing-lg;
    background-color: var(--color-shade-bg);
    border-radius: 5px;
    box-shadow: var(--elevation-shadow-01);
    margin-bottom: p.$spacing-md;

    &__heading,
    &__subheading {
        font-weight: bold;
        font-size: 1.25rem;
        color: var(--color-heading);
    }

    &__title,
    &__text {
        font-size: 1.1rem;
        color: var(--color-text);
    }

    .compact-info {
        margin: p.$spacing-xs 0;
        font-size: 1rem;
    }

    &__topic-update {
        margin: p.$spacing-md 0;

        .current-topic {
            display: inline-block;
            color: var(--color-text);
            transition: color 0.3s ease-in-out;

            &.updated {
                color: var(--color-success);

                &::after {
                    content: ' ✔';
                    font-weight: bold;
                    margin-left: p.$spacing-xs;
                    display: inline-block;
                }
            }
        }
    }

    &__tag-select {
        margin-top: p.$spacing-md;
    }
}

#content-type-filter-form,
#assignee-filter-form {
    margin-top: p.$spacing-md;
}

#my-queue-tools {
    margin-top: p.$spacing-2xl;

    form {
        margin-bottom: p.$spacing-sm;
    }
}