@use '../config' as c;
@use '../protocol' as p;

.has-icon,
.is-details .mzp-c-menu-list-item a.has-icon {
  display: flex;
  align-items: center;

  .icon-md {
    flex: 0 0 auto;
    @include p.bidi(((margin, 0 p.$spacing-md 0 0, 0 0 0 p.$spacing-md),));
  }
}

.icon-sm {

  width: 20px;
}

.icon-md {
  width: 36px;
}
