@forward 'avatar-group';
@forward 'breadcrumbs';
@forward 'editor-tools';
@forward 'icon-links';
@forward 'social-links';
@forward 'sidebar-nav';
@forward 'pagination';
@forward 'card';
@forward 'card-grid';
@forward 'inbox';
@forward 'kbox--todo-remove';
@forward 'modal';
@forward 'notifications';
@forward 'users.autocomplete';
@forward 'tabs';
@forward 'wiki';
@forward 'product-picker-dropdown';

// for https://support.mozilla.org/en-US/kb/dashboard/metrics/aggregated
@forward 'jqueryui';
@forward 'rickshaw';
@forward 'rickshaw.sumo';
