// Masthead
//
// This component is designed to display HTML content over an image, typically
// at the beginning of a document. This component can be used on its own, or
// as an item within a carousel.
//
// .knockout - Modifier class to be used over a dark photo – desktop only.
//
// Markup:
// {% import 'kitsune/sumo/static/styleguide-examples/masthead.njk' as masthead %}
// {{ masthead.masthead(modifier_class, img="https://placem.at/places?w=1800&h=600") }}
//
// Weight: 5
//
// Style guide: masthead

.masthead {
  &--img {
    display: block;
  }

  &--content {
    padding: 20px;
  }

  @include media(">medium") {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;

    &--content {
      position: relative;
      z-index: 2;
    }

    &--img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      margin-bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.3;
    }

    &.knockout {
      background: var(--text-color);

      h1, h2, h3, h4, h5, h6, p, li, a {
        color: var(--knockout-color);
      }
    }
  }
}
