@use '../config' as c;
@use '../protocol' as p;


.mzp-c-modal-inner {
  background: var(--page-bg);
}

.mzp-c-modal-overlay-contents {
  color: var(--color-text);
}

.mzp-c-modal-close .mzp-c-modal-button-close {
  background: transparent url("#{p.$image-path}/icons/close.svg") center center no-repeat;
}


@media #{p.$mq-lg} {
  .mzp-c-modal-inner {
    max-width: 800px;
  }
}
