@use '../config' as c;
@use 'protocol/css/includes/lib' as p;


.mzp-c-modal-inner {
  background: var(--page-bg);
}

.mzp-c-modal-overlay-contents {
  color: var(--color-text);
}

.mzp-c-modal-close .mzp-c-modal-button-close {
  background: transparent url("protocol/img/icons/close.svg") center center no-repeat;

  @media (prefers-color-scheme: dark) {
    filter: invert(1);
  }
}

[data-theme="dark"] .mzp-c-modal-close .mzp-c-modal-button-close {
  filter: invert(1);
}

[data-theme="light"] .mzp-c-modal-close .mzp-c-modal-button-close {
  filter: none;
}


@media #{p.$mq-lg} {
  .mzp-c-modal-inner {
    max-width: 800px;
  }
}