@use '../config' as c;
@use 'protocol/css/includes/lib' as p;

// This is a container for Protocol notifications. See
// https://protocol.mozilla.org/patterns/molecules/notification-bar.html
// for more documentation on notifications themselves.

.sumo-user-messages,
.user-messages {
  list-style: none;
  margin: 0;
  padding: 0;

  .mzp-c-notification-bar {
    margin-bottom: p.remify(24px);
  }
}

// override to allow for multi-line text
.mzp-c-notification-bar {
  min-height: 46px;
  line-height: 20px;
  @include p.bidi(((padding, p.$spacing-sm p.$spacing-2xl p.$spacing-sm p.$spacing-sm, p.$spacing-sm p.$spacing-sm p.$spacing-sm p.$spacing-2xl),));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;

  a,
  a:link,
  a:hover,
  a:visited,
  a:active {
    color: inherit;
  }

  @media #{p.$mq-sm} {
    height: auto;
  }



  .mzp-c-notification-bar-button {
    position: absolute;
    top: 0;
    bottom: 0;
    @include p.bidi(((right, 0, auto),));
    @include p.bidi(((left, auto, 0),));
  }

  p {
    line-height: 20px;
    margin: 0;
  }

  @at-root .sumo-l-two-col--main & {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: p.remify(24px);
    max-width: none;
  }
}

#announce-geoip-suggestion {
  display: none;

  p button {
    margin-left: p.$spacing-xs;
    margin-top: p.$spacing-xs;
  }
}
