<ul class="paginator cf">
  <li class="prev {% if not pager.has_previous() %}disabled{% endif %}">
    {% if pager.has_previous() %}
      <a class="btn" href="{{ pager.url|urlparams(page=pager.previous_page_number()) }}">{{ _('Newer') }}</a>
    {% else %}
      <span class="btn">{{ _('Newer') }}</span>
    {% endif %}
  </li>
  <li class="page">
    <div class="select-box">{{ ngettext('Page {n}', 'Page {n}', pager.number)|f(n=pager.number) }}</div>
  </li>
  <li class="next {% if not pager.has_next() %}disabled{% endif %}">
    {% if pager.has_next() %}
      <a class="btn" href="{{ pager.url|urlparams(page=pager.next_page_number()) }}">{{ _('Older') }}</a>
    {% else %}
      <span class="btn">{{ _('Older') }}</span>
    {% endif %}
  </li>
</ul>
