{% if not user_is_contributor %}
  <div class="sign-up">
    <h3>{{ _('Sign up as a volunteer') }}</h3>
    {% if user.is_authenticated() %}
      <form method="post" action="{{ url('users.make_contributor') }}">
        <input type="hidden" name="return_to" value="{{ url('landings.get_involved') }}">
        {{ csrf() }}
        <button id="sign-up-contributor" class="btn btn-submit">{{ _('Sign me up') }}</button>
      </form>
    {% else %}
      {% if waffle.flag('browserid') %}
        <form id="gi-browserid-form" action="{{ url('users.browserid_verify') }}" method="post">
          <input type="hidden" name="contributor" value="1">
          {{ browserid_form }}
        </form>
        <a id="sign-up-contributor" class="btn btn-submit browserid-login" data-form="gi-browserid-form" data-next="{{ request.get_full_path() }}" href="#">{{ _('Sign me up') }}</a>
      {% else %}
        <a id="sign-up-contributor" class="btn btn-submit" href="{{ url('users.registercontributor') }}">
          {{ _('Sign me up') }}
        </a>
      {% endif %}
    {% endif %}
  </div>
{% endif %}
