{% from "layout/errorlist.html" import errorlist %}
{% macro login_form(form, next_url='', action=None, only_pwreset=False) -%}
  {{ errorlist(form) }}
  <form method="post" action="{{ action if action != None else url('users.login') }}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next_url }}" />
    <div class="field">
      <label for="id_username">{{ _('Username:') }}</label>
      <div class="field-wrap">
        {{ form.username|safe }}
      </div>
    </div>

    <div class="field">
      <label for="id_password">{{ _('Password:') }}</label>
      <div class="field-wrap">
        {{ form.password|safe }}
      </div>
    </div>
    <div class="login-submit">
      <div class="button-wrap">
        <input type="hidden" name="login" value="1">
        <button type="submit"  data-event-category="account" data-event-action="login" data-type="submit" data-name="login" class="sumo-button primary-button button-lg" data-progress="{{ _('Logging in...') }}" data-done="{{ _('Logged in!') }}" data-reset="{{ _('Log in') }}">{{ _('Log in') }}</button>
      </div>
      <p class="help-text">
      {% trans %}
      Support.mozilla.org will soon only support  Firefox Accounts logins.
      Learn more in our <a href="https://support.mozilla.org/en-US/kb/firefox-accounts-mozilla-support-faq">FAQ</a>.
      {% endtrans %}
      </p>
    </div>
  </form>
  <div id="login-help" class="sumo-auth--login-help">
    {% if only_pwreset %}
      <a id="reset_password" target="_blank" href="{{ url('users.pw_reset') }}">{{ _("My password isn't working.") }}</a>
    {% else %}
      <h3 class="text-display-xs">{{ _('Login Problems?') }}</h3>
      <ul>
        <li>
          <a href="{{ url('users.pw_reset') }}">
            {{ _("My password isn't working.") }}
          </a>
        </li>
        <li>
          <a href="{{ url('users.forgot_username') }}">
            {{ _('I forgot my username.') }}
          </a>
        </li>
        <li>
          <a href="{{ url('users.resend_confirmation') }}">
            {{ _("I didn't get a confirmation email.") }}
          </a>
        </li>
      </ul>
    {% endif %}
  </div>
{%- endmacro %}

{% macro personal_tabs(user, selected) -%}
<nav class="sidebar-nav">
  <span class="details-heading">My Profile</span>
  <ul id="user-nav" class="sidebar-nav--list">
    <li class="sidebar-nav--item"><a {{ selected|class_selected('my-profile') }} href="{{ profile_url(user) }}">{{ _('My profile') }}</a></li>
    <li class="sidebar-nav--item"><a {{ selected|class_selected('edit-profile') }} href="{{ url('users.edit_my_profile') }}">{{ _('Edit my profile') }}</a></li>
    <li class="sidebar-nav--item"><a {{ selected|class_selected('edit-settings') }} href="{{ url('users.edit_settings') }}">{{ _('Edit settings') }}</a></li>
    <li class="sidebar-nav--item"><a {{ selected|class_selected('edit-watches') }} href="{{ url('users.edit_watch_list') }}">{{ _('Manage watch list') }}</a></li>
  </ul>
</nav>
{%- endmacro %}
