{% if user.is_authenticated() %}
  <form action="{{ url('wiki.discuss.watch_locale') }}" method="post">
    {% csrf_token %}
    {% if is_watching_discussion_locale(user, request.LANGUAGE_CODE) %}
      {% set watch = _('Turn off emails for discussion in my locale.') %}
      <input type="hidden" name="watch" value="no" />
    {% else %}
      {% set watch = _('Get emailed when there is new discussion activity in my locale.') %}
      <input type="hidden" name="watch" value="yes" />
    {% endif %}
    <input type="hidden" name="next" value="{{ request.get_full_path() }}">
    <input type="submit" class="link-btn" value="{{ watch }}" />
  </form>
{% endif %}
