{% extends 'base.html' %}

{% set crumbs = [(url('landings.get_involved'), _('Help Other Users')), (none, _('Army Of Awesome'))] %}
{% set styles = ('landings-get-involved',) %}

{% block content %}
  <div class="grid_12">
    <div class="hero-bar secondary aoa cf">
      <div class="column">
        <h1>{{ _('Join our Army of Awesome') }}</h1>
        <h2>{{ _('Love Firefox? Love Twitter?') }}</h2>
        <p>
          {% trans %}
            Now you can combine both and help Firefox users on Twitter. It's
            quick, it's easy, and you don't have to be a tech superstar to do it.
            We call it our Army of Awesome.
          {% endtrans %}
        </p>
        <p>
          {% trans %}
            It's fun and addictive and the Awesome is you!
          {% endtrans %}
        </p>
      </div>
    </div>
  </div>

  {% set user_is_contributor = is_contributor(user) %}
  {% set signup_headline = _('Help users on Twitter') %}
  {% include 'landings/includes/register_contributor.html' %}

  <div class="row cf pick-a-way">
    <div class="grid_12">
      <h3>{{ _('How it works') }}</h3>
    </div>
    <div class="grid_6">
      <span class="bullet">1</span>
      <div>
        {% set message =  _('Sign up as a volunteer') %}
        {% if not user_is_contributor %}
          <a href="#" data-trigger="click" data-trigger-target="#sign-up-contributor">{{ message }}</a>
        {% else %}
          {{ message }}
        {% endif %}
      </div>

      <span class="bullet">2</span>
      <div><a href="{{ url('customercare.landing') }}">{{ _('Go to Army of Awesome') }}</a></div>

      <span class="bullet">3</span>
      <div>{{ _('Connect your Twitter account') }}</div>

      <span class="bullet">4</span>
      <div>
        {% trans %}
            Answer to Twitter users that need help. It's super easy with our
            canned responses.
        {% endtrans %}
      </div>
    </div>
    <div class="grid_6 gi-visual">
        <div><img src="{{ STATIC_URL }}sumo/img/gi-visual-aoa.png?v=1" alt=""></div>
        {{ _('1 tweet can save 1 day') }}
    </div>
  </div>

  <div class="row cf pick-a-way">
    <div class="grid_3">
      <h3>{{ _('Other ways to get involved') }}</h3>
    </div>
    <div class="grid_3">
      <div class="get-involved-icon questions"></div>
      <a href="{{ url('landings.get_involved_questions') }}">
        {{ _('Answer questions in the support forum') }} &raquo;
      </a>
    </div>
    <div class="grid_3">
      <div class="get-involved-icon kb"></div>
      <a href="{{ url('landings.get_involved_kb') }}">
        {{ _('Write help articles') }} &raquo;
      </a>
    </div>
    <div class="grid_3">
      <div class="get-involved-icon localize"></div>
      <a href="{{ url('landings.get_involved_l10n') }}">
        {{ _('Translate help to your languages') }} &raquo;
      </a>
    </div>
  </div>
{% endblock %}
