{% extends "base.html" %}
{% from 'products/includes/product_macros.html' import product_cards with context %}
{% set styles = ('home',) %}

{% block content %}
  <div class="grid_12">
    <section id="products-and-services">
      {{ product_cards(products, show_thunderbird=True) }}
    </section>
  </div>
  {% if moz_news %}
    <section id="mozilla-news" class="grid_12">
      <h1>{{ _('Mozilla News') }}</h1>
      {{ moz_news.html|safe }}
    </section>
  {% endif %}
  <div id="get-involved-button" class="grid_12">
    <a class="btn btn-submit" href="{{ url('landings.get_involved') }}">
      {{ _('Get involved - Help other users') }}
    </a>
  </div>
{% endblock %}

{% block outer_side %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}
