{% extends "base.html" %}
{% from 'products/includes/product_macros.html' import product_cards with context %}
{% set styles = ('home',) %}

{% block content %}
  <div class="grid_12">
    <section id="products-and-services">
      {{ product_cards(products, show_thunderbird=True) }}
    </section>
  </div>
  <section id="get-involved-box" class="grid_12">
    <a class="btn btn-submit" href="{{ url('landings.get_involved') }}">
      {{ _('Get involved - Help other users') }}
    </a>
  </section>
{% endblock %}

{% block outer_side %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}
