{% from "wiki/includes/flag_form.html" import flag_form with context %}


<section class="avatar-row">
  <div class="avatar-details user-meta">
    <div class="avatar">
      <a href="{{ profile_url(post.author) }}">
        <img src="{{ profile_avatar(post.author) }}" height="45" width="45" alt="{{ display_name(post.author) }}" />
      </a>
    </div>
    <div class="user">
      <div class="asked-by">
        <a class="author-name" href="{{ profile_url(post.author) }}">{{ display_name(post.author) }}
          {# L10n: {0} is the number of posts. #}
          <span
            class="user-title">{{ ngettext('1 post', '{0} posts', post.author_post_count)|f(post.author_post_count) }}</span>
        </a>

      </div>
      <span class="asked-on">
        {{ datetimeformat(post.created, format='longdatetime') }}
      </span>
    </div>
  </div>

  <div class="mzp-c-menu-list">
    <span class="icon-button" data-has-dropdown>more options</span>
    <ul class="mzp-c-menu-list-list">
      {% if post.author != user %}
      <li class="mzp-c-menu-list-item clear-button-styles">{{ private_message(post.author) }}</li>
      {% endif %}
      {% if post.id and not thread.is_locked and
        has_perm_or_owns('forums_forum.post_edit_forum', post, forum, 'author') %}
      <li class="mzp-c-menu-list-item"><a
          href="{{ url('forums.edit_post', forum.slug, thread.id, post.id) }}">{{ _('Edit this post') }}</a></li>
      {% endif %}
      {% if post.id and has_perm('forums_forum.post_delete_forum', forum) %}
      <li class="mzp-c-menu-list-item"><a
          href="{{ url('forums.delete_post', forum.slug, thread.id, post.id) }}">{{ _('Delete this post') }}</a></li>
      {% endif %}

      {% if user.is_authenticated() %}
        {% if post.id %}
          {% if not thread.is_locked and forum.allows_posting_by(user) %}
            <li class="mzp-c-menu-list-item post-action">
              <a class="reply" data-post="{{ post.id }}" href="#thread-reply">{{ _('Quote') }}</a>
            </li>
          {% endif %}

          <li class="mzp-c-menu-list-item post-action">
            {{ flag_form(url('forums.flag_post', post.thread.forum.slug, post.thread.id, post.id)) }}
          </li>
        {% endif %}
      {% endif %}

      <li class="mzp-c-menu-list-item post-action">
        <a href="#post-{{ post.id }}">{{ _('Link to this post') }}</a>
      </li>
    </ul>
  </div>
</section>
<div class="forum--entry-content">
  <div class="content">
    {{ post.content_parsed }}
  </div>
  <div class="content-raw">{{ post.content }}</div>
  {% if post.updated_by %}
  <p class="text-body-sm"><em>
      {{ _('Modified by <strong>{name}</strong> on {datetime}')|fe(name=display_name(post.updated_by), datetime=datetimeformat(post.updated, format='longdatetime')) }}
    </em></p>
  {% endif %}
</div>
