{% extends "flagit/flagit_base.html" %}

{% block flagged_items %}
  {% for object in objects %}
    <li class="{{ object.content_type }}">
      <div class="flagged-item-content">
        <hgroup>
          <h2 class="sumo-card-heading">{{ _('Flagged {t} (Reason: {r})')|f(t=object.content_type, r=object.get_reason_display()) }}</h2>
          {% if object.notes %}
            <p class="notes">{{ _('Additional notes:') }} {{ object.notes }}</p>
          {% endif %}
        </hgroup>
        <div class="wrap">
          {% if object.content_object %}
            {% include 'flagit/includes/flagged_%s.html' % object.content_type.model %}
          {% else %}
            <p>{{ _('{t} with id={id} no longer exists.')|f(t=object.content_type, id=object.object_id) }}</p>
          {% endif %}
          <h3 class="sumo-card-heading"><br>{{ _('Update Status:') }}</h3>
          <form class="update inline-form" action="{{ object.form_action }}" method="post">
            {% csrf_token %}
            <select name="status">
              <option value="">{{ _('Please select...') }}</option>
              {% if object.reason == "spam" %}
                <option value="1">{{ _('Removed spam content.') }}</option>
                <option value="2">{{ _('No spam found.') }}</option>
              {% elif object.reason == "abuse" %}
                <option value="1">{{ _('Addressed abusive content.') }}</option>
                <option value="2">{{ _('No abuse detected.') }}</option>
              {% elif object.reason == "bug_support" %}
                <option value="1">{{ _('Request moved.') }}</option>
                <option value="2">{{ _('Request is appropriately placed.') }}</option>
              {% elif object.reason == "language" %}
                <option value="1">{{ _('Corrected language.') }}</option>
                <option value="2">{{ _('Language is appropriate.') }}</option>
              {% else %}
                <option value="1">{{ _('Issue resolved.') }}</option>
                <option value="2">{{ _('No issues found.') }}</option>
              {% endif %}
            </select>
            <input id="update-status-button-{{ object.content_object.id }}" type="submit" 
                   class="sumo-button primary-button button-lg btn" value={{ _('Update') }} />
          </form>
        </div>
      </div>
    </li>
  {% else %}
    <p>{{ _('There is no content pending moderation.') }}</p>
  {% endfor %}
{% endblock %}

{% block side_top_reason %}
  <!-- Dropdown filter for reasons -->
  <div class="filter-reasons">
    <form id="reason-filter-form" method="get" action="">
      <label for="reason">{{ _('Filter by reason:') }}</label>
      <select name="reason" id="flagit-reason-filter">
        <option value="">{{ _('All reasons') }}</option>
        {% for value, display in reasons %}
          <option value="{{ value }}" {% if selected_reason == value %}selected{% endif %}>{{ display }}</option>
        {% endfor %}
      </select>
    </form>
  </div>
{% endblock %}
