{% extends "customercare/base.html" %}
{% from 'includes/common_macros.html' import search_box with context %}
{% from 'customercare/includes/aoa_macros.html' import aoa_contributor %}
{% set title = _('Army of Awesome') %}
{% set hide_plugin_check = True %}
{% set crumbs = [(None, title)] %}

{% block content %}
<article class="main aoa">

  <div class="cf">
    <div class="grid_6">
      <h1>{{ _('Join our Army of Awesome') }}</h1>
      <h2>
        {% trans %}
          Love Firefox and have a few moments to help?<br />
          Help other Firefox users on Twitter.
          Good things will come to those who tweet!
        {% endtrans %}
      </h2>
    </div>

    <div id="steps">
      <ol>
        <li class="grid_2">
          {% if not authed %}
            <a id="steps-signin-button" href="#" class="btn btn-submit">{{ _('Sign in and connect to Twitter') }}</a>
          {% else %}
            {{ _('Sign in and connect to Twitter') }}
          {% endif %}
        </li>
        <li class="grid_2">{{ _('Choose a tweet below') }}</li>
        <li class="grid_2">{{ _('Respond to the tweet!') }}</li>
      </ol>
    </div>
  </div>

  {% set percent = recent_replied_count * 100 / goal %}
  <div id="stats" class="grid_12">
    <span>
      {%- trans goal=goal %}
        Total tweets to answer: <strong>{{ goal }}</strong>
      {% endtrans -%}
    </span>
    <p>
      {# L10n: Refers to the number of tweets that have had replies. #}
      {%- trans count=recent_replied_count %}
        <strong>{{ count }} tweet</strong>
        in the last <strong>24 hours</strong> has a reply
        {% pluralize %}
        <strong>{{ count }} tweets</strong>
        in the last <strong>24 hours</strong> have replies
      {% endtrans -%}
    </p>
    <div class="progress-bar {% if percent >= 100 %}complete{% endif %}">
      <div style="width: {{ percent|int|max(100) }}%;">
        <span>{{ percent|int|max(100) }}%</span>
      </div>
    </div>
  </div>

  <div class="grid_12 cf">
    <div id="tweet-tools">
      <img id="refresh-busy" src="{{ STATIC_URL }}img/customercare/spinner.gif"/>
      <select id="show">
        {% for value, content in filters.iteritems() %}
          <option value="{{ value }}">{{ content }}</option>
        {% endfor %}
      </select>
      <a id="refresh-tweets" href="{{ url('customercare.more_tweets') }}" class="btn">{{ _('Refresh') }}</a>
      {% if authed %}
        <form id="twitter-logout" action="" method="post">
          {{ csrf() }}
          <input type="hidden" name="twitter_delete_auth" value="1">
          <button type="submit" class="btn btn-submit">{{ _('Sign out') }}</button>
        </form>
      {% else %}
        <a id="signin-button" href="#" class="btn btn-submit">{{ _('Sign in') }}</a>
      {% endif %}
    </div>
  </div>

  <div id="tweetcontainer" class="grid_8">
    <div id="tweets-wrap">
      {{ csrf() }}{# CSRF token for AJAX actions. #}
      {% if not tweets %}
        <div class="warning-box">
          {% trans language=settings.LOCALES[request.LANGUAGE_CODE].native %}
            We couldn't find any matching tweets for {{ language }} at this time.
            Please check again later, choose a different tweet type from the
            menu above, or view tweets for other languages by using the
            language selector at the bottom of the page.
          {% endtrans %}
        </div>
      {% endif %}
      <div id="tweets">
        {% include 'customercare/tweets.html' %}
      </div>
    </div>

    <div id="infinite-scroll">
      <img id="scroll-busy" src="{{ STATIC_URL }}img/customercare/spinner.gif"/>
    </div>
  </div>

  <div class="grid_4">
    <div id="top-aoa-contributors">
      {% if contributor_stats %}
        <h2>{{ _('Top Contributors Last Week') }}</h2>
        {# contributor_stats is the sorted top 10 #}
        {% for contributor in contributor_stats %}
          {{ aoa_contributor(contributor) }}
        {% endfor %}
      {% else %}
        <h2>{{ _('No recent contributions') }}</h2>
      {% endif %}
    </div>
  </div>

  {% include 'customercare/reply_modal.html' %}

  {% include 'customercare/twitter_modal.html' %}
</article>
{% endblock %}
