{% extends "customercare/base.html" %}
{% set title = _('Moderate Twitter Accounts') %}

{% block content %}
<div id="csrf">
{{ csrf() }}{# CSRF token for AJAX actions. #}
</div>
<div id="ban-user">
  {{ _('Username:') }} <input id="ban-username" type="text" placeholder="@spammingisfun"/>
  <button id="ban" type="submit" class="btn">{{ _('Ban') }}</button></br>
</div>
<div id="ban-message"></div></br>
{{ _('Banned Users:') }}
<ul id="banned-users"></ul>
<button id="unban" type="submit" class="btn">{{ _('Unban') }}</button>
</br>
<div id="unbans-successful"></div>
{% endblock %}
