{% extends "wiki/base.html" %}
{% from "wiki/includes/sidebar_modules.html" import document_tools with context %}
{% from "wiki/includes/document_macros.html" import revision_diff with context %}
{% set title = _('Compare Revisions | {document}')|f(document=document.title) %}
{% set crumbs = [(document.get_absolute_url(), document.title),
                 (None, _('Compare Revisions'))] %}
{% set classes = 'compare' %}
{% set scripts = ('wiki', 'wiki.diff') %}
{% set meta = [('robots', 'noindex, nofollow')] %}

{% block content %}
  <div class="grid_9">
    <article id="compare-revisions">
      <hgroup>
        <h1>{{ _('Compare Revisions') }}</h1>
        <h2>{{ document.title }}</h2>
      </hgroup>
      {{ revision_diff(revision_from, revision_to) }}
      <p><a href="{{ url('wiki.document_revisions', document.slug) }}">{{ _('Back to History') }}</a></p>
    </article>
  </div>
{% endblock %}

{% block side_top %}
  {{ document_tools(document, document.parent, user, 'history', settings) }}
{% endblock %}
