<div id="unhelpful-survey" class="document-vote elevation-01">
    <span class="close-button"></span>
    <form hx-post="{{ url('wiki.unhelpful_survey') }}" data-required="unhelpful-reason" hx-target="closest div.document-vote" hx-swap="outerHTML" hx-sync="this:drop">
        {% csrf_token %}
        <input type="hidden" name="vote_id" value="{{ vote_id }}" />
        <h3 class="sorry sumo-card-heading text-center">{{ _('Sorry to hear that, please tell us why?') }}<br /><span disabled class="helpful-button">👎</span></h3>
        <ul id="helpful-contents">
            <li class="field is-condensed radio"><input type="radio" name="unhelpful-reason" value="confusing" id="help_1" /><label for="help_1">{{ _('Confusing') }}</label></li>
            <li class="field is-condensed radio"><input type="radio" name="unhelpful-reason" value="didnt-work" id="help_2" /><label for="help_2">{{ _("Solution didn't work") }}</label></li>
            <li class="field is-condensed radio"><input type="radio" name="unhelpful-reason" value="too-long" id="help_3" /><label for="help_3">{{ _('Too long') }}</label></li>
            <li class="field is-condensed radio"><input type="radio" name="unhelpful-reason" value="other" id="help_4" /><label for="help_4">{{ _('Other') }}</label></li>
            <li class="field is-condensed radio"><input type="radio" name="unhelpful-reason" value="firefox-feedback" id="help_5" /><label for="help_5">{{ _('I have feedback about Firefox') }}</label></li>
        </ul>
        <textarea name="comment" placeholder="{{ _('Tell us more.') }}"></textarea>
        <p class="character-counter">
          <span id="remaining-characters">600</span> {{ _('characters remaining.') }}
        </p>
        <input type="hidden" name="button" value="todo-delete-me" />
        <p class="disabled-reason error-text">
          {{ _('Please provide more details') }}
        </p>
        <div class="sumo-button-wrap align-end">
          <button class="sumo-button button-sm primary-button" type="submit" data-type="submit">{{ _('Submit') }}</button>
        </div>
    </form>
</div>
