{% extends "wiki/base.html" %}
{% from "wiki/includes/sidebar_modules.html" import document_tools with context %}
{% from "wiki/includes/document_macros.html" import show_for, revision_diff with context %}
{% set title = _('Review Revision {id} | {document}')|f(document=document.title, id=revision.id) %}
{% set crumbs = [(document.get_absolute_url(), document.title), (None, _('Review Revision'))] %}
{% set classes = 'review' %}
{% set scripts = ('wiki', 'wiki.diff') %}

{% block content %}
  <div class="grid_9">
    <article id="review-revision">
      <h1>{{ _('Review Revision of {title}')|f(title=document.title) }}</h1>
      <p>{{ _('Reviewing Revision {id} by {user}')|f(id=revision.id, user=revision.creator) }}.
      <a href="{{ url('wiki.document_revisions', document.slug) }}">{{ _('Back to History') }}</a>
      <br>
      {{ _('Revision Comment: {comment}')|f(comment=revision.comment) }}
      </p>

      {% if unreviewed_revisions %}
        <p>
          <div class="unreviewed-revision"> {{ ngettext('Unreviewed Revision:', 'Unreviewed Revisions:', unreviewed_revisions|length) }} </div>
          <br>
          <ul class="revision-comment">
            {% for revision in unreviewed_revisions %}
              <li>
                {{ _('Revision {id} by {user}')|f(id=revision.id, user=revision.creator) }}.
                <br>
                {{ _('<label>Revision Comment:</label> {comment}')|fe(comment=revision.comment) }}
                <br>
                <a href="{{ url('wiki.review_revision', document.slug, revision.id) }}">{{ _('Review Revision {id}')|f(id=revision.id) }}</a>
              </li>
            {% endfor %}
          </ul>
        </p>
      {% endif %}

      {% if revision.reviewed %}
        <p>
          {{ _('This revision was already reviewed by {user} on {date}.')|fe(user=revision.reviewer, date=datetimeformat(revision.reviewed, format='longdatetime')) }}
        </p>
      {% elif current_revision_id > revision.id %}
        <p>
          {% if latest_unapproved_revision_id > current_revision_id %}
            {{ _('This revision is outdated, but there is a new revision available.') }}
            <a href="{{ url('wiki.review_revision', document.slug, latest_unapproved_revision_id) }}">{{ _('Please review the latest revision.') }}</a>
          {% else %}
            {{ _('A newer revision has already been reviewed.') }}
          {% endif %}
        </p>
      {% elif document.current_revision %}
        <details class="h2" open="open">
          <summary>{{ _('Submitted Revision Changes') }}</summary>
          {{ revision_diff(document.current_revision, revision, _('Current public revision:'), _('Submitted revision:')) }}
        </details>
        <details class="h2">
          <summary>{{ _('Revision Source') }}</summary>
          <div id="doc-source">
            <textarea readonly="readonly">{{ revision.content }}</textarea>
          </div>
        </details>
        <details class="h2">
          <summary>{{ _('Revision Content') }}</summary>
          <div id="doc-content">
            {{ revision.content_parsed|safe }}
          </div>
          {{ show_for(document.get_products(), _('Article is for:')) }}
        </details>
      {% else %}
        <p>{{ _('This document does not have a current revision.') }}</p>
        <h3>{{ _('Keywords:') }}</h3>
        <div id="revision-keywords">
          {{ revision.keywords }}
        </div>
        <h3>{{ _('Search results summary:') }}</h3>
        <div id="revision-summary">
          {{ revision.summary }}
        </div>
        <h3>{{ _('Revision source:') }}</h3>
        <div id="revision-content">
          <pre>{{ revision.content }}</pre>
        </div>
        <h3>{{ _('Revision rendered html:') }}</h3>
        <div id="revision-html">
          <div id="doc-content">
            {{ revision.content_parsed|safe }}
          </div>
        </div>
      {% endif %}

      {% include 'wiki/includes/review_form.html' %}
    </article>
  </div>
{% endblock %}

{% block side_top %}
  {{ document_tools(document, document.parent, user, '', settings) }}
{% endblock %}

{% block side_bottom %}
  {% if not revision.reviewed and not document.current_revision %}
    {{ show_for(document.get_products(), _('Article is for:')) }}
  {% endif %}
{% endblock %}

{% block side %}
{% endblock %}
