@use '../config' as c;

// Homepage
//
// This is an example homepage design, complied to display several components
// working together.
//
// Markup: ../../../../../../styleguide/styleguide-examples/example-home.njk
//
// Weight: 50
//
// full: true
//
// Style guide: home
