/*
 * Styles for our admin additions via kadmin app.
 */
h2 {
    border-bottom: solid 2px #f0f0f0;
    border-top: solid 2px #f0f0f0;
    margin: 15px 0 0;
    padding: 2px 0;
}

.redis-info td,
#settings td {
  font-family: monospace;
}

.redis-info th a,
#settings th a {
  visibility: hidden;
}

.redis-info tr:hover th a,
#settings tr:hover th a {
  visibility: visible;
}

#content section {
    border-bottom: solid 2px #f0f0f0;
    padding: 10px 0;
}