{% block nav %}
  {% include "sumo/static/styleguide-examples/nav.njk" %}
{% endblock %}


<main>
  {% block content %}{% endblock %}
</main>


{% block nav %}
  {% include "sumo/static/styleguide-examples/footer.njk" %}
{% endblock %}
