<div class="mzp-c-button-wrap in-styleguide {{ modifier_class }}">
  <button class="mzp-c-sumo-button primary-button">Submit</button>
  <button class="mzp-c-sumo-button secondary-button">Clear</button>
</div>
