<div class="field radio {{modifier_class}}">
  <input
    type="radio"
    id="id_example_radio_1"
    name="radio group example"
    value="Apples"
    {% if modifier_class === "has-disabled" %}disabled{% endif %}
  />
  <label for="id_example_radio_1">Apples</label>
</div>
<div class="field radio {{modifier_class}}">
  <input
    type="radio"
    id="id_example_radio_2"
    name="radio group example"
    value="Oranges"
    {% if modifier_class === "has-disabled" %}disabled{% endif %}
  />
  <label for="id_example_radio_2">Oranges</label>
</div>
<div class="field radio {{modifier_class}}">
  <input
    type="radio"
    id="id_example_radio_3"
    name="radio group example"
    value="Peaches"
    {% if modifier_class === "has-disabled" %}disabled{% endif %}
  />
  <label for="id_example_radio_3">Peaches</label>
</div>
