<footer class="footer">
  <div class="container">
    <div class="col">
      <a href="https://www.mozilla.org">
        <img class="footer-logo" src="https://static-media-prod-cdn.itsre-sumo.mozilla.net/static/sumo/img/moz-wordmark-light-reverse.svg" alt="Mozilla" />
      </a>
    </div>
    <div class="col">
      <ul class="footer--list">
        <li>
          <h5>
            <a href="https://www.mozilla.org">Mozilla</a>
          </h5>
        </li>
        <li class="hide-mobile"><a href="https://www.mozilla.org/about/">About</a></li>
        <li class="hide-mobile"><a href="https://blog.mozilla.org/">Blog</a></li>
        <li class="hide-mobile"><a href="https://www.mozilla.org/contact/">Contact Us</a></li>
        <li class="hide-mobile"><a href="https://donate.mozilla.org/en-US/?presets=50,30,20,10&amount=30&utm_source=support.mozilla.org&utm_medium=referral&utm_content=footer&currency=usd">Donate</a></li>
        <li class="hide-mobile"><a href="https://kitsune.readthedocs.io/en/latest/">Contribute to this site</a></li>
        <li><a href="https://www.mozilla.org/en-US/about/legal/fraud-report/">Report Trademark Abuse</a></li>
        <li><a href="https://github.com/mozilla/kitsune/">Source code</a></li>
        <li><a class="show-mobile" href="https://twitter.com/firefox">Twitter</a></li>
        <li class="hide-mobile">
          <ul class="social-links">
            <li><a class="twitter" href="https://twitter.com/mozilla">Twitter<span> (@mozilla)</span></a></li>
            <li><a class="instagram" href="https://www.instagram.com/mozilla/">Instagram<span> (@mozilla)</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col hide-mobile">
      <ul class="footer--list">
        <li>
          <h5>
            <a href="https://www.mozilla.org/firefox/?utm_source=support.mozilla.org&utm_campaign=footer&utm_medium=referral">Firefox</a>
          </h5>
        </li>

        <li><a href="https://www.mozilla.org/firefox/new/?utm_source=support.mozilla.org&utm_campaign=footer&utm_medium=referral">Download Firefox</a></li>
        <li><a href="https://www.mozilla.org/firefox/?utm_source=support.mozilla.org&utm_campaign=footer&utm_medium=referral">Desktop</a></li>
        <li><a href="https://www.mozilla.org/firefox/mobile/?utm_source=support.mozilla.org&utm_campaign=footer&utm_medium=referral">Mobile</a></li>
        <li><a href="https://www.mozilla.org/firefox/features/?utm_source=support.mozilla.org&utm_campaign=footer&utm_medium=referral">Features</a></li>
        <li><a href="https://www.mozilla.org/firefox/channel/desktop/?utm_source=support.mozilla.org&utm_campaign=footer&utm_medium=referral">Beta, Nightly, Developer Edition</a></li>
        <li>
          <ul class="social-links">
            <li><a class="twitter" href="https://twitter.com/firefox">Twitter<span> (@firefox)</span></a></li>
            <li><a class="youtube" href="https://www.youtube.com/firefoxchannel">YouTube<span> (firefoxchannel)</span></a></li>
          </ul>
        </li>
      </ul>
    </div>

    <p class="fine-print">
      Portions of this content are &copy;1998–2020 by individual mozilla.org contributors. Content available under a <a href="//www.mozilla.org/foundation/licensing/website-content.html">Creative Commons license</a>.
    </p>
    <ul class="small-links">
      <li><a rel="nofollow" href="https://www.mozilla.org/privacy/websites/">Website Privacy Notice</a></li>
      <li><a rel="nofollow" href="https://www.mozilla.org/privacy/websites/#cookies">Cookies</a></li>
      <li><a rel="nofollow" href="https://www.mozilla.org/about/legal/terms/mozilla/">Legal</a></li>
    </ul>

    <p class="language-picker">
      Language <a href="/en/"  data-event-category="navigation" data-event-action="main navigation" data-event-label="Locale Picker">EN</a>
    </p>

  </div>
</footer>
