<form>
  {% include 'kitsune/sumo/static/styleguide-examples/field.njk' %}
  {% include 'kitsune/sumo/static/styleguide-examples/field_select.njk' %}
  {% include 'kitsune/sumo/static/styleguide-examples/button-wrap.njk' %}
</form>
