<nav class="site-nav">
  <a href="#" class="site-nav--logo">Logo</a>
  <ul class="site-nav--list">
    <li class="site-nav--item"><a class="site-nav--link" href="#">Home</a></li>
    <li class="site-nav--item"><a class="site-nav--link" href="#">About</a></li>
    <li class="site-nav--item"><a class="site-nav--link" href="#">Contact</a></li>
  </ul>
</nav>
