<div class="{{ modifier_class }}" style="padding: 20px;margin-bottom:3em;">
  <h1>Heading 1 or .display-xxl</h1>
  <h2>Heading 2 or .display-xl</h3>
  <h3>Heading 3 or .display-lg</h3>
  <h4>Heading 4 or .display-md</h4>
  <h5>Heading 5 or .display-sm</h5>
  <h6>Heading 6 or .display-xs</h6>
  <h6 class="display-xxs">.display-xxs</h6>
  <h6 class="display-xxxs">.display-xxxs</h6>
  <p class="body-lg"><strong>This is a paragraph with .body-lg applied.</strong> Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. <em>Nunc pulvinar ligula eget metus</em> gravida
    fermentum. Donec eu nunc eros. Donec dictum velit at mauris molestie, et
    dignissim mauris ultricies. <a href="#">Vivamus interdum iaculis leo</a>,
    id cursus elit scelerisque id. Donec laoreet ligula rhoncus elit accumsan
    apibus eleifend nec ipsum. Phasellus congue tellus ipsum</p>

  <p><strong>This is a default paragraph or .body-md.</strong> Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. <em>Nunc pulvinar ligula eget metus</em> gravida
    fermentum. Donec eu nunc eros. Donec dictum velit at mauris molestie, et
    dignissim mauris ultricies. <a href="#">Vivamus interdum iaculis leo</a>,
    id cursus elit scelerisque id. Donec laoreet ligula rhoncus elit accumsan
    apibus eleifend nec ipsum. Phasellus congue tellus ipsum</p>

  <p class="body-sm"><strong>This is a paragraph with .body-sm applied.</strong> Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. <em>Nunc pulvinar ligula eget metus</em> gravida
    fermentum. Donec eu nunc eros. Donec dictum velit at mauris molestie, et
    dignissim mauris ultricies. <a href="#">Vivamus interdum iaculis leo</a>,
    id cursus elit scelerisque id. Donec laoreet ligula rhoncus elit accumsan
    apibus eleifend nec ipsum. Phasellus congue tellus ipsum</p>

  <p class="body-xs"><strong>This is a paragraph with .body-xs applied.</strong> Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. <em>Nunc pulvinar ligula eget metus</em> gravida
    fermentum. Donec eu nunc eros. Donec dictum velit at mauris molestie, et
    dignissim mauris ultricies. <a href="#">Vivamus interdum iaculis leo</a>,
    id cursus elit scelerisque id. Donec laoreet ligula rhoncus elit accumsan
    apibus eleifend nec ipsum. Phasellus congue tellus ipsum</p>
</div>
