{% extends "questions/base.html" %}

{% set title = _('Please Confirm Your Email Address') %}
{% set classes = 'questions' %}
{% from "questions/includes/aaq_macros.html" import aaq_progress %}

{% block content %}
  <div class="grid_12">
    <article class="main">
      <div class="confirm-question highlight-box">
        {{ aaq_progress(4) }}
        <h1>{{ _('Please confirm your email address.') }}</h1>
        <p>
          {% trans %}
            Thank you! Your question will appear on the site as soon as you confirm
            your email address. You should receive an email shortly with a link to
            confirm.
          {% endtrans %}
        </p>
        {% if email %}
          <p>{{ _('An email has been sent to the address below:') }}</p>
          <p><strong>{{ email }}</strong></p>
        {% endif %}
      </div>
    </article>
  </div>
{% endblock %}

{% block side %}
{% endblock %}
