{% extends "questions/base.html" %}
{% from "questions/includes/aaq_macros.html" import marketplace_category with context %}
{% set title = _('Marketplace: Developer Support Request') %}
{% set classes = 'new-question marketplace' %}

{% block content %}
  <article class="main">
    <div id="ask-question">
      <h1>{{ title }}</h1>
      <p>{{ _('Please complete the form below to submit your question to our Marketplace Support group.') }}</p>
      <div class="inner-wrap">
        {{ marketplace_category('developer-request', form, error_message) }}
      </div>
    </div>
  </article>
{% endblock %}

{% block side %}
{% endblock %}
