{% extends "base.html" %}

{% set styles = ('common', 'questions', 'questions.aaq.react',) %}
{% set scripts = ('questions.aaq.react',) %}

{% set title = _('Ask a Question') %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
  {{ csrf() }}{# CSRF token for AJAX actions. #}
  <script type="application/json" class="data" name="products">{{ products_json|safe }}</script>
  <script type="application/json" class="data" name="topics">{{ topics_json|safe }}</script>
  <script type="application/json" class="data" name="images">{{ images_json|safe }}</script>
  <div class="apptarget" data-image-upload-url="{{ url('upload.up_image_async', 'auth.User', request.user.pk)}}"></div>
{% endblock %}
