RewriteEngine On

# TODO: remove this after a month or so.
RewriteRule ^search\.xml$ /search/xml [L,R=301]

# Account URLs.
RewriteRule ^tiki-login /users/login [L,R=301]
RewriteRule ^tiki-logout.php /users/logout [L,R=301]
RewriteRule ^tiki-register /users/register [L,R=301]
RewriteRule ^tiki-remind_password.php /users/pwreset [L,R=301]
RewriteRule ^tiki-user_preferences.php /users/edit [L,R=301]

# Redirect locales that point to one locale in SUMO.
# Kitsune does this by itself, mostly.
# Not sure about this guy: may need to special-case it in the LocaleURLMiddleware.
RewriteRule ^n[bn]\-NO/(.+)$           /no/$1 [L,R]
# Just need to move sr-CYRL above sr-LATN to get this.
RewriteRule ^sr/(.+)$           /sr-CYRL/$1 [L,R]

# Everything else goes to Kitsune.
RewriteRule ^(.*) /k/$1 [QSA]
