{% macro help_topics(topics, show_community_support=False) -%}
  {% for topic in topics %}
    {% if loop.first %}<ul class="card-grid cf">{% endif %}
    <li>
      {% set topic_url = url('products.documents', product_slug=product.slug, topic_slug=topic.slug) %}
      <a href="{{ topic_url }}" class="cf">
        <img src="{{ STATIC_URL }}sumo/img/blank.png" class="topic-icon" style="background-image: url('{{ topic.image_url }}')" alt="" />
        <span class="title">{{ pgettext('DB: products.Topic.title', topic.title) }}</span>
      </a>
    </li>
    {% if loop.last %}
      {% if show_community_support %}
        <li class="community-support">
          <a href="{{ url('wiki.document', 'get-community-support') }}" class="cf">
            <img src="{{ STATIC_URL }}sumo/img/blank.png" class="topic-icon" alt="" />
            <span class="title">{{ _('Get community support') }}</span>
          </a>
        </li>
      {% endif %}
      </ul>
    {% endif %}
  {% endfor %}
{%- endmacro %}

{% macro topic_sidebar(topics, subtopics, product, selected_topic=None, selected_subtopic=None) -%}
  <ul class="sidebar-nav topics">
    {% for topic in topics %}
      {% set topic_url = url('products.documents', product_slug=product.slug, topic_slug=topic.slug) %}
      <li {% if selected_topic == topic %}class="selected {% if selected_subtopic != None %}subtopic-selected{% endif %}"{% endif %}>
        <a href="{{ topic_url }}">
          {{ pgettext('DB: products.Topic.title', topic.title) }}
        </a>
        {% if selected_topic == topic %}
          <ul class="subtopics">
            {% for subtopic in subtopics %}
              {% set subtopic_url = url('products.subtopics', product_slug=product.slug, topic_slug=topic.slug, subtopic_slug=subtopic.slug) %}
              <li {{ selected_subtopic|class_selected(subtopic) }}>
                <a href="{{ subtopic_url }}">
                {{ pgettext('DB: products.Topic.title', subtopic.title) }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{%- endmacro %}
