{% from "includes/common_macros.html" import content_editor with context %}

{% macro display_user(user) -%}
  {% if user.profile.is_system_account %}
    {{ _('deleted user') }}
  {% else %}
    {{ name_link(user) }}
  {% endif %}
{%- endmacro %}

{% macro avatar_link(user=None, default_avatar=None) -%}
  {% if user %}
    <a rel="nofollow" href="{{ profile_url(user) }}">
      <img src="{{ profile_avatar(user) }}" height="48" width="48" alt="{{ display_name(user) }}" />
    </a>
  {% else %}
    <img src="{{ default_avatar }}" height="48" width="48" alt="{{ _('None') }}" />
  {% endif %}
{%- endmacro %}

{% macro name_link(user=None, name=None) -%}
  {% if user -%}
    <a rel="nofollow" href="{{ profile_url(user) }}">{% if name %}{{ name }}{% else %}{{ display_name(user) }}{% endif %}</a>
  {%- else -%}
    {{ name if name else _('None') }}
  {%- endif %}
{%- endmacro %}

{% macro message_tabs(active_tab) -%}
<nav class="sidebar-nav topics">
  <span class="details-heading"></span>
  <ul id="pm-nav" class="sidebar-nav--list">
    <li {{ active_tab|class_selected('inbox') }}>
      <a href="{{ url('messages.inbox') }}">{{ _('Inbox') }}</a>
    </li>
    <li {{ active_tab|class_selected('outbox') }}>
      <a href="{{ url('messages.outbox') }}">{{ _('Sent Messages') }}</a>
    </li>
    <li {{ active_tab|class_selected('new') }}>
      <a href="{{ url('messages.new') }}">{{ _('New Message') }}</a>
    </li>
  </ul>
</nav>
{%- endmacro %}

{% macro inbox_message(message) -%}
<section class="avatar-row">
  <div class="avatar-details user-meta">
    <div class="avatar">
      {{ avatar_link(message.sender, default_avatar) }}
    </div>
    <div class="user from">
      {{ display_user(message.sender) }} {{ datetimeformat(message.created) }}
    </div>
  </div>
</section>
<div class="message">{{ message.content_parsed }}</div>
{%- endmacro %}


{% macro outbox_message(message) -%}
  <span class="to">
  {% if message.recipients_count > 0 %}
    <p><strong>{{ _('To') }}:</strong>
    {% set comma = joiner(', ') %}
    {% for user in message.to.all() -%}
        {{ comma() }}
        {{ display_user(user) }}
    {% else %}
      {{ display_user(message.recipient) }}
    {% endfor %}
    </p>
  {% endif %}
  </span>
  {% if in_staff_group(request.user) and message.to_groups_count > 0 %}
    <span class="to-group">
      <p><strong>{{ _('To Groups') }}:</strong> 
      {% set comma = joiner(', ') %}
      {% for group in message.to_groups -%}
        {%- for profile in group.profile.all() -%}
          {{ comma() }}
          <a href="{{ url('groups.profile', profile.slug) }}">{{ group }}</a>
        {% endfor %}
      {% endfor %}
      </p>
    </span>
  {% endif %}
  <span class="time">{{ datetimeformat(message.created) }}</span>
  <div class="message read-message">{{ message.content_parsed }}</div>
{%- endmacro %}


{% macro message_form(form) -%}
  {{ form.hidden_fields()|join|safe }}
  <ul>
    {% for field in form.visible_fields() %}
      <li {% if field.errors %}class="invalid"{% endif %}>
        {{ field.label_tag()|safe }}
        {% if field.name == 'message' %}
          {{ field.errors }}
          {{ content_editor(field) }}
          <div id="remaining-characters" data-max-characters="{{ field.field.max_length }}" data-input="#id_message">
          </div>
        {% else %}
          {{ field|safe }}
          {{ field.errors }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{%- endmacro %}
