.download-firefox {
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;

  .download-button {
    background: @buttonGreen;
    border: 2px solid @buttonGreen;
    border-radius: 100px;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    padding: .9em 40px;
    position: relative;
    text-decoration: none;

    .download-content {
      .download-title {
        color: #fff;
        display: block;
        font-weight: 700;
        text-align: center;
      }
    }

    &:hover,
    &:focus {
      background-color: saturate(darken(@buttonGreen, 5%), 10%);
      border-color: saturate(darken(@buttonGreen, 5%), 10%);
    }
  }

  ul.info {
    font-size: 0.7em;
    margin: 4px 0 0 0;
    padding: 0;

    li {
      list-style: none;
      display: inline;

      a {
        color: #999;
      }

      &:not(:first-child):before {
        content: "|";
        color: #999;
        padding-right: 3px;
      }
    }
  }
}