/* Clearfix */
.cf {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.image-replaced {
  overflow: hidden;
  text-indent: 120%; // extra 20% to account for fancy fonts that may overhang
  white-space: nowrap;
}
