// ------------------------------------------------------------------------------
// Sidebar-area components
// ------------------------------------------------------------------------------

.kss-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.9em;

  &-header {
    margin-top: 2em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
    text-transform: uppercase;
    opacity: 0.6;
  }

  &__ref {
    display: none; // hide numbers from sidebar
  }

  &__menu-link {
    display: block;
    margin: 0 -10px;
    padding: 2px 10px;
    color: var(--kss-text-color);

    &:hover {
      background: rgba(0, 0, 0, 0.05);
      text-decoration: none;
    }
  }

  &__menu-child {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
    border-left: 1px solid var(--kss-text-color);

    .kss-nav__menu-link {
      margin-left: 0;

      &:hover {
        opacity: 1;
      }
    }
  }
}
