{% extends "base.html" %}
{% from "dashboards/includes/macros.html" import print_readout, product_choice_list, print_subscription_menu with context %}
{% from "dashboards/includes/macros.html" import localization_sidebar_nav %}
{% set title = _('[{product}] Knowledge Base Dashboard')|fe(product=pgettext('DB: products.Product.title', product.title) if product else _('All Products')) %}
{% set scripts = ('wiki', 'wiki.dashboard') %}
{% set styles = ('kbdashboards', ) %}
{% set crumbs = [(None, title)] %}
{% set classes = 'contributor-dashboard' %}
{# TODO: Move required dashboard scripts out of wiki.js into their own #}

{% block content %}
  <div class="grid_9">
    <article id="localize" class="dashboards">
      <h1>{{ title }}</h1>

      {{ product_choice_list(products, product, url('dashboards.contributors')) }}

      {% if default_locale_name != request_locale_name %}
        <div class="choice-list">
          <label>{{ _('Show information for:') }}</label>
          <ul>
            <li>
              {{ default_locale_name }}
            </li>
            <li>
              <a href="{{ url('dashboards.localization') }}">{{ request_locale_name }}</a>
            </li>
          </ul>
        </div>
      {% endif %}

      {% if not user.is_anonymous() %}
        {{ print_subscription_menu(default_locale_name,
                                   request_locale_name,
                                   on_default_locale,
                                   is_watching_default_locale,
                                   is_watching_other_locale,
                                   is_watching_default_approved,
                                   is_watching_other_approved,
                                   settings.WIKI_DEFAULT_LANGUAGE,
                                   product=product) }}
      {% endif %}

      {% for readout in readouts.itervalues() %}
        {{ print_readout(readout, locale=default_locale, product=product) }}
      {% endfor %}
    </article>
  </div>
{% endblock %}

{% block side_top %}
  {{ localization_sidebar_nav(settings.WIKI_DEFAULT_LANGUAGE, 'dashboard', True) }}
{% endblock %}
