{% extends "messages/base.html" %}
{% from "messages/includes/macros.html" import outbox_message, inbox_message with context %}
{% set title = _('Delete Message') %}
{% set crumbs = [(url('messages.inbox'), _('Messages'))] %}
{% if msgtype == 'inbox' %}
  {% set render_message = inbox_message %}
{% else %}
  {% set crumbs = crumbs + [(url('messages.outbox'), _('Sent Messages'))] %}
  {% set render_message = outbox_message %}
{% endif %}
{% set crumbs = crumbs + [(None, title)] %}

{% block content %}
  <article id="delete-message" class="main message-view">
    <h1>{{ _('Are you sure you want to delete this message?') }}</h1>
    {{ render_message(message) }}
    <form action="" method="POST">
      {{ csrf() }}
      <input type="submit" value="{{ _('Delete Message') }}" />
      <a href="{{ url('messages.{t}'.format(t=msgtype)) }}">{{ _('Cancel') }}</a>
    </form>
  </article>
{% endblock %}
