{% extends "messages/base.html" %}
{% from "messages/includes/macros.html" import avatar_link, name_link %}
{% set title = _('Messages') %}
{% set crumbs = [(None, title)] %}

{% block content %}
  <section class="actions">
    <a href="{{ url('messages.new') }}">{{ _('New Message') }}</a>
  </section>
  <article id="inbox" class="main message-list">
    <h1>{{ title }}</h1>
    {% if msgs %}
      <ol>
        {% for message in msgs %}
          <li class="{% if message.unread %}unread{% endif %} {% if message.replied %}replied{% endif %}">
              <span class="avatar">
                {% if message.sender -%}
                  {{ avatar_link(message.sender) }}
                {% else %}
                  <img src="{{ profile_avatar(message.sender) }}">
                {%- endif %}
              </span>
              <span class="from user">
                {% if message.sender -%}
                  {{ name_link(message.sender) }}
                {% else %}
                  {{ _('System') }}
                {%- endif %}
                {{ datetimeformat(message.created) }}
              </span>
            <a href="{{ url('messages.read', message.id) }}">
              {{ message.message|truncate(length=200) }}
            </a>
          </li>
        {% endfor %}
      </ol>
    {% else %}
      <p>{{ _('There are no messages here.') }}</p>
    {% endif %}
  </article>
{% endblock %}
