{% extends "messages/base.html" %}
{% set title = _('New Message') %}
{% set crumbs = [(url('messages.inbox'), _('Messages')), (None, title)] %}

{% block content %}
  <article id="new-message" class="main">
    <h1>{{ title }}</h1>
    <form action="" method="post">
      {{ csrf() }}
      <ul>
        {{ form.as_ul()|safe }}
      </ul>
      <div class="submit">
        <input type="submit" name="send" value="{{ _('Send') }}">
        <a href="{{ url('messages.inbox') }}">{{ _('Cancel') }}</a>
      </div>
    </form>
  </article>
{% endblock %}
