{% extends "messages/base.html" %}
{% from "messages/includes/macros.html" import avatar_link, name_link %}
{% set title = _('Read Message') %}
{% set crumbs = [(url('messages.inbox'), _('Messages')),
                 (None, title)] %}

{% block content %}
  <article id="read-message" class="main">
    <h1>{{ title }}</h1>
    <span class="avatar">{{ avatar_link(message.sender) }}</span>
    <span class="from">{{ name_link(message.sender) }} {{ datetimeformat(message.created) }}</span>
    <div class="message">{{ message.message }}</div>
    {% if message.sender %}
      <form action="{{ url('messages.new') }}" method="POST">
        {{ csrf() }}
        <ul>
          {{ form.as_ul()|safe }}
        </ul>
        <input type="submit" value="{{ _('Reply') }}" />
      </form>
    {% endif %}
  </article>
{% endblock %}
