@use '../config' as c;
@use '../protocol' as p;

.topic-article {
    margin-bottom: 24px;

  @media #{p.$mq-md} {
    margin-bottom: 48px;
  }
}

.sumo-article-header {
  display: flex;
  flex-direction: column-reverse;

  &--text {
    flex: 1 1 auto;
  }

  &--meta {
    flex: 0 0 auto;
  }

  @media #{p.$mq-md} {
    flex-direction: row;
    align-items: center;
    margin-bottom: 48px;
  }
}
