@use '../protocol' as p;
@use '../config' as c;

// Containers
//
// This container provides default horizontal margins for the page and a max-width of 1400px.
//
// Markup: ../../../../../../styleguide/styleguide-examples/containers.njk
//
// Weight: 20
//
// Style guide: containers

.mzp-l-content {
  @include c.container;

  &.narrow {
    max-width: 1000px;
  }

  & & {
    padding-right: c.$gutter-width /2;
    padding-left: c.$gutter-width /2;
  }
}

.sumo-page-section {
  padding-top: 32px;
  padding-bottom: 32px;

  @media #{p.$mq-md} {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &--lg {
    padding-top: 32px;
    padding-bottom: 24px;

    @media #{p.$mq-md} {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @media #{p.$mq-lg} {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }

  &--sm {
    padding-top: 16px;
    padding-bottom: 16px;

    @media #{p.$mq-md} {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

.section-break {
  border: 2px solid var(--color-heading);
  border-width: 1px 0 0 0;
  margin: 32px 0;

  @media #{p.$mq-md} {
    margin: 48px 0;
  }
}
