@use '../config' as c;
@use '../protocol' as p;


.contributor-list {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 48px;
    margin: 4px;
  }

  img {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}

.media-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    width: 200px;
    height: 200px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
    }
  }

  img {
    max-width: 184px;
    max-height: 184px;
  }
}

.media-search {
  margin-top: 32px;
  margin-bottom: 32px;
}

.media-filters {
  display: flex;
  justify-content: space-between;

  > * {
    width: 48%;
  }
}


.filter {
  &.inline-label {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    select,
    input {
      flex: 1 1 auto;
      width: 100%;
      width: 100%;
      max-width: none;
      margin: 0 0 16px 0;
    }

    @media #{p.$mq-md} {
      flex-wrap: nowrap;

      select,
      input {
        margin: 0 10px;

      }
    }
  }
}

.watch-form {
  svg {
    width: 24px;
    height: 24px;
  }
}

.hero-bar {
  .sumo-l-two-col--one-half {
    margin-bottom: 16px;
  }

  @media #{p.$mq-md} {
    align-items: center;
    flex-direction: row-reverse;

    .sumo-l-two-col--one-half {
      margin-bottom: 0;
    }
  }
}

.hero-butler {
  display: block;
  margin: 0 auto;
}
.pick-a-way {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  svg {
    display: block;
    margin: 8px auto;
    width: 80px;
    height: 80px;
  }
  span {
    display: block;
    max-width: 280px;
    margin: 0 auto;
  }

  a {
    @include c.text-display-xs;
    text-align: center;
    display: block;
    text-decoration: none;
    color: var(--color-heading);
  }

  &.has-icons {
    a {
      flex: 1 1 280px;
      padding: 8px;
      margin: 0 8px;
      border-radius: var(--global-radius);
      text-align: center;

      &:hover {
        background-color: var(--color-shade-bg);
      }
    }
  }

  &.text-left {
    li {
      text-align: left;
    }
  }

  &.has-left-heading {
    align-items: center;
    width: 100%;
    h2 {
      flex: 1 1 280px;
    }
  }
}

ol.headings-list {
  @include c.text-display-xs;
  text-align: left;
  color: var(--color-heading);

  li {
    text-align: left;
    margin-bottom: p.$spacing-lg;
  }

  a {
    display: inline;
  }
}

.legacy-blue-text {
  color: #2BBAE7;
}
