// Containers
//
// This container provides default horizontal margins for the page and a max-width of 1400px.
//
// .narrow - 1000px max max-width
//
// Markup: ../../../styleguide-examples/containers.njk
//
// Weight: 20
//
// Style guide: containers

@use 'protocol' as p;

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: p.remify(1440px);

  &.narrow {
    max-width: p.remify(1000px);
  }
}
