// Containers
//
// This container provides default horizontal margins for the page and a max-width of 1400px.
//
// Markup: ../../../styleguide-examples/containers.njk
//
// Weight: 20
//
// Style guide: containers

@use '../protocol' as p;
@use '../config' as c;

.mzp-l-content {
  @include c.container;

  &.narrow {
    max-width: 1000px;
  }
}

.sumo-page-section {
  padding-top: 20px;
  padding-bottom: 20px;

  @media #{p.$mq-md} {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
