@use '../config' as c;
@use '../protocol' as p;


.document {
  &--contributors {
    text-align: center;
  }

  &--contributors-list {
    margin-bottom: p.$spacing-md;
  }

  &--content {
    @media #{p.$mq-md} {
      p, ul {
        padding-right: c.col-width(1, 4);
      }
    }

    @media #{p.$mq-lg} {
      p, ul {
        padding-right: c.col-width(1, 6);
      }
    }

    @media #{p.$mq-xl} {
      p, ul {
        padding-right: c.col-width(1, 7);
      }
    }
  }
}


// Document Vote
//
// This form is used on document pages. It is designed to sit in the sidebar
// or at the bottom of the content area, and uses position:sticky at some
// screen sizes to follow the user as they scroll.
//
// Markup: ../../../../../../styleguide/styleguide-examples/vote-component.njk
//
// Weight: 21
//
// Style guide: footer

.document-vote {
  border-radius: 36px;
  padding: 40px 0 p.$spacing-sm;

  @at-root .hide-on-large & {
    padding: 20px;
  }

  &.is-forum-answer {

    .document-vote--form {
      flex-direction: row;
      align-items: center;
    }

    .document-vote--heading {
      font-weight: normal;
      margin: 0;
    }
  }

  &--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--heading {
    @include c.text-body-md;
    margin: 0;
    margin-bottom: p.$spacing-md;

    &.msg { // injected with JS
      font-weight: bold;
      color: var(--color-heading);
      margin: 0;
      text-align: center;
    }
  }

  &--buttons {
    margin-left: p.$spacing-md;
  }

  &--sidebar-wrap {
    display: none;

    @media #{p.$mq-lg} {
      display: block;
      position: sticky;
      top: 100px;
      margin-top: 300px;
    }

    .document-vote {
      border-radius: p.$spacing-lg;
      padding: p.$spacing-lg;
    }

    .document-vote--form {
      flex-direction: column;
    }

    .document-vote--heading {
      margin-bottom: p.$spacing-md;
    }

    .document-vote--buttons {
      margin-left: 0;
    }
  }

  .wait {
    display: none;
  }

  .helpful-button,
  .not-helpful-button {
    padding: 0;
    margin: 0 p.$spacing-sm;
    font-size: p.$spacing-lg;
    border: 0 none;
    appearance: none;
    background: transparent;
    will-change: transform;
    transition: transform 0.3s linear;
    cursor: pointer;

    .hidden-text {
      font: 0/0 a;
      color: transparent;
    }

    &:not([disabled]):hover {
      transform: scale(1.2);
    }

    &[disabled] {
      opacity: 1;
      cursor: default;
      color: var(--color-heading);

      .emoji {
        opacity: 0.5;
      }
    }

    .helpful-count {
      display: inline-flex;
      @include c.text-body-md;
      transform: translateY(-3px);
    }

  }

  @media #{p.$mq-md} {

    &--form {
      flex-direction: row;
    }

    &--heading {
      margin-bottom: 0;
    }

  }
}


// This set of styles overrides defaults so classes don't need to be used
// on headlines, etc. on articles.
.document--content,
.forum--entry-content,
#doc-content {
  #toc,
  .note,
  .warning {
    padding: p.$spacing-lg;
    border-radius: var(--global-radius);
    background: var(--color-shade-bg);
    margin-bottom: p.$spacing-xl;

    h2 {
      @include c.sumo-card-heading;
      margin-top: 0;
    }
  }

  #toc {
    .tocnumber {
      display: none;
    }
  }

  .warning {
    background: var(--color-warning)
  }


  h1 {
    @include c.text-display-xs;
  }

  h2 {
    @include c.text-display-xxs;
  }

  h3, h4, h5, h6 {
    @include c.text-display-xxxs;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    &:first-child {
      margin-top: 0;
    }
  }

  .wiki-image {
    padding: 5px 0;
    vertical-align: middle;
    display: inline-block;
  }

  .separator {
    border: 0 none;
    border-bottom: 1px solid var(--text-color);
    margin: p.$spacing-md 0;
  }

  ul {
    list-style: disc;
    margin: p.$spacing-md;
  }

  ol {
    list-style: decimal;
    margin: p.$spacing-md;
  }

  li {
    margin-bottom: p.$spacing-sm;
  }

  .filepath {
    font-style: italic;
  }

  .button,
  .key {
    display:inline-flex;
    justify-content:center;
    align-items: center;
    border: 2px solid var(--color-marketing-gray-03);
    padding: 0 p.$spacing-md;
    border-radius: 2px;
    font-family: var(--heading-alt-font-family);
    @include p.font-size(14px);
    font-weight:700;
    text-decoration: none;
    color: var(--color-marketing-gray-07);
  }

  .key {
    padding: 0 p.$spacing-sm;
    font-family: var(--code-font-family);
  }

  .pref {
    padding: 0 2px;
    border: 1px solid var(--color-marketing-gray-03);
  }

  .menu {
    background: var(--color-marketing-gray-02);
    color: var(--color-marketing-gray-10);
    padding: 2px 4px;
  }

  dl {
    margin: 0 0 p.$spacing-md p.$spacing-lg;

    dd {
      margin-left: p.$spacing-lg;
    }
  }
}
