@use '../config' as *;
@use 'protocol';

.footer {
  padding: 45px 0 10px 0;
  background: var(--contrast-bg);


  &, a, a:hover, a:visited, a:active, a:focus {
    color: var(--knockout-color);
  }

  &-logo {
    width: 100px;
  }

  &--list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0 0 0.8em;
    }
  }

  h5 {
    margin: 1em 0 0.9em 0;
    font-size: rem-calc(18);
  }

  .fine-print,
  .small-links,
  .language-picker {
    margin: 0;
    padding: 0;
    font-weight: bold;

    a {
      color: var(--link-color);
    }
  }

  .small-links {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    margin-top: rem-calc(20);

    a {
      padding: 0 20px 0 0;
    }
  }

  .fine-print {
    margin-top: rem-calc(20);
    padding-top: rem-calc(20);
    border-top: 2px solid var(--knockout-color);
  }

  @media #{protocol.$mq-md} {
    .container {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(12, [col] 1fr);
    }

    .col {
      grid-column: span 4;
    }

    h5 {
      margin-top: 0;
    }

    .fine-print,
    .small-links,
    .language-picker {
      font-weight: normal;

      a {
        color: var(--knockout-subtle-color);
      }
    }

    .fine-print {
      margin-top: 0;
      padding-top: 0;
      border: none;
      grid-column: span 8;

      a {
        color: var(--knockout-color);
      }
    }

    .small-links {
      justify-content: flex-end;
      margin-top: 0;
      grid-column: span 4;

      a {
        padding: 0 0 0 20px;
      }
    }

    .language-picker {
      grid-column: span 12;
      text-align: right;
    }
  }
}
