@use 'protocol/css/includes/lib' as p;

// Footer
//
// The site footer uses Protocol's footer component with a custom SUMO wordmark.
// https://protocol.mozilla.org/patterns/organisms/footer.html
//
// Markup: ../../../../../../styleguide/styleguide-examples/footer.njk
//
// Weight: 21
//
// Style guide: footer

.mzp-c-footer {
  margin-top: auto;
  padding-top: p.$spacing-xl;

  a:active {
    background-color: transparent;
  }
}

.mzp-c-footer-primary-logo {
  a {
    background-size: contain;
    width: 100px;
  }
}
