@use '../config' as c;
@use '../protocol' as p;

.forum {
  &--question-item {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    border-bottom: 1px solid var(--color-heading);

    &:first-child {
      padding-top: 0;
    }
  }

  &--question-item-heading {
    @include c.text-body-md;
  }

  &--question-item-side {
    flex: 0 0 100%;
    display: flex;

    li {
      position: relative;
      width: 48px;
      display: flex;
      justify-content: center;
      padding: 0 12px;
      border-right: 1px solid var(--color-border);
      color: var(--color-marketing-gray-05);
      text-align: center;

      &:last-child {
        border: 0 none;
      }

      &.thread-solved {
        color: var(--color-success);
      }

      .hover-label {
        opacity: 0;
        will-change: opacity, transform;
        padding: 2px 6px;
        @include c.text-body-xs;
        background: var(--color-inverse-bg);
        color: var(--color-inverse);
        border-radius: var(--global-radius);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        transition: opacity .2s linear, transform .2s linear;
        z-index: 2;
      }

      &:hover {
        .hover-label {
          display: block;
          opacity: 1;
          transform: translate(-50%, 10%);
        }
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &--user-meta {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    border-top: 1px solid var(--color-border);
    @include c.text-body-sm;

    p {
      margin: 0 24px 0 0;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      text-decoration: none;
      color: var(--color-heading);

      &:hover {
        color: var(--color-heading);
        text-decoration: underline;
      }
    }
  }

  &--sidebar-sort {
    margin-bottom: 40px;
  }

  &--masthead-text {
    @include c.bottomless;
  }

  &--masthead-cta {
    display: none;
  }

  &--mobile-sort {
    margin-bottom: 40px;
    max-width: 160px;
  }

  @media #{p.$mq-md} {
    &--question-item {
      flex-direction: row;
      padding-top: 32px;
      padding-bottom: 32px;
    }

    &--question-item-side {
      flex: 0 0 70px;
      flex-direction: column;

      li {
        padding: 12px 0;
        border-right: 0 none;
        border-bottom: 1px solid var(--color-border);

        &:first-child {
          padding-top: 0;

          .hover-label {
            top: 0;
          }
        }

        &:last-child {
          padding-bottom: 0;
        }

        .hover-label {
          top: 12px;
          left: 90%;
          transform: translateX(-25%);
        }

        &:hover .hover-label {
          transform: translateX(-10%);
        }
      }
    }

    &--masthead-cta {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  @media #{p.$mq-md} {
    &--masthead-cta {
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  @include c.text-body-xs;

  li {
    display: flex;
    align-items: center;
    padding: 4px 16px;
    margin: 0 8px 8px 0;
    background-color: var(--color-light-gray-03);
    border-radius: 20px;
    white-space: nowrap;

    &:last-child {
      margin-right: 0;
    }

    &.is-active {
      background-color: var(--color-link);
      color: var(--color-inverse);
    }
  }

  a {
    color: var(--color-text);
    text-decoration: none;
    padding: 0;
  }

  .remover {
    @include c.text-body-md;
    color: var(--color-text-light);
    line-height: 1;
    appearance: none;
    background: transparent;
    padding: 0;
    margin: -2px -4px 0 8px;
    border: 0 none;

    &:hover {
      color: var(--color-error);
    }
  }
}

// truncate text UI, ported from old system
.ui-tabs-hide {
  display: none;
}

.ui-truncatable {
  .short-text {
    display: none;
  }

  &.truncated {
    .short-text {
      display: block;
    }

    .long-text {
      display: none;
    }
  }
}


// flexbox utility
.push-right {
  @include p.bidi((
    (margin, 0 auto 0 0, 0 0 0 auto),
  ));
}


// forum post page
.question {
  .main-content {
    padding-bottom: 40px;
  }
}

.ask-a-question {
  margin: 40px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media #{p.$mq-md} {
    flex-direction: row-reverse;
    text-align: left;
  }

  .sumo-button-stack {
    @include p.bidi((
      (margin, 0 0 0 32px, 0 32px 0 0),
    ));
  }
}

.question-meta {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--color-border);

  &--details {
    @include p.bidi((
      (margin, 0 0 0 12px, 0 12px 0 0),
    ));
    @include c.text-body-sm;
  }
}

.user-meta {
  display: flex;
  margin-bottom: 24px;

  .avatar {
    // margin-right: 16px;
    img {
      display: block;
      border-radius: 50%;
    }
  }

  &,
  .user time {
    @include c.text-body-sm;
  }
}

.question-details {
  .sumo-button-wrap,
  select {
    display: none;
  }


  &.editing {
    select {
      display: block;
      margin-top: 4px;
      margin-bottom: 16px;
    }

    .sumo-button-wrap {
      display: block;
      margin: -16px 0 16px;
    }

    .detail {
      display: none;
    }

    #details-submit {
      display: block;
    }

    #details-edit {
      display: none;
    }
  }
}



// TODO: test this on prod, as my database doesn't support it.
.attachments-upload,
.ans-attachments {
  .adding-attachment {
    display: none;
  }

  .empty,
  .upload-progress {
    display: none;
  }

  .attachment {
    display: inline-block;
    position: relative;

    .overlay {
      background: #ccc url('../img/wait-trans.gif') no-repeat center;
      bottom: 5px;
      left: 5px;
      opacity: .5;
      position: absolute;
      right: 5px;
      top: 5px;
    }

    img {
      background: url('../img/wait-trans.gif') no-repeat center;
      margin: 5px;
      text-align: center;
      vertical-align: top;
    }

    input.delete {
      background: #000;
      border: 2px solid #fff;
      border-radius: 1em;
      color: #fff;
      cursor: pointer;
      display: none;
      font-family: Verdana;
      font-weight: bold;
      opacity: .5;
      padding: 0 .2em;
      position: absolute;
      right: 10px;
      top: 10px;

      &:hover {
        opacity: 1;
      }
    }

    &:hover input.delete {
      display: block;
    }
  }

  .upload-progress {
    background: url('../img/wait-trans.gif') no-repeat center;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: center;
    vertical-align: top;

    &.show {
      display: inline-block;
    }
  }

  input.image-delete {
    margin-top: 1em;
  }

  img {
    max-height: 120px;
    max-width: 120px;
  }
}

.author-name {
  display: flex;
  align-items: center;
}

.karma-titles {
  display: flex;
  margin: 0 0 0 8px;
  padding-left: 8px;
  line-height: 1;
  border-left: 1px solid var(--color-heading);

  li {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.is-solution,
.is-helpful,
.is-spam,
.is-owner {
  @include c.text-body-xs;
  color: var(--color-heading);
  font-weight: bold;
  padding: 4px 16px;
  margin: 0 0 8px 0;
  border-radius: 20px;
  display: inline-block;
}

.is-solution {
  background-color: var(--color-green-04);
}

.is-helpful {
  background-color: var(--color-blue-01);
}

.is-spam {
  background-color: var(--color-yellow-05);
}

.is-owner {
  background-color: var(--color-light-gray-03);
}

.answer-tools {
  &.align-end {
    display: flex;
    justify-content: flex-end;
  }
}

.tag-adder {
  padding: 16px 0;
}
.answer {
  padding: 16px 0;
  border-bottom: 1px solid var(--color-border);

  &--tools {
    display: flex;
    flex-direction: column;
    background: var(--color-shade-bg);
    border-radius: 0 var(--global-radius) var(--global-radius) 0;
    padding: 8px;
    margin-top: -1px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--color-border);

    .title {
      margin: 0 16px 0 0;
    }
  }

  &--tools-form {
    margin-right: auto;
    margin-bottom: 16px;

    .solution {
      display: flex;
    }
  }

  blockquote {
    @include c.text-body-md;
    font-weight: normal;
  }

  @media #{p.$mq-md} {
    &--tools {
      flex-direction: row;
      padding-left: 55px;
    }

    &--tools-form {
      margin-bottom: 0;
    }

    .main-content {
      padding-left: 55px;
    }
  }
}

.question-reply-form {
  padding-top: 20px;

  @media #{p.$mq-md} {
    padding-top: 40px;
  }
}

.thread-meta {
  display: flex;
  @include c.text-body-sm;

  li {
    border-right: 1px solid var(--color-border);
    padding-right: 12px;
    margin-right: 12px;

    &:last-child {
      padding-right: 0;
      margin-right: 0;
      border-right: 0 none;
    }
  }
}
