// Navigation
//
// Basic site navigation
//
// Markup:
// {% import 'kitsune/sumo/static/styleguide-examples/nav.njk' as nav %}
// {{ nav.nav() }}
// <div class="kss-modifier__default-name kss-style"><br>Logged-in view</div>
// {{ nav.nav(is_logged_in=true) }}
//
//
// Weight: 20
//
// Style guide: nav

@use '../config' as *;

.site-nav {
  position: relative;
  display: flex;
  padding: 0 20px;
  background: var(--contrast-bg);

  &--logo {
    display: block;
    padding: 14px 20px 12px 0;
  }

  &--link,
  &--sub-link {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    border-bottom: 1px solid #161616;
    background: none;
    text-align: left;
    color: var(--knockout-color);

    &:hover {
      background: none;
      text-decoration: none;
    }

    &.hidden {
      display: none;
    }

    &.is-green-button {
      justify-content: center;
      margin: 10px 20px;
      padding: 10px 12px;
      border-radius: 100px;
      background-color: var(--action-color);
      font-weight: bold;
      text-align: center;
      color: var(--knockout-color);

      &:hover,
      &:focus {
        background-color: var(--action-color-hover);
      }

      &:active {
        background-color: var(--action-color-active);
      }
    }

    &.is-white-button-on-large {
      font-weight: bold;
    }
  }

  &--list,
  &--sub-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #161616;
  }

  &--toggle {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    margin-left: auto;
    width: 36px;
    height: 36px;
    color: #fff;
  }

  &--toggle-icon {
    width: 100%;
    max-width: 6px;
  }

  &--avatar {
    margin: 0 4px 0 10px;
    max-width: 36px;
    border-radius: 50%;
  }

  &--lang-icon {
    margin-right: 10px;
    width: 24px;
    fill: var(--knockout-color);
  }

  .close-menu {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    color: var(--knockout-color);

    .close-icon {
      width: rem-calc(16);
    }

    &:after{
      position: absolute;
      top: 0;
      left: -20vw;
      width: 20vw;
      height: 99vh;
      content: "";
    }
  }

  &--item.dropdown {
    .site-nav--link:after {
      display: block;
      margin: 0 0 -3px auto;
      width: 16px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.8 17.23'%3E%3Cpolyline points='1.19 16.17 8.68 8.68 1.06 1.06' fill='none' stroke='%23fff' stroke-width='3'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: auto 100%;
      content: "";
    }

    &.is-open {
      .site-nav--link {
        font-weight: bold;

        &:after {
          content: none;
        }

        &:before {
          display: inline-block;
          margin: 0 6px -3px 0;
          width: 16px;
          height: 20px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.8 17.23'%3E%3Cpolyline points='9.61 1.06 2.12 8.55 9.74 16.17' fill='none' stroke='%23fff' stroke-width='3'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: auto 100%;
          content: "";
        }
      }

      .site-nav--sub-list {
        display: block;
      }
    }
  }

  &--sub-list {
    display: none;
  }

  @include media(">=large") {
    &--toggle,
    .close-menu {
      display: none;
    }

    &--list {
      display: flex;
      align-items: center;
      border: 0 none;
    }

    &--link {
      border: 0 none;
      font-weight: bold;

      &.user {
        padding-right: 0;
        padding-left: 0;
      }

      &.is-white-button-on-large,
      &.is-green-button {
        display: block;
        margin: 0;
        padding: 5px 14px;
        border: none;
        border-radius: 100px;
        font-weight: bold;
        text-align: center;
        transition: color .1s ease-in-out, background-color .1s ease-in-out;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      &.is-white-button-on-large {
        background-color: var(--knockout-color);
        color: var(--contrast-color);

        &:hover,
        &:focus {
          background-color: var(--knockout-color-hover);
        }

        &:active {
          background-color: var(--knockout-color-active);
        }
      }
    }

    &--right {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
}


// mobile off-canvas nav
.responsive-nav-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 80vw;
  background: var(--contrast-bg);
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;

  .nav-wrap-scroll {
    position: relative;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  &.is-open { // off-canvas nav is open
    box-shadow: 0 0 30px 16px rgba(0, 0, 0, 0.8);
    transform: translateX(0);
  }

  &.is-second-level {
    .site-nav--item {
      display: none;

      &.is-open,
      &.is-open .site-nav--sub-list {
        display: block;
      }
    }
  }

  @include media(">=large") {
    &, &.is-open {
      position: static;
      display: flex;
      flex: 1 1 100%;
      flex-direction: row;
      width: auto;
      transform: none;
      box-shadow: none;
    }

    .nav-wrap-scroll {
      display: flex;
      flex: 1 1 auto;
      overflow: visible;
    }
  }
}



// desktop dropdown menu items
@include media(">=large") {
  .site-nav {
    &--item.dropdown {
      position: relative;
      display: inline-flex;
      align-items: center;

      &:after {
        display: inline-block;
        margin: 0 0 2px -7px;
        width: 10px;
        height: 5px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.71 6.06'%3E%3Cpolyline points='0.35 0.35 5.35 5.35 10.35 0.35' fill='none' stroke='%23fff' stroke-width='2' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: auto 100%;
        content: "";
      }

      &.user-dropdown {
        &:after {
          content: none;
        }

        &:hover:before {
          right: rem-calc(16);
        }
      }

      &:hover {
        &:before { // dropdown pip
          position: absolute;
          top: auto;
          right: 0px;
          bottom: -5px;
          left: auto;
          z-index: 2;
          width: 12px;
          height: 16px;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.6 11.2'%3E%3Cpath d='M1 8.6l5.9-7.2c.2-.2.5-.4.8-.4s.6.2.8.4l5.9 7.2s-1 2.6-6.8 2.6S1 8.6 1 8.6z' fill='%23FFFFFF'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          content: "";
        }

        .site-nav--sub-list {
          position: absolute;
          top: rem-calc(67);
          right: 0;
          left: auto;
          z-index: 100;
          display: block;
          margin: 0;
          padding: 8px 0;
          width: 160px;
          box-shadow: 0 0 31px -12px rgba(0,0,0,0.25);
          border: 0 none;
          border-radius: 4px;
          background: var(--knockout-color);
          flex-wrap: wrap;
          list-style: none;

          &.double {
            top: rem-calc(55);
            right: auto;
            left: 0;
            width: rem-calc(400);
            columns: 2;
          }
        }
      }

      .site-nav--link:after {
        content: none;
      }

      .site-nav--sub-link {
        border: 0 none;
      }
    }

    &--sub-list {
      display: none;
    }

    &--sub-item {
      line-height: 1.2;
    }

    &--sub-link {
      display: block;
      padding: 10px 20px;
      font-size: rem-calc(14);
      font-weight: bold;
      text-decoration: underline;
      color: var(--text-color);

      &:hover {
        background: #f0f0f0;
        text-decoration: none;
        color: #0095dd;
      }
    }
  }
}
