@use '../config' as c;
@use 'protocol/css/includes/lib' as p;


.sumo-page-subheader {
  display: flex;
  flex-direction: column-reverse;

  @media #{p.$mq-lg} {
    flex-direction: row;
    justify-content: space-between;
  }
}

.download-buttons {
  text-align: center;
  margin-bottom: p.$spacing-lg;

  @media #{p.$mq-lg} {
    margin-bottom: 0;
  }
}

.download-info {
  display: flex;
  justify-content: center;
  margin: p.$spacing-sm 0 0 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0 p.$spacing-xs;
  }
}


// SCSS for Topics Section Layout

.topics-section {
  padding: 40px 20px;
  h2 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #333;
  }
}

.topics-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
