@use '../config' as c;
@use '../protocol' as p;


// this class is added to the body when the instant search is active. It should
// be added by default once that is removed.

.search-results-visible {
  .home-search-section {
    text-align: left;

    &--content {
      @media #{p.$mq-md} {
        max-width: c.col-width(4, 6);
      }

      @media #{p.$mq-lg} {
        max-width: c.col-width(6, 8);
      }

      @media #{p.$mq-xl} {
        max-width: c.col-width(7, 10);
      }
    }
  }

  .page-heading--logo,
  .popular-searches,
  .breadcrumbs,
  .hide-when-search-is-active {
    display: none;
  }

  .hidden-search-masthead {
    display: block;
  }
}

.hidden-search-masthead {
  display: none;
}

.home-search-section {
  text-align: center;

  .simple-search-form {
    margin-top: p.$spacing-xl;
    // margin-bottom: p.$spacing-xl;

    // @media #{p.$mq-lg} {
    //   margin-bottom: p.$spacing-xl;
    // }
  }
}


.two-col-checkboxes ul {
  column-count: 2;
}

.three-col-checkboxes ul {
  column-count: 3;
}
