@use '../config' as c;
@use '../protocol' as p;

.sumo-l-two-col {
  @include c.grid-row();

  &--sidebar,
  &--main {
    @include c.col;
  }

  &.show-sidebar-on-lg {
    .sumo-l-two-col--sidebar {
      display: none;
    }
  }

  @media #{p.$mq-md} {
    justify-content: space-between;

    &.sidebar-on-right {
      flex-direction: row-reverse;
    }

    &.break-on-lg {
      .sumo-l-two-col--sidebar,
      .sumo-l-two-col--main {
        @include c.col;
      }
    }

    .sumo-l-two-col--sidebar {
      position: relative;
      width: c.col-width(2, 6);

    }
    .sumo-l-two-col--main {
      width: c.col-width(4, 6);
    }
  }

  @media #{p.$mq-lg} {
    &.show-sidebar-on-lg,
    &.break-on-lg {
      .sumo-l-two-col--sidebar {
        display: block;
        width: c.col-width(2, 8);
      }

      .sumo-l-two-col--main {
        width: c.col-width(6, 8);
      }
    }

    &--main {
      width: c.col-width(6, 8);
    }
  }

  @media #{p.$mq-xl} {
    &.break-on-lg {
      .sumo-l-two-col--sidebar {
        display: block;
        width: c.col-width(2, 10);
      }
    }

    &--main {
      width: c.col-width(7, 10);
    }
  }
}
