@use '../config' as c;
@use '../protocol' as p;

.sumo-l-two-col {
  @include c.grid-row();

  &--sidebar,
  &--main,
  &--full {
    @include c.col;
  }

  @media #{p.$mq-lg} {
    justify-content: space-between;
    flex-direction: row-reverse;

    &--sidebar {
      display: block;
      width: c.col-width(2, 8);
    }

    &--main {
      width: c.col-width(6, 8);
    }
  }

  @media #{p.$mq-xl} {
    &--sidebar {
      display: block;
      width: c.col-width(2, 10);
    }

    &--main {
      width: c.col-width(7, 10);
    }
  }
}
