<section class="home-search-section sumo-page-section extra-pad-bottom shade-bg">

  <div class="mzp-l-content">

    {% block breadcrumbs %}
      {{ breadcrumbs(crumbs, id='main-breadcrumbs') }}
    {% endblock %}
  </div>
  <div class="mzp-l-content narrow">
    <div class="home-search-section--content">
      <h1 class="sumo-page-heading-xl">
        <img class="page-heading--logo" src="{{ product.image_url }}" alt="Photo of" />
        <span class="product-title-text">{{ product.title }} {{ _('Support') }}</span>
      </h1>
      <form data-instant-search="form" {% if id %}id="{{ id }}" {% endif %} action="{{ url('search') }}" method="get"
        {% if target %} target="{{ target }}" {% endif %} class="simple-search-form">
        {% if params %}
        {% for k, v in params.items() %}
        <input type="hidden" name="{{ k }}" value="{{ v }}" />
        {% endfor %}
        {% endif %}
        <input spellcheck="true" type="search" autocomplete="off" name="q" aria-required="true"
          placeholder="{{ placeholder }}" class="searchbox" id="search-q" />
        <button type="submit" title="{{ _('Search') }}" class="search-button">{{ _('Search') }}</button>
      </form>
      <p class="popular-searches">
        <span>{{ _('Popular Searches:') }}</span>

        {% if product.slug == "firefox" %}
          <a href="#popular_search_1" data-featured-search>{{ _('Update Firefox') }}</a>
          <a href="#popular_search_2" data-featured-search>{{ _('Profiles') }}</a>
          <a href="#popular_search_3" data-featured-search>{{ _('Firefox Sync') }}</a>

        {% elif product.slug == "mobile" %}
          <a href="#popular_search_1" data-featured-search>{{ _('Firefox Sync') }}</a>
          <a href="#popular_search_2" data-featured-search>{{ _('Bookmarks') }}</a>
          <a href="#popular_search_3" data-featured-search>{{ _('Send tab') }}</a>

        {% elif product.slug == "ios" %}
          <a href="#popular_search_1" data-featured-search>{{ _('Send tab') }}</a>
          <a href="#popular_search_2" data-featured-search>{{ _('Night mode') }}</a>
          <a href="#popular_search_3" data-featured-search>{{ _('Block images') }}</a>

        {% elif product.slug == "firefox-enterprise" %}
          <a href="#popular_search_1" data-featured-search>{{ _('Policies') }}</a>
          <a href="#popular_search_2" data-featured-search>{{ _('Customization') }}</a>
          <a href="#popular_search_3" data-featured-search>{{ _('extensions') }}</a>

        {% elif product.slug == "firefox-amazon-devices" %}
          <a href="#popular_search_1" data-featured-search>{{ _('Turbo mode') }}</a>
          <a href="#popular_search_2" data-featured-search>{{ _('Voice commands') }}</a>
          <a href="#popular_search_3" data-featured-search>{{ _('Receive tabs') }}</a>

        {% elif product.slug == "firefox-private-network-vpn" %}
          <a href="#popular_search_1" data-featured-search>{{ _('Manage devices') }}</a>
          <a href="#popular_search_2" data-featured-search>{{ _('Download VPN') }}</a>
          <a href="#popular_search_3" data-featured-search>{{ _('Limits') }}</a>

        {% elif product.slug == "firefox-private-network" %}
          <a href="#popular_search_1" data-featured-search>{{ _('Activate add-on') }}</a>
          <a href="#popular_search_2" data-featured-search>{{ _('Update add-on') }}</a>
          <a href="#popular_search_3" data-featured-search>{{ _('Manage devices') }}</a>

        {% elif product.slug == "firefox-lockwise" %}
          <a href="#popular_search_1" data-featured-search>{{ _('Lockwise iOS') }}</a>
          <a href="#popular_search_2" data-featured-search>{{ _('Lockwise Android') }}</a>
          <a href="#popular_search_3" data-featured-search>{{ _('Lockwise desktop') }}</a>

        {% elif product.slug == "firefox-reality" %}
          <a href="#popular_search_1" data-featured-search>{{ _('Voice search') }}</a>
          <a href="#popular_search_2" data-featured-search>{{ _('Bookmarks') }}</a>
          <a href="#popular_search_3" data-featured-search>{{ _('Full screen') }}</a>

        {% elif product.slug == "firefox-lite" %}
          <a href="#popular_search_1" data-featured-search>{{ _('Turbo mode') }}</a>
          <a href="#popular_search_2" data-featured-search>{{ _('Rewards') }}</a>
          <a href="#popular_search_3" data-featured-search>{{ _('Games') }}</a>

        {% elif product.slug == "hubs" %}
          <a href="#popular_search_1" data-featured-search>{{ _('Room size') }}</a>
          <a href="#popular_search_2" data-featured-search>{{ _('Avatars') }}</a>
          <a href="#popular_search_3" data-featured-search>{{ _('VR') }}</a>

        {% elif product.slug == "focus-firefox" %}
          <a href="#popular_search_1" data-featured-search>{{ _('Autocomplete') }}</a>
          <a href="#popular_search_2" data-featured-search>{{ _('Default search') }}</a>
          <a href="#popular_search_3" data-featured-search>{{ _('Desktop view') }}</a>

        {% elif product.slug == "screenshot-go" %}
          <a href="#popular_search_1" data-featured-search>{{ _('Capture a screenshot') }}</a>
          <a href="#popular_search_2" data-featured-search>{{ _('Organize a screenshot') }}</a>
          <a href="#popular_search_3" data-featured-search>{{ _('Create a collection') }}</a>

        {% elif product.slug == "thunderbird" %}
          <a href="#popular_search_1" data-featured-search>{{ _('Thunderbird profiles') }}</a>
          <a href="#popular_search_2" data-featured-search>{{ _('Migrate') }}</a>
          <a href="#popular_search_3" data-featured-search>{{ _('Themes') }}</a>

        {% else %}
          <a href="#popular_search_1" data-debug="{{ product.title }}" data-featured-search>{{ _('Update Firefox') }}</a>
          <a href="#popular_search_2" data-featured-search>{{ _('Profiles') }}</a>
          <a href="#popular_search_3" data-featured-search>{{ _('Firefox Sync') }}</a>
        {% endif %}
      </p>

    </div>
  </div>
</section>
