{% macro search_result(result) %}
  <div class="result {{ result.type }}">
    <h3><a class="title" href="{{ result.url }}">{{ result.title }}</a></h3>
    <a tabindex="-1" href="{{ result.url }}">{{ result.search_summary | safe }}</a>
    {% if result.type == 'question' %}
      <ul class="thread-meta cf">
        {% if result.is_solved %}
          <li>{{ 'Solved' | gettext }}</li>
        {% endif %}
        <li>
          {% if result.num_answers > 0 %}
            {{ '1 reply' | ngettext('%(n)s replies', result.num_answers) | interpolate({n: result.num_answers}, true) }}
          {% else %}
            {{ 'No replies' | gettext }}
          {% endif %}
        </li>
        <li>
          {{ '1 person has this problem' | ngettext('%(n)s people have this problem', result.num_votes) | interpolate({n: result.num_votes}, true) }}
        </li>
        <li>
          {{ '1 new this week' | ngettext('%(n)s new this week', result.num_votes_past_week) | interpolate({n: result.num_votes_past_week}, true) }}
        </li>
      </ul>
    {% endif %}
  </div>
{% endmacro %}
