{% macro print_readout(readout, detail_view_name, locale=None, max_rows=10) %}
  <details class="h2" open="open">
    <summary class="with-mode-selectors">
      <a id="{{ readout.slug }}">{{ readout.title }}</a>
    </summary>
    <ul class="readout-modes" data-slug="{{ readout.slug }}">
      {% for key, name in readout.modes %}
        <li class="mode{% if loop.first %} active{% endif %}" data-url="{{ url('dashboards.wiki_rows', readout.slug)|urlparams(max=max_rows, mode=key, locale=locale) }}">
          <a href="#">{{ name }}</a>
        </li>
      {% endfor %}
    </ul>
    <table class="documents" id="{{ readout.slug }}-table">
      {{ readout.render(max_rows=max_rows)|safe }}
    </table>
    <div class="table-footer">
      <a href="{{ url(detail_view_name, readout.slug) }}">{{ readout.details_link_text }}</a>
    </div>
  </details>
{% endmacro %}

{% macro dashboard_tabs(user, active=None) %}
  <nav id="doc-tabs">
    <ul>
      <li{% if active == 'review' %} class="active"{% endif %}>
        <a href="{{ url('dashboards.review') }}">{{ _('Review', 'dashboard') }}</a>
      </li>
      {# TODO: support forum group
      <li{% if active == 'forum' %} class="active"{% endif %}>
        <a href="{{ url('dashboards.questions') }}">{{ _('Forum') }}</a>
      </li>
      #}
      {# TODO: l10n groups
      <li>
        <a href="{{ url('dashboards.localization') }}">{{ _('My locale') }}</a>
      </li>
      #}
      <li{% if active == 'my-profile' %} class="active"{% endif %}>
        <a href="{{ profile_url(user) }}">{{ _('My profile') }}</a>
      </li>
      <li{% if active == 'edit-profile' %} class="active"{% endif %}>
        <a href="{{ url('users.edit_profile') }}">{{ _('Edit my profile') }}</a>
      </li>
    </ul>
  </nav>
{% endmacro %}
