// These are used to provide card depth. I'm abstracting them out
// here for now, and I'll document them separately later if they
// are reused in places other than cards.

@mixin elevation-00() {
  border: solid 1px rgba(21, 20, 26, 0.26);
}

@mixin elevation-01() {
  box-shadow: 0 5px 10px -3px rgba(14, 13, 26, 0.12),
    0 3px 16px 2px rgba(7, 48, 114, 0.12), 0 8px 12px 1px rgba(34, 0, 51, 0.04);
}

@mixin elevation-02 {
  box-shadow: 0 8px 12px -5px rgba(14, 13, 26, 0.12),
    0 6px 32px 4px rgba(7, 48, 114, 0.12), 0 16px 24px 2px rgba(34, 0, 51, 0.04);
}

@mixin elevation-03 {
  box-shadow: 0 12px 16px -6px rgba(14, 13, 26, 0.12),
    0 10px 48px 8px rgba(7, 48, 114, 0.12),
    0 24px 38px 3px rgba(34, 0, 51, 0.04);
}
