// These are used to provide card depth. I'm abstracting them out
// here for now, and I'll document them separately later if they
// are reused in places other than cards.

@mixin elevation-00() {
  border: solid 1px var(--elevation-border);
}

@mixin elevation-01() {
  box-shadow: var(--elevation-shadow-01);
}

@mixin elevation-02 {
  box-shadow: var(--elevation-shadow-02);
}

@mixin elevation-03 {
  box-shadow: var(--elevation-shadow-03);
}
