$fontpath: '../fonts';

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("#{$fontpath}/Inter-Regular.woff2?v=3.11") format("woff2"),
    url("#{$fontpath}/Inter-Regular.woff?v=3.11") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("#{$fontpath}/Inter-Italic.woff2?v=3.11") format("woff2"),
    url("#{$fontpath}/Inter-Italic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("#{$fontpath}/Inter-Bold.woff2?v=3.11") format("woff2"),
    url("#{$fontpath}/Inter-Bold.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("#{$fontpath}/Inter-BoldItalic.woff2?v=3.11") format("woff2"),
    url("#{$fontpath}/Inter-BoldItalic.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('#{$fontpath}/ZillaSlab-Bold.woff2') format('woff2'),
    url('#{$fontpath}/ZillaSlab-Bold.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('#{$fontpath}/ZillaSlab-BoldItalic.woff2') format('woff2'),
    url('#{$fontpath}/ZillaSlab-BoldItalic.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('#{$fontpath}/Metropolis-Bold.woff2') format('woff2'),
    url('#{$fontpath}/Metropolis-Bold.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('#{$fontpath}/Metropolis-BoldItalic.woff2') format('woff2'),
    url('#{$fontpath}/Metropolis-BoldItalic.woff') format('woff'), /* Modern Browsers */
}
