@use './mixins' as *;
@use './color-swatches';

:root {
  @include cssvars(color-swatches.$colors);
  --page-bg: white;
  --card-bg: var(--page-bg);

  --color-inverse-bg: #20123A;
  --color-inverse: var(--color-white);

  --color-heading: var(--color-inverse-bg);
  --color-text: #42425A;
  --color-link: #0060DF;
  --color-link-visited: #B833E1;
  --color-link-active-bg: #EDEDF0;
  --color-link-inverse-visited: #F6B8FF;
  --color-link-inverse-active-bg: rgba(237,237,240,0.2);

  --base-font-family: Inter, X-LocaleSpecific, sans-serif;
  --base-font-size: 1rem; // keep this at 1rem for rem-calc to work correctly.
  --heading-font-family: Metropolis, Inter, X-LocaleSpecific, sans-serif;
  --heading-alt-font-family: 'Zilla Slab', 'Open Sans', X-LocaleSpecific, serif;

  --field-border: 1px solid var(--shade-30);
  --field-border-focus: 1px solid var(--blue);
  --field-font-size: 1em;

  --global-margin: 1rem;
  --global-radius: #{rem-calc(4)};

  --button-bg: var(--secondary-color);
  --button-border: var(--global-radius);
  --button-radius: var(--global-radius);
  --button-color: var(--color-inverse);
  --button-font-size: 1em;
  --button-font-family: var(--base-font-family);
}
