@use '../protocol' as p;
@use './mixins' as c;


$text-body-line-height: 1.5 !default;
$text-display-line-height: 1.1 !default;

// display copy: headings, blockquotes, other fancy stuff
@mixin text-display-xxl { // Use this one sparingly.
  @include p.font-size(48px);
  line-height: $text-display-line-height;

  @media #{p.$mq-md} {
    @include p.font-size(64px);
    @include c.line-height(72px);
  }
}

@mixin text-display-xl {
  @include p.font-size(40px);
  line-height: $text-display-line-height;

  @media #{p.$mq-md} {
    @include p.font-size(56px);
    @include c.line-height(64px);
  }
}

@mixin text-display-lg {
  @include p.font-size(32px);
  line-height: $text-display-line-height;

  @media #{p.$mq-md} {
    @include p.font-size(48px);
    @include c.line-height(56px);
  }
}

@mixin text-display-md {
  @include p.font-size(24px);
  font-family: var(--base-font-family);
  line-height: $text-display-line-height;

  @media #{p.$mq-md} {
    @include p.font-size(40px);
    @include c.line-height(44px);
  }
}

@mixin text-display-sm {
  @include p.font-size(21px);
  font-family: var(--base-font-family);

  @media #{p.$mq-md} {
    @include p.font-size(32px);
    @include c.line-height(36px);
  }
}

@mixin text-display-xs {
  @include p.font-size(18px);
  font-family: var(--base-font-family);
  line-height: $text-display-line-height;

  @media #{p.$mq-md} {
    @include p.font-size(24px);
    @include c.line-height(28px);
  }
}

@mixin text-display-xxs {
  @include p.font-size(20px);
  @include c.line-height(24px);
  font-family: var(--base-font-family);
}

@mixin text-display-xxxs {
  @include p.font-size(16px);
  @include c.line-height(20px);
  font-family: var(--base-font-family);
}

// body copy
@mixin text-body-lg {
  @include p.font-size(18px);
  line-height: $text-body-line-height;
}

@mixin text-body-md {
  @include p.font-size(16px);
  line-height: $text-body-line-height;
}

@mixin text-body-sm {
  @include p.font-size(14px);
  line-height: $text-body-line-height;
}

@mixin text-body-xs {
  @include p.font-size(12px);
  line-height: $text-body-line-height;
}

@mixin text-body-cta {
  @include p.font-size(16px);
  line-height: $text-body-line-height;
}
