{% extends "kadmin/base.html" %}
{% block content_title %}
<h1>Elastic Search</h1>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <style type="text/css">
    div#content div {
      margin-bottom: .5em;
    }
    .disabled {
      color: #ccc;
    }
    progress {
      width: 400px;
    }
    dd {
      margin-left: 1em;
    }
    input[type="submit"].DANGER {
      border: 3px red solid;
      font: bold 12px/14px serif;
    }
  </style>
{% endblock %}

{% block content %}
  <p>
    Page last rendered: {{ now }} {{ settings.TIME_ZONE }}
    {% if outstanding_chunks %}
      (Auto-refreshing every 30 seconds)
      <script>setTimeout("window.location.reload(true);", 30000);</script>
    {% endif %}
  </p>

  {% if error_messages %}
    <section>
      <h1>Errors</h1>
      {% for msg in error_messages %}
        <p>
          {{ msg }}
        </p>
      {% endfor %}
    </section>
  {% endif %}

  {% if outstanding_chunks %}
    <section>
      <h1>{{ outstanding_chunks }} Outstanding indexing tasks</h1>
      <p>
        <a href="{{ request.path }}">Refresh page</a>
      </p>
    </section>
  {% endif %}

  <section>
    <h1>Settings and Elasticsearch details</h1>
    <p>
      Settings at the time this page was loaded:
    </p>
    <table>
      <tr><th>ES_LIVE_INDEXING</th><td>{{ settings.ES_LIVE_INDEXING }}</td></tr>
      <tr><th>ES_INDEX_PREFIX</th><td>{{ settings.ES_INDEX_PREFIX }}</td></tr>
      <tr><th>ES_INDEXES</th><td>{{ settings.ES_INDEXES }}</td></tr>
      <tr><th>ES_WRITE_INDEXES</th><td>{{ settings.ES_WRITE_INDEXES }}</td></tr>
      <tr><th>Elasticsearch version</th><td>{{ es_deets.version.number }}</td></tr>
    </table>
  </section>

  <section>
    <h1>Index Status</h1>
    <p>
      All indexes available:
    </p>
    <table>
      <thead>
        <th>index name</th>
        <th>total documents in index</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        {% for index_name, index_count in indexes %}
          <tr>
            <td>{{ index_name }}</td><td>{{ index_count }}</td>
            <td>
              {% if index_name == read_index and index_name == write_index %}
                READ/WRITE
              {% else %}
                {% if index_name == read_index %}
                  READ
                {% else %}
                  {% if index_name == write_index %}
                    WRITE
                  {% endif %}
                {% endif %}
              {% endif %}
            </td>
            {% if index_name != read_index %}
              <td>
                <form method="POST">
                  {% csrf_token %}
                    <input type="hidden" name="delete_index" value="{{ index_name }}">
                    <input type="submit" value="Delete">
                </form>
              </td>
            {% else %}
              <td></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Read index ({{ read_index }})</h2>
    {% if doctype_stats == None %}
      <p>
        Read index does not exist.
      </p>
    {% else %}
      <table>
        <thead>
          <th>doctype</th>
          <th>count</th>
        </thead>
        <tbody>
          {% for stats_name, stats_count in doctype_stats.items %}
            <tr><td>{{ stats_name }}</td><td>{{ stats_count }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    <h2>Write index ({{ write_index }})</h2>
    {% if read_index == write_index %}
      <p>
        Write index is the same as the read index.
      </p>
    {% else %}
      {% if doctype_write_stats == None %}
      <p>
        Write index does not exist.
      </p>
      {% else %}
        <table>
          <thead>
            <th>doctype</th>
            <th>count</th>
          </thead>
          <tbody>
            {% for stats_name, stats_count in doctype_write_stats.items %}
              <tr><td>{{ stats_name }}</td><td>{{ stats_count }}</td></tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% endif %}
  </section>

  <section>
    <h1>Reindexing history</h1>
    <table>
      <thead>
        <tr>
          <th>message</th>
          <th>start time</th>
          <th>end time</th>
          <th>delta</th>
        </tr>
      </thead>
      <tbody>
        {% for record in recent_records %}
          <tr>
            <td>{{ record.text }}</td>
            <td>{{ record.starttime }}</td>
            <td>{{ record.endtime }}</td>
            <td>{{ record.delta }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <h1>Reindex</h1>
    {% if outstanding_chunks %}
      <p class="errornote">
        WARNING! There are outstanding index tasks! Don't launch another
        indexing pass unless you really know you want to.
      </p>
    {% endif %}
    {% if not settings.ES_LIVE_INDEXING %}
      <p class="errornote">
        WARNING! <tt>ES_LIVE_INDEXING</tt> is False so you can't
        reindex via the admin. Either enable <tt>ES_LIVE_INDEXING</tt>
        or use the command line <tt>./manage.py esreindex</tt>.
      </p>
    {% endif %}
    {% if doctype_write_stats != None %}
      <h2>Reindex into existing index</h2>
      <p>
        Reindex into the existing WRITE index. Don't do this if you've
        made mapping changes since this does not recreate the index with
        the new mappings.
      </p>
      {% if not mappings_correct %}
        <p class="errornote">
          WARNING! The write index probably doesn't have a correct
          mapping. You probabaly don't want to use this indexing button.
        </p>
      {% endif %}
      <form method="POST">
        {% csrf_token %}
        {% for stats_name, stats_count in doctype_write_stats.items %}
          <input id="check_{{ stats_name }}" type="checkbox" name="check_{{ stats_name }}" value="yes" checked>
          <label for="check_{{ stats_name }}">{{ stats_name }}</label><br>
        {% endfor %}
        <input type="submit" name="reindex"
               value="Reindex into {{ write_index }}"
               {% if not settings.ES_LIVE_INDEXING or outstanding_chunks %}disabled{% endif %}>
      </form>
    {% endif %}
    <h2>DELETE existing index, recreate it and reindex</h2>
    <p>
      This <strong>DELETES</strong> the existing WRITE index,
      recreates it with the mappings, and indexes into the new index.
      You should have to do this only when the search mapping changes
      or when setting up the site for the first time.
    </p>
    {% if read_index == write_index %}
      <p class="errornote">
        WARNING! Read and write indexes are the same! Deleting and
        rebuilding the index would be really bad!
      </p>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="delete_index" value="1">
      <input class="DANGER" type="submit" name="reindex"
             value="DELETE index and index into {{ write_index }}"
             {% if not settings.ES_LIVE_INDEXING or outstanding_chunks %}disabled{% endif %}>
    </form>

    <h2>RESET scoreboard</h2>
    <p>
      This resets the redis key which we use as a scoreboard for keeping
      track of how many outstanding indexing tasks there are.
    </p>
    <p>
      If you believe that the scoreboard is wrong and that it doesn't
      represent the number of outstanding tasks and that there are no
      outstanding tasks, then you should reset the scoreboard.
    </p>
    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="reset_scoreboard" value="1">
      <input type="submit" name="reset"
             value="Reset scoreboard">
    </form>
  </section>
{% endblock %}
